<form class="_user-input" #form="ngForm">
    <div class="input_2" [ngClass]="{'_double_size':item.icon}"
        *ngFor="let item of columnManager.columnSelectedMenus('userRoleHistoryDetails_UserInfo')">
        <div class="_key">{{item.header}}</div>
        <ng-container *ngIf="item.isBoolean; else elseTemplate">
            <mat-checkbox [disabled]=true name="{{item.field}}" [(ngModel)]="editInfo[item.field]">
            </mat-checkbox>
        </ng-container>
        <ng-template #elseTemplate>
            <input readOnly="true" class="_value" name="{{item.field}}" [(ngModel)]="editInfo[item.field]">
        </ng-template>
    </div>
</form>

<button type="submit" class="btn_2" matStepperNext>
    <i class="fa fa-long-arrow-left"></i>
    صفحه بعد
</button>