<h2 mat-dialog-title>افزودن کاربر</h2>

<form [formGroup]="form" (ngSubmit)="save()">

    <main class="_contents">

        <div class="input_icon">
            <i class="pi pi-bookmark _bookmark"></i>
            <div class="input_3">
                <div class="_key">کد</div>
                <input class="_value" type="number" formControlName="id">
            </div>
        </div>
        <div class="input_icon">
            <i class="pi pi-bookmark _bookmark"></i>
            <div class="input_3">
                <div class="_key">عنوان</div>
                <input class="_value" formControlName="title">
            </div>
        </div>

    </main>

    <mat-dialog-actions>
        <button class="close_dg" type="button" (click)="close()">
            <i class="pi pi-times"></i>
        </button>
        <button class="btn_2 _custom" type="submit">ذخیره</button>
    </mat-dialog-actions>

</form>