<div class="operation">
    <button (click)="openDialog()" class="tooltip operation_btn">
        <i class="fa fa-plus">
            <div class="tooltip_text">افزودن نوع دوره</div>
        </i>
    </button>
</div>
<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>
            <div class="header">
                عنوان
            </div>
            <mat-form-field class="filter" floatLabel="never">
                <mat-label>جستجو</mat-label>
                <input matInput [formControl]="titleFilter">
            </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let person">{{person.title}}</td>
    </ng-container>
    <ng-container matColumnDef="moshtarakinId">
        <th mat-header-cell *matHeaderCellDef>
            <div class="header">
                مشترکین
            </div>
            <mat-form-field class="filter" floatLabel="never">
                <mat-label>جستجو</mat-label>
                <input matInput [formControl]="moshtarakinIdFilter">
            </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let person">{{person.moshtarakinId}}</td>
    </ng-container>
    <ng-container matColumnDef="clientOrder">
        <th mat-header-cell *matHeaderCellDef>
            <div class="header">
                ترتیب
            </div>
            <mat-form-field class="filter" floatLabel="never">
                <mat-label>جستجو</mat-label>
                <input matInput [formControl]="clientOrderFilter">
            </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let person">{{person.clientOrder}}</td>
    </ng-container>
    <ng-container matColumnDef="isEnabled">
        <th mat-header-cell *matHeaderCellDef>
            <div class="header">
                فعال
            </div>
            <mat-form-field class="filter" floatLabel="never">
                <mat-label>جستجو</mat-label>
                <mat-select placeholder="انتخاب مورد" [formControl]="isEnabledFilter" name="truefalse">
                    <mat-option *ngFor="let truefalse of isTrueF" [value]="truefalse.value">
                        {{truefalse.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let person">
            <mat-checkbox [disabled]="true" [(ngModel)]="person.isEnabled"></mat-checkbox>
        </td>
    </ng-container>
    <ng-container cdkColumnDef="actions">
        <th md-header-cell *matHeaderCellDef></th>
        <td md-cell *matCellDef="let row" class="_actions">
            <i (click)="editDialog(row)" class="tooltip _custom fa fa-edit">
                <div class="tooltip_text">ویرایش</div>
            </i>|
            <i (click)="deleteSingleRow(row)" class="tooltip _custom fa fa-trash-o">
                <div class="tooltip_text_right">حذف</div>
            </i>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let person; columns: columnsToDisplay"></tr>

</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>