<div class="operation">
    <button (click)="openDialog()" class="tooltip operation_btn">
        <i class="fa fa-plus"></i>
        <div class="tooltip_text">افزودن کاربری</div>
    </button>
</div>

<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>
            <div class="header">
                عنوان
            </div>
            <mat-form-field class="filter" floatLabel="never">
                <mat-label>جستجو</mat-label>
                <input matInput [formControl]="titleFilter">
            </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let person">{{person.title}}</td>
    </ng-container>
    <ng-container matColumnDef="moshtarakinId">
        <th mat-header-cell *matHeaderCellDef>
            <div class="header">
                کد
            </div>
            <mat-form-field class="filter" floatLabel="never">
                <mat-label>جستجو</mat-label>
                <input matInput [formControl]="moshtarakinIdFilter">
            </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let person">{{person.moshtarakinId}}</td>
    </ng-container>
    <ng-container matColumnDef="provinceId">
        <th mat-header-cell *matHeaderCellDef>
            <div class="header">
                استان
            </div>
            <mat-form-field class="filter" floatLabel="never">
                <mat-label>جستجو</mat-label>
                <mat-select placeholder="انتخاب مورد" [formControl]="provinceIdFilter" name="truefalse">
                    <mat-option *ngFor="let truefalse of provinceDictionary" [value]="truefalse.title">
                        {{truefalse.title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let person">{{person.provinceId}}</td>
    </ng-container>
    <ng-container matColumnDef="isMaskooni">
        <th mat-header-cell *matHeaderCellDef>
            <div class="header">
                مسکونی
            </div>
            <mat-form-field class="filter" floatLabel="never">
                <mat-label>جستجو</mat-label>
                <mat-select placeholder="انتخاب مورد" [formControl]="isMaskooniFilter" name="truefalse">
                    <mat-option *ngFor="let truefalse of isTrueF" [value]="truefalse.value">
                        {{truefalse.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let person">
            <mat-checkbox [disabled]="true" [(ngModel)]="person.isMaskooni"></mat-checkbox>
        </td>
    </ng-container>
    <ng-container matColumnDef="hasReadingVibrate">
        <th mat-header-cell *matHeaderCellDef>
            <div class="header">
                لرزش
            </div>
            <mat-form-field class="filter" floatLabel="never">
                <mat-label>جستجو</mat-label>
                <mat-select placeholder="انتخاب مورد" [formControl]="hasReadingVibrateFilter" name="truefalse">
                    <mat-option *ngFor="let truefalse of isTrueF" [value]="truefalse.value">
                        {{truefalse.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let person">
            <mat-checkbox [disabled]="true" [(ngModel)]="person.hasReadingVibrate"></mat-checkbox>
        </td>
    </ng-container>
    <ng-container matColumnDef="isSaxt">
        <th mat-header-cell *matHeaderCellDef>
            <div class="header">
                ساخت
            </div>
            <mat-form-field class="filter" floatLabel="never">
                <mat-label>جستجو</mat-label>
                <mat-select placeholder="انتخاب مورد" [formControl]="isSaxtFilter" name="truefalse">
                    <mat-option *ngFor="let truefalse of isTrueF" [value]="truefalse.value">
                        {{truefalse.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let person">
            <mat-checkbox [disabled]="true" [(ngModel)]="person.isSaxt"></mat-checkbox>
        </td>
    </ng-container>

    <ng-container cdkColumnDef="actions">
        <th md-header-cell *matHeaderCellDef></th>

        <td md-cell *matCellDef="let row" class="_actions">
            <i (click)="editDialog(row)" class="tooltip _custom fa fa-edit">
                <div class="tooltip_text">ویرایش</div>
            </i>|
            <i (click)="deleteSingleRow(row)" class="tooltip _custom fa fa-trash-o">
                <div class="tooltip_text_right">حذف</div>
            </i>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let person; columns: columnsToDisplay"></tr>

</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>