<app-prime-table-editable     
    [dataSource]="closeTabService.customerType" 
    [_outputFileName]="customerTypeColumns"
    [_checkUpName]="'customerType'"
    [_numberOfExtraColumns]="[1, 2]"
    [_isInRowEditing]=true
    [newRow]="newRow()"
    [newRowLimit]="newRowLimit"
    [_sessionName]="'customerType-session'"
    [_selectedColumnsToRemember]="'selectedCustomerType'"
    (newedRowChangedStatus)="testChangedValue()"
    (refreshedTable)="callAPI()"     
    (removedRowEditing)="removeRow($event)"        
    (onRowEditedSave)="onRowEditSave($event)"
 > 
</app-prime-table-editable>