@import 'shared_dialog';

.mat-dialog-content {
  grid-template-columns: 1fr 1fr;
  color: var(--secondary_7);
  font-size: $font_s;
  text-align: right;
}

h2 {
  display: flex;
  justify-content: center;
}
