<h2 mat-dialog-title>
    <div class="_text">
        {{data.title}}
    </div>
</h2>

<mat-dialog-content>
    {{data.data}}
    <div *ngFor="let item of data.data;index as ri">
        <!-- <mat-checkbox name="item" [(ngModel)]="item"></mat-checkbox> -->
        <!-- <mat-checkbox name="item" [(ngModel)]="item[ri]"></mat-checkbox> -->
        <!-- {{item.data}}
        dddddd -->
        {{data.data}}
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="btn_2" (click)="cancel()">بازگشت</button>
</mat-dialog-actions>