<app-prime-table-editable
[dataSource]="closeTabService.saveDataForWaterFormula"
[_checkUpName]="'addItem'"
[_outputFileName]="'abBaha'"
[_numberOfExtraColumns]="[1, 2]"
[_sessionName]="'water-session'"
[_selectedColumnsToRemember]="'selectedAbFormulas'"
[_dictionaryName]="'zoneId'"
[_secondDictionaryName]="'karbariMoshtarakinCode'"
[dictionary]="zoneDictionary"
[secondDictionary]="karbariCodeDictionary"
(getedExcelSample)="getExcelSample()"
(refreshedTable)="refreshTable()"
(openedAddDialog)="openAddDialog()"
(openedBatchedAddDialog)="openBatchAddDialog()"
(openedAddExcelDialog)="openAddExcelDialog()"
(onRowEditedInit)="onRowEditInit($event)"
(onRowEditedSave)="onRowEditSave($event)"
(onRowEditedCancel)="onRowEditCancel()"
(removedRow)="firstConfirmDialog($event)"
></app-prime-table-editable>