<app-prime-table
[dataSource]="closeTabService.saveDataForAllUsers"
[_numberOfExtraColumns]="[1,2,3,4,5]"
[_sessionName]="'userRoleHistory-session'"
[_outputFileName]="'userRoleHistoryAll'"
[_checkUpName]="'userRoleHistoryAll'"
[_selectedColumnsToRemember]="'selectedUserRoleHistory'"
[_hasSaveColumns]=true
(refreshedTable)="callApi()"
(routedToLoggs)="routeToLoggs($event)"
(openedEditDialog)="routeToUserRoleHistory($event)"
(openedMoshtarakinDialog)="routeToUserMasterHistory($event)"
(routedToBatch)="securityService.updateBlockedUser($event)"
(routedToSingle)="securityService.routeToUserActivationByUserId($event)"
> 
</app-prime-table>