<app-collapsable [_isCollapsed]=toolsService.utilsService.collapser._isCollapsedRandomImages
    (_clicked)="toolsService.utilsService.collapser._isCollapsedRandomImages = !toolsService.utilsService.collapser._isCollapsedRandomImages">
</app-collapsable>

<section>
    <form #form="ngForm" (ngSubmit)="connectToServer()">
        <section class="_card"
            [@openClose]="toolsService.utilsService.collapser._isCollapsedRandomImages ? 'slideUp' : 'slideDown'">
            <div class="input_icon" [hidden]="!zoneDictionary.length">
                <i class="pi pi-bookmark _bookmark"></i>
                <div class="input_3">
                    <div class="_key">ناحیه</div>
                    <div class="_value">
                        <p-dropdown name="zones" [options]="zoneDictionary"
                            [(ngModel)]="closeTabService.randomImages.zoneId" placeholder="انتخاب مورد" optionValue="id"
                            optionLabel="title" filter="true" (click)="verificationACounterReaderId()">
                        </p-dropdown>
                    </div>
                </div>
            </div>
            <div class="input_icon" [hidden]="!userCounterReader.length">
                <i class="pi pi-bookmark _bookmark"></i>
                <div class="input_3">
                    <div class="_key">قرائت کننده</div>
                    <div class="_value">
                        <p-dropdown name="counterreader" #counterreader [options]="userCounterReader"
                            name="counter-reader" [(ngModel)]="closeTabService.randomImages.userId" optionLabel="title"
                            [filter]="true" filterBy="title" optionValue="id" [showClear]="true"
                            placeholder="انتخاب مورد">
                        </p-dropdown>
                    </div>
                </div>
            </div>
            <div class="input_icon">
                <i class="pi pi-bookmark _bookmark"></i>
                <div class="input_3">
                    <div class="_key">تاریخ</div>
                    <div class="_value">
                        <app-date-jalali name="fromDate"
                            (dateJalEvent)="closeTabService.receiveDay(closeTabService.ENReadingReports.randomImages, $event)"
                            [dateObject]="closeTabService.randomImages.day">
                        </app-date-jalali>
                    </div>
                </div>
            </div>
            <div class="input_icon">
                <i class="pi pi-bookmark _bookmark"></i>
                <div class="input_3">
                    <div class="_key">تعداد</div>
                    <div class="_value">
                        <p-dropdown name="quantity" [filter]="true" placeholder="تعداد تصاویر" [options]="_quantity"
                            [(ngModel)]="closeTabService.randomImages.quantity" [editable]="true" optionValue="value"
                            optionLabel="title">
                        </p-dropdown>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn_1">
                مشاهده
                <i class="pi pi-image"></i>
            </button>

        </section>
    </form>
</section>
<section class="_card" *ngIf="allImagesDataSource && allImagesDataSource.imageCount > 0">
    <h1 class="title">فیلتر نمایش</h1>
    <div class="input_icon">
        <i class="pi pi-bookmark _bookmark"></i>
        <div class="input_3">
            <div class="_key">جستجو براساس</div>
            <div class="_value">
                <p-dropdown #drop name="zones" [options]="toolsService.searchInOrder" placeholder="ش پرونده"
                    optionValue="value" optionLabel="name" filter="true"
                    (onChange)="userInputValue = drop.selectedOption">
                </p-dropdown>
            </div>
        </div>
    </div>
    <div class="input_icon">
        <i class="pi pi-bookmark _bookmark"></i>
        <div class="input_3">
            <div class="_key">{{userInputValue.name}}</div>
            <input class="_value" type="{{userInputValue.type}}" name="searchInOrder"
                [(ngModel)]="userInputValue.insertedValue" placeholder="{{userInputValue.name}} را وارد نمایید"
                (ngModelChange)="showItemOnSearch(userInputValue.value)">
        </div>
    </div>
</section>


<main *ngIf="allImagesDataSource" style="position: relative;">

    <div class="img_content">
        <div *ngFor="let item of allImagesDataSource.imageUrlAndInfos; index as ri" class="_images"
            [ngClass]="closeTabService.saveDataForRandomImgsRSFirst.imageUrlAndInfos[ri].canShow ? 'showImg': 'hiddenImg'">

            <div *ngIf="closeTabService.saveDataForRandomImgs[ri]" class="__img_bound_real">
                <img src="{{closeTabService.saveDataForRandomImgs[ri]}}"
                    onerror="this.onerror=null; this.src='assets/imgs/soundvid/2.png'" alt="تصویر" loading="lazy"
                    (click)="routeToOffload(item , ri, closeTabService.saveDataForRandomImgs[ri])">
                <div class="__hiddens" *ngIf="item.onOffLoadId">
                    <p>اش:{{item.eshterak}}</p>
                    <p>{{item.zoneTitle}}</p>
                    <p>{{item.firstName}}{{item.sureName}}</p>
                    <p>ش.پر:{{item.radif}}</p>
                    <p>ش.پ:{{item.trackNumber}}</p>
                    <p>رقم فعلی:{{item.counterNumber}}</p>
                    <p>{{item.imageDescription}}</p>
                </div>
            </div>
        </div>
    </div>

    <app-random-image-carousel *ngIf="showCarousel" [dataSource]="carouselImage"
        (cancelClicked)="carouselCancelClicked()" (prevClicked)="carouselPrevItem()" (nextClicked)="carouselNextItem()">
        <app-random-image-carousel-details></app-random-image-carousel-details>

    </app-random-image-carousel>

    <div class="not_found_header" *ngIf="!allImagesDataSource.imageCount">
        <h2>فاقد تصویر</h2>
    </div>
</main>