<section [hidden]="toolsService._isCollapsedRandomImages">
    <form #form="ngForm" (ngSubmit)="connectToServer()">
        <section class="static_part">
            <section class="content">
                <div class="input_2" [hidden]="!zoneDictionary.length">
                    <div class="_key">ناحیه</div>
                    <div class="_value">
                        <p-dropdown name="zones" [options]="zoneDictionary"
                            [(ngModel)]="toolsService.randomImages.zoneId" placeholder="انتخاب مورد" optionValue="id"
                            optionLabel="title" filter="true" (click)="verificationACounterReaderId()">
                        </p-dropdown>
                    </div>
                </div>
                <div class="input_2" [hidden]="!userCounterReader.length">
                    <div class="_key">مامور</div>
                    <div class="_value">
                        <p-dropdown name="counterreader" #counterreader [options]="userCounterReader"
                            name="counter-reader" [(ngModel)]="toolsService.randomImages.userId" optionLabel="title"
                            [filter]="true" filterBy="title" optionValue="id" [showClear]="true"
                            placeholder="انتخاب مورد">
                        </p-dropdown>
                    </div>
                </div>
                <div class="input_2">
                    <div class="_key">تاریخ</div>
                    <div class="_value">
                        <app-date-jalali name="fromDate" (dateJalEvent)="toolsService.receiveFromDateJalali($event)"
                            [dateObject]="toolsService.randomImages.day">
                        </app-date-jalali>
                    </div>
                </div>
                <div class="input_2">
                    <div class="_key">تعداد</div>
                    <div class="_value">
                        <p-dropdown name="quantity" [filter]="true" placeholder="تعداد تصاویر" [options]="_quantity"
                            [(ngModel)]="toolsService.randomImages.quantity" [editable]="true" optionValue="value"
                            optionLabel="title">
                        </p-dropdown>
                    </div>
                </div>

            </section>
        </section>
        <footer class="center_footer footer_with_background">
            <button type="submit" class="btn_1">
                مشاهده
                <i class="pi pi-image"></i>
            </button>
        </footer>
    </form>
</section>

<main *ngIf="allImagesDataSource" style="position: relative;">

    <div class="content">
        <div *ngFor="let item of allImagesDataSource.imageUrlAndInfos; index as ri" class="_images">

            <div *ngIf="imgsOriginUrl[ri]" class="__img_bound_real">
                <img src="{{imgsOriginUrl[ri]}}" onerror="this.onerror=null; this.src='assets/imgs/soundvid/2.png'"
                    alt="تصویر" loading="lazy" (click)="routeToOffload(item , ri, imgsOriginUrl[ri])">
                <div class="__hiddens" *ngIf="item.onOffLoadId">
                    <p>اش:{{item.eshterak}}</p>
                    <p>{{item.zoneTitle}}</p>
                    <p>{{item.firstName}}{{item.sureName}}</p>
                    <p>ش.پر:{{item.radif}}</p>
                    <p>ش.پ:{{item.trackNumber}}</p>
                    <p>رقم فعلی:{{item.counterNumber}}</p>
                    <p>{{item.imageDescription}}</p>
                </div>
            </div>
        </div>
    </div>

    <app-random-image-carousel *ngIf="showCarousel" [dataSource]="carouselImage"
        (cancelClicked)="carouselCancelClicked()" (prevClicked)="carouselPrevItem()" (nextClicked)="carouselNextItem()">
        <app-random-image-carousel-details></app-random-image-carousel-details>

    </app-random-image-carousel>

    <div class="not_found_header" *ngIf="!allImagesDataSource.imageCount">
        <h2>فاقد تصویر</h2>
    </div>
</main>