@import 'primeNG';
@import 'button.scss';
@import 'input.scss';
@import 'mixins.scss';
@import 'tooltip.scss';
@import '_mat.scss';
@import '_gallery_dialog.scss';

.insert_track {
  width: 20rem;
  padding: var(--font_s);
  justify-content: initial;
}

.btn_1 {
  max-width: initial;
}

.contain {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 14.5rem));
  align-items: center;
  justify-content: center;
  direction: rtl;
  text-align: center;
  gap: var(--font_05);
  margin: var(--font_xxs) 0;
  background: var(--secondary_1);
  box-shadow: 1px 1px 8px 4px var(--secondary_4);
  padding: var(--font_05);
  border-radius: $border_15;
}

input {
  color: var(--secondary_5);
  margin: 0 auto;
  box-shadow: 1px 1px 8px 1px var(--secondary_4);
  text-align: center;
}

._value {
  border: 0;
  border-radius: $border_7;
  min-width: fit-content;
  width: 100%;
}

.order_by {
  display: flex;
  align-items: center;
  justify-content: center;
  direction: rtl;
  padding: var(--font_xxs);
  background-color: var(--secondary_1);
  border-radius: $border_7;
}

.title {
  color: var(--primary_3);
  text-align: center;
  margin: var(--font_xs) var(--font_05);
  font-size: var(--font_l2);
}
