@import 'variable.scss';
@import 'button.scss';
@import 'input.scss';
@import 'mixins.scss';

section {
  display: grid;
  direction: rtl;
  margin: auto;
  padding: 2rem;
  background: var(--secondary_3);
  border-radius: $border_15;
  width: 18rem;
  box-shadow: 1px 1px 8px 4px var(--secondary_4);
}

._center {
  display: grid;
  justify-content: center;
}

.input_1 {
  text-align: center;
  border-color: var(--primary_4);
  min-width: 16rem;
}

.btn_1 {
  color: var(--white);
  margin-top: 1rem;
  background-color: var(--orange_500);
}
