@import 'variable';
@import 'tooltip.scss';

.tooltip {
  position: sticky;
  top: 0;
}

.viewer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

img {
  border-radius: 10px;
}

i {
  color: var(--blue_gray_300);
  font-size: $font_m;
  margin: $font_05;
  border-radius: $border_50;
  padding: $font_05;
  background-color: var(--gray_100);
  cursor: pointer;
}
