@import 'variable';
@import 'input.scss';
@import 'button.scss';
@import 'tooltip.scss';
@import '_mat.scss';


.main {
  direction: rtl;
  background: var(--secondary_1);
  box-shadow: 1px 1px 8px 4px var(--secondary_6);
  margin: $font_05;
  padding: 0.25rem;
  border-radius: $border_15;
  min-height: 35rem;
}

section._container {
  display: grid;
  grid-template-columns: 35% 65%;
  margin-top: $font_05;
  gap: .2rem;
}

.__checks,
.__slider,
.__readonly_s {
  background: var(--white);
  border-radius: $border_15;
  padding: 0.2rem;
  border: 1px solid var(--secondary_3);
}

.__checks {
  grid-column: 1 / -1;

  @media (min-width: 550px) {
    grid-column: 1 / 2;
  }

  @media (min-width: 978px) {
    grid-column: 2 / 5;
    grid-row: 1/2;
  }
}

.__slider {
  display: flex;
  grid-column: 1 / -1;
  justify-content: center;
  align-items: center;

  @media (min-width: 550px) {
    grid-column: 2 / -1;
  }
}

.__readonly_s {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / -1;

  @media (min-width: 550px) {
    align-self: flex-start;
    grid-column: 1 / 2;
  }
}

._key,
._value {
  font-size: $font_m;
  font-weight: 800;
}

._value {
  display: flex;
  align-items: center;
  justify-content: center;
  direction: ltr;
  border: none;
  color: var(--primary_5);
  text-align: center;
  width: 100%;
}

.btn_1 {
  color: var(--white);
  background-color: var(--orange_500);
}

h2 {
  color: var(--secondary_6);
}

h3 {
  color: var(--primary_3);
  font-size: 1.4rem;
  padding: $font_05;
}

footer {
  margin-top: $font_2;
  text-align: center;
}

::ng-deep {
  .mat-select-panel .mat-option {
    font-size: 1.2rem;
    line-height: 3em;
    height: 3em;
    text-align: right;
    font-family: inherit;
    font-weight: 600;
  }

  .mat-option-text {
    font-size: $font_s;
    font-weight: 600;
    color: var(--primary_6);
  }

  .mat-checkbox-layout .mat-checkbox-label {
    margin: 0 $font_05;
    font-family: $font_family;
    font-size: $font_s;
    font-weight: 600;
    color: var(--thirdy_3);
  }
}

.check_boxes {
  padding: .5rem;
}

.order_by {
  display: flex;
  margin: $font_xs;
}

hr {
  margin: 0 4rem;
  background-color: var(--primary_5);
  height: .2rem;
  margin-bottom: $font_xxs;
}

.radio_button {
  font-size: $font_s;
  font-weight: 700;
  font-family: inherit;
  color: var(--secondary_6);
  margin: 0 2rem;
}

::ng-deep {
  .mat-radio-label-content {
    padding-right: $font_05 !important;
    color: var(--thirdy_1);
  }
}

[hidden] {
  display: none;
}

._main_audio {
  display: grid;
  direction: rtl;
  gap: .2rem;
}

.product-item {
  .product-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin: .3rem;
    text-align: center;
    padding: 2rem 0;
  }

  .product-image {
    width: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
  }
}

// slider
.img_wrapper {
  position: relative;
  border-radius: $border_15;
  border: 2px solid var(--thirdy_1);
  position: relative;
  margin: .4rem 0;
  cursor: pointer;
}

.__img_bound {
  height: 9.5rem;
  width: 9.5rem;
  padding: $font_05;
  margin: auto;
}

// .__img_origin_bound {
//   max-width: 22rem;
//   max-height: 32rem;
// }

.__img_counter {
  position: absolute;
  top: -$font_s;
  right: $font_05;
  text-align: center;
  background-color: var(--primary_4);
  color: var(--white);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: $border_5;
  font-weight: 600;
}

img {
  border-radius: $border_5;
}

._input_2 {
  min-width: 19rem;
}

.tooltip .tooltip_text {
  right: 50%;
  transform: translateX(50%);
  bottom: 110%;
}

.__icons {
  display: flex;
  position: absolute;
  top: -2.5rem;
  left: .5rem;

  i {
    background-color: var(--secondary_1);
    color: var(--thirdy_1);
    font-size: $font_m;
    margin: .25rem;
    cursor: pointer;
  }
}
