<app-prime-table-editable     
    [dataSource]="closeTabService.saveDataForReadingPeriodKindManager" 
    [_outputFileName]="'periodKind'" 
    [_outputEnabled]=false
    [_hasSaveColumns]=false
    [_checkUpName]="'addItem'"    
    [_numberOfExtraColumns]="[1, 2]"
    [_sessionName]="'readingPKind-session'"
    [_selectedColumnsToRemember]="'selectedReadingPeriodKind'"
    (refreshedTable)="callAPI()"
    (openedAddDialog)="openAddDialog()"
    (removedRow)="removeRow($event)"    
    (onRowEditedInit)="onRowEditInit($event)"
    (onRowEditedSave)="onRowEditSave($event)"
 > 
</app-prime-table-editable>