<app-prime-table-editable     
    [dataSource]="closeTabService.waterSource" 
    [_outputFileName]="waterSourceColumns"
    [_checkUpName]="'waterSource'"
    [_numberOfExtraColumns]="[1, 2]"
    [_isInRowEditing]=true
    [newRow]="newRow()"
    [newRowLimit]="newRowLimit"
    [_sessionName]="'waterSource-session'"
    [_selectedColumnsToRemember]="'selectedWaterSource'"
    (newedRowChangedStatus)="testChangedValue()"
    (refreshedTable)="callAPI()"     
    (removedRowEditing)="removeRow($event)"        
    (onRowEditedSave)="onRowEditSave($event)"
 > 
</app-prime-table-editable>