<p-table [columns]="_selectedColumns" [value]="dataSource" [paginator]="true" [rows]="20" [showCurrentPageReport]="true"
    currentPageReportTemplate="نمایش از {first} تا{last} از {totalRecord} مورد" [rowsPerPageOptions]="[10,25,50]"
    [filterDelay]="0" dir="rtl" dataKey="innerTable">
    [globalFilterFields]="['trackNumber','listNumber','insertDateJalali','zoneId','zoneTitle','isBazdid','year','isRoosta','fromEshterak','toEshterak','fromDate','toDate','itemQuantity','alalHesabPercent','imagePercent','hasPreNumber','displayBillId','displayRadif']"

    <ng-template pTemplate="caption">
        <p-multiSelect [options]="_selectCols" [(ngModel)]="_selectedColumns" optionLabel="header"
            selectedItemsLabel="{0}ستون انتخاب شده" [style]="{minWidth: '200px'}" placeholder="ستون ها">
        </p-multiSelect>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" pSortableColumn="{{col.field}}">
                <p-sortIcon field="{{col.field}}"></p-sortIcon>
                {{col.header}}
            </th>

            <th style="width: 4rem"></th>
            <th style="width: 4rem"></th>
        </tr>
        <tr>
            <th *ngFor="let col of columns">
                <p-columnFilter *ngIf="col.field !== 'zoneTitle'" type="text" field="{{col.field}}"></p-columnFilter>

                <p-columnFilter field="zoneTitle" *ngIf="col.field === 'zoneTitle'" matchMode="in" display="menu"
                    [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">

                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-multiSelect [options]="filterZoneDictionary" [(ngModel)]="selectedFuckingTest"
                            (onChange)="filter($event.value)" optionLabel="zoneTitle">
                            {{col.field}}
                            <ng-template let-option pTemplate="item">
                                <div class="p-multiselect-representative-option">
                                    <span class="p-ml-1">{{option.title}}</span>
                                </div>
                            </ng-template>
                        </p-multiSelect>

                    </ng-template>
                </p-columnFilter>

            </th>
            <th style="width: 4rem"></th>
            <th style="width: 4rem"></th>
            <!-- <th style="width: 4rem"></th> -->
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-dataSource let-columns="columns" let-expanded="expanded" let-index="rowIndex">
        <tr>
            <td *ngFor="let col of columns">
                <ng-container
                    *ngIf="dataSource[col.field] === true || dataSource[col.field] === false; else elseTemplate">
                    <mat-checkbox [(ngModel)]="dataSource[col.field]"></mat-checkbox>
                </ng-container>
                <ng-template #elseTemplate>
                    {{dataSource[col.field]}}
                </ng-template>
            </td>
            <td>
                <i class="tooltip p_icons pi pi-plus" [pRowToggler]="dataSource">
                    <div class="tooltip_text">مشاهده جزئیات</div>
                </i>
            </td>
            <td (click)="removeRow(dataSource)">
                <i class="tooltip p_icons pi pi-user-minus">
                    <div class="tooltip_text">حذف مسیر</div>
                </i>
            </td>
            <!-- <td>
                <button type="button" pButton pRipple 
                    [ngClass]="columns ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td> -->
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-dataSource>
        <tr>
            <td colspan="7">
                <div>
                    <p-table [columns]="_selectedColumns" [value]="dataSource" [paginator]="true" [rows]="7"
                        [rowsPerPageOptions]="[10,25,50]" dir="rtl" dataKey="id" editMode="row">

                        <!-- [globalFilterFields]="['alalHesabPercent','imagePercent','hasPreNumber','displayBillId','displayRadif','counterReaderId']"
                        [filterDelay]="0" -->

                        <ng-template pTemplate="header" let-columns>

        <tr>
            <th pSortableColumn="imagePercent">درصد تصویر
                <p-sortIcon field="imagePercent"></p-sortIcon>
            </th>
            <th pSortableColumn="alalHesabPercent">درصد علی الحساب
                <p-sortIcon field="alalHesabPercent"></p-sortIcon>
            </th>
            <th pSortableColumn="hasPreNumber">شماره پیشین
                <p-sortIcon field="hasPreNumber"></p-sortIcon>
            </th>
            <th pSortableColumn="displayBillId">نمایش شناسه قبض
                <p-sortIcon field="displayBillId"></p-sortIcon>
            </th>
            <th pSortableColumn="displayRadif">نمایش ردیف
                <p-sortIcon field="displayRadif"></p-sortIcon>
            </th>
            <th pSortableColumn="counterReaderName">مامور قرائت پیشین
                <p-sortIcon field="counterReaderName"></p-sortIcon>
            </th>
            <th style="width: 3rem"></th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-dataSource let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="dataSource">
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="dataSource.alalHesabPercent">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{dataSource.alalHesabPercent}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="dataSource.imagePercent">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{dataSource.imagePercent}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="dataSource.hasPreNumber">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{dataSource.hasPreNumber}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="dataSource.displayBillId">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{dataSource.displayBillId}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="dataSource.displayRadif">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{dataSource.displayRadif}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="dataSource.counterReaderName">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{dataSource.counterReaderName}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <button *ngIf="!editing" type="button" pInitEditableRow (click)="onRowEditInit(dataSource[ri])">
                    <i class="pi pi-pencil"></i>
                </button>
                <button *ngIf="editing" type="button" pSaveEditableRow (click)="onRowEditSave(dataSource)"
                    class="p-button-success">
                    <i class="pi pi-check"></i>
                </button>
                <button *ngIf="editing" type="button" pCancelEditableRow (click)="onRowEditCancel(dataSource, ri)"
                    class="p-button-danger">
                    <i class="pi pi-times"></i>
                </button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td>موردی پیدا نشد</td>
        </tr>
    </ng-template>
</p-table>
</div>
</td>
</tr>
</ng-template>

<ng-template pTemplate="emptymessage" let-columns>
    <tr>
        <td [attr.colspan]="columns.length">
            موردی پیدا نشد
        </td>
    </tr>
</ng-template>
</p-table>