<app-prime-table     
    [_selectCols]="_selectCols" 
    [_selectedColumns]="selectedColumns"
    [dataSource]="dataSource" 
    [_outputFileName]="'imported'"
    [_rowsPerPage]="[20,50,100, 500, 1000]"
    [_numberOfExtraColumns]="[1, 2]"
    [_sessionName]="'imported-session'"
    [_selectedColumnsToRemember]="'selectedTracks'"
    (refreshedTable)="refreshTable()"
    (showedMoreDetails)="showMoreDetails($event)"    
    (firstConfirmedDialog)="firstConfirmDialog($event)"
 > 
</app-prime-table>