@import '../../../../../assets/variable';
@import '../../../../../assets/input.scss';
@import '../../../../../assets/tooltip.scss';

.control_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 23rem));
  direction: rtl;
  justify-content: center;
  gap: 1rem;
}

.content {
  background: $gray_l;
  box-shadow: 1px 1px 8px 4px $gray_d;
  text-align: center;
  padding: $font_2 0;
  border-radius: $border_s;
  min-height: 30rem;
}

._main_audio {
  display: grid;
  direction: rtl;
  gap: .2rem;
}

._main_img {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, auto));
  justify-content: center;
  direction: rtl;
  gap: .2rem;
}

.img_wrapper {
  border-radius: $border_s;
  border: 2px solid $dark_ddd;
  position: relative;
  margin: .4rem 0;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 1px 2px $dark_ddd;
  }
}

.__img_bound {
  height: 9.5rem;
  width: 9.5rem;
  padding: $font_05;
  margin: auto;
}

.title {
  color: $blue_c;
  text-align: center;
  margin: 0 0 $font_xs;
  font-size: 1.6rem;
}

._img_title {
  margin: 0 auto $font_2;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: white;
}

.overall-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 24rem));
  gap: .5rem;
  justify-content: center;
  direction: rtl;
  margin-bottom: $font_xs;
}

._value {
  border: 0;
}

button {
  background: none;
  border: 0;
}

.__img_counter {
  position: absolute;
  top: -$font_s;
  right: $font_05;
  background-color: $blue_d2;
  color: $white;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 5px;
  font-weight: 600;
}

i {
  border-radius: $border_50;
  padding: $font_s;
  font-size: $font_m;
  border: 1px solid $dark_ddd;
  color: $dark_ddd;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 2px 3px $dark_ddd;
  }
}

img {
  border-radius: 5px;
}

hr {
  margin-bottom: $font_xs;
}

.not_found_header {
  color: $blue_d2;
}

.tooltip .tooltip_text {
  left: 50%;
  bottom: 123%;
}
