@import '../../../../../assets/variable';
@import '../../../../../assets/input.scss';

.control_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 23rem));
  direction: rtl;
  justify-content: center;
  gap: 1rem;
}

.content {
  background: $gray_l;
  box-shadow: 1px 1px 8px 4px $gray_d;
  text-align: center;
  padding: $font_2 0;
  border-radius: $border_s;
  min-height: 30rem;
}

._main_audio {
  display: grid;
  direction: rtl;
  gap: .2rem;
}

._main_img {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(46%, 48%));
  justify-content: center;
  direction: rtl;
  gap: .2rem;
}

.__img_bound {
  width: 6rem;
  height: 6rem;
  padding: $font_05;
  margin: auto;
}

.title {
  color: $blue_c;
  text-align: center;
  margin: 0 0 $font_xs;
  font-size: 1.6rem;
}

._img_title {
  margin: 0 auto $font_2;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  background: white;
}
