<main class="control_wrapper">
    <section class="content">
        <h1 class="title">صدای ضبط شده</h1>
        <div class="_img_title">
            <div>
                <img src="assets/imgs/soundvid/sd.png" alt="">
            </div>
        </div>

        <audio controls>
            <source src="horse.ogg" type="audio/ogg">
            <source src="horse.mp3" type="audio/mpeg">
            <p>مرورگر شما از پخش صوت پشتیبانی نمی کند</p>
        </audio>
    </section>

    <section class="content">
        <h1 class="title">تصاویر ارسالی مامور</h1>
        <div class="_img_title">
            <div>
                <img src="assets/imgs/soundvid/ci.png" alt="">
            </div>
        </div>

    </section>
</main>