<section>
    <div class="overall-info">
        <div class="input_2" *ngFor="let item of interationOnOverallInfo">
            <div class="_key">{{item.header}}</div>
            <input class="_value" name="{{item.field}}" [(ngModel)]="overAllInfo[item.field]">
        </div>
    </div>
</section>


<main class="control_wrapper">
    <section class="content">
        <h1 class="title">صدای ضبط شده</h1>
        <div class="_img_title">
            <img src="assets/imgs/soundvid/sd.png" alt="">
        </div>

        <div class="_main_audio">
            <div *ngFor="let item of audioFiles">
                <button (click)="getExactAudio(item.fileRepositoryId)">دریافت صوت</button>
                <button (click)="pauseAudio()">pause</button>
                <button (click)="playAudio()">play</button>
                <audio>
                    <source src="testAudio" type="audio/ogg">
                    <p>مرورگر شما از پخش صوت پشتیبانی نمی کند</p>
                </audio>
            </div>
        </div>

    </section>

    <section class="content">
        <h1 class="title">تصاویر ارسالی مامور</h1>
        <div class="_img_title">
            <div>
                <img src="assets/imgs/soundvid/ci.png" alt="">
            </div>
        </div>

        <div class="_main_img">
            <div *ngFor="let item of imageFiles; index as i" class="img_wrapper">
                <div>{{i+1}}</div>
                <div *ngIf="item" (click)="getExactImg(item.fileRepositoryId)" class="__img_bound">
                    <img src="{{testLoadImage}}" alt="whatever">
                </div>
                <div *ngIf="item === 'unknown'" (click)="getExactImg(item.fileRepositoryId)" class="__img_bound">
                    <img src="assets/imgs/soundvid/ci.png" alt="whatever">
                </div>
            </div>
        </div>

    </section>
</main>