<section>
    <div class="overall-info">
        <div class="input_2">
            <div class="_key">ش.پیگیری</div>
            <input [readOnly]="true" class="_value" name="trackNumber"
                [(ngModel)]="allListsService.generalModifyLists_pageSign.trackNumber">
        </div>
        <div class="input_2">
            <div class="_key">ش.لیست</div>
            <input [readOnly]="true" class="_value" name="listNumber"
                [(ngModel)]="allListsService.generalModifyLists_pageSign.listNumber">
        </div>
        <div class="input_2">
            <div class="_key">ناحیه</div>
            <input [readOnly]="true" class="_value" name="zone"
                [(ngModel)]="allListsService.generalModifyLists_pageSign.zoneTitle">
        </div>
    </div>
    <div class="radios">
        <div *ngFor="let orderType of counterStateForModifyDictionary" [ngClass]="{'under_zero': orderType.id < 0}">
            <div class="p-field-radiobutton">
                <p-radioButton name="orderByDate" [value]="orderType.id"
                    [(ngModel)]="listManagerService.counterStateGeneralList" [inputId]="orderType.id"
                    (onClick)="updateOnChangedCounterState(orderType.id,true)">
                </p-radioButton>
                <label [for]="orderType.id">{{orderType.title}}</label>
            </div>
        </div>
    </div>
</section>

<main style="position: relative; ">
    <app-prime-table-editable [hidden]="showCarousel" [dataSource]="closeTabService.saveDataForLMGeneralModify"
        [_checkUpName]="'generalListModify'" [_outputFileName]="'generalListModify'"
        [_sessionName]="'generalListModify'" [_selectedColumnsToRemember]="'selectedGeneralModify'"
        [_dictionaryName]="'counterStateId'" [dictionary]="counterStateByZoneDictionary"
        [_secondDictionaryName]="'modifyType'" [secondDictionary]="modifyType" [_numberOfExtraColumns]="[1,2,3,4,5,6]"
        [_backToPreviousEnabled]=true [_backToPreviousText]="'بازگشت'" [_isInRowEditing]="true"
        (receivedDateJalali)="receiveTableDate($event)"
        (dropDownChanges)="closeTabService.saveDataForLMGeneralModify['counterStateId']"
        (refreshedTable)="refreshTable()" (filteredEvent)="filteredTableEvent($event)"
        (showedPictures)="getReadingReportTitles($event)" (showedInMapSingle)="openMapDialog($event)"
        (showedWOUIAsCarousel)="doShowCarousel($event.dataSource)"
        (openedMoshtarakinDialog)="openMoshtarakinDialog($event)" (onRowEditedInit)="onRowEditInit($event)"
        (onRowEditedSave)="onRowEditSave($event)" (openedBriefKardexDialog)="openBriefKardexDialog($event)"
        (onRowEditedCancelRowEditing)="onRowEditCancel($event)" (getedExcelSample)="getExcel()">
    </app-prime-table-editable>

    <app-carousel-woum *ngIf="showCarousel" [dataSource]="carouselDataSource" (cancelClicked)="carouselCancelClicked()"
        (prevClicked)="carouselPrevItem()" (nextClicked)="carouselNextItem()">
    </app-carousel-woum>
</main>