@import 'variable';
@import 'input.scss';
@import '_mat.scss';

.overall-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 23rem));
  gap: .25rem;
  direction: rtl;

  @media (min-width: 550px) {
    justify-content: center;
  }
}

.radios {
  display: flex;
  direction: rtl;
  flex-wrap: wrap;
}
