@import 'variable';
@import 'input.scss';
@import '_mat.scss';

.overall-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 23rem));
  gap: .25rem;
  direction: rtl;

  @media (min-width: 550px) {
    justify-content: center;
  }
}

.radios {
  background: var(--white);
  border-radius: $border_15 $border_15 0 0;
  padding: 0 0.2rem;

  .radio_group {
    justify-content: flex-start;
    display: flex;
    direction: rtl;
    flex-wrap: wrap;

    .mat-radio-button {
      margin-left: $font_05;
    }
  }
}
