<h2 mat-dialog-title>مسدود کردن کاربر با IP</h2>

<form [formGroup]="form" (ngSubmit)="save()">
    <main class="_contents">

        <div class="input_2">
            <div class="_key">IP</div>
            <input class="_value d_ltr" formControlName="ip">
        </div>
        <div class="input_2">
            <div class="_key">تا IP</div>
            <input class="_value" formControlName="subnet">
        </div>
        <div class="input_2">
            <div class="_key">کاربر</div>
            <!-- <p-dropdown name="userId" [options]="userAllDictionary"
                [(ngModel)]="data.userId" placeholder="انتخاب مورد"
                optionValue="id" optionLabel="title" filter="true">
            </p-dropdown> -->
            <div class="_value">
                <mat-select placeholder="انتخاب مورد" [(ngModel)]="selected" name="userId">
                    <mat-option *ngFor="let truefalse of userAllDictionary" [value]="truefalse.id">
                        {{truefalse.title}}
                    </mat-option>
                </mat-select>
            </div>
        </div>

        <mat-checkbox formControlName="isSafe">مجاز</mat-checkbox>
        <mat-checkbox formControlName="isV6">IPv6</mat-checkbox>

    </main>

    <mat-dialog-actions>
        <button class="close_dg" type="button" (click)="close()">
            <i class="pi pi-times"></i>
        </button>
        <button class="btn_2 _custom" type="submit">ذخیره</button>
    </mat-dialog-actions>
</form>