<form class="validation-form" #form="ngForm" (ngSubmit)="nextPage()">
    <h2 class="top_title">روش پرداخت را تعیین نمایید</h2>
    <section class="order_by">
        <div *ngFor="let orderType of paymentMethod">
            <div class="p-field-radiobutton">
                <p-radioButton name="orderByDate" [value]="orderType.isActive"
                    [(ngModel)]="closeTabService._validationIsByPostalCode" [inputId]="orderType.id">
                </p-radioButton>
                <label [for]="orderType.id">{{orderType.title}}</label>
            </div>
        </div>
        <hr>
    </section>
    <div class="_desc form-group">
        <div *ngFor="let col of _selectColsPostal" [ngClass]="{'double_size':col.icon}"
            [hidden]="!closeTabService._validationIsByPostalCode">
            <div class="input_icon"
                [ngClass]="{'input_outline': item.invalid && (item.dirty || item.touched) || submitted, 'input_outline_valid':item.valid}">
                <i class="pi pi-bookmark _bookmark" [ngClass]="{special_input: col.borderize}"></i>
                <div class="input_3">
                    <div class="_key">{{col.header}}</div>
                    <input #item="ngModel" [type]="col.isNumber ? 'number' : 'text'" [id]="col.field" [name]="col.field"
                        class="form-control" [required]="col.isRequired? true : false" minlength="{{col.minLength}}"
                        [(ngModel)]="closeTabService.requestDraftReq[col.field]" [readonly]="col.readonly"
                        maxlength="{{col.maxLength}}" class="_value">
                </div>
            </div>
            <div *ngIf="item.valid && (item.dirty || item.touched)" class="icon_validation correct">
                <i class="pi pi-check-square"></i>
            </div>
            <div *ngIf="item.invalid && (item.dirty || item.touched) || submitted" class="icon_validation alert">
                <div *ngIf="item.errors?.['required']">
                    <i class="pi pi-times"></i>
                    {{col.header}} را وارد نمایید
                </div>
                <div *ngIf="item.errors?.['minlength']">
                    <i class="pi pi-times"></i>
                    حداقل تعداد نویسه {{col.minLength}} عدد می‌باشد
                </div>
            </div>
        </div>
        <div *ngFor="let col of _selectColsBillId" [ngClass]="{'double_size':col.icon}"
            [hidden]="closeTabService._validationIsByPostalCode">
            <div class="input_icon"
                [ngClass]="{'input_outline': item.invalid && (item.dirty || item.touched) || submitted, 'input_outline_valid':item.valid}">
                <i class="pi pi-bookmark _bookmark" [ngClass]="{special_input: col.borderize}"></i>
                <div class="input_3">
                    <div class="_key">{{col.header}}</div>
                    <input #item="ngModel" [type]="col.isNumber ? 'number' : 'text'" [id]="col.field" [name]="col.field"
                        class="form-control" [required]="col.isRequired? true : false" minlength="{{col.minLength}}"
                        [(ngModel)]="closeTabService.requestDraftReq[col.field]" [readonly]="col.readonly"
                        maxlength="{{col.maxLength}}" class="_value">
                </div>
            </div>
            <div *ngIf="item.valid && (item.dirty || item.touched)" class="icon_validation correct">
                <i class="pi pi-check-square"></i>
            </div>
            <div *ngIf="item.invalid && (item.dirty || item.touched) || submitted" class="icon_validation alert">
                <div *ngIf="item.errors?.['required']">
                    <i class="pi pi-times"></i>
                    {{col.header}} را وارد نمایید
                </div>
                <div *ngIf="item.errors?.['minlength']">
                    <i class="pi pi-times"></i>
                    حداقل تعداد نویسه {{col.minLength}} عدد می‌باشد
                </div>
            </div>
        </div>
    </div>
    <footer>
        <button type="submit" class="btn_1">
            <i class="pi pi-angle-left"></i>
            تایید و ادامه
        </button>
    </footer>
</form>