<form class="installment-form" #form="ngForm" (ngSubmit)="nextPage()">
    <h2 class="top_title">روش پرداخت را تعیین نمایید</h2>
    <div class="_desc form-group">
        <div class="input_icon">
            <i class="pi pi-bookmark _bookmark"></i>
            <div class="input_3">
                <div class="_key">روش پرداخت</div>
                <div class="_value">
                    <p-dropdown name="paymentMethod" [options]="paymentMethod" [(ngModel)]="_selectedPaymentMethod"
                        placeholder="انتخاب مورد" optionValue="id" optionLabel="title" filter="true" (onClick)="showProperItems()">
                    </p-dropdown>
                </div>
            </div>
        </div>
        <div *ngFor="let col of _selectColsPostal" [ngClass]="{'double_size':col.icon}"
            [hidden]="!_selectedPaymentMethod">
            <div class="input_icon"
                [ngClass]="{'input_outline': item.invalid && (item.dirty || item.touched) || submitted, 'input_outline_valid':item.valid}">
                <i class="pi pi-bookmark _bookmark" [ngClass]="{special_input: col.borderize}"></i>
                <div class="input_3">
                    <div class="_key">{{col.header}}</div>
                    <input #item="ngModel" [type]="col.isNumber ? 'number' : 'text'" [id]="col.field" [name]="col.field"
                        class="form-control" [required]="col.isRequired? true : false" minlength="{{col.minLength}}"
                        [(ngModel)]="closeTabService.requestDraftReq[col.field]" [readonly]="col.readonly"
                        maxlength="{{col.maxLength}}" class="_value">
                </div>
            </div>
            <div *ngIf="item.valid && (item.dirty || item.touched)" class="icon_validation correct">
                <i class="pi pi-check-square"></i>
            </div>
            <div *ngIf="item.invalid && (item.dirty || item.touched) || submitted" class="icon_validation alert">
                <div *ngIf="item.errors?.['required']">
                    <i class="pi pi-times"></i>
                    {{col.header}} را وارد نمایید
                </div>
                <div *ngIf="item.errors?.['minlength']">
                    <i class="pi pi-times"></i>
                    حداقل تعداد نویسه {{col.minLength}} عدد می‌باشد
                </div>
            </div>
        </div>
        <div *ngFor="let col of _selectColsBillId" [ngClass]="{'double_size':col.icon}"
            [hidden]="_selectedPaymentMethod">
            <div class="input_icon"
                [ngClass]="{'input_outline': item.invalid && (item.dirty || item.touched) || submitted, 'input_outline_valid':item.valid}">
                <i class="pi pi-bookmark _bookmark" [ngClass]="{special_input: col.borderize}"></i>
                <div class="input_3">
                    <div class="_key">{{col.header}}</div>
                    <input #item="ngModel" [type]="col.isNumber ? 'number' : 'text'" [id]="col.field" [name]="col.field"
                        class="form-control" [required]="col.isRequired? true : false" minlength="{{col.minLength}}"
                        [(ngModel)]="closeTabService.requestDraftReq[col.field]" [readonly]="col.readonly"
                        maxlength="{{col.maxLength}}" class="_value">
                </div>
            </div>
            <div *ngIf="item.valid && (item.dirty || item.touched)" class="icon_validation correct">
                <i class="pi pi-check-square"></i>
            </div>
            <div *ngIf="item.invalid && (item.dirty || item.touched) || submitted" class="icon_validation alert">
                <div *ngIf="item.errors?.['required']">
                    <i class="pi pi-times"></i>
                    {{col.header}} را وارد نمایید
                </div>
                <div *ngIf="item.errors?.['minlength']">
                    <i class="pi pi-times"></i>
                    حداقل تعداد نویسه {{col.minLength}} عدد می‌باشد
                </div>
            </div>
        </div>
    </div>
    <footer>
        <button type="submit" class="btn_1">
            <i class="pi pi-angle-left"></i>
            تایید و ادامه
        </button>
    </footer>
</form>