@import '../../../assets/variable.scss';
@import '../../../assets/input.scss';
@import '../../../assets/button.scss';
@import '../../../assets/mixins.scss';

main {
  min-width: 20rem;
  max-width: 25rem;
  width: calc(100% - 10vw);
  margin: auto;
  height: calc(100% - 25vh);
  padding: 2rem 2rem 1rem;
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: $border_s;
  background: $gray_l;
  box-shadow: 2px 2px 5px 0px $gray_d;
}

.input_1 {
  max-width: 19rem;
  padding: 0 $font_3 0 $font_s;
}

.title {
  font-weight: 600;
  color: $blue_dr;
  font-size: 2.87rem;
}

._inputs {
  margin-bottom: $font_2;
  display: flex;
  flex-direction: column;
  border: $blue_dr;

  input::placeholder {
    color: $blue_l;
  }
}

._inputs,
.version {
  margin-top: auto;
}

.btn_1 {
  color: $white;
}

.version {
  color: $blue_dr;
  font-size: $font_m;
  font-weight: 600;
}

.input__icons {
  color: $blue_l;

  i {
    position: absolute;
    transform: translateY(50%);
    vertical-align: middle;
    margin-left: -2.5rem;
    font-size: $font_l;

    &.fa-key {
      transform: rotate(180deg) translateY(-50%);
    }
  }

}
