@import 'variable.scss';
@import 'input.scss';
@import 'button.scss';

.content {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 90%;
  min-height: 75vh;
}

main {
  max-width: 23rem;
  text-align: center;
  padding: 2rem 2rem 1rem;
  border-radius: $border_15;
  background: $gray_100;
  box-shadow: 2px 2px 5px 0px $gray_400;
}

.input__icons {
  color: $blue_700;

  i {
    position: absolute;
    transform: translateY(50%);
    vertical-align: middle;
    margin-left: -2.5rem;
    font-size: $font_l;
  }

}

.title {
  font-weight: 600;
  color: $blue_900;
  font-size: 2.5rem;
  margin-bottom: $font_s;
}

._inputs {
  margin-bottom: $font_2;
  border: $blue_900;

  input::placeholder {
    color: $blue_700;
  }

  .input_1 {
    text-align: center;
    max-width: 19rem;
    padding: 0 $font_3 0 $font_s;
    color: $blue_700 !important;
  }
}

._inputs,
.version {
  margin-top: auto;
}

.btn_1 {
  color: $white;
  background: $blue_700;
}

.version {
  color: $blue_900;
  font-size: $font_m;
  font-weight: 600;
  margin-top: $font_2;
}

input,
input:-internal-autofill-selected {
  background-color: $white !important;
  color: $blue_700 !important;
}
