<main role="main">
    <h1 class="title">ورود</h1>
    <section class="_inputs">
        <input type="text" class="input_1" placeholder="نام کاربری" title="لطفا نام کاربری را وارد نمایید" minlength="3"
            maxlength="13" required>
        <input type="text" class="input_1" placeholder="رمزعبور" title="لطفا رمزعبور را وارد نمایید" minlength="3"
            maxlength="13" required>
    </section>
    <button class="btn_1">ورود</button>
    <div class="version"> v.0.0.1 نسخه نرم افزار</div>
</main>