<app-prime-table-editable     
    [dataSource]="closeTabService.saveDataForRoleManager"     
    [_outputFileName]="'_userRoles'"
    [_selectedColumnsToRemember]="'selectedUserRoles'"
    [_numberOfExtraColumns]="[1, 2]"
    [_isInRowEditing]=true
    [_outputEnabled]=false
    [_hasSaveColumns]=false
    [newRow]="newRow()"
    [newRowLimit]="newRowLimit"
    (refreshedTable)="callAPI()"
    (newedRowChangedStatus)="testChangedValue()"
    (onRowEditedSave)="onRowEditSave($event)"
    (onRowEditCancelRowEditing)="onRowEditCancel($event)"
    (onRowEditedInit)="onRowEditInit($event)"
    (removedRowEditing)="removeRow($event)"
 > 
</app-prime-table-editable>