<form class="other-info-form" (ngSubmit)="nextPage()">
    <h2 class="top_title">موارد مورد نیاز را تکمیل نمایید</h2>
    <div class="_desc">
        <div *ngFor="let col of _selectCols" [ngClass]="{'double_size':col.icon}">
            <div class="input_icon">
                <i class="pi pi-bookmark _bookmark tooltip" [ngClass]="{
                    special_input: col.borderize,
                    'input_bookmark': item.invalid && (item.dirty || item.touched) || submitted,
                    'input_bookmark_valid':item.valid,
                    'correct':item.valid && (item.dirty || item.touched)
                   }">
                    <div *ngIf="item.errors && item.touched || submitted" class="tooltip_text_bottom alert">
                        <div *ngIf="item.errors?.['required']">
                            <p>
                                {{col.header}} را وارد نمایید
                                <i class="pi pi-times"></i>
                            </p>
                        </div>
                    </div>
                    <div *ngIf="item.errors?.minlength" class="tooltip_text_bottom alert">
                        <p>
                            حداقل تعداد نویسه {{col.minLength}} عدد می‌باشد
                            <i class="pi pi-times"></i>
                        </p>
                    </div>
                    <div *ngIf="item.errors?.maxlength" class="tooltip_text_bottom alert">
                        <p>
                            حداکثر تعداد نویسه {{col.maxLength}} عدد می‌باشد
                            <i class="pi pi-times"></i>
                        </p>
                    </div>
                </i>
                <div class="input_3">
                    <div class="_key">{{col.header}}</div>
                    <input #item="ngModel" [type]="col.isNumber ? 'number' : 'text'" [id]="col.field" [name]="col.field"
                        class="form-control" [required]="col.isRequired? true : false" minlength="{{col.minLength}}"
                        [(ngModel)]="closeTabService.requestDraftReq[col.field]" [readonly]="col.readonly"
                        maxlength="{{col.maxLength}}" class="_value">
                </div>
            </div>
        </div>
    </div>
    <footer>
        <button type="submit" class="btn_1">
            <i class="pi pi-angle-left"></i>
            تایید و ادامه
        </button>
    </footer>
</form>