@import 'variable.scss';
@import 'button.scss';
@import 'tooltip.scss';
@import '../../map.component.scss';

.polyline_config {
  gap: .25rem;
  display: flex;
}

._dialog {
  position: relative;
}

.btn_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  gap: var(--font_05);
  font-size: var(--font_s);
}