<app-prime-table-editable     
    [_selectCols]="_selectCols" 
    [_selectedColumns]="selectedColumns"
    [dataSource]="dataSource" 
    [_checkUpName]="'auth3'"
    [_outputFileName]="'auth3'"
    [_dictionaryName]="'authLevel2Id'"
    [dictionary]="authLevel2Dictionary"
    [_outputEnabled]= false
    [_numberOfExtraColumns]="[1, 2]"
    [_selectedColumnsToRemember]="'selectedAuth3'"
    (refreshedTable)="refreshTable()"
    (openedAddDialog)="openAddDialog()"
    (dropDownChanges)="dataSource['authLevel2Id']"
    (removedRow)="removeRow($event)"
    (onRowEditedCancel)="onRowEditCancel()"
    (onRowEditedInit)="onRowEditInit($event)"
    (onRowEditedSave)="onRowEditSave($event)"
 > 
</app-prime-table-editable>