@import 'shared_reports';


.btn_1 {
  color: var(--secondary_1);
}

h2 {
  white-space: nowrap;
}

// materials 
::ng-deep {
  .mat-checkbox-layout {
    .mat-checkbox-label {
      margin: 0 var(--font_05);
      font-size: var(--font_s);
      font-weight: 600;
      color: var(--primary_5);
      line-height: 2;
      border-radius: $border_15;
      font-family: $font_family;
    }
  }

  .mat-horizontal-stepper-header-container {
    direction: rtl;
    border: 2px solid var(--primary_5);
    border-radius: 6rem;
    padding: var(--font_05);
    margin-bottom: var(--font_xs);
  }

  .mat-step-text-label {
    font-size: var(--font_s);
    padding-right: var(--font_05);
  }

  .mat-horizontal-stepper-header .mat-step-icon {
    font-size: var(--font_s);
    font-weight: 600;
  }
}

.mat-stepper-horizontal {
  font-family: $font_family;
  padding: var(--font_05);
}

.mat-horizontal-content-container {
  min-height: 15rem;
}

// 
._special {
  background-color: var(--primary_2);
  color: var(--secondary_1);
}

.accept {
  display: flex;
}

.btn_2 {
  margin: var(--font_025);
  display: flex;
  justify-content: center;
  align-items: center;
}
