<main class="main">
    <section>
        <form #form="ngForm" (ngSubmit)="verification()">
            <section class="_card"
                [@openClose]="dataMiningAnalysesService.utilsService.collapser.isCollapsedCranlz ? 'slideUp' : 'slideDown'">
                <section class="order_by">
                    <h2>جستجو بر اساس :</h2>
                    <div *ngFor="let orderType of dataMiningAnalysesService.utilsService.getSearchInOrderTo">
                        <div class="p-field-radiobutton">
                            <p-radioButton name="orderByDate" [value]="orderType.isSelected"
                                [(ngModel)]="dataMiningAnalysesService._isOrderByDate" [inputId]="orderType.key">
                            </p-radioButton>
                            <label [for]="orderType.key">{{orderType.title}}</label>
                        </div>
                    </div>
                </section>
                <hr>
                <section class="content">
                    <div class="input_2">
                        <div class="_key">ناحیه</div>
                        <div class="_value">
                            <p-dropdown name="zones" [options]="zoneDictionary"
                                [(ngModel)]="dataMiningAnalysesService.dataMiningReq.zoneId" placeholder="انتخاب مورد"
                                optionValue="id" optionLabel="title" filter="true" (onChange)="afterZoneChanged()">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="input_2" [hidden]="dataMiningAnalysesService._isOrderByDate">
                        <div class="_key">نوع دوره</div>
                        <div class="_value">
                            <p-dropdown name="kindId" [options]="readingPeriodKindDictionary"
                                [(ngModel)]="dataMiningAnalysesService.dataMiningReq._selectedKindId"
                                placeholder="انتخاب مورد" optionValue="id" optionLabel="title" filter="true"
                                (click)="getReadingPeriod()" (onChange)="afterPeriodChanged()">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="input_2"
                        [hidden]="!readingPeriodDictionary.length || dataMiningAnalysesService._isOrderByDate">
                        <div class="_key">دوره قرائت</div>
                        <div class="_value">
                            <p-dropdown name="readingPeriodId" [options]="readingPeriodDictionary"
                                [(ngModel)]="dataMiningAnalysesService.dataMiningReq.readingPeriodId"
                                placeholder="انتخاب مورد" optionValue="id" optionLabel="title" filter="true">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="input_2" [hidden]="dataMiningAnalysesService._isOrderByDate">
                        <div class="_key">سال</div>
                        <div class="_value">
                            <mat-select placeholder="انتخاب مورد"
                                [(ngModel)]="dataMiningAnalysesService.dataMiningReq.year" name="year">
                                <mat-option *ngFor="let truefalse of closeTabService.years" [value]="truefalse.value">
                                    {{truefalse.title}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>

                    <div class="input_2" [hidden]="!dataMiningAnalysesService._isOrderByDate">
                        <div class="_key">از</div>
                        <div class="_value">
                            <app-date-jalali name="fromDate"
                                (dateJalEvent)="dataMiningAnalysesService.receiveFromDateJalali(dataMiningAnalysesService.ENReadingReports.dataMining, $event)"
                                [dateObject]="dataMiningAnalysesService.dataMiningReq.fromDate">
                            </app-date-jalali>
                        </div>
                    </div>
                    <div class="input_2" [hidden]="!dataMiningAnalysesService._isOrderByDate">
                        <div class="_key">تا</div>
                        <div class="_value">
                            <app-date-jalali name="toDate"
                                (dateJalEvent)="dataMiningAnalysesService.receiveToDateJalali(dataMiningAnalysesService.ENReadingReports.dataMining, $event)"
                                [dateObject]="dataMiningAnalysesService.dataMiningReq.toDate">
                            </app-date-jalali>
                        </div>
                    </div>

                    <button type="submit" class="btn_1">
                        مشاهده
                        <i class="pi pi-list"></i>
                    </button>

                </section>

            </section>

        </form>
    </section>

    <app-prime-table [dataSource]="closeTabService.saveDataForDMAAnalyze" [_outputFileName]="'analysis'"
        [_checkUpName]="'dm-analysis'" [_sessionName]="'dmanalysis-session'"
        [_selectedColumnsToRemember]="'selectedDMAnalyze'" [_hasCollapsible]=true
        [_isCollaped]="dataMiningAnalysesService.utilsService.collapser.isCollapsedCranlz"
        (collapsed)="dataMiningAnalysesService.utilsService.collapser.isCollapsedCranlz = !dataMiningAnalysesService.utilsService.collapser.isCollapsedCranlz"
        (refreshedTable)="refreshTable()">
    </app-prime-table>

</main>