<main class="main">
    <section [hidden]="isCollapsed">
        <form #form="ngForm" (ngSubmit)="verification()">
            <section class="static_part">
                <section class="order_by">
                    <h2>صدور بر اساس :</h2>
                    <mat-radio-group class="radio_group" aria-labelledby="radio_group" [(ngModel)]="_isOrderByDate"
                        name="_isOrderByDate">
                        <mat-radio-button class="radio_button" *ngFor="let orderType of searchInOrderTo"
                            [value]="orderType.isSelected">
                            {{orderType.title}}
                        </mat-radio-button>
                    </mat-radio-group>
                </section>
                <hr>
                <section class="content">
                    <div class="input_2">
                        <div class="_key">ناحیه</div>
                        <mat-select placeholder="انتخاب مورد"
                            [(ngModel)]="dataMiningAnalysesService.dataMiningReq.zoneId" name="zoneId">
                            <mat-option *ngFor="let truefalse of zoneDictionary" [value]="truefalse.id">
                                {{truefalse.title}}
                            </mat-option>
                        </mat-select>
                    </div>
                    <div class="input_2" [hidden]="_isOrderByDate">
                        <div class="_key">نوع دوره</div>
                        <mat-select placeholder="انتخاب مورد" [(ngModel)]="_selectedKindId" name="_selectedKindId">
                            <mat-option (click)="getReadingPeriod()"
                                *ngFor="let truefalse of readingPeriodKindDictionary" [value]="truefalse.id">
                                {{truefalse.title}}
                            </mat-option>
                        </mat-select>
                    </div>
                    <div class="input_2" [hidden]="!readingPeriodDictionary.length || _isOrderByDate">
                        <div class="_key">دوره قرائت</div>
                        <mat-select placeholder="انتخاب مورد"
                            [(ngModel)]="dataMiningAnalysesService.dataMiningReq.readingPeriodId"
                            name="readingPeriodId">
                            <mat-option *ngFor="let truefalse of readingPeriodDictionary" [value]="truefalse.id">
                                {{truefalse.title}}
                            </mat-option>
                        </mat-select>
                    </div>
                    <div class="input_2" [hidden]="_isOrderByDate">
                        <div class="_key">سال</div>
                        <mat-select placeholder="انتخاب مورد" [(ngModel)]="dataMiningAnalysesService.dataMiningReq.year"
                            name="year">
                            <mat-option *ngFor="let truefalse of _years" [value]="truefalse.value">
                                {{truefalse.title}}
                            </mat-option>
                        </mat-select>
                    </div>

                    <div class="input_2" [hidden]="!_isOrderByDate">
                        <div class="_key">از</div>
                        <div class="_value">
                            <app-date-jalali name="fromDate"
                                (dateJalEvent)="dataMiningAnalysesService.receiveFromDateJalali(dataMiningAnalysesService.ENDataMining.dataMining, $event)"
                                [dateObject]="dataMiningAnalysesService.dataMiningReq.fromDate">
                            </app-date-jalali>
                        </div>
                    </div>
                    <div class="input_2" [hidden]="!_isOrderByDate">
                        <div class="_key">تا</div>
                        <div class="_value">
                            <app-date-jalali name="toDate"
                                (dateJalEvent)="dataMiningAnalysesService.receiveToDateJalali(dataMiningAnalysesService.ENDataMining.dataMining, $event)"
                                [dateObject]="dataMiningAnalysesService.dataMiningReq.toDate">
                            </app-date-jalali>
                        </div>
                    </div>

                    <button type="submit" class="btn_1">
                        مشاهده لیست
                        <i class="pi pi-list"></i>
                    </button>

                </section>

            </section>

        </form>
    </section>

    <app-prime-table [_selectCols]="_selectCols" [_selectedColumns]="selectedColumns" [dataSource]="dataSource"
        [_outputFileName]="'analysis'" [_checkUpName]="'dm-analysis'" [_selectedColumnsToRemember]="'selectedDMAnalyze'"
        [_hasCollapsible]=true [_isCollaped]="isCollapsed" (collapsed)="isCollapsed = !isCollapsed"
        (refreshedTable)="refreshTable()">
    </app-prime-table>

</main>