<section>
    <div class="overall-info">
        <div class="input_2">
            <div class="_key">نام نمایش</div>
            <input [readOnly]="true" class="_value" name="trackNumber"
                [(ngModel)]="securityService.userRoleHistoryDetails_pageSign.displayName">
        </div>
        <div class="input_2">
            <div class="_key">نام کاربری</div>
            <input [readOnly]="true" class="_value" name="listNumber"
                [(ngModel)]="securityService.userRoleHistoryDetails_pageSign.username">
        </div>
        <div class="input_2">
            <div class="_key">ناحیه پیش‌فرض</div>
            <input [readOnly]="true" class="_value" name="zone"
                [(ngModel)]="securityService.userRoleHistoryDetails_pageSign.defaultZoneTitle">
        </div>
    </div>
</section>

<app-prime-table     
    [dataSource]="closeTabService.saveDataForUserRoleHistory" 
    [_outputFileName]="'userRoleHistorySummary'"    
    [_checkUpName]="'userRoleHistorySummary'"    
    [_numberOfExtraColumns]="[1,2]"
    [_sessionName]="'userRoleHistorySummary-session'"
    [_selectedColumnsToRemember]="'selectedUserRoleHistorySummary'"    
    (refreshedTable)="refreshTable()"
    (openedMoshtarakinDialog)="showMoreDetails($event)"
    (openedBriefKardexDialog)="showCompare($event)"
 > 
</app-prime-table>