<section>

    <h1 class="title">ارسال تصویر تکی</h1>


    <form #form="ngForm" (ngSubmit)="uploadFile(form)" class="_card">
        <div class="_desc">

            <div class="input_2">
                <div class="_key">نوع جستجو</div>
                <div class="_value">
                    <mat-select placeholder="انتخاب مورد" [(ngModel)]="offlineModeService.fileUploadSingle.searchBy"
                        name="searchType">
                        <mat-option (click)="_searchByInfo = truefalse.searchBy"
                            *ngFor="let truefalse of offlineModeService.fileUploadSingle.searchType"
                            [value]="truefalse.id">
                            {{truefalse.searchBy}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>

            <div class="input_2">
                <div class="_key">{{_searchByInfo}}</div>
                <input class="_value" type="number" placeholder="{{_searchByInfo}} را وارد نمایید " name="item"
                    [(ngModel)]="offlineModeService.fileUploadSingle.item" autofocus>
            </div>

            <div class="input_2">
                <div class="_key">توضیحات</div>
                <input class="_value" placeholder="توضیحات" name="description"
                    [(ngModel)]="offlineModeService.fileUploadSingleReq.description">
            </div>

            <label *ngIf="!choosenFileName" class="btn_2 not_choosen_file" for="files" title="تصویری انتخاب نشده است">
                <span class="icon_android fa fa-image"></span>
                <small>تصویری</small> انتخاب نمایید
            </label>
            <label *ngIf="choosenFileName" class="label_choose_file" for="files">
                {{choosenFileName}}
            </label>
            <input #screenshotInput name="تصویری انتخاب نمایید" class="btn_2 _choose_file hidden" type="file"
                name="screenshot" (change)="onChange($event)" id="files">

            <!-- porgress bar -->
            <label for="progress"></label>
            <progress *ngIf="progress > 0" id="progress" [value]="progress" min="0" max="100">{{progress}}</progress>

            <div class="change_pass">
                <button *ngIf="progress == 0" class="btn_1" type="submit">
                    <div class="fa fa-upload"></div>
                    ارسال
                </button>
            </div>
        </div>

    </form>

</section>