<app-prime-table-editable     
    [dataSource]="closeTabService.saveDataForGuild" 
    [_outputFileName]="guildColumns"
    [_isInRowEditing]=true
    [_checkUpName]="'guild'"    
    [_numberOfExtraColumns]="[1,2]"
    [_sessionName]="'guild-session'"
    [_selectedColumnsToRemember]="'selectedImageGuild'"
    [newRow]="newRow()"
    [newRowLimit]="newRowLimit"
    (refreshedTable)="callAPI()"
    (newedRowChangedStatus)="testChangedValue()"
    (onRowEditedSave)="onRowEditSave($event)"
    (onRowEditedCancelRowEditing)="onRowEditCancel($event)"
    (onRowEditedInit)="onRowEditInit($event)"
    (removedRowEditing)="removeRow($event)"
 > 
</app-prime-table-editable>