<app-collapsable [_isCollapsed]=closeTabService.offlineSingleReadingCounterReq._isCollapsed
    (_clicked)=" closeTabService.offlineSingleReadingCounterReq._isCollapsed = !closeTabService.offlineSingleReadingCounterReq._isCollapsed">
</app-collapsable>

<section>
    <h1 class="title">قرائت تکی</h1>
    <form #form="ngForm" (ngSubmit)="connectToServer()" class="_card"
        [@openClose]="closeTabService.offlineSingleReadingCounterReq._isCollapsed ? 'slideUp' : 'slideDown'">
        <div class="_desc">

            <div class="input_icon">
                <i class="pi pi-bookmark _bookmark"></i>
                <div class="input_3">
                    <div class="_key">نوع جستجو</div>
                    <div class="_value">
                        <mat-select placeholder="انتخاب مورد"
                            [(ngModel)]="closeTabService.offlineSingleReadingCounterReq.searchBy" name="searchType">
                            <mat-option (click)="_searchByInfo = truefalse.searchBy"
                                *ngFor="let truefalse of closeTabService.offlineSingleReadingCounterReq.searchType"
                                [value]="truefalse.id">
                                {{truefalse.searchBy}}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
            </div>

            <div class="input_icon">
                <i class="pi pi-bookmark _bookmark"></i>
                <div class="input_3">
                    <div class="_key">{{_searchByInfo}}</div>
                    <input class="_value" type="number" placeholder="{{_searchByInfo}} را وارد نمایید " name="item"
                        [(ngModel)]="closeTabService.offlineSingleReadingCounterReq.item" autofocus>
                </div>
            </div>

            <button class="btn_1" type="submit">
                <i class="pi pi-search"></i>
                جستجو
            </button>
        </div>
        <!-- <section class="_more_options">
            <div class="__container">
                <div class="input_2" *ngIf="masrafState">
                    <div class="_key">وضعیت مصرف</div>
                    <div class="_value">
                        <p-multiSelect [maxSelectedLabels]="1" [options]="masrafState" name="masraf"
                            [(ngModel)]="closeTabService.saveDataForSearchProReq.masrafStates" optionLabel="header"
                            optionValue="value" selectedItemsLabel="{0} مورد انتخاب شده" placeholder="انتخاب مورد"
                            [filter]="true" showClear="true">
                        </p-multiSelect>
                    </div>
                </div>
                <div class="input_2" *ngIf="dictionaryWrapperService.counterReportDictionary.length">
                    <div class="_key">گزارش بازرسی</div>
                    <div class="_value">
                        <p-multiSelect [maxSelectedLabels]="1" [options]="dictionaryWrapperService.counterReportDictionary" name="counterReport"
                            [(ngModel)]="closeTabService.saveDataForSearchProReq.reportIds" optionLabel="title"
                            optionValue="id" selectedItemsLabel="{0} مورد انتخاب شده" placeholder="انتخاب مورد"
                            [filter]="true" showClear="true">
                        </p-multiSelect>
                    </div>
                </div>
                <div class="input_2" *ngIf="counterStateByZoneIdDictionary.length">
                    <div class="_key">وضعیت کنتور</div>
                    <div class="_value">
                        <p-multiSelect [maxSelectedLabels]="1" [options]="counterStateByZoneIdDictionary"
                            name="counterState" [(ngModel)]="closeTabService.saveDataForSearchProReq.counterStateIds"
                            optionLabel="title" optionValue="id" selectedItemsLabel="{0} مورد انتخاب شده"
                            placeholder="انتخاب مورد" [filter]="true" showClear="true">
                        </p-multiSelect>
                    </div>
                </div>
                <div class="input_2" *ngIf="karbariDictionary.length">
                    <div class="_key">کاربری</div>
                    <div class="_value">
                        <p-multiSelect [maxSelectedLabels]="1" [options]="karbariDictionary" name="karbari"
                            [(ngModel)]="closeTabService.saveDataForSearchProReq.karbariCodes" optionLabel="title"
                            optionValue="id" selectedItemsLabel="{0} مورد انتخاب شده" placeholder="انتخاب مورد"
                            [filter]="true" showClear="true">
                        </p-multiSelect>
                    </div>
                </div>
                <div class="input_2" *ngIf="fragmentMasterIds.length">
                    <div class="_key">نوبتی ها</div>
                    <div class="_value">
                        <p-multiSelect [maxSelectedLabels]="1" [options]="fragmentMasterIds" name="fragmentId"
                            [(ngModel)]="closeTabService.saveDataForSearchProReq.fragmentMasterIds"
                            optionLabel="routeTitle" optionValue="id" selectedItemsLabel="{0} مورد انتخاب شده"
                            placeholder="انتخاب مورد" [filter]="true" showClear="true">
                        </p-multiSelect>
                    </div>
                </div>
            </div>
        </section> -->
    </form>

</section>