@import 'variable';
@import '_mat.scss';
@import 'button.scss';
@import 'input.scss';
@import 'media.scss';
@import 'cards';

._desc {
    display: grid;
}

.icon_android,
small {
    color: var(--red_600);
    margin: 0 .4rem;
}