@import 'shared_dialog.scss';

._contents {
  display: grid;
  direction: rtl;
  font-family: var(--font-family);
  grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
  gap: var(--font_025);
}

h2 {
  text-align: center;
  font-family: var(--font-family);
}

.check_boxes {
  flex-wrap: wrap;
}