@import 'stepper';

.icon_validation {
    position: absolute;

    div {
        display: flex;
        align-items: center;
    }
}

.alert {
    color: var(--red_500);
}

.correct {
    i {
        color: var(--green_500);
        outline: 1px solid var(--green_500);
        font-size: 1.3rem;
        background: var(--green_500);
        color: var(--white);
    }
}