@import '../../../../../assets/variable.scss';
@import '../../../../../assets/button.scss';

main {
  width: 25rem;
  margin: 2rem auto;
}

.btn_1 {
  color: $white;
  margin-top: 1rem;
}
