<main role="main" *ngIf="!desc">
    <form #form="ngForm" (ngSubmit)="followUpReq()" class="content">
        <section class="_desc">
            <input type="text" class="input_1" placeholder="شماره پیگیری" title="لطفا نام کاربری را وارد نمایید"
                minlength="3" maxlength="10" name="trackNumber" [(ngModel)]="trackNumber" autofocus required>
        </section>
        <button class="btn_1" type="submit">شروع درخواست</button>
    </form>
</main>

<section *ngIf="desc">
    <form #form="ngForm">
        <section class="contain">

            <div class="input_2">
                <div class="_key">از اشتراک :</div>
                <input class="_value" name="trackNumber" [(ngModel)]="desc.trackNumber">
            </div>
            <div class="input_2">
                <div class="_key">تا اشتراک :</div>
                <input class="_value" name="listNumber" [(ngModel)]="desc.listNumber">
            </div>

            <div class="input_2">
                <div class="_key">از اشتراک :</div>
                <input class="_value" name="zoneTitle" [(ngModel)]="desc.zoneTitle">
            </div>
            <div class="input_2">
                <div class="_key">تا اشتراک :</div>
                <input class="_value" name="fromEshterak" [(ngModel)]="desc.fromEshterak">
            </div>

            <div class="input_2">
                <div class="_key">از اشتراک :</div>
                <input class="_value" name="toEshterak" [(ngModel)]="desc.toEshterak">
            </div>
            <div class="input_2">
                <div class="_key">تا اشتراک :</div>
                <input class="_value" name="fromDate" [(ngModel)]="desc.fromDate">
            </div>

            <div class="input_2">
                <div class="_key">از اشتراک :</div>
                <input class="_value" name="toDate" [(ngModel)]="desc.toDate">
            </div>
            <div class="input_2">
                <div class="_key">تا اشتراک :</div>
                <input class="_value" name="overallQuantity" [(ngModel)]="desc.overallQuantity">
            </div>

            <div class="input_2">
                <div class="_key">از اشتراک :</div>
                <input class="_value" name="itemQuantity" [(ngModel)]="desc.itemQuantity">
            </div>
            <div class="input_2">
                <div class="_key">تا اشتراک :</div>
                <input class="_value" name="readingPeriodTitle" [(ngModel)]="desc.readingPeriodTitle">
            </div>
            <div class="input_2">
                <div class="_key">تا اشتراک :</div>
                <input class="_value" name="year" [(ngModel)]="desc.year">
            </div>

        </section>

        <div class="check_boxes">
            <mat-checkbox name="hasPreNumber" [(ngModel)]="desc.isBazdid">شماره قبلی
            </mat-checkbox>

            <mat-checkbox name="displayBillId" [(ngModel)]="desc.isRoosta">نمایش شناسه
                قبض
            </mat-checkbox>
        </div>

    </form>


    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="trackStatusTitle">
            <th mat-header-cell *matHeaderCellDef>
                <div class="header">
                    trackStatusTitle
                </div>
                <!-- <mat-form-field class="filter" floatLabel="never">
                <mat-label>جستجو</mat-label>
                <input matInput [formControl]="trackStatusTitleFilter">
            </mat-form-field> -->
            </th>
            <td mat-cell *matCellDef="let person">{{person.trackStatusTitle}}</td>
        </ng-container>

        <ng-container matColumnDef="insertDateJalali">
            <th mat-header-cell *matHeaderCellDef>
                <div class="header">
                    insertDateJalali
                </div>
                <!-- <mat-form-field class="filter" floatLabel="never">
                <mat-label>جستجو</mat-label>
                <input matInput [formControl]="insertDateJalaliFilter">
            </mat-form-field> -->
            </th>
            <td mat-cell *matCellDef="let person">{{person.insertDateJalali}}</td>
        </ng-container>

        <ng-container matColumnDef="counterReaderName">
            <th mat-header-cell *matHeaderCellDef>
                <div class="header">
                    counterReaderName
                </div>
                <!-- <mat-form-field class="filter" floatLabel="never">
                <mat-label>جستجو</mat-label>
                <input matInput [formControl]="counterReaderNameFilter">
            </mat-form-field> -->
            </th>
            <td mat-cell *matCellDef="let person">{{person.counterReaderName}}</td>
        </ng-container>

        <ng-container matColumnDef="userDisplayName">
            <th mat-header-cell *matHeaderCellDef>
                <div class="header">
                    عنوان
                </div>
                <!-- <mat-form-field class="filter" floatLabel="never">
                <mat-label>جستجو</mat-label>
                <input matInput [formControl]="userDisplayNameFilter">
            </mat-form-field> -->
            </th>
            <td mat-cell *matCellDef="let person">{{person.userDisplayName}}</td>
        </ng-container>

        <ng-container matColumnDef="seen">
            <th mat-header-cell *matHeaderCellDef>
                <div class="header">
                    عنوان
                </div>
                <!-- <mat-form-field class="filter" floatLabel="never">
                <mat-label>جستجو</mat-label>
                <input matInput [formControl]="seenFilter">
            </mat-form-field> -->
            </th>
            <td mat-cell *matCellDef="let person">{{person.seen}}</td>
        </ng-container>

        <ng-container matColumnDef="hasDetails">
            <th mat-header-cell *matHeaderCellDef>
                <div class="header">
                    hasDetails
                </div>
                <!-- <mat-form-field class="filter" floatLabel="never">
                <mat-label>جستجو</mat-label>
                <input matInput [formControl]="hasDetailsFilter">
            </mat-form-field> -->
            </th>
            <td mat-cell *matCellDef="let person">{{person.hasDetails}}</td>
        </ng-container>

        <ng-container cdkColumnDef="actions">
            <th md-header-cell *matHeaderCellDef></th>
            <td md-cell *matCellDef="let row" class="_actions">
                <i class="_custom fa fa-edit"></i>|
                <i class="_custom fa fa-trash"></i>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let person; columns: columnsToDisplay"></tr>

    </table>
</section>