<div class="over_all">

    <section>
        <div class="content">
            <section class="_checkbox">
                <span>
                    <ul>
                        <li class="number_vals">
                            حداقل تعداد رمز عبور
                            <div class="plus_minus">
                                <div class="plus"
                                    (click)="plusOrMinus(closeTabService.saveDataForPolicies.minPasswordLength + 1)">
                                    <i class="fa fa-plus"></i>
                                </div>
                                <div class="_value"> {{closeTabService.saveDataForPolicies.minPasswordLength}}</div>
                                <div class="minus"
                                    (click)="plusOrMinus(closeTabService.saveDataForPolicies.minPasswordLength - 1)">
                                    <i class="fa fa-minus"></i>
                                </div>
                            </div>
                        </li>
                        <li class="number_vals">
                            lockInvalidAttempts
                            <div class="plus_minus">
                                <div class="plus"
                                    (click)="closeTabService.saveDataForPolicies.lockInvalidAttempts = closeTabService.saveDataForPolicies.lockInvalidAttempts + 1">
                                    <i class="fa fa-plus"></i>
                                </div>
                                <div class="_value"> {{closeTabService.saveDataForPolicies.lockInvalidAttempts}}</div>
                                <div class="minus"
                                    (click)="closeTabService.saveDataForPolicies.lockInvalidAttempts = closeTabService.saveDataForPolicies.lockInvalidAttempts - 1">
                                    <i class="fa fa-minus"></i>
                                </div>
                            </div>
                        </li>
                        <li class="number_vals">
                            lockMin
                            <div class="plus_minus">
                                <div class="plus"
                                    (click)="closeTabService.saveDataForPolicies.lockMin = closeTabService.saveDataForPolicies.lockMin + 1">
                                    <i class="fa fa-plus"></i>
                                </div>
                                <div class="_value"> {{closeTabService.saveDataForPolicies.lockMin}}</div>
                                <div class="minus"
                                    (click)="closeTabService.saveDataForPolicies.lockMin = closeTabService.saveDataForPolicies.lockMin - 1">
                                    <i class="fa fa-minus"></i>
                                </div>
                            </div>
                        </li>
                        <li>
                            <mat-checkbox [(ngModel)]="closeTabService.saveDataForPolicies.passwordContainsNumber">
                                گذرواژه شامل حداقل یک عدد باشد
                            </mat-checkbox>
                        </li>
                        <li>
                            <mat-checkbox [(ngModel)]="closeTabService.saveDataForPolicies.passwordContainsLowercase">
                                گذرواژه شامل حداقل یک حرف کوچک لاتین باشد
                            </mat-checkbox>
                        </li>
                        <li>
                            <mat-checkbox [(ngModel)]="closeTabService.saveDataForPolicies.passwordContainsUppercase">
                                گذرواژه شامل حداقل یک حرف بزرگ لاتین باشد
                            </mat-checkbox>
                        </li>
                        <li>
                            <mat-checkbox
                                [(ngModel)]="closeTabService.saveDataForPolicies.passwordContainsNonAlphaNumeric">
                                گذرواژه شامل حداقل یک حرف غیرالفبایی باشد
                            </mat-checkbox>
                        </li>
                        <li>
                            <mat-checkbox [(ngModel)]="closeTabService.saveDataForPolicies.canUpdateDeviceId">
                                شناسه قابل بروز رسانی باشد
                            </mat-checkbox>
                        </li>
                    </ul>
                </span>
            </section>
        </div>

    </section>

    <section class="item_3">

        <!-- <h1 class="title">حداقل یک نویسه با مشخصات !</h1> -->
        <div class="content">
            <section class="_checkbox">
                <span>
                    <ul>
                        <li>
                            <mat-checkbox [(ngModel)]="closeTabService.saveDataForPolicies.enableValidIpCaptcha">
                                فعال سازی captcha
                            </mat-checkbox>
                        </li>
                        <li class="number_vals">
                            تعداد دفعات ورود با Captcha
                            <div class="plus_minus">
                                <div class="plus"
                                    (click)="closeTabService.saveDataForPolicies.requireCaptchaInvalidAttempts = closeTabService.saveDataForPolicies.requireCaptchaInvalidAttempts + 1">
                                    <i class="fa fa-plus"></i>
                                </div>
                                <div class="_value">
                                    {{closeTabService.saveDataForPolicies.requireCaptchaInvalidAttempts}}</div>
                                <div class="minus"
                                    (click)="closeTabService.saveDataForPolicies.requireCaptchaInvalidAttempts = closeTabService.saveDataForPolicies.requireCaptchaInvalidAttempts - 1">
                                    <i class="fa fa-minus"></i>
                                </div>
                            </div>
                        </li>
                        <li>
                            <mat-checkbox [(ngModel)]="closeTabService.saveDataForPolicies.enableValidIpRecaptcha">
                                ip مناسب در Recaptcha
                            </mat-checkbox>
                        </li>
                        <li class="number_vals">
                            recaptcha
                            <div class="plus_minus">
                                <div class="plus"
                                    (click)="closeTabService.saveDataForPolicies.requireRecaptchaInvalidAttempts= closeTabService.saveDataForPolicies.requireRecaptchaInvalidAttempts + 1">
                                    <i class="fa fa-plus"></i>
                                </div>
                                <div class="_value">
                                    {{closeTabService.saveDataForPolicies.requireRecaptchaInvalidAttempts}}</div>
                                <div class="minus"
                                    (click)="closeTabService.saveDataForPolicies.requireRecaptchaInvalidAttempts= closeTabService.saveDataForPolicies.requireRecaptchaInvalidAttempts - 1">
                                    <i class="fa fa-minus"></i>
                                </div>
                            </div>
                        </li>

                    </ul>
                </span>
            </section>
        </div>

    </section>

    <section class="content">
        <section class="_checkbox">
            <span>
                <ul>
                    <li>
                        <mat-checkbox #ref_true (click)="accessDenied(ref_true)" name="enableObscureHeaderInfo"
                            [(ngModel)]="auxDataSource.enableObscureHeaderInfo">
                            درهم ریزی HEADER
                        </mat-checkbox>
                    </li>
                    <li>
                        <mat-checkbox #ref_true (click)="accessDenied(ref_true)" name="secureCookies"
                            [(ngModel)]="auxDataSource.secureCookies">
                            رمز شدن کوکی
                        </mat-checkbox>
                    </li>
                    <li>
                        <mat-checkbox #ref_true (click)="accessDenied(ref_true)" name="STEALTH"
                            [(ngModel)]="auxDataSource.STEALTH">
                            استفاده همزمان از یک توکن
                        </mat-checkbox>
                    </li>
                    <li>
                        <mat-checkbox #ref_true (click)="accessDenied(ref_true)" name="useJWTDecoder"
                            [(ngModel)]="auxDataSource.useJWTDecoder">
                            رمز نگاری JWT
                        </mat-checkbox>
                    </li>
                    <li>
                        <mat-checkbox #ref_true (click)="accessDenied(ref_true)" name="DOSProtection"
                            [(ngModel)]="auxDataSource.DOSProtection">
                            پیشگیری از DOS
                        </mat-checkbox>
                    </li>
                    <li>
                        <mat-checkbox #ref_true (click)="accessDenied(ref_true)" name="enableXssProtection"
                            [(ngModel)]="auxDataSource.enableXSSProtection">
                            پیشگیری از حملات XSS
                        </mat-checkbox>
                    </li>
                    <li>
                        <mat-checkbox #ref_true (click)="accessDenied(ref_true)" name="CSRFProtection"
                            [(ngModel)]="auxDataSource.CSRFProtection">
                            پیشگیری از CSRF
                        </mat-checkbox>
                    </li>
                    <li>
                        <mat-checkbox #ref_true (click)="accessDenied(ref_true)" name="DDOSProtection"
                            [(ngModel)]="auxDataSource.DDOSProtection">
                            پیشگیری از حملات DDOS
                        </mat-checkbox>
                    </li>
                    <li>
                        <mat-checkbox #ref_true (click)="accessDenied(ref_true)" name="CSPProtection"
                            [(ngModel)]="auxDataSource.CSPProtection">
                            پیشگیری از HIJACKING
                        </mat-checkbox>
                    </li>
                    <li>
                        <mat-checkbox #ref_true (click)="accessDenied(ref_true)" name="HSTSProtection"
                            [(ngModel)]="auxDataSource.HSTSProtection">
                            SSL اجباری
                        </mat-checkbox>
                    </li>
                    <li>
                        <mat-checkbox #ref_true (click)="accessDenied(ref_true)" name="SanitizeUserInputs"
                            [(ngModel)]="auxDataSource.SanitizeUserInputs">
                            Sanitizer
                        </mat-checkbox>
                    </li>
                    <li>
                        <mat-checkbox #ref_true (click)="accessDenied(ref_true)" name="AES512Protection"
                            [(ngModel)]="auxDataSource.AES512Protection">
                            رمزنگاری AES512
                        </mat-checkbox>
                    </li>
                    <li>
                        <mat-checkbox #ref_true (click)="accessDenied(ref_true)" name="autoClearData"
                            [(ngModel)]="auxDataSource.autoClearData">
                            حذف خودکار SESSION
                        </mat-checkbox>
                    </li>
                </ul>
            </span>
        </section>
    </section>

</div>

<footer class="btns footer_with_background">
    <button (click)="securityService.editPolicy(closeTabService.saveDataForPolicies)" class="btn_1">ذخیره
        تغییرات</button>
</footer>