@import 'variable';
@import 'button.scss';
@import 'input.scss';
@import '_mat';
@import './plus-minus';

.over_all {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
  direction: rtl;
  justify-content: center;
  gap: var(--font_05);
}

.content {
  padding: var(--font_2) var(--font_02);
  background: var(--secondary_1);
  border-radius: 10px;
  box-shadow: 0px 2px 6px 2px var(--secondary_7);
}

._desc {
  display: grid;
  margin: auto;
  width: 90%;
  border-radius: $border_15;
}

.title {
  color: var(--secondary_5);
  text-align: center;
  margin: var(--font_xs) var(--font_05);
  font-size: var(--font_l2);
}

input {
  color: var(--secondary_5);
  margin: 0 var(--font_05) 0 auto;
}

// radio buttons
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.over_all_result {
  color: var(--primary_2);
  font-size: var(--font_s);
  font-weight: 600;
  margin-top: var(--font_2);
}

////////

::ng-deep {

  .example-radio-button {
    margin: 4px;
    background: var(--secondary_1);
    padding: var(--font_xxs);
    border-radius: $border_15;
  }

  .mat-checkbox-layout {
    margin-bottom: var(--font_05);

    .mat-checkbox-label {
      margin: 0 var(--font_05);
      font-size: var(--font_s);
      font-weight: 600;
      color: var(--secondary_6);
      line-height: 2;
      border-radius: $border_15;
      font-family: var(--font-family);
    }
  }

}

ul {
  list-style-type: none;
  margin: 0;
  padding: var(--font_025);
}

li {
  user-select: none;
}

.number_vals {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font_s);
  font-weight: 600;
  color: var(--secondary_8);
}

._checkbox {
  text-align: right;
}

.btns {
  margin: var(--font_xs);
  display: flex;
  justify-content: center;
}

.btn_1 {
  color: var(--white);
  margin: var(--font_05);
  background: var(--thirdy_1);
}

._time {
  display: flex;
  justify-content: center;
  gap: var(--font_025);
}

._time_title {
  font-size: var(--font_s);
  font-weight: 600;
  color: var(--secondary_8);
}

.t_input_2 {
  background: var(--secondary_3);
  color: var(--secondary_3);
  display: flex;
  align-items: center;
  margin: var(--font_025) 0;
  height: var(--font_26);
  min-height: 85%;
  justify-content: center;
  border: 1px solid var(--secondary_3_spec);
  border-radius: $border_7;

  .t_value {
    width: 6rem;
    border: none;
    border-radius: $border_7;
    text-align: center;
    font-size: var(--font_m);
    font-weight: 600;
    color: var(--primary_5);
    background-color: var(--white);
  }

  .t_key {
    color: var(--primary_4);
    font-size: var(--font_s);
    font-weight: 600;
    margin-left: var(--font_01);
  }

  ._colon {
    font-size: var(--font_23);
    padding: var(--font_025);
    margin: var(--font_025);
    color: blue;
  }

}