<div class="over_all">

    <div class="content">
        <section class="_checkbox">
            <span>
                <ul>
                    <li class="number_vals">
                        حداقل نویسه گذرواژه
                        <div class="plus_minus">
                            <div class="plus"
                                (click)="plusOrMinusPasswordLength(closeTabService.saveDataForPolicies.minPasswordLength + 1)">
                                <i class="fa fa-plus"></i>
                            </div>
                            <div class="_value"> {{closeTabService.saveDataForPolicies.minPasswordLength}}</div>
                            <div class="minus"
                                (click)="plusOrMinusPasswordLength(closeTabService.saveDataForPolicies.minPasswordLength - 1)">
                                <i class="fa fa-minus"></i>
                            </div>
                        </div>
                    </li>
                    <li class="number_vals">
                        آستانه مسدود شدن
                        <div class="plus_minus">
                            <div class="plus"
                                (click)="lockInvalidAttemps(closeTabService.saveDataForPolicies.lockInvalidAttempts + 1)">
                                <i class="fa fa-plus"></i>
                            </div>
                            <div class="_value">{{closeTabService.saveDataForPolicies.lockInvalidAttempts}}</div>
                            <div class="minus"
                                (click)="lockInvalidAttemps(closeTabService.saveDataForPolicies.lockInvalidAttempts - 1)">
                                <i class="fa fa-minus"></i>
                            </div>
                        </div>
                    </li>
                    <li class="number_vals">
                        مدت مسدود شدن (دقیقه)
                        <div class="plus_minus">
                            <div class="plus" (click)="lockMin(closeTabService.saveDataForPolicies.lockMin + 1)">
                                <i class="fa fa-plus"></i>
                            </div>
                            <div class="_value">{{closeTabService.saveDataForPolicies.lockMin}}</div>
                            <div class="minus" (click)="lockMin(closeTabService.saveDataForPolicies.lockMin + -1)">
                                <i class="fa fa-minus"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <mat-checkbox [(ngModel)]="closeTabService.saveDataForPolicies.passwordContainsNumber">
                            گذرواژه شامل حداقل یک عدد باشد
                        </mat-checkbox>
                    </li>
                    <li>
                        <mat-checkbox [(ngModel)]="closeTabService.saveDataForPolicies.passwordContainsLowercase">
                            گذرواژه شامل حداقل یک حرف کوچک لاتین باشد
                        </mat-checkbox>
                    </li>
                    <li>
                        <mat-checkbox [(ngModel)]="closeTabService.saveDataForPolicies.passwordContainsUppercase">
                            گذرواژه شامل حداقل یک حرف بزرگ لاتین باشد
                        </mat-checkbox>
                    </li>
                    <li>
                        <mat-checkbox [(ngModel)]="closeTabService.saveDataForPolicies.passwordContainsNonAlphaNumeric">
                            گذرواژه شامل حداقل یک حرف غیرالفبایی و غیرعددی باشد
                        </mat-checkbox>
                    </li>
                    <li>
                        <mat-checkbox [(ngModel)]="closeTabService.saveDataForPolicies.canUpdateDeviceId">
                            شناسه قابل بروز رسانی باشد
                        </mat-checkbox>
                    </li>
                </ul>
            </span>
        </section>
    </div>
    <div class="content">
        <section class="_checkbox">
            <span>
                <ul>
                    <li class="number_vals">
                        زمان session های فعال
                        <div class="plus_minus">
                            <div class="plus"
                                (click)="plusOrMinusDeactiveTerminationMinutes(closeTabService.saveDataForPolicies.deactiveTerminationMinutes + 1)">
                                <i class="fa fa-plus"></i>
                            </div>
                            <div class="_value"> {{closeTabService.saveDataForPolicies.deactiveTerminationMinutes}}
                            </div>
                            <div class="minus"
                                (click)="plusOrMinusDeactiveTerminationMinutes(closeTabService.saveDataForPolicies.deactiveTerminationMinutes - 1)">
                                <i class="fa fa-minus"></i>
                            </div>
                        </div>
                    </li>
                    <li class="input_2">
                        <div class="_key">حداکثر تعداد رکوردهای لاگ</div>
                        <input class="_value" name="maxLogRecords" maxlength="7"
                            [(ngModel)]="closeTabService.saveDataForPolicies.maxLogRecords">
                    </li>
                    <li>
                        <p class="_time_title">زمان فعالیت سامانه</p>
                        <div class="_time">
                            <div class="t_input_2">
                                <div class="t_key">از زمان</div>
                                <input class="t_value" name="fromTime" maxlength="5"
                                    [(ngModel)]="closeTabService.saveDataForPolicies.fromTime">
                            </div>
                            <div class="t_input_2">
                                <div class="t_key">تا زمان</div>
                                <input class="t_value" name="toTime" maxlength="5"
                                    [(ngModel)]="closeTabService.saveDataForPolicies.toTime">
                            </div>
                        </div>
                    </li>
                </ul>
            </span>
        </section>
    </div>

    <section class="content">
        <section class="_checkbox">
            <span>
                <ul>
                    <li>
                        <mat-checkbox #ref_true (click)="accessDenied(ref_true)" name="HSTSProtection"
                            [(ngModel)]="auxDataSource.HSTSProtection">
                            SSL اجباری
                        </mat-checkbox>
                    </li>
                </ul>
            </span>
        </section>
    </section>

</div>

<footer class="btns footer_with_background">
    <button (click)="verification()" class="btn_1">ذخیره
        تغییرات
    </button>
</footer>