@import 'variable';
@import 'uploadedImages.scss';
@import 'input.scss';
@import 'tooltip.scss';

.overall-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 24rem));
  gap: .5rem;
  direction: rtl;
  margin-bottom: $font_xs;

  @media (min-width: 550px) {
    justify-content: center;
  }
}

.test_displary_thumbs {
  display: grid;
  justify-content: center;
}

main.gallery_main {
  display: grid;
  justify-content: center;
}

.thumbnail_img {
  max-height: 8rem;
}

.main_img {
  height: 40vh;
  width: 100%;
  min-width: 40rem;
}

._is_fullcreen {
  width: 70%;
  height: 80vh;
  margin-top: 3rem;
}

._is_not_fullscreen {
  height: 40vh;
  width: 100%;
  min-width: 40rem;
}

main.carousel_gallery {
  display: grid;
  justify-content: center;

  p-galleria {
    box-shadow: 0 0 2px 2px var(--secondary_4);
  }
}

:host ::ng-deep .custom-galleria {
  &.p-galleria {
    &.fullscreen {
      display: flex;
      flex-direction: column;

      .p-galleria-content {
        flex-grow: 1;
        justify-content: center;
      }
    }

    .p-galleria-content {
      position: relative;
    }

    .p-galleria-thumbnail-wrapper {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }

    .p-galleria-thumbnail-items-container {
      width: 100%;
    }

    .custom-galleria-footer {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      background-color: rgba(0, 0, 0, .9);
      color: var(--secondary_4);
      padding-bottom: $font_xs;

      >button {
        background-color: transparent;
        color: var(--secondary_4);
        border: 0 none;
        font-size: 1.3rem;
        font-weight: 600;
        border-radius: 0;
        margin: .2rem 0;
        cursor: pointer;

        &.fullscreen-button {
          margin-left: auto;
        }

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }

      article._options {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        i {
          color: var(--secondary_4);
          border: var(--secondary_4);
          font-size: $font_xs;
          margin: .25rem;
        }
      }
    }

    .title-container {
      >span {
        font-size: .9rem;
        padding-left: .829rem;

        &.title {
          font-weight: bold;
        }
      }
    }
  }
}
