@import 'variable';
@import 'uploadedImages.scss';
@import 'input.scss';
@import 'tooltip.scss';

.overall-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 24rem));
  gap: .5rem;
  direction: rtl;
  margin-bottom: $font_xs;

  @media (min-width: 550px) {
    justify-content: center;
  }
}
