<main class="main">
    <form #form="ngForm" (ngSubmit)="connectToServer()">
        <section class="content">
            <div class="input_2">
                <div class="_key">ناحیه</div>
                <mat-select placeholder="انتخاب مورد" [(ngModel)]="searchService._searchSimpleReq.zoneId" name="zoneId">
                    <mat-option *ngFor="let truefalse of zoneDictionary" [value]="truefalse.id">
                        {{truefalse.title}}
                    </mat-option>
                </mat-select>
            </div>

            <input class="input_1" type="number" placeholder="دوره قرائت" name="readingPeriod"
                [(ngModel)]="searchService._searchSimpleReq.readingPeriodId">

            <div class="input_2">
                <div class="_key">سال</div>
                <mat-select placeholder="انتخاب مورد" [(ngModel)]="searchService._searchSimpleReq.year" name="year">
                    <mat-option *ngFor="let truefalse of _years" [value]="truefalse.value">
                        {{truefalse.title}}
                    </mat-option>
                </mat-select>
            </div>
            <div class="input_2">
                <div class="_key">از</div>
                <div class="_value">
                    <app-date-jalali name="fromDate" (dateJalEvent)="searchService.receiveFromDateJalali($event)">
                    </app-date-jalali>
                </div>
            </div>
            <div class="input_2">
                <div class="_key">تا</div>
                <div class="_value">
                    <app-date-jalali name="toDate" (dateJalEvent)="searchService.receiveToDateJalali($event)">
                    </app-date-jalali>
                </div>
            </div>
        </section>

        <button type="submit" class="tooltip btn_2_o">
            <i class="pi pi-search"></i>
            جستجو
        </button>
    </form>
</main>

<app-prime-table *ngIf="dataSource.length" [_selectCols]="_selectCols" [_selectedColumns]="selectedColumns"
    [dataSource]="dataSource" [_outputFileName]="'simpleSearch'" [_checkUpName]="'simpleSearch'"
    [_rowsPerPage]="[10,20,50,100, 500, 1000]" [_selectedColumnsToRemember]="'selectedSearchManagerSimple'"
    [_numberOfExtraColumns]="[1,2,3,4]" [_sessionName]="'simpleSearch-session'" (refreshedTable)="refreshTable()"
    (routedToLMAll)="searchService.routeToLMAll($event)" (routedToLMPayDay)="searchService.routeToLMPayDay($event)"
    (routedToFollowUp)="searchService.routeToFollowUp($event)"
    (routedToFollowUp)="searchService.routeToFollowUp($event)" (showedInMap)="searchService.showInMap($event)">
</app-prime-table>