<main class="main">
    <form #form="ngForm" (ngSubmit)="connectToServer()">
        <section class="order_by">
            <h2>صدور بر اساس :</h2>
            <mat-radio-group aria-labelledby="radio_group" [(ngModel)]="searchService._isOrderByDate"
                name="_isOrderByDate">
                <mat-radio-button class="radio_button" *ngFor="let orderType of searchService.searchInOrderTo"
                    [value]="orderType.isSelected">
                    {{orderType.title}}
                </mat-radio-button>
            </mat-radio-group>
        </section>
        <hr>
        <section class="content">
            <div class="input_2">
                <div class="_key">ناحیه</div>
                <p-dropdown name="zones" [options]="zoneDictionary" [(ngModel)]="searchService._searchSimpleReq.zoneId"
                    placeholder="انتخاب مورد" [style]="{'width':'100%'}" optionValue="id" optionLabel="title"
                    filter="true">
                </p-dropdown>
            </div>

            <div class="input_2" [hidden]="searchService._isOrderByDate">
                <div class="_key">نوع دوره</div>
                <mat-select placeholder="انتخاب مورد" [(ngModel)]="_selectedKindId" name="_selectedKindId">
                    <mat-option (click)="getReadingPeriod()" *ngFor="let truefalse of readingPeriodKindDictionary"
                        [value]="truefalse.id">
                        {{truefalse.title}}
                    </mat-option>
                </mat-select>
            </div>

            <div class="input_2" [hidden]="!readingPeriodDictionary.length || searchService._isOrderByDate">
                <div class="_key">دوره قرائت</div>
                <mat-select placeholder="انتخاب مورد" [(ngModel)]="searchService._searchSimpleReq.readingPeriodId"
                    name="readingPeriodId">
                    <mat-option *ngFor="let truefalse of readingPeriodDictionary" [value]="truefalse.id">
                        {{truefalse.title}}
                    </mat-option>
                </mat-select>
            </div>

            <div class="input_2" [hidden]="searchService._isOrderByDate">
                <div class="_key">سال</div>
                <mat-select placeholder="انتخاب مورد" [(ngModel)]="searchService._searchSimpleReq.year" name="year">
                    <mat-option *ngFor="let truefalse of _years" [value]="truefalse.value">
                        {{truefalse.title}}
                    </mat-option>
                </mat-select>
            </div>
            <div class="input_2" [hidden]="!searchService._isOrderByDate">
                <div class="_key">از</div>
                <div class="_value">
                    <app-date-jalali name="fromDate"
                        (dateJalEvent)="searchService.receiveFromDateJalali(searchService.ENSearchs.simple, $event)"
                        [dateObject]="searchService._searchSimpleReq.fromDate">
                    </app-date-jalali>
                </div>
            </div>
            <div class="input_2" [hidden]="!searchService._isOrderByDate">
                <div class="_key">تا</div>
                <div class="_value">
                    <app-date-jalali name="toDate"
                        (dateJalEvent)="searchService.receiveToDateJalali(searchService.ENSearchs.simple, $event)"
                        [dateObject]="searchService._searchSimpleReq.toDate">
                    </app-date-jalali>
                </div>
            </div>
        </section>

        <button type="submit" class="tooltip btn_2_o">
            <i class="pi pi-search"></i>
            جستجو
        </button>
    </form>
</main>

<app-prime-table [dataSource]="dataSource"
    [_outputFileName]="'simpleSearch'" [_checkUpName]="'simpleSearch'"
    [_selectedColumnsToRemember]="'selectedSearchManagerSimple'" [_numberOfExtraColumns]="[1,2,3,4]"
    [_sessionName]="'simpleSearch-session'" (refreshedTable)="refreshTable()"
    (routedToLMAll)="searchService.routeToLMAll($event)" (routedToLMPayDay)="searchService.routeToLMPayDay($event)"
    (routedToFollowUp)="searchService.routeToFollowUp($event)" (showedInMap)="searchService.showInMap($event)">
</app-prime-table>