@import 'primeNG.scss';
@import 'input.scss';
@import 'button.scss';
@import '_mat.scss';

.main {
  direction: rtl;
  background: var(--secondary_1);
  box-shadow: 1px 1px 8px 4px var(--secondary_4);
  padding: var(--font_05);
  border-radius: $border_15;
  border: 1px solid var(--primary_2);
}

section.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9rem, 14rem));
  gap: var(--font_05);
  justify-content: center;
  align-items: center;
}

.tooltip {
  cursor: pointer;
}

.order_by {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.input_1 {
  border-radius: 10px;
  min-width: 100%;
}

.btn_1 {
  width: 14rem;
  margin-top: var(--font_l);
  color: var(--white);
  background-color: var(--orange_500);
}

h2 {
  color: var(--secondary_6);
  white-space: nowrap;
}

h3 {
  color: var(--primary_3);
  font-size: var(--font_m2);
  padding: var(--font_05);
}

[hidden] {
  display: none;
}
