<app-prime-table-editable     
    [dataSource]="closeTabService.ownershipType" 
    [_checkUpName]="'ownershipType'"
    [_outputFileName]="ownershipColumns"
    [_numberOfExtraColumns]="[1, 2]"
    [_isInRowEditing]=true
    [newRow]="newRow()"
    [newRowLimit]="newRowLimit"
    [_sessionName]="'ownershipType-session'"
    [_selectedColumnsToRemember]="'selectedOwnershipType'"
    (newedRowChangedStatus)="testChangedValue()"
    (refreshedTable)="callAPI()"     
    (removedRowEditing)="removeRow($event)"        
    (onRowEditedSave)="onRowEditSave($event)"
 > 
</app-prime-table-editable>