@import 'primeNG';
@import 'input.scss';
@import 'button.scss';

.container {
  display: grid;
  direction: rtl;
  grid-template-columns: repeat(auto-fit, minmax(15rem, auto));
  gap: 0.3rem;
}

.content {
  display: grid;
  background: var(--secondary_1);
  box-shadow: 1px 1px 1px 4px var(--secondary_4);
  text-align: center;
  padding: $font_s 0.2rem;
  min-height: 15rem;
  border-radius: $border_15;

  .double_size {
    grid-column: auto/ span 2;
    flex-wrap: wrap;

    @media (min-width: 550px) {
      width: 20rem;
    }
  }

  .inner_boundry {
    display: grid;
    font-size: $font_s;
    text-align: right;
  }
}


.title {
  top: $font_2;
  font-size: $font_m;
  color: var(--primary_3);
  font-weight: 800;
  padding: 0 $font_xs;
}


._key {
  font-size: $font_s;
  font-weight: 600;
  color: var(--primary_5);
}

._value {
  font-size: $font_l;
  font-weight: 600;
  color: var(--primary_5);
  border: none;
}

.input_2 {
  min-width: 100%;
  color: var(--secondary_5);
  margin-bottom: $font_05;
  box-shadow: 1px 1px 8px 1px var(--secondary_4);
}

.p-field-checkbox {
  display: flex;
  align-items: center;

  label {
    font-size: $font_m;
    font-weight: 600;
  }
}

footer {
  margin-top: $font_s;
}
