@import 'primeNG';
@import 'input.scss';
@import 'button.scss';

.container {
  display: grid;
  direction: rtl;
  grid-template-columns: repeat(auto-fit, minmax(15rem, auto));
  gap: 0.3rem;
}

.content {
  background: var(--secondary_1);
  box-shadow: 1px 1px 8px 4px var(--secondary_4);
  text-align: center;
  padding: 2rem 0;
  min-height: 20rem;
  border-radius: $border_15;
}

.title {
  top: $font_2;
  font-size: $font_m;
  color: var(--primary_3);
  font-weight: 800;
  padding: 0 $font_xs;
}


._key {
  font-size: $font_s;
  font-weight: 600;
  color: var(--primary_5);
}

._value {
  font-size: $font_l;
  font-weight: 600;
  color: var(--primary_5);
  direction: ltr;
}

.input_2 {
  min-width: 100%;
  color: var(--secondary_5);
  margin-bottom: $font_05;
  box-shadow: 1px 1px 8px 1px var(--secondary_4);
}
