<form #form="ngForm" (ngSubmit)="verification()">
    <div class="container">
        <div class="content">
            <div class="title">عنوان1</div>

            <div class="input_2">
                <div class="_key">title</div>
                <input class="_value" type="text" name="title" [(ngModel)]="toolsService.dynamicReq.title">
            </div>

            <div class="title">desc</div>
            <div class="input_2">
                <div class="_key">desc</div>
                <input class="_value" type="text" name="desc" [(ngModel)]="toolsService.dynamicReq.description">
            </div>

            <div class="title">url</div>
            <div class="input_2">
                <div class="_key">url</div>
                <input class="_value" type="text" name="url" [(ngModel)]="toolsService.dynamicReq.url">
            </div>
        </div>
        <div class="content">
            <div class="title">Chckboxes</div>
            <div *ngFor="let category of jsonInfo" class="p-field-checkbox">
                <p-checkbox name="{{category.name}}" value="{{category.value}}" [value]="category.value"
                    [(ngModel)]="_selectedJsonInfo" [inputId]="category.key"></p-checkbox>
                <label [for]="category.name">{{category.name}}</label>
            </div>
        </div>
        <div class="content">
            <div class="title">paramSendTye</div>
            <div *ngFor="let item of paramSendType">
                <div class="p-field-radiobutton">
                    <p-radioButton name="{{item.name}}" value="{{item.type}}" [(ngModel)]="_selectedParamSendType"
                        inputId="type"></p-radioButton>
                    <label for="{{item.name}}">{{item.name}}</label>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="title">METHODS</div>
            <div *ngFor="let item of methods">
                <div class="p-field-radiobutton">
                    <p-radioButton name="{{item.name}}" value="{{item.method}}" [(ngModel)]="_selectedMethod"
                        inputId="methodKind"></p-radioButton>
                    <label for="{{item.name}}">{{item.name}}</label>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <button type="submit">ثبت</button>
    </footer>
</form>