<section class="content">
    <section class="collapse">
        <h1>مقایسه تغییرات</h1>
    </section>

    <table>
        <tbody>
            <div>
                <tr>
                    <td class="_head">قبلی</td>
                </tr>
                <tr *ngFor="let item of dataSource.previous">
                    <td>
                        {{item.titleUnicode}}
                    </td>
                </tr>
            </div>
            <div>
                <tr>
                    <td class="_head">فعلی</td>
                </tr>
                <tr *ngFor="let item of dataSource.this">
                    <td>
                        {{item.titleUnicode}}
                    <td>
                </tr>
            </div>
        </tbody>

    </table>
</section>