@import 'variable';
@import 'compare';

tbody {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

._head {
    background-color: var(--secondary_8);
    color: var(--white);
}

tr {
    display: grid;
    text-align: center;
    font-weight: 600;
    font-size: var(--font_s);
}