<app-prime-table
    [dataSource]="closeTabService.offeringUnit" 
    [_checkUpName]="'branches'"
    [_outputFileName]="'offeringUnit'"
    [_numberOfExtraColumns]="[1, 2]"
    [isAddableTable]="true"    
    [_sessionName]="'offeringUnit-session'"
    [_selectedColumnsToRemember]="'selectedOfferingUnit'"
    (refreshedTable)="callAPI()"     
    (showedMoreDetails)="removeRow($event)"    
    (openedAddDialog)="openAddDialog()"    
    (openedEditDialog)="openEditDialog($event)"
 > 
</app-prime-table>