<app-prime-table
[dataSource]="closeTabService.saveDataForAllUsers"
[_numberOfExtraColumns]="[1, 2, 3]"
[_sessionName]="'user-all-session'"
[_outputFileName]="'userAll'"
[_checkUpName]="'userAll'"
[_selectedColumnsToRemember]="'selectedUsersAll'"
[_hasSaveColumns]=true
(refreshedTable)="refreshTable()"
(routedToEditPage)="usersAllService.routeToEditPage($event)"
(showedExactConfig)="showExactConfig($event)"
(showedPictures)="openAddDialog($event)"
(downloadedAPK)="usersAllService.routeToAddAUser()"
></app-prime-table>