<app-prime-table
[dataSource]="dataSource"
[_numberOfExtraColumns]="[1 , 2 , 3]"
[_sessionName]="'user-all-session'"
[_sortMode]="'multiple'"
[_outputFileName]="'userAll'"
[_selectedColumnsToRemember]="'selectedUsersAll'"
[_hasSaveColumns]=true
[_checkUpName]="'userAll'"
(refreshedTable)="refreshTable()"
(routedToEditPage)="usersAllService.routeToEditPage($event)"
(routedToLoggs)="routeToLoggs($event)"
(showedExactConfig)="showExactConfig($event)"
(unlockedUser)="unLockUser($event)"
(ActivatedUser)="ActivateUser($event)"
(DeActivatedUser)="DeActivateUser($event)"
(resetedPasswordUser)="resetPasswordUser($event)"
></app-prime-table>