<app-prime-table
[dataSource]="dataSource"
[_selectCols]="_selectCols"
[_selectedColumns]="_selectedColumns"
[_numberOfExtraColumns]="[1 , 2 , 3]"
[_sessionName]="'user-all-session'"
[_sortMode]="'multiple'"
[_outputFileName]="'userAll'"
[_selectedColumnsToRemember]="'selectedUsersAll'"
[_outputEnabled]=false
[_hasSaveColumns]=false
[_checkUpName]="'userAll'"
(refreshedTable)="refreshTable()"
(routedToEditPage)="routeToEditPage($event)"
(routedToLoggs)="routeToLoggs($event)"
(showedExactConfig)="showExactConfig($event)"
(ActivatedUser)="ActivateUser($event)"
(DeActivatedUser)="DeActivateUser($event)"
(resetedPasswordUser)="resetPasswordUser($event)"
></app-prime-table>