@import '../../../../assets/primeNG.scss';
@import '../../../../assets/tooltip.scss';

.map-frame {
  position: relative;
}

.more_configs {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  display: flex;
  justify-content: space-around;
  left: 2rem;
  top: -3rem;
  z-index: 100;
  background: $white;
  width: 9rem;
  margin: $font_xs;
  padding: $font_xs 0;
  text-align: center;
  border-radius: $border_15;
  box-shadow: 0px 2px 3px 1px $blue_gray_700;
}

.bbr {
  padding: $font_05;
  background-color: #3686c933;
  border-radius: $border_50;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0px 0px 1px 1px $blue_gray_300;
  }
}

// ts config
.showConfigs {
  opacity: 1;
  visibility: visible;
}

// 
._map_frame_show::after {
  position: absolute;
  border: 1px solid blue;
  width: 10rem;
  height: 4rem;
}