<section>

    <h1 class="title">اطلاعات مکانی</h1>
    <form #form="ngForm" (ngSubmit)="editCloseData()" class="content">
        <div class="_desc">
            <div *ngFor="let mainDatas of _selectedDatas">
                <ng-container
                    *ngIf="dataSource[mainDatas.field] === true || dataSource[mainDatas.field] === false; else elseTemplate">
                    <mat-checkbox name="{{mainDatas.field}}" [(ngModel)]="dataSource[mainDatas.field]">
                        {{mainDatas.header}}</mat-checkbox>
                </ng-container>
                <ng-template #elseTemplate>
                    <div class="input_2">
                        <div class="_key">{{mainDatas.header}}</div>
                        <input class="_value" name="{{mainDatas.field}}" [(ngModel)]="dataSource[mainDatas.field]">
                    </div>
                </ng-template>
            </div>
        </div>
        <button class="btn_2_o" type="submit">ویرایش مسیر</button>
    </form>
</section>