@import 'primeNG.scss';
@import 'input.scss';
@import 'button.scss';
@import '_mat';

section {
  font-family: $font_family;
}

.content {
  background: var(--secondary_1);
  box-shadow: 1px 1px 8px 4px var(--secondary_2);
  text-align: center;
  padding: var(--font_05);
  margin-bottom: var(--font_xs);
  justify-content: space-around;
  border-radius: $border_15;
}

._desc {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, auto));
  direction: rtl;
  justify-content: center;
  gap: var(--font_05);
  align-items: center;
  border-radius: $border_15;
  text-align: right;
}

._value {
  border: 0;
}

.title {
  color: var(--thirdy_1);
  text-align: center;
  font-size: var(--font_l2);
}

.btn_1 {
  margin: 2rem auto;
}

input {
  color: var(--secondary_5);
  margin: 0 auto;
}

// dialog conf
:host ::ng-deep {
  .p-dialog .p-dialog-header {
    background: var(--secondary_1);
    direction: rtl;
  }
}

.check_boxes {
  padding: var(--font_025);
}

// 

// materials 
::ng-deep {
  .mat-checkbox-layout {
    .mat-checkbox-label {
      margin: 0 var(--font_05);
      font-size: var(--font_s);
      font-weight: 600;
      color: var(--primary_5);
      line-height: 2;
      border-radius: $border_15;
      font-family: $font_family;
    }
  }
}
