@import '../../../../../../assets/variable';
@import '../../../../../../assets/input.scss';
@import '../../../../../../assets/button.scss';
@import '../../../../../../assets/mat';

section {
  font-family: $font_family;
}

.content {
  background: $gray_100;
  box-shadow: 1px 1px 8px 4px $gray_200;
  text-align: center;
  padding: $font_05;
  justify-content: space-around;
  border-radius: $border_15;
}

._desc {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, auto));
  direction: rtl;
  justify-content: center;
  gap: $font_05;
  align-items: center;
  border-radius: $border_15;
  text-align: right;
}

._value {
  border: 0;
}

.title {
  color: $blue_gray_300;
  text-align: center;
  margin: $font_xs $font_05;
  font-size: 1.6rem;
}

input {
  color: $gray_500;
  margin: 0 auto;
  // box-shadow: 1px 1px 8px 1px $gray_200;
}

.coloring_border {
  border: 1.5px solid $orange_600;
  animation: pulse-new-button 500ms;
}

// dialog conf
:host ::ng-deep {
  .p-dialog .p-dialog-header {
    background-color: $blue_gray_300;
    direction: rtl;
  }
}

// 

// materials 
::ng-deep {
  .mat-checkbox-layout {
    .mat-checkbox-label {
      margin: 0 $font_05;
      font-size: $font_s;
      font-weight: 600;
      color: $blue_700;
      line-height: 2;
      border-radius: $border_15;
      font-family: $font_family;
    }
  }
}
