<form #form="ngForm" (ngSubmit)="connectToServer()" class="_card"
    [@openClose]="manageServerService.utilsService.collapser.serverError ? 'slideUp' : 'slideDown'">
    <div class="input_2">
        <div class="_key">انتخاب نوع خطا</div>
        <div class="_value">
            <p-multiSelect [maxSelectedLabels]="1" [options]="manageServerService.serverErrors" name="errors"
                [(ngModel)]="selectedErrors" optionLabel="name" optionValue="errorType"
                selectedItemsLabel="{0} مورد انتخاب شده" placeholder="انتخاب مورد" [filter]="true" showClear="true">
            </p-multiSelect>
        </div>
    </div>
    <button type="submit" class="btn_1">
        مشاهده
        <i class="pi pi-list"></i>
    </button>
</form>

<app-prime-table [dataSource]="closeTabService.saveDataForServerErrors" [_outputFileName]="'serverErrors'"
    [_numberOfExtraColumns]="[1]" [_checkUpName]="'serverErrors'" [_sessionName]="'serverErr-session'" [_selectedColumnsToRemember]="'selectedServerErrors'"
    (clickedElmah)="linkToElmah($event)" (refreshedTable)="refreshTable()" [_hasCollapsible]=true
    [_isCollaped]="manageServerService.utilsService.collapser.serverError"
    (collapsed)="manageServerService.utilsService.collapser.serverError = !manageServerService.utilsService.collapser.serverError">
</app-prime-table>