<form>
    <h2 class="top_title">درخواست خود را انتخاب نمایید</h2>
    <div class="_desc">
        <div *ngFor="let col of _selectCols" [ngClass]="{'double_size':col.icon}">
            <div class="input_icon">
                <i class="pi pi-bookmark _bookmark"></i>
                <div class="input_3">
                    <div class="_key">نوع خدمت</div>
                    <div class="_value">
                        <p-multiSelect [maxSelectedLabels]="1" [options]="offeringGroupDictionary" name="usageId"
                            [(ngModel)]="closeTabService.requestDraftReq.offeringIds" optionLabel="title"
                            optionValue="id" selectedItemsLabel="{0} مورد انتخاب شده" [style]="{minWidth: '100%'}"
                            placeholder="انتخاب مورد">
                        </p-multiSelect>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>