<main class="main">
    <form #form="ngForm" (ngSubmit)="connectToServer()">
        <section class="content">
            <div class="input_2">
                <div class="_key">ناحیه</div>
                <div class="_value">
                    <p-dropdown name="zones" [options]="zoneDictionary"
                        [(ngModel)]="listManagerService.searchReqMoshDialog.zoneId" placeholder="انتخاب مورد"
                        optionValue="id" optionLabel="title" filter="true">
                    </p-dropdown>
                </div>
            </div>
            <input class="input_1" type="number" placeholder="اشتراک را وارد نمایید " name="counterNumber"
                [(ngModel)]="listManagerService.searchReqMoshDialog.item" autofocus>

            <button type="submit" class="tooltip btn_1">
                <i class="pi pi-search"></i>
                جستجو
            </button>
        </section>
    </form>
</main>

<app-prime-table *ngIf="dataSource.length" [dataSource]="dataSource" [_outputFileName]="'searchMoshDialog'"
    [_checkUpName]="'allComponent'" [_sessionName]="'searchmoshdg-session'"
    [_selectedColumnsToRemember]="'selectedListManagerMoshDialog'" [_numberOfExtraColumns]="[1,2,3]"
    (showedPictures)="listManagerService.getReadingReportTitles($event)" (showedInMapSingle)="openMapDialog($event)"
    (refreshedTable)="refreshTable()">
</app-prime-table>

<section *ngIf="!dataSource || dataSource.length === 0">
    <tr class="empty_data">
        موردی پیدا نشد
    </tr>
</section>