@import '../../../assets/variable';
@import '../../../assets/button.scss';
@import '../../../assets/input.scss';

.over_all {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 29rem));
  direction: rtl;
  justify-content: center;
  gap: 3rem;
}

main {

  ._profile_img {
    margin-bottom: $font_2;
  }

  .fa-user {
    font-size: 4rem;
    color: $gray_400;
    background: $white;
    border-radius: $border_50;
    height: 7rem;
    width: 7rem;
    padding: $font_2;
    margin: auto;

    display: grid;
    place-content: center;
  }

}

._key {
  min-width: 7rem;
}

._value {
  max-width: inherit;
}

.content {
  background: $gray_100;
  box-shadow: 1px 1px 8px 4px $gray_400;
  text-align: center;
  padding: $font_2 0;
  justify-content: space-around;
  border-radius: $border_15;
  min-height: 25rem;
}

._desc {
  display: grid;
  margin: auto;
  padding: $font_xs 0;
  width: 90%;
  justify-content: space-around;
  border-radius: $border_15;
}

.title {
  color: $blue_400;
  text-align: right;
  margin: $font_xs $font_05;
  font-size: 1.6rem;
}

.change_pass {
  text-align: center;

  button {
    background: $blue_400;
    margin: $font_2;
    color: $white;
  }
}

.input_2 {
  min-width: 23rem;
  color: $gray_500;
  margin-bottom: $font_05;
  box-shadow: 1px 1px 8px 1px $gray_400;
}
