<div class="over_all">
    <main>
        <h1 class="title">مشخصات کاربری</h1>
        <div class="content">
            <div class="_desc">
                <div *ngFor="let item of _selectCols" class="input_2">
                    <div class="_key">{{item.header}}</div>
                    <div class="_value">{{myInfoDataSource[item.field]}}</div>
                </div>
            </div>
        </div>
    </main>

    <section>

        <h1 class="title">تغییر گذرواژه</h1>
        <form #form="ngForm" (ngSubmit)="changePassword()" class="content">

            <div class="_desc">
                <div class="input_2">
                    <div class="_key">گذرواژه فعلی</div>
                    <input class="_value" type="password" name="oldPassword" [(ngModel)]="password.oldPassword">
                </div>
                <div class="input_2">
                    <div class="_key">گذرواژه جدید</div>
                    <input class="_value" type="password" name="newPassword" [(ngModel)]="password.newPassword">
                </div>
                <div class="input_2">
                    <div class="_key">تکرار گذرواژه جدید</div>
                    <input class="_value" type="password" name="confirmPassword" [(ngModel)]="password.confirmPassword">
                </div>
            </div>

            <div class="change_pass">
                <button type="submit" class="btn_2">ذخیره</button>
            </div>
        </form>

    </section>

    <section>
        <h1 class="title">نمایش تصاویر بطور گروهی</h1>
        <div class="content">
            <p-selectButton [options]="stateOptions" [(ngModel)]="profileService.showStateVals.groupImgs"
                optionLabel="label" optionValue="value"
                (onChange)="setValueOfShowCarouselMedia(profileService.showStateVals.groupImgs)">
            </p-selectButton>
        </div>
    </section>

    <section>
        <h1 class="title">جستجو براساس</h1>
        <div class="content">
            <p-selectButton [options]="stateOptionsSearchType"
                [(ngModel)]="profileService.showStateVals.searchBasedOnDate" optionLabel="label" optionValue="value"
                (onChange)="setBasedOnDate(profileService.showStateVals.searchBasedOnDate)">
            </p-selectButton>
        </div>
    </section>

    <section>
        <h1 class="title">وضعیت Spinner</h1>
        <div class="content">
            <p-selectButton [options]="stateOptionsSpinner"
                [(ngModel)]="profileService.showStateVals.hasCanclableSpinner" optionLabel="label" optionValue="value"
                (onChange)="setCanclableSpinner(profileService.showStateVals.hasCanclableSpinner)">
            </p-selectButton>
        </div>
    </section>
</div>