<div class="over_all">
    <main>
        <h1 class="title">مشخصات کاربری</h1>
        <div class="content">
            <div class="_desc">
                <div *ngFor="let item of _selectCols" class="input_2">
                    <div class="_key">{{item.header}}</div>
                    <div class="_value">{{myInfoDataSource[item.field]}}</div>
                </div>
            </div>
        </div>
    </main>

    <section>

        <h1 class="title">تغییر گذرواژه</h1>
        <form #form="ngForm" (ngSubmit)="changePassword()" class="content">

            <div class="_desc">
                <div class="input_2">
                    <div class="_key">گذرواژه فعلی</div>
                    <input class="_value" type="password" name="oldPassword" [(ngModel)]="password.oldPassword">
                </div>
                <div class="input_2">
                    <div class="_key">گذرواژه جدید</div>
                    <input class="_value" type="password" name="newPassword" [(ngModel)]="password.newPassword">
                </div>
                <div class="input_2">
                    <div class="_key">تکرار گذرواژه جدید</div>
                    <input class="_value" type="password" name="confirmPassword" [(ngModel)]="password.confirmPassword">
                </div>
            </div>

            <div class="change_pass">
                <button type="submit" class="btn_2">ذخیره</button>
            </div>
        </form>

    </section>

    <section class="content">

        <h1 class="title">نمایش تصاویر بطور گروهی</h1>
        <p-selectButton [options]="stateOptions" [(ngModel)]="showStateVals.groupImgs" optionLabel="label"
            optionValue="value" (onChange)="setValueOfShowCarouselMedia(showStateVals.groupImgs)">
        </p-selectButton>

    </section>
    <section class="content">

        <h1 class="title">جستجو براساس نوع</h1>
        <p-selectButton [options]="stateOptions" [(ngModel)]="showStateVals.searchBasedOnDate" optionLabel="label"
            optionValue="value" (onChange)="setBasedOnDate(showStateVals.searchBasedOnDate)">
        </p-selectButton>

    </section>
</div>