@import 'variable';
@import 'button.scss';
@import 'input.scss';

.over_all {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 29rem));
  direction: rtl;
  justify-content: center;
  gap: $font_2;
}

main {

  ._profile_img {
    margin-bottom: $font_2;
  }

  .fa-user {
    font-size: 4rem;
    color: var(--secondary_4);
    background: var(--white);
    border-radius: $border_50;
    height: 7rem;
    width: 7rem;
    padding: $font_2;
    margin: auto;

    display: grid;
    place-content: center;
  }

}

._key {
  min-width: 8.5rem;
  text-align: right;
}

._value {
  max-width: inherit;
  border: 0;
  overflow-y: hidden;
  overflow-x: auto;
}

.content {
  background: var(--secondary_1);
  box-shadow: 1px 1px 8px 4px var(--secondary_4);
  text-align: center;
  padding: $font_2 0;
  justify-content: space-around;
  border-radius: $border_15;
  min-height: 10rem;
}

._desc {
  display: grid;
  margin: auto;
  padding: $font_xs 0;
  width: 90%;
  justify-content: space-around;
  border-radius: $border_15;
}

.title {
  color: var(--primary_3);
  text-align: center;
  margin: $font_xs $font_05;
  font-size: 1.6rem;
}

.change_pass {
  text-align: center;

  button {
    background: var(--primary_2);
    margin: $font_2;
    color: var(--white);
  }
}

.input_2 {
  min-width: 100%;
  color: var(--secondary_5);
  margin-bottom: $font_05;
  box-shadow: 1px 1px 8px 1px var(--secondary_4);
}
