<div class="over_all">
    <main>
        <h1 class="title">مشخصات کاربری</h1>
        <div class="content">
            <div class="_profile_img">
                <div class="fa fa-user"></div>
            </div>
            <div class="_desc">
                <div class="input_2">
                    <div class="_key">نام کاربری :</div>
                    <div class="_value">مقدار 1</div>
                </div>
                <div class="input_2">
                    <div class="_key">رمز عبور :</div>
                    <div class="_value">مقدار2</div>
                </div>
            </div>            
        </div>
    </main>

    <section>

        <h1 class="title">تغییر رمز عبور</h1>
        <div class="content">
            <div class="_desc">
                <input class="input_1" type="text" placeholder="رمز عبور فعلی :">
                <input class="input_1" type="text" placeholder="رمز عبور جدید :">
                <input class="input_1" type="text" placeholder="تکرار رمز عبور جدید :">
            </div>
            <div class="change_pass">
                <button class="btn_2">ذخیره</button>
            </div>
        </div>

    </section>
</div>