<section>
    <h2 class="title">{{offeringUnitReq.isEditing? 'ویرایش واحد': 'افزودن واحد'}}</h2>
    <hr>
    <form #form="ngForm" (ngSubmit)="verification()">
        <div class="content">
            <div class="input_icon">
                <i class="pi pi-bookmark _bookmark"></i>
                <div class="input_3" *ngFor="let mainDatas of columnManager.getColumnsMenus('offeringUnitAdd')">
                    <div class="_key">{{mainDatas.header}}</div>
                    <input class="_value" name="{{mainDatas.field}}" [(ngModel)]="offeringUnitReq[mainDatas.field]">
                </div>
            </div>
        </div>

        <footer>
            <button type="submit" class="btn_1">
                {{offeringUnitReq.isEditing? 'ویرایش واحد': 'افزودن واحد'}}
                <i class="pi pi-list"></i>
            </button>
        </footer>

    </form>
</section>