<app-prime-table-editable     
    [dataSource]="closeTabService.saveDataForAppLevel1"
    [_checkUpName]="'addItem'" 
    [_outputFileName]="'auth1'"   
    [_outputEnabled]= false
    [_numberOfExtraColumns]="[1, 2]"
    [_selectedColumnsToRemember]="'selectedAuth1'"
    [_sessionName]="'auth1-session'"
    (refreshedTable)="callAPI()"
    (openedAddDialog)="openAddDialog()"
    (removedRow)="removeRow($event)"
    (onRowEditedInit)="onRowEditInit($event)"
    (onRowEditedSave)="onRowEditSave($event)"
 > 
</app-prime-table-editable>