<div class="_description">
    <ul>
        <h2>مراحل انجام نصب انشعاب</h2>
        <li>ثبت اولیه درخواست</li>
        <li>تخصیص کد پیگیری و هماهنگی های لازم جهت بازدید از محل</li>
        <li>ارزیابی و بررسی وجود شبکه آب و یا آب و فاضلاب در محل مورد تقاضا</li>
        <li>صدور معرفی نامه به ارگانهای مرتبط جهت اخذ مجوزهای لازم</li>
        <li>انجام محاسبات و صدور صورتحساب هزینه های انشعاب</li>
        <li>پرداخت الکترونیکی صورت حساب صادره (از طریق شناسه قبض و شناسه پرداخت)</li>
        <li>ثبت اطلاعات و تخصیص شماره اشتراک</li>
        <li>ارسال جهت نصب انشعاب توسط پیمانکار ، نصب و تحویل انشعاب و در پایان ترمیم ترانشه محل حفاری شده </li>
        <li>اطلاع رسانی به متقاضی در تمامی مراحل واگذاری انشعاب از طریق سامانه الکترونیکی شامل : ( اینترنت ، پیام
            کوتاه ،
            ایمیل، تلفن گویا ) جهت پیگیری</li>
    </ul>
</div>