@import 'variable';
@import 'input.scss';

.overall-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 19rem));
  gap: var(--font_025);
  direction: rtl;

  @media (min-width: 550px) {
    justify-content: center;
  }
}
