<form #form="ngForm" (ngSubmit)="connectToServer()">
    <section class="d_grid_center">

        <div class="input_2">
            <div class="_key">ناحیه</div>
            <mat-select placeholder="انتخاب مورد" [(ngModel)]="dbfOutput.zoneId" name="zoneId">
                <mat-option *ngFor="let truefalse of zoneDictionary" [value]="truefalse.id">
                    {{truefalse.title}}
                </mat-option>
            </mat-select>
        </div>
        <div class="input_2">
            <div class="_key">از</div>
            <div class="_value">
                <app-date-jalali style="border:none !important" name="fromDate"
                    (dateJalEvent)="receiveFromDateJalali($event)">
                </app-date-jalali>
            </div>
        </div>
        <div class="input_2">
            <div class="_key">تا</div>
            <div class="_value">
                <app-date-jalali name="toDate" (dateJalEvent)="receiveToDateJalali($event)">
                </app-date-jalali>
            </div>
        </div>

        <button type="submit" class="btn_1">
            دریافت فایل
            <i class="pi pi-download"></i>
        </button>

    </section>
</form>