<form #form="ngForm" (ngSubmit)="connectToServer()">
    <section>

        <div class="input_2">
            <div class="_key">ناحیه</div>
            <p-dropdown name="zones" [options]="zoneDictionary" [(ngModel)]="dbfOutput.zoneId" placeholder="انتخاب مورد"
                [style]="{'width':'100%'}" optionValue="id" optionLabel="title" filter="true">
            </p-dropdown>
        </div>
        <div class="input_2">
            <div class="_key">از</div>
            <div class="_value">
                <app-date-jalali style="border:none !important" name="fromDate"
                    (dateJalEvent)="receiveFromDateJalali($event)">
                </app-date-jalali>
            </div>
        </div>
        <div class="input_2">
            <div class="_key">تا</div>
            <div class="_value">
                <app-date-jalali name="toDate" (dateJalEvent)="receiveToDateJalali($event)">
                </app-date-jalali>
            </div>
        </div>

        <button type="submit" class="btn_1">
            دانلود فایل
            <i class="pi pi-download"></i>
        </button>

    </section>
</form>