<p-table #dtable id="tdm" [columns]="selectedColumns" [value]="dataSource" [paginator]="true" [rows]=_rowsNumbers
    [showCurrentPageReport]="true" currentPageReportTemplate="نمایش از {first} تا{last} از {totalRecords} مورد"
    [rowsPerPageOptions]="_rowsPerPage" dir="rtl" styleClass="p-datatable-responsive" [responsive]="true"
    stateStorage="session" (onFilter)="filterEventTable($event)" [customSort]="_isCustomSort"
    (sortFunction)="customSort($event)" [stateKey]="_sessionName" [sortField]="_sortField" [sortOrder]="_sortOrder"
    editMode="row" dataKey="id" [reorderableColumns]=_reOrderableTable appUnSortTable>

    <ng-template pTemplate="caption" *ngIf="_captionEnabled">
        <p-multiSelect [maxSelectedLabels]="1" *ngIf="_multiSelectEnable" [options]="_selectCols"
            [(ngModel)]="selectedColumns" optionLabel="header"
            (ngModelChange)="columnManager.setColumnsChanges(ENSelectedColumnVariables[_selectedColumnsToRemember] ,$event)"
            selectedItemsLabel="{0} ستون انتخاب شده" placeholder="ستون ها" [filter]="true">
        </p-multiSelect>

        <div class="header_icons_wrap">
            <div class="right_side">
                <i *ngIf="_checkUpName == 'zoneBound' || _checkUpName == 'zone' || _checkUpName == 'region' || _checkUpName == 'province' || _checkUpName == 'country' || _checkUpName == 'karbari' || _checkUpName == 'abBaha' || _checkUpName == 'Budget'|| _checkUpName == 'tabsare3' || _checkUpName == 'tabsare2' ||  _checkUpName == 'auth1'||  _checkUpName == 'auth2'||  _checkUpName == 'auth3'||  _checkUpName == 'auth4'|| _checkUpName=='periodKind' "
                    (click)="openAddDialog()" class="tooltip _circle_border p_icons fa fa-plus">
                    <div class="tooltip_text">افزودن موردی</div>
                </i>
                <!-- <i *ngIf="_checkUpName == 'abBaha' " (click)="openBatchAddDialog()"
                    class="tooltip _circle_border p_icons fa fa-plus">
                    <div class="tooltip_text">افزودن دسته ای</div>
                </i> -->
                <i *ngIf="_isInRowEditing && _checkUpName !== 'generalListModify'" appAddRow [table]="dtable"
                    [newRow]="newRow" [newRowLimit]="newRowLimit" (click)="newRowChangedStatus()"
                    class="tooltip _circle_border p_icons fa fa-plus">
                    <div class="tooltip_text">افزودن</div>
                </i>
                <i *ngIf="_outputEnabled"
                    (click)="outputManagerService.exportPDF(dtable, _selectCols, _outputFileName,routerLink)"
                    class="tooltip _circle_border p_icons pi pi-file-pdf _pdf">
                    <div class="tooltip_text">دریافت pdf</div>
                </i>
                <i *ngIf="_outputEnabled"
                    (click)="outputManagerService.export(dtable, _selectCols, _outputFileName,routerLink)"
                    class="tooltip _circle_border p_icons pi pi-file-excel _xlsx">
                    <div class="tooltip_text">دریافت Excel</div>
                </i>
                <i *ngIf="_outputEnabled && (_outputFileName == 'abBaha' || _outputFileName == 'Budget' || _outputFileName == 'tabsare3')"
                    (click)="getExcelSample()" class="tooltip _circle_border _xlsx_download pi pi-download">
                    <div class="tooltip_text">دانلود نمونه فایل Excel</div>
                </i>
                <i *ngIf="_checkUpName == 'generalListModify'" (click)="getExcelSample()"
                    class="tooltip _circle_border _xlsx_download pi pi-download">
                    <div class="tooltip_text">دریافت فایل Excel</div>
                </i>
                <i *ngIf="_hasSaveColumns" (click)="saveColumns()"
                    class="tooltip fa_icons _circle_border p_icons _save_columns fa fa-save">
                    <div class="tooltip_text">ذخیره ستونها</div>
                </i>
                <i *ngIf="_hasSaveColumns" (click)="resetSavedColumns()"
                    class="tooltip fa_icons _circle_border p_icons _save_columns pi pi-reply">
                    <div class="tooltip_text">بازنشانی ستونهای پیشفرض</div>
                </i>
            </div>
            <div class="left_side">
                <input *ngIf="profileService._agg.hasGeneralSearch" pInputText class="_general_search" type="text"
                    (input)="dtable.filterGlobal($event.target.value, 'contains')" placeholder="جستجو.." />

                <i (click)="clearFilters(dtable)" [ngClass]="{'has_filters': hasFiltersInTable}"
                    class="_circle_border p_icons tooltip pi pi-filter-slash">
                    <div class="tooltip_text_right">حذف فیلترها</div>
                </i>

                <i (click)="refreshTable()" class="tooltip _circle_border p_icons pi pi-refresh">
                    <div class="tooltip_text_right">بارگیری مجدد جدول</div>
                </i>
                <i *ngIf="_checkUpName == 'abBaha' || _checkUpName == 'Budget'|| _checkUpName == 'tabsare3'"
                    (click)="openAddExcelDialog()" class="tooltip _circle_border p_icons pi pi-cloud-upload _xlsx">
                    <div class="tooltip_text_right">افزودن فایل Excel</div>
                </i>
                <i *ngIf="_checkUpName == 'fragmentDetails'" (click)="routeToParent()"
                    class="tooltip _circle_border p_icons pi pi-arrow-left">
                    <div class="tooltip_text_right">بازگشت به نوبتی</div>
                </i>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" pSortableColumn="{{col.field}}">
                <p-sortIcon field="{{col.field}}"></p-sortIcon>
                {{col.header}}
            </th>
            <th style="width: 2rem; min-width: 2rem" *ngFor="let item of _numberOfExtraColumns"></th>
        </tr>
        <tr>
            <th *ngFor="let col of columns">
                <p-columnFilter *ngIf="!col?.isBoolean" matchMode="contains" type="text" field="{{col.field}}">
                </p-columnFilter>
                <p-columnFilter *ngIf="col?.isBoolean" type="boolean" field="{{col.field}}"></p-columnFilter>
            </th>
            <th style="width: 2rem; min-width: 2rem" *ngFor="let item of _numberOfExtraColumns"></th>
        </tr>
    </ng-template>

    <ng-template hidden="!dataSource.length" pTemplate="body" let-dataSource let-editing="editing" let-columns="columns"
        let-ri=rowIndex>
        <tr [pEditableRow]="dataSource">
            <td class="__columns" *ngFor="let col of columns" [ngClass]="{'d_ltr': col.ltr}">
                <span class="ui-column-title">{{col.header}}</span>
                <ng-container *ngIf="col.isSelectOption;else selectOption">
                    <!-- to use double dictionaries add dictionary name to "col.field !== 'name'" -->
                    <ng-container
                        *ngIf="(col.field !== 'karbariMoshtarakinCode' && col.field !== 'readingPeriodKindId' && col.field !== 'modifyType'); else secondDict">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-dropdown name="{{_dictionaryName}}" [options]="dictionary"
                                    [(ngModel)]="dataSource[_dictionaryName]" [placeholder]="dataSource[col.field]"
                                    [ngClass]="{'p-dropdown-editable': true}" optionLabel="title"
                                    (onChange)="clickedDropDowns(dataSource[col.field], col.field , dataSource.id)"
                                    [filter]="true" [showClear]="true">
                                </p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{dataSource[_dictionaryName]}}
                            </ng-template>
                        </p-cellEditor>
                    </ng-container>
                    <ng-template #secondDict>
                        <ng-container>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-dropdown [options]="secondDictionary" [(ngModel)]="dataSource[col.field]"
                                        [placeholder]="dataSource[col.field]" [ngClass]="{'p-dropdown-editable': true}"
                                        optionLabel="title"
                                        (onChange)="clickedDropDowns(dataSource[col.field], col.field , dataSource.id)"
                                        [filter]="true">
                                    </p-dropdown>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{dataSource[col.field]}}
                                </ng-template>
                            </p-cellEditor>
                        </ng-container>
                    </ng-template>
                </ng-container>
                <ng-template #selectOption>
                    <ng-container *ngIf="col.isBoolean; else elseTemplate">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <mat-checkbox [disabled]="col.readonly"
                                    [ngClass]="{'mat-checkbox-editable': !col.readonly}"
                                    [(ngModel)]="dataSource[col.field]"></mat-checkbox>
                            </ng-template>
                            <ng-template pTemplate="output">
                                <mat-checkbox [disabled]="true" [(ngModel)]="dataSource[col.field]"></mat-checkbox>
                            </ng-template>
                        </p-cellEditor>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <ng-container
                            *ngIf="col.field == 'masrafStateId' && _checkUpName =='generalListModify'; else digits">
                            <i *ngIf="dataSource[col.field] === 0" class="tooltip pi pi-check">
                                <div class="tooltip_text">عادی</div>
                            </i>
                            <i *ngIf="dataSource[col.field] === 1" class="tooltip pi pi-arrow-down">
                                <div class="tooltip_text">پایین</div>
                            </i>
                            <i *ngIf="dataSource[col.field] === 2" class="tooltip pi pi-arrow-up">
                                <div class="tooltip_text">بالا</div>
                            </i>
                            <i *ngIf="dataSource[col.field] === 3" class="tooltip _empty">صفر
                                <div class="tooltip_text">صفر</div>
                            </i>
                            <i *ngIf="dataSource[col.field] === 4" class="tooltip _mark">!
                                <div class="tooltip_text">غیرقابل محاسبه</div>
                            </i>
                        </ng-container>

                        <ng-template #digits>
                            <ng-container
                                *ngIf="col.field === 'orderDigit'|| col.field === 'orderPersian'; else dateForm">
                                {{dataSource[col.field]}}
                            </ng-container>
                        </ng-template>

                        <ng-template #dateForm>
                            <ng-container *ngIf="col.field == 'offloadDateJalali'; else editableForm">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <app-date-jalali [ngClass]="{'date-editable': !col.readonly}" name="date"
                                            (dateJalEvent)="receiveDateJalali($event , ri)"
                                            [dateObject]="dataSource[col.field]">
                                        </app-date-jalali>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{dataSource[col.field]}}
                                    </ng-template>
                                </p-cellEditor>
                            </ng-container>
                        </ng-template>

                        <ng-template #editableForm>
                            <ng-container *ngIf="col.enableTooltip; else simpleText">

                                <div class="tooltip" *ngIf="col.enableTooltip">
                                    {{dataSource[col.field] && dataSource[col.field].length > 0 ?
                                    dataSource[col.field].toString().split(' ')[0]
                                    : ''}}
                                    <div class="tooltip_text_right" [ngClass]="
                                    {'tooltip_long2':dataSource[col.field]?.length >= 20,
                                    'tooltip_long3':dataSource[col.field]?.length >= 30,
                                    'tooltip_long4':dataSource[col.field]?.length >= 40}">
                                        {{dataSource[col.field]}}
                                    </div>
                                </div>
                                <div *ngIf="!col.enableTooltip">
                                    {{dataSource[col.field]}}
                                </div>
                            </ng-container>
                            <ng-template #simpleText>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText [type]="col.isNumber ? 'number': 'text'"
                                            [(ngModel)]="dataSource[col.field]" [readOnly]="col.readonly">
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{dataSource[col.field]}}
                                    </ng-template>
                                </p-cellEditor>
                            </ng-template>

                        </ng-template>
                    </ng-template>
                </ng-template>
            </td>
            <td class="__columns" *ngIf="_checkUpName == 'generalListModify'"
                (click)="openMoshtarakinDialog(dataSource)">
                <span class="ui-column-title">مشاهده سابقه</span>
                <i class="tooltip p_icons pi pi-users">
                    <div class="tooltip_text">مشاهده سابقه</div>
                </i>
            </td>
            <td class="__columns" *ngIf="_checkUpName == 'generalListModify'"
                (click)="openBriefKardexDialog(dataSource)">
                <span class="ui-column-title">خلاصه کاردکس</span>
                <i class="tooltip p_icons pi pi-folder">
                    <div class="tooltip_text">خلاصه کاردکس</div>
                </i>
            </td>
            <td class="__columns" *ngIf="_checkUpName =='generalListModify'" (click)="showInMapSingle(dataSource)">
                <span class="ui-column-title">مشاهده روی نقشه</span>
                <i class="tooltip p_icons pi pi-map-marker">
                    <div class="tooltip_text_right">مشاهده روی نقشه</div>
                </i>
            </td>
            <td class="__columns" *ngIf="_checkUpName == 'generalListModify'"
                (click)="showWOUIAsCarousel(dataSource,ri)">
                <span class="ui-column-title">{{dataSource.imageCount ? 'بررسی عکس/صوت' : '× بدون عکس/صوت'}}</span>
                <i class="tooltip p_icons pi pi-camera" [ngClass]="{'_haveimage':dataSource.imageCount}">
                    <div class="tooltip_text_right">{{dataSource.imageCount ? 'بررسی عکس/صوت' : '× بدون عکس/صوت'}}</div>
                </i>
            </td>
            <td class="__columns" *ngIf="_checkUpName == 'generalListModify'">
                <span class="ui-column-title">نمایش گزارش بازرسی</span>
                <i (click)="showPictures(dataSource.id)" class="tooltip p_icons pi pi-chart-bar">
                    <div class="tooltip_text_right">نمایش گزارش بازرسی</div>
                </i>
            </td>
            <td class="__columns" *ngIf="_checkUpName == 'fragmentMaster'">
                <span class="ui-column-title">مدیریت مسیرها</span>
                <i *ngIf="!editing" (click)="openMoshtarakinDialog(dataSource.id)" class="tooltip p_icons pi pi-info">
                    <div class="tooltip_text_right">مدیریت مسیرها</div>
                </i>
            </td>
            <td class="__columns" *ngIf="_checkUpName == 'fragmentMaster'">
                <span class="ui-column-title">صدور لیست خودکار</span>
                <i *ngIf="!editing" (click)="showPictures(dataSource)" class="tooltip p_icons pi pi-directions-alt">
                    <div class="tooltip_text">صدور لیست خودکار</div>
                </i>
            </td>
            <td class="__columns" *ngIf="_checkUpName == 'fragmentMaster'">
                <span class="ui-column-title">تایید نوبتی</span>
                <i *ngIf="!editing" class="tooltip p_icons"
                    [ngClass]="dataSource.isValidated ? 'pi pi-check-circle' : 'pi pi-info-circle'"
                    (click)="showInMapSingle(dataSource)">
                    <div class="tooltip_text_right">{{dataSource.isValidated ? 'نوبتی تایید شده': 'تایید نوبتی'}}
                    </div>
                </i>
            </td>
            <td class="__columns">
                <span class="ui-column-title">ویرایش</span>
                <i *ngIf="!editing" pInitEditableRow (click)="onRowEditInit(dataSource)"
                    class="tooltip _edit pi pi-pencil">
                    <div class="tooltip_text_right">ویرایش</div>
                </i>
                <i *ngIf="editing" pSaveEditableRow (click)="onRowEditSave(dataSource, ri)" class="_save pi pi-check">
                </i>
                <i *ngIf="editing && !_isInRowEditing" pCancelEditableRow
                    (click)="onRowEditCancel(dataSource, ri,_dictionaryName)" class="_cancel pi pi-times">
                </i>
                <i *ngIf="editing && _isInRowEditing" pCancelEditableRow
                    (click)="onRowEditCancelRowEditing(dataSource, ri,_secondDictionaryName)"
                    class="_cancel pi pi-times">
                </i>
            </td>
            <td class="__columns" *ngIf="_checkUpName != 'generalListModify'">
                <span class="ui-column-title">حذف مورد</span>
                <i *ngIf="!_isInRowEditing" (click)="removeRow(dataSource , ri)" class="tooltip p_icons fa fa-trash-o">
                    <div class="tooltip_text_right">حذف مورد</div>
                </i>
                <i *ngIf="_isInRowEditing" (click)="removeRowEditing(dataSource , ri)"
                    class="tooltip p_icons fa fa-trash-o">
                    <div class="tooltip_text_right">حذف مورد</div>
                </i>
            </td>
        </tr>

    </ng-template>

</p-table>

<section *ngIf="!dataSource || dataSource.length === 0">
    <tr class="empty_data">
        موردی پیدا نشد
        <i class="fa fa-folder-blank"></i>
    </tr>
</section>