@import '../prime-table/prime-table.component.scss';

.dp-picker-input {
  width: 100% !important;
}

::ng-deep .mintable_height {
  .p-datatable-wrapper {
    min-height: 50vh;
    min-height: 50svh;
  }
}