<i (click)="rotateRightImg()" class="tooltip __special_tooltip_bottom fa fa-rotate-right">
    <div class="tooltip_text_bottom">چرخش به راست</div>
</i>
<i (click)="rotateLeftImg()" class="tooltip fa fa-rotate-left">
    <div class="tooltip_text_bottom">چرخش به چپ</div>
</i>
<i (click)="profileService.downloadImg(imageURL)" class="tooltip pi pi-download">
    <div class="tooltip_text_bottom">ذخیره تصویر</div>
</i>

<div class="viewer_container">
    <img class="main-img" src="{{imageURL}}" alt="">
</div>