@import 'variable';
@import 'input';
@import 'button';

.change_pass {
    text-align: center;

    ._full_width {
        max-width: 100%;
        width: 100%;
        margin-top: var(--font_05);
        color: var(--white);
    }
}

.title {
    color: var(--primary_3);
    text-align: center;
    font-size: var(--font_l2);
}

.input_2 {
    min-width: 100%;
    color: var(--secondary_5);
    margin-bottom: var(--font_05);
    box-shadow: 1px 1px 8px 1px var(--secondary_4);
}

._desc {
    display: grid;
    margin: auto;
    padding: var(--font_xs) 0;
    width: 100%;
    border-radius: $border_15;
}