@import 'shared_reports';
@import 'cards';

._card {
  width: 100%;
  max-width: 30rem;
}

.title {
  direction: rtl;
  color: var(--primary_3);
  text-align: center;
  margin: var(--font_05);
  font-size: var(--font_m);
}

._charts {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: var(--font_05);
}

._key_value {
  columns: 2;
}

._key {
  font-size: var(--font_s);
  font-weight: 600;
  color: var(--primary_5);
  text-align: center;
}

._value {
  font-size: var(--font_l);
  font-weight: 600;
  color: var(--primary_5);
  max-width: 95%;
  direction: ltr;
}

.charts {
  min-height: 8rem;
}

._smaller {
  font-size: var(--font_m);
}