<main class="main">
    <form #form="ngForm" (ngSubmit)="verification()">
        <section class="content">
            <input class="input_1" type="number" placeholder="رقم کنتور : " name="counterNumber"
                [(ngModel)]="offloadModifyReq.counterNumber" autofocus style="min-width: auto;">
            <div class="input_2" [hidden]="!counterStatesDictionary.length">
                <div class="_key">وضعیت کنتور</div>
                <mat-select placeholder="انتخاب مورد" [(ngModel)]="offloadModifyReq.counterStateId"
                    name="counterStateId">
                    <mat-option *ngFor="let truefalse of counterStatesDictionary" [value]="truefalse.id">
                        {{truefalse.title}}
                    </mat-option>
                </mat-select>
            </div>
            <div class="input_2">
                <div class="_key">نوع اصلاح</div>
                <mat-select placeholder="انتخاب مورد" [(ngModel)]="offloadModifyReq.modifyType" name="modifyType">
                    <mat-option *ngFor="let truefalse of modifyType" [value]="truefalse.id">
                        {{truefalse.title}}
                    </mat-option>
                </mat-select>
            </div>
            <div class="input_2">
                <div class="_key">از</div>
                <div class="_value">
                    <app-date-jalali name="fromDate" (dateJalEvent)="receiveFromDateJalali($event)">
                    </app-date-jalali>
                </div>
            </div>
        </section>

        <section class="_container">
            <div class="__checks">
                <h3>موارد</h3>
                <div class="check_boxes" *ngFor="let item of offloadItems">
                    <mat-checkbox name="hasPreNumber" [(ngModel)]="item.isSelected">
                        {{item.title}}
                    </mat-checkbox>
                </div>
                <div class="description">
                    <input class="input_1" type="text" placeholder="توضیحات : " name="description"
                        [(ngModel)]="offloadModifyReq.description">
                </div>
            </div>
            <div *ngIf="testLoadImage.length" class="__slider">
                <div class="_img_content">
                    <div *ngFor="let item of imageFiles; index as i" class="tooltip img_wrapper">
                        <div class="__img_counter">{{i+1}}</div>

                        <!-- tooltip -->
                        <div *ngIf="testLoadImage[i]" class="tooltip_text">بزرگنمایی {{i+1}}</div>
                        <!--   -->

                        <div *ngIf="testLoadImage[i]" class="__img_bound">
                            <img (click)="showBigImage(testLoadImage[i])" src="{{testLoadImage[i]}}" alt="whatever">
                        </div>
                        <div *ngIf="!testLoadImage[i]" class="__img_bound">
                            <img src="assets/imgs/soundvid/2.png" alt="whatever">
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!testLoadImage.length" class="__slider">
                <h2 class="not_found_header">تصویری پیدا نشد</h2>
            </div>
        </section>
        <section class="content">
            <h1 class="title">صدای ضبط شده</h1>
            <hr>

            <div class="_main_audio">
                <div *ngFor="let item of audioFiles">
                    <button [hidden]="showAudioControllers" (click)="getExactAudio(item.fileRepositoryId)">
                        <i class="tooltip pi pi-cloud-download">
                            <div class="tooltip_text">بارگیری</div>
                        </i>
                    </button>
                    <button [hidden]="!showAudioControllers" (click)="downloadAudio()">
                        <i class="tooltip pi pi-download">
                            <div class="tooltip_text">ذخیره صوت</div>
                        </i>
                    </button>
                    <button [hidden]="!showAudioControllers" (click)="isPlaying = !isPlaying">
                        <i *ngIf="isPlaying" (click)="pauseAudio()" class="tooltip pi pi-pause">
                            <div class="tooltip_text">توقف صوت</div>
                        </i>
                        <i *ngIf="!isPlaying" (click)="playAudio()" class="tooltip pi pi-play">
                            <div class="tooltip_text">پخش صوت</div>
                        </i>
                    </button>
                    <button [hidden]="!showAudioControllers" (click)="rePlayAudio()">
                        <i class="tooltip pi pi-replay">
                            <div class="tooltip_text">پخش مجدد</div>
                        </i>
                    </button>
                </div>
                <div class="not_found_header" *ngIf="!audioFiles.length">
                    <h2>صوتی پیدا نشد</h2>
                </div>
            </div>

        </section>

        <footer>
            <button type="submit" class="btn_1">
                اصلاح
            </button>
        </footer>
    </form>
</main>
<router-outlet></router-outlet>
<!-- <p-carousel [value]="imageFiles" [numVisible]="1" [numScroll]="1">
                    <ng-template let-testLoadImage pTemplate="item" *ngFor="let item of testLoadImage; index as i">
                        <div class="__img_bound">
                            content to DiSPLAY{{i}}
                            testLoadImage
                            {{testLoadImage}}
                            {{i}}
                            <img src="{{testLoadImage[i]}}" alt="whatever{{i}}">
                        </div>
                    </ng-template>
                </p-carousel> -->