<main class="main">
    <form #form="ngForm" (ngSubmit)="verification()">
        <section class="content">
            <!-- <div class="input_2">
                <div class="_key">ناحیه</div>
                <mat-select placeholder="انتخاب مورد" [(ngModel)]="zoneId" name="zoneId">
                    <mat-option *ngFor="let truefalse of zoneDictionary" [value]="truefalse.id"
                        (click)="getCounterStateByZoneId()">
                        {{truefalse.title}}
                    </mat-option>
                </mat-select>
            </div> -->
            <div class="input_2" [hidden]="!counterStatesDictionary.length">
                <div class="_key">وضعیت کنتور</div>
                <mat-select placeholder="انتخاب مورد" [(ngModel)]="offloadModifyReq.counterStateId"
                    name="counterStateId">
                    <mat-option *ngFor="let truefalse of counterStatesDictionary" [value]="truefalse.id">
                        {{truefalse.title}}
                    </mat-option>
                </mat-select>
            </div>
            <div class="input_2">
                <div class="_key">نوع اصلاح</div>
                <mat-select placeholder="انتخاب مورد" [(ngModel)]="offloadModifyReq.modifyType" name="modifyType">
                    <mat-option *ngFor="let truefalse of modifyType" [value]="truefalse.id">
                        {{truefalse.title}}
                    </mat-option>
                </mat-select>
            </div>
            <div class="input_2">
                <div class="_key">از</div>
                <div class="_value">
                    <app-date-jalali name="fromDate" (dateJalEvent)="receiveFromDateJalali($event)">
                    </app-date-jalali>
                </div>
            </div>
        </section>

        <section class="_container">
            <div class="__checks">
                <input class="input_1" type="number" placeholder="رقم کنتور : " name="counterNumber"
                    [(ngModel)]="offloadModifyReq.counterNumber" autofocus>

                <h3>عکس بی کیفیت</h3>
                <div class="check_boxes" *ngFor="let item of lowQualityPic">
                    <mat-checkbox name="hasPreNumber" [(ngModel)]="item.isSelected">
                        {{item.title}}
                    </mat-checkbox>
                </div>
                <h3>عکس با کیفیت</h3>
                <div class="check_boxes" *ngFor="let item of highQualityPic; index as i">
                    <mat-checkbox name="low{{i+1}}" [(ngModel)]="item.isSelected">
                        {{item.title}}
                    </mat-checkbox>
                </div>
                <div class="description">
                    <input class="input_1" type="text" placeholder="توضیحات : " name="description"
                        [(ngModel)]="offloadModifyReq.description">
                </div>
            </div>
            <div *ngIf="testLoadImage.length" class="__slider">
                <div class="_img_content">
                    <div *ngFor="let item of imageFiles; index as i" class="tooltip img_wrapper">
                        <div class="__img_counter">{{i+1}}</div>

                        <!-- tooltip -->
                        <div *ngIf="testLoadImage[i]" class="tooltip_text">بزرگنمایی {{i+1}}</div>
                        <!--   -->

                        <div *ngIf="testLoadImage[i]" class="__img_bound">
                            <img (click)="showBigImage(testLoadImage[i])" src="{{testLoadImage[i]}}" alt="whatever">
                        </div>
                        <div *ngIf="!testLoadImage[i]" class="__img_bound">
                            <img src="assets/imgs/soundvid/2.png" alt="whatever">
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!testLoadImage.length" class="__slider">
                <h2 class="not_found_header">تصویری پیدا نشد</h2>
            </div>
        </section>

        <footer>
            <button type="submit" class="btn_1">
                اصلاح
            </button>
        </footer>
    </form>
</main>
<router-outlet></router-outlet>
<!-- <p-carousel [value]="imageFiles" [numVisible]="1" [numScroll]="1">
                    <ng-template let-testLoadImage pTemplate="item" *ngFor="let item of testLoadImage; index as i">
                        <div class="__img_bound">
                            content to DiSPLAY{{i}}
                            testLoadImage
                            {{testLoadImage}}
                            {{i}}
                            <img src="{{testLoadImage[i]}}" alt="whatever{{i}}">
                        </div>
                    </ng-template>
                </p-carousel> -->