@import '../../dashboard.component.scss';
@import 'media';

.grid_half_width {
  display: grid;
  direction: rtl;
  grid-template-columns: repeat(auto-fit, minmax(25rem, auto));
  align-items: center;
  gap: var(--font_03);
  overflow: auto;
  margin-top: var(--font_05)
}

@include media_wrapper(780px, '.grid_half_width', grid-template-columns, 1fr 1fr);
