<app-collapsable [_isReversed]="true" [_isCollapsed]=importDynamicService._assessPreCollapse
    (_clicked)="importDynamicService._assessPreCollapse = !importDynamicService._assessPreCollapse">
</app-collapsable>

<form #form="ngForm" *ngIf="importDynamicService._assessPreCollapse" (ngSubmit)="editCloseData()" class="insert_track">

    <main class="main_content">
        <section class="_toselect">
            <section class="__content">
                <div class="input_2">
                    <div class="_key">ناحیه</div>
                    <div class="_value">
                        <p-dropdown name="zones" [options]="zoneDictionary"
                            [(ngModel)]="closeTabService.saveDataForAssessPreReq.zoneId" placeholder="انتخاب مورد"
                            optionValue="id" optionLabel="title" filter="true" filterBy="title" [showClear]="true"
                            (onClick)="getMasterInZone()" (onChange)="emptyPreviousValuesFromSelectOptions()">
                        </p-dropdown>
                    </div>
                </div>
                <div class="input_2">
                    <div class="_key">شماره لیست</div>
                    <input class="_value" name="listNumber"
                        [(ngModel)]="closeTabService.saveDataForAssessPreReq.listNumber">
                </div>
                <div class="check_boxes">
                    <mat-checkbox name="noImages" [(ngModel)]="closeTabService.saveDataForAssessPreReq.noImages">
                        عکس ندارد
                    </mat-checkbox>
                </div>
            </section>
        </section>

        <section class="_more_options">

            <article *ngIf="masrafState">
                <h3 class="title">وضعیت مصرف</h3>
                <p-multiSelect [maxSelectedLabels]="2" [options]="masrafState" name="masraf"
                    [(ngModel)]="closeTabService.saveDataForAssessPreReq.masrafStates" optionLabel="header"
                    optionValue="value" selectedItemsLabel="{0} مورد انتخاب شده" placeholder="انتخاب مورد">
                </p-multiSelect>
            </article>
            <article *ngIf="counterReportDictionary.length">
                <h3 class="title">گزارش کنتور</h3>
                <p-multiSelect [maxSelectedLabels]="2" [options]="counterReportDictionary" name="counterReport"
                    [(ngModel)]="closeTabService.saveDataForAssessPreReq.reportIds" optionLabel="title" optionValue="id"
                    selectedItemsLabel="{0} مورد انتخاب شده" placeholder="انتخاب مورد" [filter]="true" showClear="true">
                </p-multiSelect>
            </article>
            <article *ngIf="counterStateDictionary.length">
                <h3 class="title">وضعیت کنتور</h3>
                <p-multiSelect [maxSelectedLabels]="2" [options]="counterStateDictionary" name="counterState"
                    [(ngModel)]="closeTabService.saveDataForAssessPreReq.counterStateIds" optionLabel="title"
                    optionValue="id" selectedItemsLabel="{0} مورد انتخاب شده" placeholder="انتخاب مورد" [filter]="true"
                    showClear="true">
                </p-multiSelect>
            </article>
            <article *ngIf="karbariDictionary.length">
                <h3 class="title">کاربری</h3>
                <p-multiSelect [maxSelectedLabels]="2" [options]="karbariDictionary" name="karbari"
                    [(ngModel)]="closeTabService.saveDataForAssessPreReq.karbariCodes" optionLabel="title"
                    optionValue="id" selectedItemsLabel="{0} مورد انتخاب شده" placeholder="انتخاب مورد" [filter]="true"
                    showClear="true">
                </p-multiSelect>
            </article>

        </section>

    </main>
    <footer class="footer_with_background">
        <button class="btn_1" type="submit">جستجو</button>
    </footer>
</form>

<form class="bottom-form" #form="ngForm" *ngIf="closeTabService.saveDataForAssessPre" (ngSubmit)="connectToServer()">
    <section class="static_part">

        <section class="dynamic_content">
            <div class="input_2 this" *ngIf="userCounterReaderDictionary.length">
                <div class="_key">مامور</div>
                <div class="_value">
                    <p-dropdown name="counterreader" #counterreader [options]="userCounterReaderDictionary"
                        name="counter-reader" [(ngModel)]="importDynamicService._assessAddReq.counterReaderId"
                        optionLabel="title" [filter]="true" filterBy="title" optionValue="id" [showClear]="true"
                        placeholder="انتخاب مورد">
                    </p-dropdown>
                </div>
            </div>

            <div class="input_2 this">
                <div class="_key">درصد علی‌الحساب</div>
                <input class="_value" min="0" max="100" type="number" name="alalHesabPercent"
                    [(ngModel)]="importDynamicService._assessAddReq.alalHesabPercent">
            </div>
            <div class="input_2 this">
                <div class="_key">درصد تصویر</div>
                <input class="_value" min="0" max="100" type="number" name="imagePercent"
                    [(ngModel)]="importDynamicService._assessAddReq.imagePercent">
            </div>
        </section>
        <div class="check_boxes" *ngIf="!importDynamicService.utilsService.getDenyTracking()">
            <mat-checkbox name="hasPreNumber" [(ngModel)]="importDynamicService._assessAddReq.hasPreNumber">شماره قبلی
            </mat-checkbox>

            <mat-checkbox name="displayBillId" [(ngModel)]="importDynamicService._assessAddReq.displayBillId">
                نمایش شناسه قبض
            </mat-checkbox>

            <mat-checkbox name="displayRadif" [(ngModel)]="importDynamicService._assessAddReq.displayRadif">نمایش
                ش.پرونده
            </mat-checkbox>
        </div>
        <i (click)="registerAssessAdd()" class="tooltip _circle_border p_icons pi pi-check _checked-list">
            <div class="tooltip_text_right">ثبت بازدید</div>
        </i>
    </section>
</form>

<app-prime-table *ngIf="closeTabService.saveDataForAssessPre" [dataSource]="closeTabService.saveDataForAssessPre"
    [_outputFileName]="'assess_pre'" [_checkUpName]="'allComponent'" [_numberOfExtraColumns]="[1, 2, 3]"
    [_selectedColumnsToRemember]="'selectedListManagerAssess'" [_sessionName]="'assess_pre'"
    (refreshedTable)="refreshTable()" (registeredAssess)="registerAssessAdd()"
    (showedPictures)="getReadingReportTitles($event)" (showedInMapSingle)="openMapDialog($event)">
</app-prime-table>