@import 'primeNG';
@import 'input.scss';
@import 'tooltip.scss';
@import 'button.scss';
@import '_mat.scss';

.main {
  direction: rtl;
  background: var(--secondary_1);
  box-shadow: 1px 1px 8px 4px var(--secondary_4);
  padding: var(--font_05);
  border-radius: $border_15;
  border: 1px solid var(--primary_2);
}

.main_content {
  display: grid;
  direction: rtl;
  text-align: center;
  padding: var(--font_xs) var(--font_02) var(--font_xs) var(--font_02);
  border-radius: $border_15;
  gap: var(--font_02);
}


.tooltip {
  cursor: pointer;
}

.input_1 {
  border-radius: 10px;
}

h2 {
  color: var(--secondary_6);
}

h3 {
  color: var(--primary_3);
  font-size: var(--font_m2);
  padding: var(--font_05);
}

footer {
  margin-top: var(--font_05);
  text-align: center;
}

.radio_button {
  font-size: var(--font_s);
  font-weight: 700;
  font-family: inherit;
  color: var(--secondary_6);
  margin: 0 2rem;
}

[hidden] {
  display: none;
}

section.dynamic_content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 15rem));
  gap: var(--font_05);
  align-items: center;
  border-radius: $border_15;
}

.static_part {
  border-radius: $border_15;
  padding: var(--font_xxs);
  direction: rtl;
}

.check_boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 14rem));
  gap: var(--font_05);
  padding: var(--font_025);
}

._key,
._value {
  font-size: var(--font_m);
  font-weight: 800;
}

._value {
  display: flex;
  align-items: center;
  justify-content: center;
  direction: ltr;
  border: none;
  color: var(--primary_5);
  text-align: center;
  width: 100%;
}

.btn_1 {
  color: var(--white);
  background-color: var(--orange_500);
}

._toselect {
  grid-column: 1/4;
  background: var(--white);
  border: $border_5;

  .__content {
    gap: var(--font_05);
    grid-template-columns: repeat(auto-fit, minmax(13rem, auto));
    display: grid;
    align-items: center;
    justify-content: center;
  }
}

._more_options {
  grid-column: 4/10;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 12rem));
  justify-content: center;
  background-color: var(--white);
  border-radius: 5px;

  @media (max-width: 780px) {
    margin-top: var(--font_xs);
    grid-column: 1/6;
  }

  @media (max-width: 550px) {
    margin-top: 2rem;
  }

}

app-date-jalali {
  width: 100%;
  height: var(--font_28);
  background: var(--white);
  border-radius: 9px;
  border: 1px solid var(--secondary_2);
}

span label {
  margin-left: var(--font_05);
  color: var(--secondary_8);
}

.ui-float-label {
  display: grid;
  font-size: var(--font_m);
  font-weight: 600;
  padding: var(--font_03) var(--font_01);
  border-radius: $border_7;
  background: var(--secondary_2);
}

.title {
  color: var(--primary_3);
  text-align: center;
}

article {
  padding: var(--font_05);
  border-radius: $border_15;
  background-color: var(--secondary_2);
  margin: var(--font_01);
}

.btn_2_o {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: var(--font_05) auto;
  font-family: $font_family;
  width: 10rem;
}

hr {
  margin-bottom: var(--font_xs);
}

.p-dropdown {
  width: 100%;
  border-radius: 5px;
  height: var(--font_335);
}

[hidden] {
  display: none;
}

// materials 

.radio_button {
  font-size: var(--font_s);
  font-weight: 700;
  font-family: inherit;
  color: var(--secondary_6);
  margin: 0 2rem;
}

form.bottom-form {
  position: relative;
  border: 1px solid var(--secondary_5);
  border-radius: $border_15;
  padding: var(--font_xxs);
  font-family: $font_family;
  margin: var(--font_xxs) var(--font_s);
  background: var(--secondary_1);
  box-shadow: 1px 1px 8px 4px var(--secondary_2);
}

.insert_track {
  direction: rtl;

  .input_2 {
    width: 20rem;
    margin: var(--font_025) auto;
  }
}


._checked-list {
  position: absolute;
  left: 5px;
  top: 5px;
}

.check_boxes {
  box-shadow: none;
}

hr {
  margin-bottom: var(--font_xs);
}

.p-dropdown {
  width: 100%;
  border-radius: 5px;
  height: var(--font_335);
}

footer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--font_xs);
}

// dialog conf
:host ::ng-deep {
  .p-dialog .p-dialog-header {
    background-color: var(--thirdy_1_spec);
    direction: rtl;
  }
}
