<form (ngSubmit)="verification()">
    <div class="_desc">
        <div *ngFor="let col of _selectCols" [ngClass]="{'double_size':col.icon}">
            <ng-container *ngIf="col.isSelectOption;else rateInputWrapper">
                <div class="input_icon" *ngIf="col.field == 'zoneIds'">
                    <i class="pi pi-bookmark _bookmark"></i>
                    <div class="input_3">
                        <div class="_key">{{col.header}}</div>
                        <div class="_value">
                            <p-multiSelect [maxSelectedLabels]="1" [options]="zoneDictionary" name="zones"
                                [(ngModel)]="closeTabService.tariffExcelToFillInput.zoneIds" optionLabel="title"
                                optionValue="id" selectedItemsLabel="{0} مورد انتخاب شده" [style]="{minWidth: '100%'}"
                                placeholder="انتخاب مورد">
                            </p-multiSelect>
                        </div>
                    </div>


                </div>

                <div class="input_icon" *ngIf="col.field == 'usageIds'">
                    <i class="pi pi-bookmark _bookmark"></i>
                    <div class="input_3">
                        <div class="_key">{{col.header}}</div>
                        <div class="_value">
                            <p-multiSelect [maxSelectedLabels]="1" [options]="karbariDictionary" name="usageId"
                                [(ngModel)]="closeTabService.tariffExcelToFillInput.usageIds" optionLabel="title"
                                optionValue="id" selectedItemsLabel="{0} مورد انتخاب شده" [style]="{minWidth: '100%'}"
                                placeholder="انتخاب مورد">
                            </p-multiSelect>
                        </div>
                    </div>
                </div>
                <div class="input_icon" *ngIf="col.field == 'siphonIds'">
                    <i class="pi pi-bookmark _bookmark"></i>
                    <div class="input_3">
                        <div class="_key">{{col.header}}</div>
                        <div class="_value">
                            <p-multiSelect [maxSelectedLabels]="1" [options]="siphonDictionary" name="siphon"
                                [(ngModel)]="closeTabService.tariffExcelToFillInput.siphonIds" optionLabel="title"
                                optionValue="id" selectedItemsLabel="{0} مورد انتخاب شده" [style]="{minWidth: '100%'}"
                                placeholder="انتخاب مورد">
                            </p-multiSelect>
                        </div>
                    </div>
                </div>
                <div class="input_icon" *ngIf="col.field == 'diameterIds'">
                    <i class="pi pi-bookmark _bookmark"></i>
                    <div class="input_3">
                        <div class="_key">{{col.header}}</div>
                        <div class="_value">
                            <p-multiSelect [maxSelectedLabels]="1" [options]="diameterDictionary" name="siphon"
                                [(ngModel)]="closeTabService.tariffExcelToFillInput.diameterIds" optionLabel="title"
                                optionValue="id" selectedItemsLabel="{0} مورد انتخاب شده" [style]="{minWidth: '100%'}"
                                placeholder="انتخاب مورد">
                            </p-multiSelect>
                        </div>
                    </div>
                </div>
                <div class="input_icon" *ngIf="col.field == 'offeringIds'">
                    <i class="pi pi-bookmark _bookmark"></i>
                    <div class="input_3">
                        <div class="_key">{{col.header}}</div>
                        <div class="_value">
                            <p-multiSelect [maxSelectedLabels]="1" [options]="offeringDictionary" name="usageId"
                                [(ngModel)]="closeTabService.tariffExcelToFillInput.offeringIds" optionLabel="title"
                                optionValue="id" selectedItemsLabel="{0} مورد انتخاب شده" [style]="{minWidth: '100%'}"
                                placeholder="انتخاب مورد">
                            </p-multiSelect>
                        </div>
                    </div>
                </div>
                <div class="input_icon" *ngIf="col.field == 'itemTypeIds'">
                    <i class="pi pi-bookmark _bookmark"></i>
                    <div class="input_3">
                        <div class="_key">{{col.header}}</div>
                        <div class="_value">
                            <p-multiSelect [maxSelectedLabels]="1" [options]="getTarrifTypeDictionary"
                                name="item-typeIds" [(ngModel)]="closeTabService.tariffExcelToFillInput.itemTypeIds"
                                optionLabel="title" optionValue="id" selectedItemsLabel="{0} مورد انتخاب شده"
                                [style]="{minWidth: '100%'}" placeholder="انتخاب مورد">
                            </p-multiSelect>
                        </div>
                    </div>
                </div>
                <div class="input_icon" *ngIf="col.field == 'fromDate'">
                    <i class="pi pi-bookmark _bookmark"></i>
                    <div class="input_3">
                        <div class="_key">{{col.header}}</div>
                        <div class="_value">
                            <app-date-jalali name="fromDate"
                                (dateJalEvent)="closeTabService.receiveFromDateJalali(closeTabService.ENReadingReports.tariffExcelToFill, $event)"
                                [dateObject]="closeTabService.tariffExcelToFillInput.fromDate">
                            </app-date-jalali>
                        </div>
                    </div>
                </div>
                <div class="input_icon" *ngIf="col.field == 'toDate'">
                    <i class="pi pi-bookmark _bookmark"></i>
                    <div class="input_3">
                        <div class="_key">{{col.header}}</div>
                        <div class="_value">
                            <app-date-jalali name="ToDate"
                                (dateJalEvent)="closeTabService.receiveToDateJalali(closeTabService.ENReadingReports.tariffExcelToFill, $event)"
                                [dateObject]="closeTabService.tariffExcelToFillInput.toDate">
                            </app-date-jalali>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-template #rateInputWrapper>
                <div>
                    <div class="input_icon _selectable">
                        <i class="pi pi-bookmark _bookmark"></i>
                        <div class="input_3" (click)="openRatesDialog()">
                            <div class="_key">افزودن نرخ</div>
                            <div class="_value">
                                {{
                                closeTabService.tariffExcelToFillInput.rates.length > 0 ?
                                closeTabService.tariffExcelToFillInput.rates.length + ' مورد انتخاب شده' : 'انتخاب کنید'
                                }}
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
    <footer>
        <button type="submit" class="btn_1">
            دریافت تعرفه جهت تکمیل
            <i class="pi pi-list"></i>
        </button>
    </footer>
</form>