@import 'variable';

main {
  position: fixed;
  direction: ltr;
  top: 50%;
  transform: translateY(-50%);
  background: var(--white);
  width: 83%;
  height: 40rem;
  border-radius: $border_15;
  z-index: 3;


  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--secondary_3);
    height: 10rem;
    width: $font_2;
    border-radius: 100vmax;
    border: 1px dotted var(--secondary_5);
    cursor: pointer;

    &::after {
      position: absolute;
      top: 50%;
      font-size: $font_2;
      font-weight: 600;
      color: var(--secondary_5);
      transition: all ease-in-out .15s;
    }

    @media (max-width: 549px) {
      position: fixed;
    }
  }

  .next {
    right: -$font_xs;

    &::after {
      content: ">";
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover:after {
      left: 60%;
    }
  }

  .prev {
    left: -$font_xs;

    &::after {
      content: "<";
      right: 50%;
      transform: translate(50%, -50%);
    }

    &:hover:after {
      right: 60%;
    }

  }

}

h2 {
  position: absolute;
  background: var(--white);
  border: 1px solid;
  border-radius: $border_50;
  color: var(--secondary_6);
  right: -$font_xs;
  top: -$font_xs;
  padding: $font_05;
  font-size: $font_m;
  font-weight: 600;
  cursor: pointer;
}
