@import '../../../assets/variable.scss';
@import '../../../assets/button.scss';
@import '../../../assets/input.scss';

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

._actions {
  display: flex;
  align-items: center;
}

.__custom {
  height: 2.5rem;
  border: 1px solid $blue_l;
  width: auto;
  color: $blue_l;
  min-width: 4rem;
  font-size: $font_xs;
  margin: 0 0.2rem;
}

._key,
._value {
  font-family: BLotus, "Blotus", tahoma, Sans-Serif;
}
