@import '../../../assets/variable.scss';
@import '../../../assets/button.scss';
@import '../../../assets/input.scss';

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

._actions {
  display: flex;
  align-items: center;
}

.__custom {
  height: 2.5rem;
  border: 1px solid $blue_l;
  width: auto;
  color: $blue_l;
  min-width: 4rem;
  font-size: $font_xs;
  margin: 0 0.2rem;
}

._key,
._value {
  font-family: BLotus, "Blotus", tahoma, Sans-Serif;
}

.add_new {
  padding: 1rem;
  direction: rtl;
}

.mat-dialog-actions,
.mat-dialog-content,
td,
th {
  font-family: BLotus, "Blotus", tahoma, Sans-Serif;
  font-size: 1.2rem;
}


::ng-deep {
  .mat-dialog-container {
    direction: rtl;
  }

  .mat-elevation-z8 {
    border-spacing: 0;
    direction: rtl;
  }

  table {
    padding: 1rem;
  }

}

.mat-form-field {
  display: flex;
  justify-content: center;
  text-align: right;
}

.filter {
  display: block;
}