<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="فیلتر جدول" #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="title">
        <th class="header" mat-header-cell *matHeaderCellDef>
            Tenant Name
            <mat-form-field class="filter" floatLabel="never">
                <mat-label>Search</mat-label>
                <input matInput [formControl]="titleFilter">
            </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let person">{{person.title}}</td>
    </ng-container>
    <ng-container matColumnDef="titleUnicode">
        <th class="header" mat-header-cell *matHeaderCellDef>
            Favourite titleUnicode
            <mat-form-field class="filter" floatLabel="never">
                <input matInput [formControl]="titleUnicodeFilter">
            </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let person">{{person.titleUnicode}}</td>
    </ng-container>
    <ng-container matColumnDef="needDeviceIdLogin">
        <th class="header" mat-header-cell *matHeaderCellDef>
            needDeviceIdLogin
            <mat-form-field class="filter" floatLabel="never">
                <mat-label>Search</mat-label>
                <input matInput [formControl]="needDeviceIdLoginFilter">
            </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let person">
            <mat-checkbox [(ngModel)]="person.needDeviceIdLogin"></mat-checkbox>
        </td>
    </ng-container>
    <ng-container cdkColumnDef="actions">
        <th md-header-cell *matHeaderCellDef> Actions </th>
        <td md-cell *matCellDef="let row" class="_actions">
            <button class="btn_2 __custom" (click)="editDialog(row)"><i class="fa fa-edit"></i></button>|
            <button class="btn_2 __custom" (click)="deleteSingleRow(row)"><i class="fa fa-trash"></i></button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let person; columns: columnsToDisplay"></tr>
</table>