<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> id </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> title </th>
            <td mat-cell *matCellDef="let row"> {{row.title}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="titleUnicode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> titleUnicode </th>
            <td mat-cell *matCellDef="let row"> {{row.titleUnicode}} </td>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="needDeviceIdLogin">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> needDeviceIdLogin </th>
            <td mat-cell *matCellDef="let row"> {{row.needDeviceIdLogin}} </td>
        </ng-container>

        <ng-container cdkColumnDef="actions">
            <th md-header-cell *matHeaderCellDef> Actions </th>
            <td md-cell *matCellDef="let row" class="_actions">
                <button class="btn_2 __custom" (click)="editDialog(row)"><i class="fa fa-edit"></i></button>|
                <button class="btn_2 __custom" (click)="handleClick()"><i class="fa fa-trash"></i></button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>
    <div class="add_new">
        <button class="btn_2 __custom">افزودن سطر جدید</button>
    </div>

</div>