<app-prime-table-editable     
    [dataSource]="closeTabService.saveDataForCountry" 
    [_checkUpName]="'addItem'"
    [_outputFileName]="'country'"
    [_sessionName]="'country-session'"
    [_multiSelectEnable]=false
    [_outputEnabled]= false    
    [_hasSaveColumns]= false
    [_numberOfExtraColumns]="[1, 2]"
    (refreshedTable)="refreshTable()"
    (openedAddDialog)="openAddDialog()"
    (dropDownChanges)="closeTabService.saveDataForCountry['countryId']"
    (removedRow)="removeRow($event)"
    (onRowEditedCancel)="onRowEditCancel()"
    (onRowEditedInit)="onRowEditInit($event)"
    (onRowEditedSave)="onRowEditSave($event)"
 > 
</app-prime-table-editable>