@import 'variable';

.container {
  display: grid;
  direction: rtl;
  grid-template-columns: repeat(auto-fit, minmax(15rem, auto));
  gap: var(--font_05);
  margin-top: var(--font_xs);
  background: var(--secondary_1);
  padding: var(--font_xs) var(--font_025);
  border-radius: $border_5;
}

.card {
  background: var(--white);
  text-align: center;
  border-radius: $border_15;
  box-shadow: 0 0 3px 2px var(--secondary_2);
  padding: var(--font_l) var(--font_05);
  position: relative;
}

._number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: var(--font_xs);
  top: calc(-1 * var(--font_xs));
  background: var(--primary_2);
  color: var(--white);
  border-radius: $border_5;
  font-size: var(--font_l);
  font-weight: 600;
  height: 2rem;
  width: 2rem;
}

.title {
  font-size: var(--font_m);
  color: var(--primary_5);
  font-weight: 800;
}

._key_value {
  columns: 2;
  margin-bottom: var(--font_05);
}

._key,
._value {
  font-size: var(--font_s);
  font-weight: 600;
  color: var(--primary_5);
}

.val {
  font-size: var(--font_m);
  font-weight: 600;
  color: var(--primary_7);
}
