<form class="location-form">
    <div class="_desc">
        <h2 class="top_title">اطلاعات مکانی را تکمیل نمایید</h2>
        <div *ngFor="let col of _selectCols" [ngClass]="{'double_size':col.icon}">
            <ng-container *ngIf="col.isSelectOption;else simpleInput">
                <div class="input_icon" *ngIf="col.field == 'zoneId'">
                    <i class="pi pi-bookmark _bookmark"></i>
                    <div class="input_3">
                        <div class="_key">ناحیه</div>
                        <div class="_value">
                            <p-dropdown name="zones" [options]="zoneDictionary"
                                [(ngModel)]="closeTabService.requestDraftReq.zoneId" placeholder="انتخاب مورد"
                                optionValue="id" optionLabel="title" filter="true">
                            </p-dropdown>
                        </div>
                    </div>
                </div>
                <div class="input_icon" *ngIf="col.field == 'villageId'">
                    <i class="pi pi-bookmark _bookmark"></i>
                    <div class="input_3">
                        <div class="_key">روستا</div>
                        <div class="_value">
                            <p-dropdown name="village" [options]="villageDictionary"
                                [(ngModel)]="closeTabService.requestDraftReq.villageId" placeholder="انتخاب مورد"
                                optionValue="id" optionLabel="title" filter="true">
                            </p-dropdown>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-template #simpleInput>
                <div class="input_icon" *ngIf="!col.readonly && !col.isGIS">
                    <i class="pi pi-bookmark _bookmark" [ngClass]="{special_input: col.borderize}"></i>
                    <div class="input_3">
                        <div class="_key">{{col.header}}</div>
                        <input [readonly]="col.readonly" [tabindex]="col.tabIndex"
                            [type]="col.isNumber ? 'number' : 'text'" class="_value" name="{{col.field}}"
                            [(ngModel)]="closeTabService.requestDraftReq[col.field]">
                    </div>
                </div>
                <div class="input_icon" *ngIf="!col.readonly && col.isGIS" (click)="showInMap()">
                    <i class="pi pi-map-marker _bookmark" [ngClass]="{special_input: col.borderize}"></i>
                    <div class="input_3">
                        <div class="_key">{{col.header}}</div>
                        <div class="_value">
                            <div *ngIf="closeTabService.requestDraftReq[col.field]">
                                <i class="pi pi-check-square"></i>
                                مکان مشخص شده
                            </div>
                            <div *ngIf="!closeTabService.requestDraftReq[col.field]">
                                انتخاب روی نقشه
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</form>