<form class="location-form" (ngSubmit)="nextPage()">
    <h2 class="top_title">اطلاعات مکانی را تکمیل نمایید</h2>
    <div class="_desc">
        <div *ngFor="let col of _selectCols" [ngClass]="{'double_size':col.icon}">
            <ng-container *ngIf="col.isSelectOption;else simpleInput">
                <div *ngIf="col.field == 'provinceId'">
                    <div class="input_icon">
                        <i class="pi pi-bookmark _bookmark tooltip" [ngClass]="{
                            'input_bookmark': itemdrop.invalid && (itemdrop.dirty || itemdrop.touched) || submitted,
                            'input_bookmark_valid':itemdrop.valid,
                            'correct':itemdrop.valid && (itemdrop.dirty || itemdrop.touched)
                           }">
                            <div *ngIf="itemdrop.errors && itemdrop.touched || submitted"
                                class="tooltip_text_bottom alert">
                                <div *ngIf="itemdrop.errors?.required">
                                    <p>
                                        {{col.header}} را وارد نمایید
                                        <i class="pi pi-times"></i>
                                    </p>
                                </div>
                            </div>
                        </i>
                        <div class="input_3">
                            <div class="_key">استان</div>
                            <div class="_value">
                                <p-dropdown #itemdrop="ngModel" name="province" [options]="provinceDictionary"
                                    [(ngModel)]="closeTabService.requestDraftReq.provinceId" placeholder="انتخاب مورد"
                                    optionValue="id" optionLabel="title" filter="true"
                                    [required]="col.isRequired? true : false" (click)="getRegionsByProvinceId()">
                                </p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="col.field == 'regionId'">
                    <div class="input_icon">
                        <i class="pi pi-bookmark _bookmark tooltip" [ngClass]="{
                            'input_bookmark': itemdrop.invalid && (itemdrop.dirty || itemdrop.touched) || submitted,
                            'input_bookmark_valid':itemdrop.valid,
                            'correct':itemdrop.valid && (itemdrop.dirty || itemdrop.touched)
                           }">
                            <div *ngIf="itemdrop.errors && itemdrop.touched || submitted"
                                class="tooltip_text_bottom alert">
                                <div *ngIf="itemdrop.errors?.required">
                                    <p>
                                        {{col.header}} را وارد نمایید
                                        <i class="pi pi-times"></i>
                                    </p>
                                </div>
                            </div>
                        </i>
                        <div class="input_3">
                            <div class="_key">منطقه</div>
                            <div class="_value">
                                <p-dropdown #itemdrop="ngModel" name="region" [options]="regionsByProvinceIdDictionary"
                                    [(ngModel)]="closeTabService.requestDraftReq.regionId" placeholder="انتخاب مورد"
                                    optionValue="id" optionLabel="title" filter="true"
                                    [required]="col.isRequired? true : false" (click)="getZonesByRegionId()">
                                </p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="col.field == 'zoneId'">
                    <div class="input_icon">
                        <i class="pi pi-bookmark _bookmark tooltip" [ngClass]="{
                            'input_bookmark': itemdrop.invalid && (itemdrop.dirty || itemdrop.touched) || submitted,
                            'input_bookmark_valid':itemdrop.valid,
                            'correct':itemdrop.valid && (itemdrop.dirty || itemdrop.touched)
                           }">
                            <div *ngIf="itemdrop.errors && itemdrop.touched || submitted"
                                class="tooltip_text_bottom alert">
                                <div *ngIf="itemdrop.errors?.required">
                                    <p>
                                        {{col.header}} را وارد نمایید
                                        <i class="pi pi-times"></i>
                                    </p>
                                </div>
                            </div>
                        </i>
                        <div class="input_3">
                            <div class="_key">ناحیه</div>
                            <div class="_value">
                                <p-dropdown #itemdrop="ngModel" name="zones" [options]="zonesByRegionIdDictionary"
                                    [(ngModel)]="closeTabService.requestDraftReq.zoneId" placeholder="انتخاب مورد"
                                    optionValue="id" optionLabel="title" filter="true"
                                    [required]="col.isRequired? true : false" (click)="getVillagesByZoneId()">
                                </p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input_icon" *ngIf="col.field == 'villageId'">
                    <i class="pi pi-bookmark _bookmark tooltip" [ngClass]="{
                        'input_bookmark': itemdrop.invalid && (itemdrop.dirty || itemdrop.touched) || submitted,
                        'input_bookmark_valid':itemdrop.valid,
                        'correct':itemdrop.valid && (itemdrop.dirty || itemdrop.touched)
                       }">
                        <div *ngIf="itemdrop.errors && itemdrop.touched || submitted" class="tooltip_text_bottom alert">
                            <div *ngIf="itemdrop.errors?.required">
                                <p>
                                    {{col.header}} را وارد نمایید
                                    <i class="pi pi-times"></i>
                                </p>
                            </div>
                        </div>
                    </i>
                    <div class="input_3">
                        <div class="_key">روستا</div>
                        <div class="_value">
                            <p-dropdown #itemdrop="ngModel" name="village" [options]="villagesByZoneIdDictionary"
                                [(ngModel)]="closeTabService.requestDraftReq.villageId" placeholder="انتخاب مورد"
                                optionValue="id" optionLabel="title" filter="true"
                                [required]="col.isRequired? true : false">
                            </p-dropdown>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-template #simpleInput>
                <div *ngIf="!col.readonly && !col.isGIS">
                    <div class="input_icon">
                        <i class="pi pi-bookmark _bookmark tooltip" [ngClass]="{
                            special_input: col.borderize,
                            'input_bookmark': item.invalid && (item.dirty || item.touched) || submitted,
                            'input_bookmark_valid':item.valid,
                            'correct':item.valid && (item.dirty || item.touched)
                           }">
                            <div *ngIf="item.errors && item.touched || submitted" class="tooltip_text_bottom alert">
                                <div *ngIf="item.errors?.required">
                                    <p>
                                        {{col.header}} را وارد نمایید
                                        <i class="pi pi-times"></i>
                                    </p>
                                </div>
                            </div>
                            <div *ngIf="item.errors?.minlength" class="tooltip_text_bottom">
                                <p>
                                    حداقل تعداد نویسه {{col.minLength}} عدد می‌باشد
                                    <i class="pi pi-times"></i>
                                </p>
                            </div>
                            <div *ngIf="item.errors?.maxlength" class="tooltip_text_bottom alert">
                                <p>
                                    حداکثر تعداد نویسه {{col.maxLength}} عدد می‌باشد
                                    <i class="pi pi-times"></i>
                                </p>
                            </div>
                        </i>
                        <div class="input_3">
                            <div class="_key">{{col.header}}</div>
                            <input #item="ngModel" [type]="col.isNumber ? 'number' : 'text'" [id]="col.field"
                                [name]="col.field" class="form-control" [required]="col.isRequired? true : false"
                                minlength="{{col.minLength}}" [(ngModel)]="closeTabService.requestDraftReq[col.field]"
                                [readonly]="col.readonly" maxlength="{{col.maxLength}}" class="_value">
                        </div>
                    </div>
                </div>
                <div class="input_icon" *ngIf="!col.readonly && col.isGIS" (click)="showInMap()">
                    <i class="pi pi-map-marker _bookmark" [ngClass]="{special_input: col.borderize}"></i>
                    <div class="input_3">
                        <div class="_key">{{col.header}}</div>
                        <div class="_value">
                            <div class="location_selected" *ngIf="closeTabService.requestDraftReq[col.field]">
                                <i class="pi pi-check-square"></i>
                                مکان مشخص شده
                            </div>
                            <div *ngIf="!closeTabService.requestDraftReq[col.field]">
                                انتخاب روی نقشه
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
    <footer>
        <button type="submit" class="btn_1">
            <i class="pi pi-angle-left"></i>
            تایید و ادامه
        </button>
    </footer>
</form>