<p-table [columns]="selectedColumns" [value]="dataSource" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
    currentPageReportTemplate="نمایش از {first} تا{last} از {totalRecords} مورد"
    [rowsPerPageOptions]="[10, 100, 1000, 5000]" dir="rtl" styleClass="p-datatable-responsive" [responsive]="true"
    stateStorage="session" sortField="zoneTitle" sortMode="single" (onSort)="onSort()">

    <ng-template pTemplate="caption">
        <!-- <p-multiSelect [options]="_selectCols" [(ngModel)]="selectedColumns" name="selectOptions"
                    optionLabel="header"
                    (ngModelChange)="importDynamicService.setColumnsChanges(importDynamicService.ENSelectedColumnVariables.selectedSimafaBatch ,$event)"
                    selectedItemsLabel="{0} ستون انتخاب شده" [style]="{minWidth: '200px'}" placeholder="ستون ها">
                </p-multiSelect> -->
        <div class="header_icons_wrap">
            <div class="right_side">
            </div>
            <div class="left_side">
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
            <th style="width: 2.5rem" *ngFor="let item of [1,2,3,4]"></th>
        </tr>
    </ng-template>

    <ng-template hidden="!dataSource" pTemplate="body" let-dataSource let-columns="columns" let-ri=rowIndex>
        <tr class="_anything" *ngIf="rowGroupMetadata[dataSource.zoneTitle].index === ri">
            <td>
                <span>{{dataSource.zoneTitle}}</span>
            </td>
        </tr>
        <tr>
            <td *ngFor="let col of columns">
                <span class="ui-column-title">{{col.header}}</span>
                <ng-container *ngIf="col.isBoolean; else simple">
                    <mat-checkbox [disabled]="true" name="isBoolean" [(ngModel)]="dataSource[col.field]">
                    </mat-checkbox>
                </ng-container>
                <ng-template #simple>
                    {{dataSource[col.field]}}
                </ng-template>
            </td>
            <td (click)="routeToOffloadModify(dataSource)">
                <span class="ui-column-title">اصلاح لیست</span>
                <i class="tooltip p_icons pi pi-info-circle">
                    <div class="tooltip_text_right">اصلاح لیست</div>
                </i>
            </td>
            <td (click)="routeToOffloadGeneralGroupModify(dataSource)">
                <span class="ui-column-title">اصلاح کلی لیست</span>
                <i class="tooltip p_icons pi pi-info">
                    <div class="tooltip_text_right">اصلاح کلی لیست</div>
                </i>
            </td>
            <td (click)="backToReading(dataSource)">
                <span class="ui-column-title">بازگشت به درحال قرائت</span>
                <i class="tooltip p_icons pi pi-step-backward">
                    <div class="tooltip_text_right">بازگشت به درحال قرائت</div>
                </i>
            </td>
            <td (click)="downloadOutputSingle(dataSource)">
                <span class="ui-column-title">دانلود فایل</span>
                <i class="tooltip p_icons pi pi-download">
                    <div class="tooltip_text">دانلود فایل</div>
                </i>
            </td>
        </tr>
    </ng-template>

</p-table>

<section *ngIf="!dataSource">
    <tr class="empty_data">
        موردی پیدا نشد
    </tr>
</section>