.header {
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #fff;
  height: 3rem;
  position: sticky;
  top: 0;

  ._logo_content {
    width: 4.2rem;
    height: 3rem;
  }
}

ul {
  margin-left: auto;
  list-style-type: none;
}

li {
  padding-right: 1rem;
  font-size: 1.3rem;
  font-weight: 600;

  @media (min-width: 700px) {
    padding-right: 8rem;
  }
}
