@import 'variable';

.header {
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: var(--white);
  height: $font_3;
  position: sticky;
  top: 0;

  ._logo_content {
    width: 4.2rem;
    height: $font_3;
  }
}

ul {
  margin-left: auto;
  list-style-type: none;
}

._theme_mode {
  margin-left: $font_xs;
  font-size: $font_m;
  cursor: pointer;

  .fa-sun {
    color: yellow;
  }
}

._title {
  color: var(--gray_800);
}

li {
  padding-right: $font_xs;
  font-size: $font_m;
  font-weight: 600;
  list-style-type: none;

  @media (min-width: 700px) {
    padding-right: 8rem;
  }
}
