<div class="_card">
    <h1 class="title">فیلتر نمایش</h1>
    <div class="input_2">
        <div class="_key">جستجو براساس</div>
        <div class="_value">
            <p-dropdown name="notiftype" [options]="profileService.searchInOrderNotificationMessages"
                [(ngModel)]="closeTabService.notificationMessagesReq.messageType" optionValue="value"
                optionLabel="titleUnicode" (onChange)="searchInOrderChanged()">
            </p-dropdown>
        </div>
    </div>
    <div class="input_2" *ngIf="closeTabService.notificationMessagesReq.messageType == 1">
        <div class="_key">نوع پیام</div>
        <div class="_value">
            <p-dropdown name="mediaType" [options]="notifFilterDictionaryMedia"
                [(ngModel)]="closeTabService.notificationMessagesReq.userInputType" placeholder="انتخاب مورد"
                optionValue="value" optionLabel="titleUnicode" (onChange)="showItemOnSearch('alertTypeId')"
                placeholder="انتخاب کنید">
            </p-dropdown>
        </div>
    </div>
    <div class="input_2" *ngIf="closeTabService.notificationMessagesReq.messageType == 2">
        <div class="_key">نوع اعلان</div>
        <div class="_value">
            <p-dropdown name="alertType" [options]="notifFilterDictionaryType"
                [(ngModel)]="closeTabService.notificationMessagesReq.userInputType" placeholder="انتخاب مورد"
                optionValue="value" optionLabel="titleUnicode" (onChange)="showItemOnSearch('notificationMediaTypeId')"
                placeholder="انتخاب کنید">
            </p-dropdown>
        </div>
    </div>
</div>

<section>
    <div class="_container" *ngFor="let item of closeTabService.notificationMessages; index as ri"
        [hidden]="!closeTabService.notificationMessages[ri].canShow">
        <div class="_icon">
            <div class="__notificationMediaTypeId" [ngClass]="{
                'pi pi-envelope':item.notificationMediaTypeId == closeTabService.utilsService.getNotificationMediaTypeIds().text,
                'pi pi-image':item.notificationMediaTypeId == closeTabService.utilsService.getNotificationMediaTypeIds().image,
                'pi pi-video':item.notificationMediaTypeId == closeTabService.utilsService.getNotificationMediaTypeIds().video,
                'fa fa-file-audio-o':item.notificationMediaTypeId == closeTabService.utilsService.getNotificationMediaTypeIds().audio
            }">
            </div>
        </div>
        <div class="_content">
            <div class="__sender">
                فرستنده:
                {{item.sender}}
            </div>
            <div class="__insertDateTimeJalali">
                تاریخ:
                {{item.insertDateTimeJalali}}
            </div>
            <div class="__deliverConfirm">
                <div *ngIf="item.deliverConfirm;else notDelivered">
                    <i class="tooltip">
                        <img src="assets/imgs/other/check.png" alt="">
                        <div class="tooltip_text_right">خوانده شده</div>
                    </i>
                </div>
                <ng-template #notDelivered>
                    <i (click)="confirmDelivery(item)" class="tooltip pi pi-eye _unreads">
                        <div class="tooltip_text_right">تغییر وضعیت به خوانده شده</div>
                    </i>
                </ng-template>
            </div>
            <div class="__alertTypeId" [ngClass]="{
                '_confidential':item.alertTypeId == closeTabService.utilsService.getNotificationAlertTypesIds().confidential,
                '_ordinary':item.alertTypeId == closeTabService.utilsService.getNotificationAlertTypesIds().ordinary,
                '_sensitive':item.alertTypeId == closeTabService.utilsService.getNotificationAlertTypesIds().sensitive,
                '_memory_full':item.alertTypeId == closeTabService.utilsService.getNotificationAlertTypesIds().memory_full,                
                '_security':item.alertTypeId == closeTabService.utilsService.getNotificationAlertTypesIds().security,               
                '_license':item.alertTypeId == closeTabService.utilsService.getNotificationAlertTypesIds().license,               
                '_incorrect_time':item.alertTypeId == closeTabService.utilsService.getNotificationAlertTypesIds().incorrect_time
            }">
                نوع:
                {{
                item.alertTypeId == closeTabService.utilsService.getNotificationAlertTypesIds().confidential ?'محرمانه'
                :item.alertTypeId == closeTabService.utilsService.getNotificationAlertTypesIds().ordinary ?'عادی'
                :item.alertTypeId == closeTabService.utilsService.getNotificationAlertTypesIds().sensitive ?'حساس'
                :item.alertTypeId == closeTabService.utilsService.getNotificationAlertTypesIds().memory_full ?'حافظه'
                :item.alertTypeId == closeTabService.utilsService.getNotificationAlertTypesIds().security ?'امنیتی'
                :item.alertTypeId == closeTabService.utilsService.getNotificationAlertTypesIds().license ?'مجوز دسترسی'
                :item.alertTypeId == closeTabService.utilsService.getNotificationAlertTypesIds().incorrect_time?'زمان
                نادرست'
                :''
                }}
            </div>
            <p class="__caption">
                متن:
                {{item.caption}}
            </p>
            <button class="btn_2_o" (click)="openNotifyType(item)">مشاهده</button>
        </div>
    </div>
</section>

<div *ngIf="!this.closeTabService.notificationMessages.length">
    <div class="empty_data">
        پیامی برای نمایش وجود ندارد
        <i class="fa fa-envelope-open-o"></i>
    </div>
</div>