<h2 mat-dialog-title class="_blue_dark">ویرایش منطقه</h2>
<form [formGroup]="form">
    <mat-dialog-content>

        <mat-form-field appearance="fill">
            <mat-label>عنوان</mat-label>
            <input matInput formControlName="title" placeholder="عنوان">
        </mat-form-field>

        <mat-form-field appearance="fill">

            <mat-label>شهر</mat-label>
            <mat-select name="provinceId">
                <mat-option *ngFor="let truefalse of data.di" [value]="truefalse.value">
                    {{truefalse.title}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>ترتیب</mat-label>
            <input matInput formControlName="logicalOrder" placeholder="ترتیب">
        </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions>
        <button class="btn_2" (click)="close()">بازگشت</button>
        <button class="btn_2 _custom _blue_dark" [mat-dialog-close]="form" (click)="save()">ذخیره</button>
    </mat-dialog-actions>
</form>