<app-prime-table     
    [dataSource]="dataSource" 
    [_outputFileName]="'reading'"
    [_checkUpName]="'reading'"    
    [_numberOfExtraColumns]="[1, 2, 3, 4]"
    [_sessionName]="'reading-session'"
    [_selectedColumnsToRemember]="'selectedTrackReading'"    
    [_calculableSUM]=true
    [_calcName]="'itemQuantity'"
    (refreshedTable)="refreshTable()"
    (forcedOffload)="forceOffload($event)"
    (backedToImportedConfirmDialog)="backToImportedConfirmDialog($event)"
    (routedToLMPayDay)="trackingManagerService.routeToLMPayDay($event)"
    (routedToLMAll)="trackingManagerService.routeToLMAll($event)"
 > 
</app-prime-table>
<!-- state saving correctly but for default sortField it may not happenning -->