<app-prime-table     
    [_selectCols]="_selectCols" 
    [_selectedColumns]="selectedColumns"
    [dataSource]="dataSource" 
    [_outputFileName]="'reading'"
    [_checkUpName]="'reading'"    
    [_numberOfExtraColumns]="[1, 2, 3, 4]"
    [_sortField]="'insertDateJalali'"
    [_sessionName]="'reading-session'"
    [_selectedColumnsToRemember]="'selectedTracks'"    
    (refreshedTable)="refreshTable()"
    (forcedOffload)="forceOffload($event)"
    (backedToImportedConfirmDialog)="backToImportedConfirmDialog($event)"
    (routedToLMPayDay)="routeToLMPayDay($event)"
    (routedToLMAll)="trackingManagerService.routeToLMAll($event)"
 > 
</app-prime-table>
