@import 'variable.scss';
@import 'tooltip.scss';
@import 'mixins.scss';
@import 'button.scss';
@import '_mat.scss';

.map-frame {
  margin: 1rem .2rem;
  height: 100%;
  min-height: 31rem;
  box-shadow: -1px 2px 5px 5px var(--secondary_4);
  position: relative;
}

#map {
  height: 31rem;
  width: 100%;
  z-index: 1;
}

.top_info {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 0 2rem;
}

._options {
  display: flex;
  flex-direction: row-reverse;
}

.unit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 0;

  .unit_toggle {
    cursor: pointer;
    border: 2px solid var(--orange_500);
    border-radius: 100vmax;
    width: 5rem;
    transition: all ease-in-out 250ms;

    &::after {
      content: '';
      display: block;
      margin-left: auto;
      height: $font_s;
      width: $font_s;
      border-radius: $border_50;
      background: var(--orange_500);
      transition: all ease-in-out 250ms;

    }
  }

  input:checked~.unit_toggle::after {
    margin-left: 0;
  }

  input {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    height: 1px;
    width: 1px;
  }

  label {
    display: flex;
    position: relative;
    font-size: $font_m;
    margin: 0 $font_05;
    color: var(--primary_5);
    background: var(--secondary_3);
    border-radius: $border_50;
    padding: $font_05;
    cursor: pointer;
  }
}

.clickable_dash {

  &::after {
    content: '';
    position: absolute;
    width: 5.2rem;
    height: 3rem;
    top: -.25rem;
    right: 0;
  }
}

.clickable_map {

  &::after {
    content: '';
    position: absolute;
    width: 5.5rem;
    height: 3rem;
    top: -.25rem;
    left: 0;
  }
}

// map option configs
.polyline_switch {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100vmax;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0rem;
  border: 0;
  background-color: var(--secondary_3);
  color: var(--thirdy_1);

  i {
    font-size: $font_m;
    font-weight: 600;
  }
}

.polyline_config {
  position: absolute;
  left: 0rem;
  top: -3rem;
  z-index: 2;
  background: var(--white);
  width: 20rem;
  margin: $font_xs;
  padding: $font_xs;
  text-align: right;
  direction: rtl;
  border-radius: $border_15;
  box-shadow: 0px 2px 3px 1px var(--thirdy_3);

  @media (max-width: 550px) {
    margin: $font_l 0;
    width: 18rem;
  }
}

article {
  background-color: var(--secondary_2);
  border-radius: $border_15;
  margin: $font_2 0 0;
  padding: $font_05;
  box-shadow: 0 0 2px 1px var(--secondary_5);
}

._flex_dr_ric {
  justify-content: center;
}

h3 {
  color: var(--primary_2);
  margin-bottom: $font_05;
}

.btn_2 {
  height: 2.5rem;
  color: var(--secondary_6);
  margin-top: $font_xs;
}

._flex_dr_ric {
  margin: 0 $font_05;

  p {
    font-size: $font_s;
    color: var(--primary_5);
    margin: 0 $font_xs;
  }
}

// 
[hidden] {
  display: none;
}
