@import 'variable.scss';
@import 'tooltip.scss';
@import 'mixins.scss';
@import 'button.scss';
@import '_mat.scss';

.map-frame {
  margin: var(--font_xs) var(--font_02);
  height: 100%;
  min-height: 70vh;
  min-height: 70svh;
  box-shadow: -1px 2px 5px 5px var(--secondary_4);
  position: relative;
}

#map {
  height: 70vh;
  height: 70svh;
  width: 100%;
  z-index: 1;
}

.top_info {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 0 0.5rem;

  @media (min-width: 550px) {
    margin: 0 2rem;
  }
}

._options {
  display: flex;
  flex-direction: row-reverse;
  cursor: pointer;
}

.unit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  direction: rtl;
  gap: var(--font_05);
  z-index: 0;
}

.active {
  border: 1px solid;
}

// map option configs
.polyline_switch {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $border_100vmax;
  width: var(--font_25);
  height: var(--font_25);
  padding: 0rem;
  border: 0;
  background: var(--secondary_3);
  color: var(--primary_5);

  i {
    font-size: var(--font_m);
    font-weight: 600;
  }
}

.polyline_config {
  position: absolute;
  left: 0rem;
  top: calc(-1 * var(--font_3));
  z-index: 2;
  background: var(--white);
  width: 20rem;
  margin: var(--font_xs);
  padding: var(--font_xs);
  text-align: right;
  direction: rtl;
  font-weight: 600;
  border-radius: $border_15;
  box-shadow: 0px 2px 3px 1px var(--thirdy_3);

  @media (max-width: 550px) {
    margin: var(--font_l) 0;
    width: 18rem;
  }

  // show button
  .btn_2 {
    height: var(--font_22);
    margin-top: var(--font_03);
    background: var(--thirdy_1);
    color: var(--secondary_1);
    box-shadow: none;
  }
}

article {
  background-color: var(--secondary_2);
  border-radius: $border_15;
  margin: var(--font_2) 0 0;
  padding: var(--font_05);
  box-shadow: 0 0 2px 1px var(--secondary_5);
}

h3 {
  color: var(--primary_3);
  margin-bottom: var(--font_05);
}

._config_title {
  color: var(--primary_2);
}

h2 .btn_2 {
  height: var(--font_25);
  color: var(--secondary_6);
  margin-top: var(--font_xs);
}

._flex_dr_ric {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 var(--font_05);
  background-color: var(--secondary_3);
  border-radius: $border_7;
  user-select: none;

  p {
    font-size: var(--font_s);
    color: var(--primary_5);
    margin: 0 var(--font_xs);
  }
}

.small_button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $border_10;
  width: var(--font_25);
  height: var(--font_25);
  padding: 0rem;
  border: 0;
  background: var(--white);
  color: var(--primary_3);

  i {
    font-size: var(--font_s);
    font-weight: 600;
  }

  &:hover,
  &:focus-visible,
  &:active {
    outline: 1px solid var(--primary_5);
  }
}

.back_tobutton {
  margin-right: 5px;
}

// 
app-locations {
  margin: auto auto auto 0;
}

.p-field-radiobutton {
  display: flex;
  align-items: center;
  margin: 0;

  label {
    font-size: var(--font_s);
    color: var(--secondary_8);
    font-weight: 600;
    margin-right: var(--font_xs);
  }
}

[hidden] {
  display: none;
}