<div class="unit">
    <label (click)="showDashboard(false)" class="clickable_map" for="_map">
        <i class="fa fa-map-o"></i>
    </label>
    <input type="radio" id="_map" name="radio">

    <button class="unit_toggle"></button>

    <label (click)="showDashboard(true)" class="clickable_dash" for="_dash">
        <i class="fa fa-dashboard"></i>
    </label>
    <input type="radio" id="_dash" name="radio">
</div>

<div class="map-frame" [hidden]="!isShowMap">
    <div id="map"></div>
</div>

<!-- <router-outlet></router-outlet> -->