<section class="top_info">
    <div class="unit">
        <button class="btn_3" (click)="showDashboard(true)" [routerLink]="['/wr']" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa fa-map-o"></i>
            نقشه
        </button>
        <button class="btn_3" (click)="showDashboard(false)" [routerLink]="['/wr/db']" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa fa-dashboard"></i>
            داشبورد
        </button>
    </div>

    <app-locations [hidden]="!isShowMap" (sendlocations)="showCounterReaders($event.data, $event.showCluster)">
    </app-locations>

    <section class="_options tooltip">
        <div class="_flex_dr_ric" [hidden]="!canShowOptionsButton || !isShowMap"
            (click)="isShowMapConfig = !isShowMapConfig">
            <button class="polyline_switch">
                <i class="pi pi-cog"></i>
            </button>
            <div class="tooltip_text">تنظیمات نقشه</div>
            <p>تنظیمات نقشه</p>
        </div>
    </section>

    <div [hidden]="!isShowMap" class="back_tobutton">
        <button style="z-index: 1;" (click)="utilsService.backToPreviousPage()" class="small_button tooltip">
            <i class="pi pi-arrow-left"></i>
            <div class="tooltip_text">بازگشت</div>
        </button>
    </div>

</section>

<div class="map-frame" [hidden]="!isShowMap || route.children.length !== 0">
    <div *ngIf="isShowMapConfig" [hidden]="!canShowOptionsButton" class="polyline_config">
        <h3>زمان نمایش (ms) : {{polyline_configs}}</h3>
        <p-slider [(ngModel)]="polyline_configs" [max]=3000></p-slider>
        <article>
            <h3 class="_config_title">ترتیب براساس :</h3>
            <div *ngFor="let orderType of orderGroup">
                <div class="p-field-radiobutton">
                    <p-radioButton name="orderByDate" [value]="orderType.value" [(ngModel)]="_selectedOrderId"
                        [inputId]="orderType.title">
                    </p-radioButton>
                    <label [for]="orderType.title">{{orderType.header}}</label>
                </div>
            </div>
            <h3 class="_config_title">به ترتیب صعودی؟</h3>
            <mat-checkbox name="orderInAsc" [(ngModel)]="_isOrderInAsc">بلی</mat-checkbox>
            <br>
        </article>
        <!--is first time to drawXY positions-->
        <button class="btn_2" (click)="mapConfigOptions(polyline_configs, false)"
            (click)="isShowMapConfig = false">نمایش</button>
    </div>
    <div id="map"></div>
</div>
<router-outlet></router-outlet>