@import '../../../assets/variable.scss';


ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  border-radius: 15px;
  margin: .2rem;
}

li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.15rem;
  min-width: 10rem;
  height: 3.87rem;
  border-radius: $border_s;
  color: $gray_dr;
  background: $gray_d;
  list-style-type: none;
  font-size: $font_m;
  font-weight: 600;
  cursor: pointer;

  .fa-circle-notch {
    position: absolute;
    left: .5rem;
    transform: translateY(-50%);
    top: 50%;
    width: $font_xs;
    height: $font_xs;
    margin-left: auto;
    border-radius: 2rem;
    color: $gray_d;
    opacity: 0;
    transition: opacity 50ms ease-in-out;

    &:hover {
      color: $gray_dr;
      opacity: 1;
    }
  }

  .fa-window-close {
    position: absolute;
    right: .5rem;
    transform: translateY(-50%);
    top: 50%;
    width: $font_xs;
    height: $font_xs;
    margin-left: auto;
    border-radius: 2rem;
    color: $gray_d;
    opacity: 0;
    transition: opacity 50ms ease-in-out;

    &:hover {
      color: $gray_dr;
    }
  }

  &:hover {
    background: $gray_d5;

    .fa {
      opacity: 1;
    }
  }

}

li::before {
  content: '';
  visibility: hidden;
  position: absolute;
  top: 0;
  border-radius: 15px;
  height: .3rem;
  width: 90%;
  background: $blue_l;
}

li.active,
li:active {
  color: $blue_l;
  background: $white;
}

li.active::before,
li:active::before {
  visibility: visible;
}
