<div class="_remove_all tooltip">
    <img src="assets/imgs/tabWrapper/removeAll.png" alt="close_all" (click)="closeAllTabs()">
    <div class="tooltip_text_right">حذف همه تب ها</div>
</div>
<section>
    <ul>
        <li *ngFor="let tab of tabs" [routerLink]="['/'+ tab.route]" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            <i *ngIf="tab.isRefreshable" (click)="refreshCurrentPage(tab.route)" class="fa fa-refresh"></i>
            {{tab.title}}
            <i *ngIf="tab.isClosable" (click)="closeButtonClicked(tab.route)" class="fa fa-close"></i>
        </li>
    </ul>
</section>