<div class="_remove_all tooltip">
    <img src="assets/imgs/tabWrapper/removeAll.png" alt="close_all" (click)="closeAllTabs()">
    <div class="tooltip_text">حذف همه تب ها</div>
</div>
<section>
    <ul>
        <li *ngFor="let tab of tabs" [routerLink]="['/'+ tab.items.route]" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            {{tab.title}}
            <i (click)="closeButtonClicked(tab.routerUrl)" class="fa fa-close"></i>
        </li>
    </ul>
</section>