@import 'primeNG';
@import 'input';

form {
    opacity: 0.7;
    pointer-events: none;
}

._desc {
    display: grid;
    align-items: center;
    padding: var(--font_05);
    grid-template-columns: repeat(auto-fit, minmax(18rem, auto));
    direction: rtl;
    margin: var(--font_m);
    gap: var(--font_02);
    background: var(--white);
    border-radius: 10px;
    box-shadow: 0px 2px 6px 2px var(--secondary_7);

    @media (min-width: 550px) {
        grid-template-columns: 1fr 1fr;
    }
}

.map-frame {
    margin: var(--font_xs) var(--font_02);
    height: 100%;
    min-height: 70vh;
    box-shadow: -1px 2px 5px 5px var(--secondary_4);
    position: relative;
}

#map3 {
    height: 10rem;
    width: 10rem;
    z-index: 1;
}