@import 'primeNG';
@import 'input.scss';
@import 'button.scss';
@import '_mat.scss';

.main {
  direction: rtl;
  background: var(--secondary_1);
  box-shadow: 1px 1px 8px 4px var(--secondary_4);
  padding: var(--font_05);
  border-radius: $border_15;
  border: 1px solid var(--primary_2);
}

section.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, auto));
  gap: var(--font_05);
  align-items: center;
}

.tooltip {
  cursor: pointer;
}

.input_1 {
  border-radius: 10px;
  min-width: 100%;
}

.btn_1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

h2 {
  color: var(--secondary_6);
}

h3 {
  color: var(--primary_3);
  font-size: var(--font_m2);
  padding: var(--font_05);
}

.check_boxes {
  padding: var(--font_03);
  margin-top: 0;
  display: flex;
  align-items: center;
  height: var(--font_3);
}

[hidden] {
  display: none;
}
