<main class="main">
    <form #form="ngForm" (ngSubmit)="connectToServer()">
        <section class="content">

            <div class="input_2">
                <div class="_key">نوع جستجو</div>
                <mat-select placeholder="انتخاب مورد" [(ngModel)]="searchService.searchReqMosh.searchBy"
                    name="searchType">
                    <mat-option (click)="_searchByInfo = truefalse.searchBy" *ngFor="let truefalse of searchType"
                        [value]="truefalse.id">
                        {{truefalse.searchBy}}
                    </mat-option>
                </mat-select>
            </div>
            <div class="input_2">
                <div class="_key">ناحیه</div>
                <p-dropdown name="zones" [options]="zoneDictionary" [(ngModel)]="searchService.searchReqMosh.zoneId"
                    placeholder="انتخاب مورد" [style]="{'max-width': '9rem','width':'100%'}" optionValue="id"
                    optionLabel="title" filter="true">
                </p-dropdown>
            </div>
            <input class="input_1" type="number" placeholder="{{_searchByInfo}} را وارد نمایید " name="counterNumber"
                [(ngModel)]="searchService.searchReqMosh.item" autofocus>

            <div class="check_boxes">
                <mat-checkbox name="similar" [(ngModel)]="searchService.searchReqMosh.similar">جستجوی موارد مشابه
                </mat-checkbox>
            </div>
            <button type="submit" class="tooltip btn_2_o">
                <i class="pi pi-search"></i>
                جستجو
            </button>
        </section>
    </form>
</main>

<app-prime-table  
[dataSource]="dataSource"    
[_outputFileName]="'searchMosh'" 
[_checkUpName]="'search_moshtarak'"
[_selectedColumnsToRemember]="'selectedListManagerMosh'" 
[_numberOfExtraColumns]="[1,2,3]"
[_sessionName]="'moshtarak-session'"
(refreshedTable)="refreshTable()"
(showedPictures)="getReadingReportTitles($event)"
(showedWOUIAsCarousel)="doShowCarousel($event)"
(showedInMapSingle)="openMapDialog($event)"
>
</app-prime-table>