@import 'variable';
@import 'button.scss';
@import 'input.scss';
@import 'media.scss';

.over_all {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, auto));
  direction: rtl;
  justify-content: center;
  gap: $font_xs;
}

@include media_wrapper(550px, '.over_all', grid-template-columns, repeat(auto-fit, minmax(25rem, auto)));

.content {
  background: var(--secondary_1);
  box-shadow: 1px 1px 8px 4px var(--secondary_4);
  text-align: center;
  padding: $font_2 0;
  border-radius: $border_15;
  min-height: 25rem;
}

input {
  text-align: center;
  width: 19rem;
}

._desc {
  display: grid;
  justify-content: center;
}

.title {
  color: var(--primary_3);
  text-align: center;
  margin: $font_xs $font_05;
  font-size: 1.6rem;
}

.change_pass {

  button {
    background: var(--primary_2);
    margin: $font_2 auto;
    color: var(--white);
    width: 100%;
  }
}

.icon_android,
small {
  color: var(--green_500);
  margin: 0 .4rem;
}

.icon_android {
  font-size: 2.5rem;
}