<app-prime-table     
    [_selectCols]="_selectCols" 
    [_selectedColumns]="selectedColumns"
    [dataSource]="dataSource" 
    [_outputFileName]="'forbidden'"
    [_checkUpName]="'forbidden'"
    [_rowsNumbers]=10
    [_rowsPerPage]="[10,25,50]"
    [_numberOfExtraColumns]="[1]"
    [_backToPreviousEnabled]=true
    [_backToPreviousText]="'بازگشت به جستجو غیرمجاز'"
    (backedToPrevious)="backToPrevious()"
    (refreshedTable)="refreshTable()"
    (showedPictures)="showPictures($event)"
 > 
</app-prime-table>