<main>
    <h3>
        <div class="_text">
            {{title}}
        </div>

        <i class="p_icons _circle_border pi pi-check"></i>
    </h3>

    <section>
        <div class="_key_value">
            <div class="_key">تعداد خطاها</div>
            <div class="_value"><strong>{{data.errorCount}}</strong></div>
        </div>
        <div class="_key_value">
            <div class="_key">انجام شده</div>
            <div class="_value"><strong>{{data.doneCount}}</strong></div>
        </div>
    </section>
</main>