@import 'variable';

main {
  font-family: $font_family;
  font-size: $font_s;

  padding: $font_05;
}

._circle_border {
  color: var(--green_500);
  border: 2px solid var(--green_500);
  margin-left: $font_xs;
}

h3 {
  display: flex;
  justify-content: center;
  margin-bottom: $font_l;
}

._key_value {
  columns: 2;
  text-align: center;
  margin-bottom: $font_xs;
  column-rule: 1px dashed var(--primary_2);
  direction: rtl;
}

._key,
._value {
  font-weight: 600;
}

._key {
  color: var(--primary_4);
}

._text {
  margin-left: $font_xs;
}

._custom {
  background: var(--primary_2);
  color: var(--secondary_1);
}

section {
  padding: 0 $font_05;
}
