<section class="auth_1_container">
    <div [ngClass]="{'active_tab': item.title === switchCaseName}" class="auth_1_item" *ngFor="let item of userAddData"
        (click)="changeSwitchCase(item.title)">
        {{item.title}}
    </div>
</section>
<section class="auth_1" *ngFor="let item of userAddData" [ngSwitch]="item.title">
    <div *ngSwitchCase="switchCaseName">
        <section class="auth_2" *ngFor="let moduleIt of item.moduleItems">
            <div class="separator text">{{moduleIt.title}}</div>

            <section class="auth_3" *ngFor="let controllerIt of moduleIt.controllerItems">
                <mat-checkbox (change)="toggleSubItems($event.checked , controllerIt.actionItems)" class="text_btn">
                    {{controllerIt.title}}
                </mat-checkbox>

                <section class="auth_4">
                    <div class="checkboxes" *ngFor="let actionIt of controllerIt.actionItems">
                        <mat-checkbox [(ngModel)]="actionIt.isSelected">
                            {{actionIt.title}}
                        </mat-checkbox>
                    </div>
                </section>
            </section>
        </section>
    </div>
</section>
<div class="accept">
    <button class="btn_2" matStepperNext>
        <i class="fa fa-long-arrow-left"></i>
        صفحه بعد</button>
    <button class="btn_2" matStepperPrevious>صفحه قبل</button>
</div>