<h2 mat-dialog-title>نقشی اضافه کنید</h2>

<mat-dialog-content>

    <mat-form-field appearance="fill">
        <mat-label>نقش</mat-label>
        <input matInput placeholder="">
        <!-- <i class="fa fa-edit"></i> should be mat icon -->        
    </mat-form-field> 

    <mat-form-field appearance="fill">
        <mat-label>عنوان</mat-label>
        <input matInput placeholder="عنوان">
    </mat-form-field> 

    <mat-checkbox>needDeviceIdLogin</mat-checkbox>

</mat-dialog-content>

<mat-dialog-actions>
    <button class="btn_2" (click)="close()">بازگشت</button>
    <button class="btn_2 _custom" [mat-dialog-close]="addNew" (click)="save()">ذخیره</button>
</mat-dialog-actions>