<h2 mat-dialog-title>{{data.title}}</h2>

<mat-dialog-content>
    <main>
        <p *ngIf="data.messageOne">{{data.messageOne}}</p>
        <div *ngIf="data.imgOne" class="_img_content">
            <img src="{{data.imgOne}}" alt="">
        </div>
        <p *ngIf="data.messageTwo">{{data.messageTwo}}</p>

        <div *ngIf="data.imgTwo" class="_img_content">
            <img src="{{data.imgTwo}}" alt="">
        </div>
        <p *ngIf="data.messageThree">{{data.messageThree}}</p>

    </main>

</mat-dialog-content>

<mat-dialog-actions>
    <button class="btn_2" (click)="close()">بازگشت</button>
</mat-dialog-actions>