<form class="technical-form" (ngSubmit)="nextPage()">
    <h2 class="top_title">اطلاعات فنی را تکمیل نمایید</h2>
    <div class="_desc">
        <div *ngFor="let col of _selectCols" [ngClass]="{'double_size':col.icon}">
            <ng-container *ngIf="col.isSelectOption;else simpleInput">
                <div *ngIf="col.field == 'usageId'">
                    <div class="input_icon">
                        <i class="pi pi-bookmark _bookmark tooltip" [ngClass]="{
                             'input_bookmark': itemdrop.invalid && (itemdrop.dirty || itemdrop.touched) || submitted,
                             'input_bookmark_valid':itemdrop.valid,
                             'correct':itemdrop.valid && (itemdrop.dirty || itemdrop.touched)
                            }">
                            <div *ngIf="itemdrop.errors && itemdrop.touched || submitted"
                                class="tooltip_text_bottom alert">
                                <div *ngIf="itemdrop.errors?.required">
                                    <i class="pi pi-times"></i>
                                    <p>{{col.header}} را وارد نمایید</p>
                                </div>
                            </div>
                        </i>
                        <div class="input_3">
                            <div class="_key">کاربری</div>
                            <div class="_value">
                                <p-dropdown #itemdrop="ngModel" name="usageId" [options]="usageDictionary"
                                    [(ngModel)]="closeTabService.requestDraftReq.usageId" placeholder="انتخاب مورد"
                                    optionValue="id" optionLabel="title" filter="true"
                                    [required]="col.isRequired? true : false">
                                </p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="col.field == 'branchDiameterId'">
                    <div class="input_icon">
                        <i class="pi pi-bookmark _bookmark tooltip" [ngClass]="{
                                'input_bookmark': itemdrop.invalid && (itemdrop.dirty || itemdrop.touched) || submitted,
                                'input_bookmark_valid':itemdrop.valid,
                                'correct':itemdrop.valid && (itemdrop.dirty || itemdrop.touched)
                                }">
                            <div *ngIf="itemdrop.errors && itemdrop.touched || submitted"
                                class="tooltip_text_bottom alert">
                                <div *ngIf="itemdrop.errors?.required">
                                    <i class="pi pi-times"></i>
                                    <p>{{col.header}} را وارد نمایید</p>
                                </div>
                            </div>
                        </i>
                        <div class="input_3">
                            <div class="_key">قطر</div>
                            <div class="_value">
                                <p-dropdown #itemdrop="ngModel" name="branchDiameter"
                                    [options]="branchDiameterDictionary"
                                    [(ngModel)]="closeTabService.requestDraftReq.branchDiameterId"
                                    placeholder="انتخاب مورد" optionValue="id" optionLabel="title" filter="true"
                                    [required]="col.isRequired? true : false">
                                </p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="col.field == 'siphonId'">
                    <div class="input_icon">
                        <i class="pi pi-bookmark _bookmark tooltip" [ngClass]="{
                            'input_bookmark': itemdrop.invalid && (itemdrop.dirty || itemdrop.touched) || submitted,
                            'input_bookmark_valid':itemdrop.valid,
                            'correct':itemdrop.valid && (itemdrop.dirty || itemdrop.touched)
                           }">
                            <div *ngIf="itemdrop.errors && itemdrop.touched || submitted"
                                class="tooltip_text_bottom alert">
                                <div *ngIf="itemdrop.errors?.required">
                                    <i class="pi pi-times"></i>
                                    <p>{{col.header}} را وارد نمایید</p>
                                </div>
                            </div>
                        </i>
                        <div class="input_3">
                            <div class="_key">سیفون</div>
                            <div class="_value">
                                <p-dropdown #itemdrop="ngModel" name="siphon" [options]="siphonDictionary"
                                    [(ngModel)]="closeTabService.requestDraftReq.siphonId" placeholder="انتخاب مورد"
                                    optionValue="id" optionLabel="title" filter="true"
                                    [required]="col.isRequired? true : false">
                                </p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="col.field == 'guildId'">
                    <div class="input_icon">
                        <i class="pi pi-bookmark _bookmark tooltip" [ngClass]="{
                            'input_bookmark': itemdrop.invalid && (itemdrop.dirty || itemdrop.touched) || submitted,
                            'input_bookmark_valid':itemdrop.valid,
                            'correct':itemdrop.valid && (itemdrop.dirty || itemdrop.touched)
                           }">
                            <div *ngIf="itemdrop.errors && itemdrop.touched || submitted"
                                class="tooltip_text_bottom alert">
                                <div *ngIf="itemdrop.errors?.required">
                                    <i class="pi pi-times"></i>
                                    <p>{{col.header}} را وارد نمایید</p>
                                </div>
                            </div>
                        </i>
                        <div class="input_3">
                            <div class="_key">صنف</div>
                            <div class="_value">
                                <p-dropdown #itemdrop="ngModel" name="guildId" [options]="guildDictionary"
                                    [(ngModel)]="closeTabService.requestDraftReq.guildId" placeholder="انتخاب مورد"
                                    optionValue="id" optionLabel="title" filter="true"
                                    [required]="col.isRequired? true : false">
                                </p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="col.field == 'branchStateId'">
                    <div class="input_icon">
                        <i class="pi pi-bookmark _bookmark tooltip" [ngClass]="{
                            'input_bookmark': itemdrop.invalid && (itemdrop.dirty || itemdrop.touched) || submitted,
                            'input_bookmark_valid':itemdrop.valid,
                            'correct':itemdrop.valid && (itemdrop.dirty || itemdrop.touched)
                           }">
                            <div *ngIf="itemdrop.errors && itemdrop.touched || submitted"
                                class="tooltip_text_bottom alert">
                                <div *ngIf="itemdrop.errors?.required">
                                    <i class="pi pi-times"></i>
                                    <p>{{col.header}} را وارد نمایید</p>
                                </div>
                            </div>
                        </i>
                        <div class="input_3">
                            <div class="_key">وضعیت انشعاب</div>
                            <div class="_value">
                                <p-dropdown #itemdrop="ngModel" name="branchStateId" [options]="branchStateDictionary"
                                    [(ngModel)]="closeTabService.requestDraftReq.branchStateId"
                                    placeholder="انتخاب مورد" optionValue="id" optionLabel="title" filter="true"
                                    [required]="col.isRequired? true : false">
                                </p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="col.field == 'waterSourceId'">
                    <div class="input_icon">
                        <i class="pi pi-bookmark _bookmark tooltip" [ngClass]="{
                            'input_bookmark': itemdrop.invalid && (itemdrop.dirty || itemdrop.touched) || submitted,
                            'input_bookmark_valid':itemdrop.valid,
                            'correct':itemdrop.valid && (itemdrop.dirty || itemdrop.touched)
                           }">
                            <div *ngIf="itemdrop.errors && itemdrop.touched || submitted"
                                class="tooltip_text_bottom alert">
                                <div *ngIf="itemdrop.errors?.required">
                                    <i class="pi pi-times"></i>
                                    <p>{{col.header}} را وارد نمایید</p>
                                </div>
                            </div>
                        </i>
                        <div class="input_3">
                            <div class="_key">منبع آب</div>
                            <div class="_value">
                                <p-dropdown #itemdrop="ngModel" name="waterSourceId" [options]="waterSourceDictionary"
                                    [(ngModel)]="closeTabService.requestDraftReq.waterSourceId"
                                    placeholder="انتخاب مورد" optionValue="id" optionLabel="title" filter="true"
                                    [required]="col.isRequired? true : false">
                                </p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input_icon" *ngIf="col.field == 'watarInstallationJalaliDay'">
                    <i class="pi pi-calendar _bookmark"></i>
                    <div class="input_3">
                        <div class="_key">تاریخ نصب آب</div>
                        <div class="_value">
                            <app-date-jalali name="watarInstallationJalaliDay"
                                (dateJalEvent)="closeTabService.receiveFromDateInstallation(closeTabService.ENReadingReports.requestDraftReq, $event)"
                                [dateObject]="closeTabService.requestDraftReq.watarInstallationJalaliDay">
                            </app-date-jalali>
                        </div>
                    </div>
                </div>
                <div class="input_icon" *ngIf="col.field == 'sewageInstallationJalaliDay'">
                    <i class="pi pi-calendar _bookmark"></i>
                    <div class="input_3">
                        <div class="_key">تاریخ نصب فاضلاب</div>
                        <div class="_value">
                            <app-date-jalali name="sewageInstallationJalaliDay"
                                (dateJalEvent)="closeTabService.receiveToDateInstallation(closeTabService.ENReadingReports.requestDraftReq, $event)"
                                [dateObject]="closeTabService.requestDraftReq.sewageInstallationJalaliDay">
                            </app-date-jalali>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-template #simpleInput>
                <div class="input_icon">
                    <i class="pi pi-bookmark _bookmark tooltip" [ngClass]="{
                        'input_bookmark': item.invalid && (item.dirty || item.touched) || submitted,
                        'input_bookmark_valid':item.valid,
                        'correct':item.valid && (item.dirty || item.touched)
                       }">
                        <div *ngIf="item.errors && item.touched || submitted" class="tooltip_text_bottom alert">
                            <div *ngIf="item.errors?.required">
                                <i class="pi pi-times"></i>
                                <p>{{col.header}} را وارد نمایید</p>
                            </div>
                        </div>
                        <div *ngIf="item.errors?.minlength" class="tooltip_text_bottom">
                            <i class="pi pi-times"></i>
                            حداقل تعداد نویسه {{col.minLength}} عدد می‌باشد
                        </div>
                    </i>
                    <div class="input_3">
                        <div class="_key">{{col.header}}</div>
                        <input #item="ngModel" [type]="col.isNumber ? 'number' : 'text'" [id]="col.field"
                            [name]="col.field" class="form-control" [required]="col.isRequired? true : false"
                            minlength="{{col.minLength}}" [(ngModel)]="closeTabService.requestDraftReq[col.field]"
                            [readonly]="col.readonly" maxlength="{{col.maxLength}}" class="_value">
                    </div>
                </div>
            </ng-template>

        </div>
    </div>
    <footer>
        <button type="submit" class="btn_1">
            <i class="pi pi-angle-left"></i>
            تایید و ادامه
        </button>
    </footer>
</form>