<h2 mat-dialog-title>افزودن ناحیه</h2>

<form [formGroup]="form">
    <mat-dialog-content>

        <mat-form-field appearance="fill">
            <mat-label>کد</mat-label>
            <input matInput type="number" formGroupName="id" placeholder="کد">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>عنوان</mat-label>
            <input matInput formGroupName="title" placeholder="عنوان">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>منطقه</mat-label>        
            <mat-select formControlName="regionId">
                <mat-option *ngFor="let truefalse of data.di" [value]="truefalse.id">
                    {{truefalse.title}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>ترتیب</mat-label>
            <input matInput type="number" formGroupName="logicalOrder" placeholder="ترتیب">
        </mat-form-field>

        <mat-checkbox formGroupName="isMetro">شهری</mat-checkbox>

    </mat-dialog-content>

    <mat-dialog-actions>
        <button class="btn_2" (click)="close()">بازگشت</button>
        <button class="btn_2 _custom" [mat-dialog-close]="form" (click)="save()">ذخیره</button>
    </mat-dialog-actions>
</form>