<main role="main">
    <div class="header">
        <div class="_logo_content">
            <img src="assets/imgs/header/logo.png" alt="">
        </div>
        <h2 class="title d_flex_center">{{title}}
            <button class="btn_1 d_grid_center">
                <i class="fa fa-question"></i>
            </button>
        </h2>
    </div>
    <div class="option">
        <button class="btn_2" routerLink="/wr">
            نقشه
        </button>
        <button class="btn_2" routerLink="/db">
            داشبورد
        </button>
    </div>

    <div class="map-frame">
        <div id="map"></div>
    </div>
</main>