@import '../../assets/variable.scss';
@import '../../assets/mixins.scss';

.map-frame {
  box-shadow: -1px 2px 5px 5px $gray_d;
  margin: 1rem .2rem;
  height: 100%;
}

#map {
  height: 100%;
  min-height: 30rem;
  z-index: 1;
}

main {
  width: auto;
  min-height: 80vh;
  border-radius: $border_s;
  background: url('/assets/imgs/framework/bb.jpg') no-repeat $gray_l;
  background-size: cover;
  border-top: .2rem solid $orange;
  box-shadow: 2px 2px 5px 0px $gray_d;
  margin: 0 $font_05;
  padding: $font_05;
  transition: all ease-in-out 150ms;
}

.header {
  display: flex;
  justify-content: space-between;
  border-radius: $border_s;
  padding: .2rem $font_xs;
  margin-bottom: $font_05;
  background: $white;
  border-bottom: .2rem solid $blue_dr;

  .title {
    color: $blue_d;
  }
}

._logo_content {
  width: 4.5rem;
  height: 3.2rem;
}

.btn_1 {
  background-color: $gray_l;
  margin-left: $font_xs;
  width: 4rem;
  height: $font_2;
  border-radius: 15px;
  border: none;
  cursor: pointer;

  .fa-question {
    color: $orange;
    font-size: $font_s;
  }
}

.unit {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .unit_toggle {
    cursor: pointer;
    border: 2px solid $orange;
    border-radius: 100vmax;
    width: 5rem;
    transition: all ease-in-out 250ms;

    &::after {
      content: '';
      display: block;
      margin-left: auto;
      height: $font_s;
      width: $font_s;
      border-radius: $border_50;
      background: $orange;
      transition: all ease-in-out 250ms;

    }
  }

  input:checked~.unit_toggle::after {
    margin-left: 0;
  }

  input {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    height: 1px;
    width: 1px;
  }

  label {
    display: flex;
    font-size: $font_m;
    margin: $font_05;
    color: $blue_l;
    cursor: pointer;
  }
}
