<main role="main" [ngClass]="{
    'lightBackground':this.themeService.getActiveTheme().name == 'light' || this.themeService.getActiveTheme().name == 'corporate',    
    'darkBackground':this.themeService.getActiveTheme().name == 'dark',        
    'purpleBackground':this.themeService.getActiveTheme().name == 'purple'
}">
    <div class="header">
        <div class="_logo_content">
            <img src="assets/imgs/header/logo.jpg" alt="">
        </div>
        <h2 class="d_flex_center">
            <div class="title">{{pageTitle}}</div>
            <button (click)="openDialog()" class="btn_1 d_grid_center">
                <i class="pi pi-question"></i>
            </button>
            <button (click)="toggleFullScreen()" class="btn_1 d_grid_center _screen">
                <i [ngClass]="_isFullScreen ? 'pi pi-window-minimize' : 'pi pi-window-maximize'"></i>
            </button>
        </h2>
    </div>
    <router-outlet></router-outlet>
</main>