<main role="main" [ngClass]="this.themeService.isDarkTheme() ? 'darkBackground' : 'lightBackground'">
    <div class="header">
        <div class="_logo_content">
            <img src="assets/imgs/header/logo.jpg" alt="">
        </div>
        <h2 class="d_flex_center">
            <div class="title">{{pageTitle}}</div>
            <button (click)="openDialog()" class="btn_1 d_grid_center">
                <i class="pi pi-question"></i>
            </button>
        </h2>
    </div>
    <router-outlet></router-outlet>
</main>