@import 'variable.scss';
@import 'mixins.scss';
@import 'media';

main {
  width: auto;
  min-height: 84vh;
  border-radius: $border_15;
  // background-color: var(--gray_100);
  background-image: url('/assets/imgs/framework/bb.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-top: .2rem solid var(--orange_500);
  box-shadow: 2px 2px 5px 0px var(--gray_400);
  margin: 0 0.25rem;
  padding: $font_05;
  transition: all ease-in-out 150ms;
}

.header {
  display: flex;
  justify-content: space-between;
  border-radius: $border_15;
  padding: 0 $font_xs;
  margin-bottom: $font_05;
  background: var(--white);
  border-bottom: .2rem solid var(--blue_900);

  .title {
    color: var(--blue_700);
    direction: rtl;
    font-size: 1.1rem;
  }

  @include media_wrapper(550px, '.title', font-size, 1.3rem);
}

._logo_content {
  width: 4.3rem;
  height: 3rem;
}

.btn_1 {
  background: linear-gradient(142deg, var(--orange_500), var(--orange_500), transparent);
  margin-left: $font_xs;
  width: 4rem;
  height: $font_2;
  border-radius: $border_15;
  border: none;
  cursor: pointer;

  .pi-question {
    color: var(--white);
    font-size: $font_s;
    font-weight: 600;
  }
}
