<section class="content">
    <section class="collapse">
        <h1>مقایسه تغییرات تاریخچه فیلتر IP</h1>
    </section>

    <table>
        <thead class="_head">
            <tr>
                <td>عنوان</td>
                <td>قبلی</td>
                <td>فعلی</td>
                <td>تغییر</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let col of _selectCols">
                <td>
                    {{col.header}}
                <td>
                    <div *ngIf="dataSource[0]">
                        <div *ngIf="col.isBoolean && dataSource[0][col.field]">بله</div>
                        <div *ngIf="col.isBoolean && !dataSource[0][col.field] && col.field !== 'isRecordAuthentic'">
                            خیر
                        </div>
                        <div *ngIf="col.isBoolean && !dataSource[0][col.field] && col.field == 'isRecordAuthentic'">
                            <i class="pi pi-times-circle red_500"></i>
                        </div>
                        <div *ngIf="!col.isBoolean">{{dataSource[0][col.field]}}</div>
                    </div>
                </td>
                <td>
                    <div *ngIf="dataSource[1]">
                        <div *ngIf="col.isBoolean && dataSource[1][col.field]">بله</div>
                        <div *ngIf="col.isBoolean && !dataSource[1][col.field] && col.field !== 'isRecordAuthentic'">
                            خیر
                        </div>
                        <div *ngIf="col.isBoolean && !dataSource[1][col.field] && col.field == 'isRecordAuthentic'">
                            <i class="pi pi-times-circle red_500"></i>
                        </div>
                        <div *ngIf="!col.isBoolean">{{dataSource[1][col.field]}}</div>
                    </div>
                </td>
                <!-- || dataSource[0] === null && dataSource[1] !== null -->

                <td class="_center">
                    <div *ngIf="dataSource[1][col.field] !== dataSource[0][col.field]">
                        <i class="pi pi-check-square green_500"></i>
                    </div>
                </td>
            </tr>
        </tbody>

    </table>
</section>