<div class="operation">
    <button (click)="openDialog()" class="operation_btn">
        <i class="fa fa-plus"></i>
    </button>
</div>

<table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>
            <div class="header">
                عنوان
            </div>
            <mat-form-field class="filter" floatLabel="never">
                <mat-label>جستجو</mat-label>
                <input matInput [formControl]="titleFilter">
            </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let person">{{person.title}}</td>
    </ng-container>
    <ng-container matColumnDef="moshtarakinId">
        <th mat-header-cell *matHeaderCellDef>
            <div class="header">
                کد
            </div>
            <mat-form-field class="filter" floatLabel="never">
                <mat-label>جستجو</mat-label>
                <input matInput [formControl]="moshtarakinIdFilter">
            </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let person">{{person.moshtarakinId}}</td>
    </ng-container>
    <ng-container matColumnDef="zoneId">
        <th mat-header-cell *matHeaderCellDef>
            <div class="header">
                ناحیه
            </div>
            <mat-form-field class="filter" floatLabel="never">
                <mat-label>جستجو</mat-label>
                <input matInput [formControl]="zoneIdFilter">
            </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let person">{{person.zoneId}}</td>
    </ng-container>
    <ng-container matColumnDef="clientOrder">
        <th mat-header-cell *matHeaderCellDef>
            <div class="header">
                ترتیب
            </div>
            <mat-form-field class="filter" floatLabel="never">
                <mat-label>جستجو</mat-label>
                <input matInput [formControl]="clientOrderFilter">
            </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let person">{{person.clientOrder}}</td>
    </ng-container>
    <ng-container matColumnDef="canEnterNumber">
        <th mat-header-cell *matHeaderCellDef>
            <div class="header">
                ثبت رقم
            </div>
            <mat-form-field>
                <mat-label>جستجو</mat-label>
                <mat-select [formControl]="canEnterNumberFilter" name="truefalse">
                    <mat-option *ngFor="let truefalse of trueFalseFilter" [value]="truefalse.value">
                        {{truefalse.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let person">
            <mat-checkbox [(ngModel)]="person.canEnterNumber"></mat-checkbox>
        </td>
    </ng-container>
    <ng-container matColumnDef="isMane">
        <th mat-header-cell *matHeaderCellDef>
            <div class="header">
                مانع
            </div>
            <mat-form-field>
                <mat-label>جستجو</mat-label>
                <mat-select [formControl]="isManeFilter" name="truefalse">
                    <mat-option *ngFor="let truefalse of trueFalseFilter" [value]="truefalse.value">
                        {{truefalse.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let person">
            <mat-checkbox [(ngModel)]="person.isMane"></mat-checkbox>
        </td>
    </ng-container>
    <ng-container matColumnDef="canNumberBeLessThanPre">
        <th mat-header-cell *matHeaderCellDef>
            <div class="header">
                فعلی کمتر از قبلی
            </div>
            <mat-form-field>
                <mat-label>جستجو</mat-label>
                <mat-select [formControl]="canNumberBeLessThanPreFilter" name="truefalse">
                    <mat-option *ngFor="let truefalse of trueFalseFilter" [value]="truefalse.value">
                        {{truefalse.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let person">
            <mat-checkbox [(ngModel)]="person.canNumberBeLessThanPre"></mat-checkbox>
        </td>
    </ng-container>
    <ng-container matColumnDef="isTavizi">
        <th mat-header-cell *matHeaderCellDef>
            <div class="header">
                تعویض
            </div>
            <mat-form-field>
                <mat-label>جستجو</mat-label>
                <mat-select [formControl]="isTaviziFilter" name="truefalse">
                    <mat-option *ngFor="let truefalse of trueFalseFilter" [value]="truefalse.value">
                        {{truefalse.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let person">
            <mat-checkbox [(ngModel)]="person.isTavizi"></mat-checkbox>
        </td>
    </ng-container>
    <ng-container matColumnDef="shouldEnterNumber">
        <th mat-header-cell *matHeaderCellDef>
            <div class="header">
                اجبار رقم
            </div>
            <mat-form-field>
                <mat-label>جستجو</mat-label>
                <mat-select [formControl]="shouldEnterNumberFilter" name="truefalse">
                    <mat-option *ngFor="let truefalse of trueFalseFilter" [value]="truefalse.value">
                        {{truefalse.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let person">
            <mat-checkbox [(ngModel)]="person.shouldEnterNumber"></mat-checkbox>
        </td>
    </ng-container>
    <ng-container matColumnDef="isXarab">
        <th mat-header-cell *matHeaderCellDef>
            <div class="header">
                خراب
            </div>
            <mat-form-field>
                <mat-label>جستجو</mat-label>
                <mat-select [formControl]="isXarabFilter" name="truefalse">
                    <mat-option *ngFor="let truefalse of trueFalseFilter" [value]="truefalse.value">
                        {{truefalse.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let person">
            <mat-checkbox [(ngModel)]="person.isXarab"></mat-checkbox>
        </td>
    </ng-container>
    <ng-container matColumnDef="isFaqed">
        <th mat-header-cell *matHeaderCellDef>
            <div class="header">
                فاقد
            </div>
            <mat-form-field>
                <mat-label>جستجو</mat-label>
                <mat-select [formControl]="isFaqedFilter" name="truefalse">
                    <mat-option *ngFor="let truefalse of trueFalseFilter" [value]="truefalse.value">
                        {{truefalse.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let person">
            <mat-checkbox [(ngModel)]="person.isFaqed"></mat-checkbox>
        </td>
    </ng-container>
    <ng-container cdkColumnDef="actions">
        <th md-header-cell *matHeaderCellDef></th>

        <td md-cell *matCellDef="let row" class="_actions">
            <i (click)="editDialog(row)" class="_custom fa fa-edit"></i>|
            <i (click)="deleteSingleRow(row)" class="_custom fa fa-trash"></i>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let person; columns: columnsToDisplay"></tr>

</table>