@import '../../../../assets/variable';
@import '../../../../assets/primeNG.scss';

.ag-header-group-cell-label,
.ag-header-cell-label {

  justify-content: center;
  margin: .2rem 0;
  text-align: center;
  border: 2px solid $blue_400;
  border-radius: $border_15;
}

.ag-theme-alpine .ag-root-wrapper {
  border-radius: $border_15;
  border: 2px solid $blue_400;
}

.ag-theme-alpine {

  font-size: $font_s;
  font-weight: 600;
  font-family: $font_family;
}

// ts config
.cell-conf {
  color: $blue_400;
  // color: $gray_600;
  font-size: 1.2rem;
}
