@import '../../../../assets/variable';

.ag-header-group-cell-label,
.ag-header-cell-label {

  justify-content: center;
  margin: .2rem 0;
  text-align: center;
  border: 2px solid $blue_l;
  border-radius: $border_s;
}

.ag-theme-alpine .ag-root-wrapper {
  border-radius: $border_s;
  border: 2px solid $blue_l;
}

.ag-theme-alpine {

  font-size: $font_s;
  font-weight: 600;
  font-family: $font_family;
}

// ts config
.cell-conf {
  color: $blue_l;
  // color: $gray_dr;
  font-size: 1.2rem;
}
