:host,
:host ::ng-deep,
::ng-deep {
  .mat-select-value {
    font-family: var(--font-family);
    font-size: var(--font_s);
    color: var(--secondary_7);
    font-weight: 600;
  }

  .mat-select-value-text {
    font-family: var(--font-family);
    font-size: var(--font_s);
    color: var(--secondary_8);
  }

  .mat-select-placeholder {
    color: var(--secondary_8);
    font-size: var(--font_ss);
  }

  /*
   //on small screens and overflow situations have 
  // to set overflow so every content could be available
  */
  .cdk-overlay-pane:fullscreen {
    overflow: auto;
  }

  .mat-dialog-container {
    position: relative;
    background: var(--secondary_1);
    color: var(--primary_7);
    direction: rtl;
  }

  .mat-dialog-actions {
    display: flex;
    justify-content: flex-start;
    direction: rtl;
    min-height: 1rem;
    margin-bottom: 0;
  }

  .close_dg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    border: none;
    right: var(--font_03);
    top: var(--font_03);
    padding: 13px;
    width: 1.7rem;
    height: 1.7rem;
    line-height: 14px;
    border-radius: 50%;
    background: var(--secondary_1);
    color: var(--secondary_8);

    &:hover,
    &:active {
      color: var(--primary_2);
      border-color: transparent;
      background: var(--secondary_4);
    }

    &:focus-visible {
      outline: 0 none;
      outline-offset: 0;
      background: var(--secondary_4);
      box-shadow: 0 0 0 0.15rem var(--primary_3);
    }
  }

  .mat-select {
    font-family: var(--font-family);
    font-weight: 600;
    text-align: center;
  }

  .mat-select-arrow {
    color: var(--primary_3);
  }

  .mat-select-panel .mat-optgroup-label,
  .mat-select-panel .mat-option {
    font-size: var(--font_s);
    line-height: 3em;
    height: 3em;
    text-align: right;
    font-family: inherit;
    font-weight: 600;
  }

  .mat-option-text {
    font-size: var(--font_s);
    font-weight: 600;
    color: var(--primary_6);
  }

  .mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
  .mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
    background-color: var(--pink_500);
  }

  .mat-checkbox-layout .mat-checkbox-label {
    margin: 0 var(--font_05);
    font-family: var(--font-family);
    font-size: var(--font_s);
    font-weight: 600;
    color: var(--secondary_8);
    line-height: 2;
    border-radius: $border_15;
  }

  .mat-input-element {
    color: var(--primary_5);
  }

  .mat-checkbox-frame {
    border-color: var(--secondary_5);
  }

  .mat-checkbox-disabled:not(.mat-checkbox-checked) .mat-checkbox-frame {
    border-color: var(--secondary_8);
  }

  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
  .mat-checkbox-checked.mat-accent.mat-checkbox-disabled .mat-checkbox-background,
  .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: var(--pink_500);
  }
}

.radio_group {
  display: flex;
  justify-content: space-evenly;
}

.check_boxes {
  border-radius: $border_15;
  background: var(--white);
  padding: var(--font_05);
  margin-top: 3px;
}