:host::ng-deep {
  .mat-select-value {
    font-family: $font_family;
    font-size: $font_s;
    color: var(--secondary_7);
    font-weight: 600;
  }

  .mat-select-value-text {
    font-family: $font_family;
    font-size: $font_s;
    color: var(--secondary_8);
  }

  .mat-dialog-container {
    direction: rtl;
  }

  .mat-form-field-infix {
    font-size: $font_s;
    font-weight: 600;
  }

  .mat-form-field {
    text-align: right;
    font-family: $font_family;
    font-size: $font_s;
    font-weight: 600;
    color: var(--secondary_8);
  }

  .mat-select {
    font-family: $font_family;
    font-weight: 600;
    text-align: center;
  }

  .mat-select-arrow {
    color: var(--primary_2);
  }

  .mat-radio-label-content {
    padding-right: $font_05 !important;
    color: var(--secondary_8);
    font-family: $font_family;
    font-weight: 600;
    font-size: $font_s;
  }

  .mat-radio-outer-circle {
    border-color: var(--secondary_8);
  }

  .mat-checkbox-layout .mat-checkbox-label {
    margin: 0 $font_05;
    font-family: $font_family;
    font-size: $font_s;
    font-weight: 600;
    color: var(--secondary_8);
  }

  .mat-form-field.mat-focused .mat-form-field-label,
  .mat-form-field-label {
    color: var(--secondary_8);
  }

  .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    color: var(--thirdy_3);
  }

  .mat-button-toggle-checked {
    color: var(--secondary_7) !important;
    border-bottom: .3rem solid var(--primary_4) !important;
    box-shadow: 2px 2px 2px 2px var(--secondary_3) !important;
  }

  .mat-button-toggle-appearance-standard {
    background: var(--secondary_1);
  }

  .mat-input-element {
    color: var(--primary_5);
  }

  .mat-checkbox-frame {
    border-color: var(--secondary_5);
  }

  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: var(--secondary_3);
  }
}

.radio_group {
  display: flex;
  justify-content: space-evenly;
}

.check_boxes {
  border-radius: $border_15;
  box-shadow: 0px 0px 2px 1px var(--primary_6);
  background: var(--white);
  padding: $font_s;
  margin-top: $font_05;
}
