:host::ng-deep {
  .mat-select-value {
    font-family: $font_family;
    font-size: $font_s;
    color: var(--gray_700);
    font-weight: 600;
  }

  .mat-select-value-text {
    font-family: $font_family;
    font-size: $font_s;
    color: var(--gray_800);
  }

  .mat-dialog-container {
    direction: rtl;
  }

  .mat-form-field-infix {
    font-size: $font_s;
    font-weight: 600;
  }

  .mat-form-field {
    text-align: right;
    font-family: $font_family;
    font-size: $font_s;
    font-weight: 600;
    color: var(--gray_800);
  }

  .mat-select {
    font-family: $font_family;
    font-weight: 600;
    text-align: center;
  }

  .mat-select-arrow {
    color: var(--blue_400);
  }

  .mat-radio-label-content {
    padding-right: $font_05 !important;
    color: var(--gray_800);
    font-family: $font_family;
    font-weight: 600;
    font-size: $font_s;
  }

  .mat-radio-outer-circle {
    border-color: var(--gray_800);
  }

  .mat-checkbox-layout .mat-checkbox-label {
    margin: 0 $font_05;
    font-family: $font_family;
    font-size: $font_s;
    font-weight: 600;
    color: var(--gray_800);
  }

  .mat-form-field.mat-focused .mat-form-field-label,
  .mat-form-field-label {
    color: var(--gray_800);
  }

  .mat-input-element {
    color: var(--blue_700);
  }

  .mat-checkbox-frame {
    border-color: var(--gray_500);
  }

  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: var(--gray_300);
  }
}

.radio_group {
  display: flex;
  justify-content: space-evenly;
}

.check_boxes {
  border-radius: $border_15;
  box-shadow: 0px 0px 2px 1px var(--blue_800);
  background: var(--white);
  padding: $font_s;
  margin-top: $font_05;
}
