@import 'variable';
@import 'button.scss';
@import 'tooltip.scss';
@import 'media';
@import '_mat';

.btn_1 {
  color: var(--gray_100);
}

/* materials */
::ng-deep {
  .mat-checkbox-layout {
    .mat-checkbox-label {
      margin: 0 $font_05;
      font-size: $font_s;
      font-weight: 600;
      color: var(--blue_500);
      line-height: 2;
      border-radius: $border_15;
      font-family: $font_family;
    }
  }

  .mat-stepper-horizontal,
  .mat-stepper-vertical {
    background: var(--white);
  }

  .mat-horizontal-stepper-header-container {
    height: 4rem;
    direction: rtl;
    border: 2px solid var(--blue_700);
    border-radius: 6rem;
    padding: $font_05;
    margin-bottom: 1rem;
  }

  .mat-step-text-label {
    font-size: 1.2rem;
    padding-right: $font_05;
    font-weight: 600;
  }

  .mat-horizontal-stepper-header .mat-step-icon {
    font-size: $font_s;
    font-weight: 600;
  }

  .mat-horizontal-content-container {
    min-height: 15rem;
    padding: $font_xxs 0 !important;
  }
}

.mat-stepper-horizontal {
  font-family: $font_family;
  padding: $font_05;
}

.accept {
  display: flex;
}

.btn_2 {
  margin: .25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue_gray_400);
  color: var(--blue_700);
}

._special {
  background-color: var(--blue_400);
  color: var(--gray_100);
}


/* actions */
.auth_1 {
  direction: rtl;
}

.auth_1_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, auto));
  gap: .25rem;
  direction: rtl;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--white);
  box-shadow: 0px 0px 2px 2px var(--blue_gray_400);

  .auth_1_item {
    display: grid;
    place-content: center;
    padding: $font_05;
    border-radius: $border_5;
    font-size: $font_l;
    font-weight: 600;
    background: var(--blue_gray_400);
    color: var(--blue_700);
    box-shadow: 1px 1px 3px 0px var(--blue_gray_400);
    cursor: pointer;
  }

  @media (max-width: 550px) {
    grid-template-columns: repeat(auto-fit, minmax(5rem, auto));

    .auth_1_item {
      font-size: $font_xs;
    }
  }

}

// active auth1 tab
.active_tab {
  background-color: var(--blue_600) !important;
  color: var(--gray_100) !important;
}

.auth_2 {
  padding: 0 $font_05;
  margin-bottom: $font_2;
  border-radius: $border_15;
}

.auth_3 {
  margin: 0;
  padding: $font_05;
  border-radius: $border_15;
  box-shadow: 0px 2px 3px 1.5px var(--gray_400);
}

@include media_wrapper(550px, '.auth_3', margin, $font_05 4rem $font_05 $font_xxs);

.auth_4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, auto));
  gap: .3rem;
  background: var(--gray_100);
  border: 1px solid var(--blue_600);
  border-radius: $border_5;
  margin: $font_xxs;

  .checkboxes {
    display: flex;
    border-radius: 15px;
    padding: .25rem;
  }
}

.text {
  padding: 0 $font_05;
  color: var(--blue_600);
  font-size: $font_l;
  font-weight: 600;
}

.text_btn {
  max-width: 11rem;
  width: auto;
  text-align: center;
  padding: $font_05;
  border-radius: $border_15;
  margin-bottom: $font_05;
  font-size: $font_m;
  font-weight: 600;
  color: var(--blue_600);
  background: var(--gray_300);
}

.accept {
  display: flex;
  box-shadow: 0 -3px 2px -1px var(--blue_gray_400);
}

._double_size {
  grid-column: auto;
}

@include media_wrapper(550px, '._double_size', grid-column, auto/span 2);

.separator {
  display: flex;
  align-items: center;
  text-align: right;
}

.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid var(--blue_600);
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

.tooltip .tooltip_text {
  left: 50%;
  transform: translateX(-50%);
  width: 16rem;
}
