@import 'variable';
@import 'button.scss';
@import 'tooltip.scss';
@import 'input.scss';
@import 'media';
@import '_mat';

form._user-input {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, auto));
  gap: var(--font_02);
}

.btn_1 {
  color: var(--secondary_1);
}

._key,
._value {
  border: 0;
  font-weight: 800;
  font-size: var(--font_ss);
}

input::placeholder {
  font-size: var(--font_ss);
}

.accept {
  display: flex;
}

.btn_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--font_25);
  margin: var(--font_01) var(--font_025);
  padding: var(--font_025);
  background-color: var(--thirdy_2);
  color: var(--primary_5);
}

._special {
  background-color: var(--primary_3);
  color: var(--secondary_1);

  &:hover,
  &:focus-visible,
  &:active {
    background: var(--primary_2);
  }
}


/* actions */
.auth_1 {
  direction: rtl;
}

.auth_1_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, auto));
  gap: var(--font_xxs);
  direction: rtl;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 4px 0;
  background-color: var(--white);
  box-shadow: 0px 0px 2px 2px var(--thirdy_2);

  .auth_1_item {
    justify-content: center;
    display: grid;
    align-items: center;
    padding: var(--font_02);
    border-radius: 100vmax;
    font-weight: 600;
    color: var(--primary_5);
    cursor: pointer;

    &:hover,
    &:focus-visible,
    &:active {
      background: var(--thirdy_2);
    }
  }

  @media (max-width: 550px) {
    grid-template-columns: repeat(auto-fit, minmax(var(--font_5), auto));

    .auth_1_item {
      font-size: var(--font_xs);
    }
  }

}

// active auth1 tab
.active_tab {
  background: var(--primary_1);
  outline: 1.5px solid var(--primary_4) !important;
  color: var(--primary_4) !important;
}

.auth_2 {
  padding: 0 var(--font_05);
  margin-bottom: var(--font_2);
  border-radius: $border_15;
}

.auth_3 {
  margin: 0;
  padding: var(--font_025);
  border-radius: $border_15;
  background: var(--secondary_3);
  box-shadow: 0px 1px 3px 1.5px var(--secondary_4);
}

@include media_wrapper(550px, '.auth_3', margin, 0 4rem var(--font_05) var(--font_xxs));

.auth_4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, auto));
  gap: var(--font_03);
  background: var(--white);
  border: 1px solid var(--secondary_1);
  border-radius: $border_5;
  margin: var(--font_05);

  .checkboxes {
    display: flex;
    border-radius: $border_15;
    padding: var(--font_025);
  }
}

.text {
  padding: 0 var(--font_05);
  color: var(--primary_4);
  font-size: var(--font_l);
  font-weight: 600;
}

.text_btn {
  max-width: 15rem;
  width: auto;
  text-align: center;
  padding: var(--font_05);
  border-radius: $border_15;
  margin-bottom: 0;
  font-size: var(--font_m);
  font-weight: 600;
  color: var(--primary_4);
  // background: var(--secondary_3);
}

.accept {
  display: flex;
  box-shadow: 0 -3px 2px -1px var(--thirdy_2);
}

._double_size {
  grid-column: auto;
}

@include media_wrapper(550px, '._double_size', grid-column, auto/span 2);

.separator {
  display: flex;
  align-items: center;
  text-align: right;
}

.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid var(--primary_4);
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

.tooltip .tooltip_text {
  left: 50%;
  transform: translateX(-50%);
  width: 16rem;
}

.tooltip:hover .tooltip_text_bottom {
  transform: translate(-50%, 60%);
}

.roles {
  background: var(--thirdy_2);
  border-radius: $border_5;
  padding: var(--font_02);
}

.role_items {
  direction: rtl;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11rem, 14rem));
  gap: var(--font_02);
  padding: var(--font_05);
  border-radius: $border_15;
  margin-bottom: var(--font_2);
  background: var(--secondary_1);
}

h2 {
  color: var(--primary_5);
  text-align: right;
}


/* materials */
::ng-deep {
  .mat-checkbox-layout {
    .mat-checkbox-label {
      margin: 0 var(--font_05);
      font-size: var(--font_s);
      font-weight: 600;
      color: var(--primary_3);
      line-height: 2;
      border-radius: $border_15;
      font-family: var(--font-family);
    }
  }

  .mat-step-header {
    height: 100%;
  }

  .mat-stepper-horizontal,
  .mat-stepper-vertical {
    background: var(--secondary_1);
  }

  .mat-horizontal-stepper-header-container {
    // display grid & grid-auto-flow make the width to fix content
    display: grid;
    grid-auto-flow: column;
    height: var(--font_35);
    direction: rtl;
    border: 2px solid var(--primary_5);
    border-radius: 6rem;
    padding: var(--font_05);
    margin-bottom: var(--font_025);
  }

  .mat-horizontal-stepper-header {
    padding: 0;
  }

  .mat-step-text-label {
    font-size: var(--font_s);
    padding-right: var(--font_05);
    font-weight: 600;
    color: var(--secondary_8);
  }

  .mat-horizontal-stepper-header .mat-step-icon {
    font-size: var(--font_s);
    font-weight: 600;
  }

  .mat-horizontal-content-container {
    min-height: 50vh;
    min-height: 50svh;
    padding: 0 !important;
  }
}

.mat-stepper-horizontal {
  font-family: var(--font-family);
  padding: var(--font_05);
  border-radius: $border_7;
}

.mat-checkbox-layout .mat-checkbox-label {
  color: var(--primary_5);
}