.overall-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 14rem));
  gap: var(--font_025);
  direction: rtl;

  @media (min-width: 550px) {
    justify-content: center;
  }

  ._bigger_input {
    min-width: 11rem;
  }

  ._value {
    border: none;
  }
}

.radios {
  background: var(--white);
  border-radius: $border_15 $border_15 0 0;
  padding: 0 var(--font_02);

  .radio_group {
    justify-content: flex-start;
    display: flex;
    direction: rtl;
    flex-wrap: wrap;

    .mat-radio-button {
      margin-left: var(--font_05);
    }
  }
}

.under_zero {
  border-radius: $border_15;
  background-color: var(--primary_1);
  padding: 0 var(--font_02);
}
