.btn_1 {
  max-width: 19rem;
  width: 100%;
  height: var(--font_3);
  text-align: center;
  background: var(--primary_2);
  border-radius: 2rem;
  font-size: var(--font_m);
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.btn_2 {
  max-width: 19rem;
  width: 8rem;
  height: var(--font_3);
  text-align: center;
  border-radius: $border_15;
  font-size: var(--font_m);
  font-weight: 600;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 2px 0px var(--secondary_4);
}

.btn_2_o {
  max-width: 19rem;
  width: 8rem;
  height: var(--font_3);
  text-align: center;
  border-radius: $border_15;
  font-size: var(--font_m);
  font-weight: 600;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 2px 0px var(--secondary_4);
  background-color: var(--orange_500);
  color: var(--white);
}
