.btn_1 {
  max-width: 19rem;
  width: 100%;
  height: var(--font_26);
  text-align: center;
  background: var(--thirdy_1);
  color: var(--white);
  border-radius: $border_100vmax;
  font-size: var(--font_m);
  font-weight: 600;
  user-select: none;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus-visible,
  &:active {
    background: var(--primary_4);
    box-shadow: 0px 0px 5px 0px var(--primary_4)
  }
}

.btn_2 {
  max-width: 19rem;
  width: 8rem;
  height: var(--font_26);
  text-align: center;
  border-radius: $border_100vmax;
  font-size: var(--font_m);
  font-weight: 600;
  border: none;
  cursor: pointer;
  user-select: none;
  box-shadow: 0px 0px 4px 0px var(--secondary_4);

  &:hover,
  &:focus-visible,
  &:active {
    box-shadow: 0px 2px 4px 1px var(--secondary_4);
  }
}

.btn_2_o {
  max-width: 19rem;
  width: 8rem;
  height: var(--font_26);
  text-align: center;
  border-radius: $border_100vmax;
  font-size: var(--font_m);
  font-weight: 600;
  border: none;
  cursor: pointer;
  user-select: none;
  box-shadow: 1px 1px 2px 0px var(--secondary_4);
  background-color: var(--orange_500);
  color: var(--white);

  &:hover,
  &:focus-visible,
  &:active {
    background: var(--orange_600);
  }
}

.btn_3 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  user-select: none;
  width: auto;
  min-width: 8rem;
  height: var(--font_26);
  text-align: center;
  border-radius: $border_10;
  font-size: var(--font_s);
  font-weight: 600;
  border: none;
  cursor: pointer;
  background-color: var(--white);
  color: var(--primary_3);
  transition: box-shadow cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;

  &:hover,
  &:focus-visible,
  &:active {
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 3px rgba(60, 64, 67, 0.149);
  }
}