._card {
  display: grid;
  align-items: center;
  width: fit-content;
  padding: var(--font_05);
  justify-content: initial;
  direction: rtl;
  margin: auto auto var(--font_03) auto;
  gap: var(--font_02);
  background: var(--white);
  border-radius: 10px;
  box-shadow: 0px 2px 6px 2px var(--secondary_7);
}

.btn_1 {
  max-width: initial;
}