._card {
  display: grid;
  align-items: center;
  width: fit-content;
  min-width: 19rem;
  padding: var(--font_05);
  justify-content: initial;
  direction: rtl;
  margin: auto auto var(--font_03) auto;
  gap: var(--font_05);
  background: var(--white);
  border-radius: 10px;
  box-shadow: 0px 2px 6px 2px var(--secondary_7);

  @media (min-width:550px) {
    min-width: 22rem;
  }
}

:host ::ng-deep,
::ng-deep,
:host {
  ._card {
    .p-multiselect {
      min-width: 14rem;
      max-width: 14rem;
    }
  }
}

.btn_1 {
  max-width: initial;
}