@import 'variable';
@import 'button';

.content {
    font-family: $font_family;
}

h1 {
    text-align: center;
}

table {
    direction: rtl;
    width: 100%;
    min-height: 20vh;
    border-collapse: collapse;
}

td {
    border: 1px solid var(--secondary_2);
    text-align: center;
    padding: 8px;
    font-weight: 600;
    font-size: var(--font_s);
}

tr {
    background-color: var(--even_grid_rows);
    color: var(--secondary_8);
}

tr:nth-child(even) {
    background-color: var(--odd_grid_rows);
}

._head {
    td {
        font-size: var(--font_m2);
    }
}

._center {
    text-align: center;
}

._green {
    color: var(--green_500);
}

.red_500 {
    color: var(--red_500);
}

.btn_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--font_25);
    margin: var(--font_01) var(--font_025);
    padding: var(--font_025);
    background-color: var(--thirdy_2);
    color: var(--primary_5);
}