$border_15: 10px;

.input_1 {
  min-width: 19rem;
  height: var(--font_3);
  background: var(--white);
  padding: 0 var(--font_xs);
  margin: var(--font_025) 0;
  text-align: center;
  font-size: var(--font_s);
  color: var(--primary_4);
  border-radius: 2rem;
  font-weight: 600;
  border: 1px solid;
  font-family: inherit;

  @media (max-width: 550px) {
    min-width: 15rem;
  }
}

// key value input
.input_2 {
  border-radius: $border_15;
  background: var(--secondary_3);
  color: var(--secondary_3);
  display: flex;
  align-items: center;
  margin: var(--font_025) 0;
  height: var(--font_3);
  border: 1px solid var(--secondary_3_spec);
  border-radius: $border_7;
}

._key {
  color: var(--primary_4);
  text-align: left;
  padding-right: var(--font_05);
  display: flex;
  align-items: center;
  white-space: nowrap;
  min-width: var(--font_3);
  text-align: center;
  margin-left: auto;
}

._value {
  border-radius: inherit;
  margin: .2em;
  width: 100%;
  flex: 1;
  text-align: center;
  background: var(--white);
  color: var(--primary_4);
}

._key,
._value {
  display: grid;
  align-items: center;
  height: var(--font_26);
  min-height: 85%;
  font-size: var(--font_s);
  font-weight: 600;
}

.this {
  border: 2px dotted var(--orange_600);
  animation: pulse-new-button 500ms;
}

@keyframes pulse-new-button {
  0% {
    box-shadow: none;
  }

  50% {
    box-shadow: 0px 0px 3px 0px var(--orange_600);
  }

  100% {
    box-shadow: 0px 0px 5px 1px var(--orange_600);
  }
}
