$border_15: 10px;

.input_1 {
  min-width: 19rem;
  height: var(--font_28);
  background: var(--white);
  padding: 0 3px;
  margin: 2px 0;
  text-align: center;
  font-size: var(--font_s);
  color: var(--primary_4);
  border-radius: $border_15;
  font-weight: 600;
  border: 1px solid;
  font-family: var(--font-family);

  @media (max-width: 550px) {
    min-width: 15rem;
  }
}

// key value input
.input_2 {
  background: var(--secondary_3);
  color: var(--secondary_3);
  display: flex;
  align-items: center;
  margin: 2px 0;
  height: var(--font_28);
  border: 1px solid var(--secondary_3_spec);
  border-radius: $border_7;
  font-family: var(--font-family);
}

._key {
  text-align: left;
  padding-right: 3px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  min-width: var(--font_3);
  text-align: center;
  margin-left: auto;
}

._value {
  margin: 2px;
  width: 100%;
  flex: 1;
  text-align: center;
  background: var(--white);
  border: 0;
  border-radius: inherit;
}

._key,
._value {
  display: grid;
  align-items: center;
  height: var(--font_26);
  min-height: 85%;
  font-size: var(--font_s);
  font-weight: 600;
  color: var(--primary_4);
}

// with icon

.input_icon {
  background: var(--secondary_3);
  color: var(--secondary_3);
  display: flex;
  align-items: center;
  margin: 2px 0;
  height: var(--font_28);
  border: 1px solid var(--secondary_3_spec);
  border-radius: $border_7;
  font-family: var(--font-family);

  ._bookmark {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: var(--input_icon);
    min-width: 2rem;
    height: 100%;
    border-radius: 0 $border_7 $border_7 0;
    font-size: 1.3rem;

    &::after {
      content: "";
      position: absolute;
      border: 0.1px dashed;
      height: 70%;
      left: 0;
      top: 15%;
    }
  }

  .input_3 {
    width: 100%;
    background: var(--secondary_3);
    color: var(--secondary_3);
    display: flex;
    align-items: center;
    margin: 2px 0;
    border: 0;
    height: calc(100% - 1px);
    border-radius: $border_7 0 0 $border_7;
    font-family: var(--font-family);
  }

  ._value {
    margin: 2px;
    width: 100%;
    flex: 1;
    text-align: center;
    background: var(--white);
    border: 0;
    border-radius: inherit;
  }

  ._key {
    text-align: left;
    padding-right: 3px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    min-width: 5rem;
    text-align: center;
    margin-left: auto;
  }

  :host .p-dropdown {
    max-width: 100%;
    height: var(--font_26);
    border-radius: 10px;
    background: var(--white);
    min-width: 100%;
    /* max-width: 9rem; */
    /* width: 100%; */
    direction: rtl;
    border: none;
  }
}

.input_simple {
  width: 100%;
  line-height: 3rem;
  text-align: center;
  font-size: 2rem;
  border: 0;
  background: none;
}