$border_15: 10px;

.input_1 {
  min-width: 19rem;
  height: 3rem;
  background: var(--white);
  padding: 0 1rem;
  margin: .25rem 0;
  text-align: center;
  font-size: 1.2rem;
  color: var(--blue_600);
  border-radius: 2rem;
  font-weight: 600;
  border: 1px solid;
  font-family: inherit;

  @media (max-width: 550px) {
    min-width: 15rem;
  }
}

// key value input
.input_2 {
  border-radius: $border_15;
  background: var(--gray_300);
  color: var(--gray_300);
  display: flex;
  align-items: center;
  margin: .25rem 0;
  height: 3rem;
}

._key {
  color: var(--blue_400);
  text-align: left;
  padding-right: .5rem;
  display: flex;
  align-items: center;
  margin: auto;
  white-space: nowrap;
}

._value {
  border-radius: inherit;
  margin: .2em;
  max-width: 52%;
  width: 100%;
  flex: 1;
  text-align: center;
  background: var(--white);
  color: var(--blue_600);
}

._key,
._value {
  display: grid;
  align-items: center;
  height: 2.6rem;
  min-height: 85%;
  font-size: $font_s;
  font-weight: 600;
  height: 2.6rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

// ////////
