.plus_minus {
  display: flex;
  align-items: center;
}

.plus {
  justify-content: flex-end;
}

._value {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  background: var(--white);
  border: 2px solid var(--primary_4);
  color: var(--primary_5);
  border-radius: $border_5;
  font-size: $font_s;
  font-weight: 600;
}

.minus {
  justify-content: flex-start;
}

.plus,
.minus {
  display: grid;
  padding: $font_05;
  margin: .3rem;
  border: 1px solid var(--secondary_3);
  background: var(--white);
  color: var(--secondary_5);
  border-radius: $border_5;
  font-size: $font_s;
  cursor: pointer;
}
