@import 'variable.scss';

:host ::ng-deep {

  .p-datatable table {
    font-family: BLotus, "Blotus", tahoma, Sans-Serif;
    font-size: $font_s;
  }

  tr:nth-child(even) {
    background: #e9ecef;
  }

  ._important {
    color: var(--red_600);
  }

  .p-datatable .p-datatable-header {
    display: flex;
    justify-content: space-between;
    background: var(--white);
    color: var(--gray_800);
    border: 1px solid var(--gray_100);
    padding: $font_05;
  }

  .p-datatable .p-datatable-thead>tr>th,
  .p-datatable .p-datatable-tbody>tr>td {
    text-align: center;
    font-weight: 600;
    padding: $font_05 .1rem;
    border: 1px solid var(--gray_200);
  }

  .p-datatable .p-datatable-tbody>tr {
    background-color: var(--white);
    color: var(--gray_800);

    &:nth-child(even) {
      background-color: var(--gray_300);
    }
  }

  .p-datatable .p-datatable-tbody>tr>td {
    word-break: break-word;
  }

  .p-inputtext {
    background: var(--white);
    border: 1px solid var(--blue_400);
    color: var(--gray_800);
    text-align: center;
  }

  .p-datatable .p-datatable-thead>tr>th {
    background-color: var(--gray_300);
  }

  span.ui-column-title {
    display: none;
  }

  @media (max-width: 40rem) {
    span.ui-column-title {
      display: inline;
      padding-right: .5rem;
      float: right;
      margin-left: auto;
    }

    .p-datatable {
      &.p-datatable-responsive {
        .p-datatable-tbody>tr>td {
          text-align: left;
          display: block;
          width: 100%;
          float: left;
          clear: left;
          border: 0 none;
          padding-left: .5rem;

          .p-column-title {
            padding: .4rem;
            min-width: 30%;
            display: inline-block;
            margin: -.4em 1em -.4em -.4rem;
            font-weight: bold;
          }

          &:last-child {
            border-bottom: 1px solid var(--surface-d);
          }
        }
      }
    }
  }

  [disabled] {
    background: var(--gray_100);
    opacity: 0;
    visibility: hidden;
  }

  .p-dropdown-panel .p-dropdown-items .p-dropdown-item,
  .p-dropdown .p-dropdown-label.p-placeholder,
  .p-multiselect .p-multiselect-label.p-placeholder,
  .p-multiselect-label,
  .p-multiselect-items {
    font-family: $font_family;
    font-size: $font_m;
    font-weight: 600;
    background: var(--gray_300);
    color: var(--gray_800);
  }

  .p-dropdown-panel .p-dropdown-items {
    background: var(--gray_100);
  }

  .p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
    background: var(--gray_100);
    color: var(--gray_800);
  }

  .p-multiselect-panel .p-multiselect-header {
    background: var(--white);
    color: var(--gray_800);
  }

  .p-multiselect-panel .p-multiselect-items .p-multiselect-item {
    background: var(--gray_300);
    color: var(--gray_800);
    padding: 0.25rem;
  }

  .p-multiselect-panel .p-multiselect-items .p-multiselect-item .p-checkbox {
    margin-right: 0.25rem;
    margin-left: 0.3rem;
  }

  .p-multiselect-panel .p-multiselect-items .p-multiselect-item:not(.p-highlight):not(.p-disabled):hover {
    background: var(--gray_100);
    color: var(--gray_800);
  }

  .p-dropdown-panel .p-dropdown-header {
    background: var(--gray_300);
    color: var(--gray_800);
  }

  .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
    background: var(--gray_100);
    color: var(--gray_800);
  }

  .p-datatable .p-sortable-column:not(.p-highlight):hover .p-sortable-column-icon {
    color: var(--gray_800);
  }

  .p-datatable .p-sortable-column:not(.p-highlight):hover {
    background: var(--gray_100);
    color: var(--gray_800);
  }

  .p-multiselect {
    border-radius: 7px;
    background: var(--white);
  }

  .p-dropdown {
    height: 2.8rem;
    border-radius: 10px;
    background: var(--white);
  }

  .p-column-filter-row {
    direction: ltr;
  }

  .p-column-filter-row p-columnfilterformelement {
    width: 100%;
  }

  .p-hidden-space {
    display: none !important;
  }

  th {
    p-sorticon {
      opacity: 0;
      transition: opacity ease-in-out 80ms;
    }

    &:hover,
    &:active,
    &:focus {
      p-sorticon {
        opacity: 1;
      }
    }
  }

  .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: var(--blue_gray_300);
    border-color: var(--blue_gray_300);
    color: var(--white);
  }

  .fa-trash-o {
    color: var(--red_600);
  }

  .header_icons_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 $font_05;
    width: 100%;

    .right_side {
      display: flex;
      flex-wrap: wrap;

      i {
        margin: 0 .25rem;
      }

      @media (max-width: 550px) {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 4.4rem;
        right: 1rem;
      }
    }

    .left_side {
      display: flex;
      flex-wrap: wrap;

      i {
        margin: 0 .25rem;
      }
    }
  }

  .p-paginator-pages {
    display: flex;
    flex-direction: row-reverse;
  }

  .p-paginator {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    border: solid var(--gray_100);
  }

  .p-datatable-resizable>.p-datatable-wrapper {
    overflow-x: unset;
  }

  .p-datatable-resizable .p-datatable-tbody>tr>td,
  .p-datatable-resizable .p-datatable-tfoot>tr>td,
  .p-datatable-resizable .p-datatable-thead>tr>th {
    overflow: inherit;
    white-space: normal;
    background-color: var(--gray_800);
  }

  .p-datatable .p-datatable-thead>tr>th {
    color: var(--gray_800);
  }

  .p-paginator {
    background: var(--white);
    color: var(--gray_800);
  }

  footer,
  .footer {
    text-align: center;
  }

  p-cellEditor {
    input {
      width: 100%;
      padding: .3rem;
      text-align: center;
      font-size: $font_m;
      font-weight: 600;
      outline: 2px dotted var(--orange_500);
      border-color: var(--blue_400);
      border-radius: 10px;
      color: var(--blue_700);
    }

    .mat-checkbox-editable {
      display: grid;
      justify-content: center;
      margin: auto;
      width: $font_3;
      border: 2px dotted var(--orange_500);
      padding: $font_xxs $font_l $font_xxs 0;
    }

    .p-dropdown-editable {
      outline: 2px dotted var(--orange_500);
      padding: .3rem 0;
    }
  }
}

.tooltip {
  z-index: 1 !important;
}

/* EDITABLE ROWS*/


._edit {
  color: var(--blue_gray_300);

  &:hover {
    background-color: rgba(var(--blue_gray_300), 0.3);
  }
}

._save {
  color: var(--green_500);

  &:hover {
    background-color: rgba(var(--green_500), 0.3);
  }
}

._cancel {
  color: var(--red_600);

  &:hover {
    background-color: rgba(var(--red_600), 0.3);
  }
}

._edit,
._save,
._cancel {
  padding: 0.3rem;
  border-radius: $border_50;
  border: 0;
  cursor: pointer;
}

.empty_data {
  display: flex;
  justify-content: center;
  background: var(--white);
  padding: $font_3;
  border-radius: $border_15;
  font-size: $font_l;
  font-weight: 600;
  color: var(--gray_800);
}

/*ICONS*/
.pi-check {
  color: var(--green_500);
}

.pi-arrow-down {
  color: var(--blue_500);
}

.pi-arrow-up {
  color: var(--red_500);
}

._empty {
  color: var(--blue_600);
}

._mark {
  color: var(--orange_500);
}
