@import 'variable.scss';

:host ::ng-deep,
::ng-deep,
:host {
  .p-datatable {
    position: relative;
    direction: ltr;
    width: 83vw;
    min-width: 100%;

    @media (min-width: 550px) {
      width: 61vw;
    }

    @media (min-width: 700px) {
      width: 68vw;
    }

    @media (min-width: 850px) {
      width: 71vw;
    }

    @media (min-width: 1000px) {
      width: 75vw;
    }

    @media (min-width: 1200px) {
      width: 81vw;
    }
  }

  .p-steps ul {
    flex-wrap: wrap;
    direction: rtl;
    background: var(--white);
    border-radius: $border_5;
    padding: .5rem 0;
  }

  .p-steps .p-steps-item .p-menuitem-link {
    background: var(--white);
  }

  .p-steps .p-steps-item.p-highlight .p-steps-number {
    background: var(--green_500);
    color: var(--white);
  }

  .p-steps .p-steps-item .p-menuitem-link:not(.p-disabled):focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem var(--green_500);
  }

  .p-treeselect {
    height: var(--font_26);
    background-color: var(--white);
    align-items: center;
    font-weight: 600;
    border: 0;
    direction: rtl;
  }

  .p-treeselect-panel .p-treeselect-items-wrapper .p-tree {
    direction: ltr;
  }

  .select_tree {
    height: var(--font_26);
    z-index: 10;
    max-height: 50vh;
    max-height: 50svh;

    @media (min-width: 550px) {
      max-height: 30vh;
      max-height: 30svh;
    }
  }

  p-multiselect.p-multiselect-clearable .p-multiselect-label-container {
    padding-right: 0;
  }

  .p-multiselect-label-container {
    justify-content: center;
  }

  .p-treeselect-label-container {
    font-family: var(--font-family);
    overflow: hidden;
    flex: 1 1 auto;
    cursor: pointer;
    max-width: 10rem;
    min-width: 12rem;
    direction: rtl;
  }

  .p-tree .p-tree-container .p-treenode .p-treenode-content {
    font-weight: 600;
  }

  .p-datatable table {
    font-family: var(--font-family);
    font-size: var(--font_s);
    background: var(--secondary_1);
  }

  tr:nth-child(even) {
    background: #e9ecef;
  }

  ._important {
    color: var(--red_600);
  }

  ._general_search {
    font-family: var(--font-family);
    font-size: var(--font_s);
    font-weight: 600;
    margin-left: .25rem;
    border: 1px solid;
    color: var(--secondary_8);
    border-radius: $border_7;
    background: var(--white);
  }

  .p-datatable .p-datatable-header {
    display: flex;
    justify-content: space-between;
    background: var(--white);
    color: var(--secondary_8);
    border: 1px solid var(--secondary_1);
    border-radius: $border_7;
    padding: var(--font_05);
    direction: rtl;

    .p-multiselect {
      min-width: 6rem;
      border: 1px solid var(--primary_6);
    }

    @media (max-width: 550px) {
      flex-wrap: wrap;
    }
  }

  .p-datatable .p-datatable-thead>tr>th,
  .p-datatable .p-datatable-tbody>tr>td {
    padding: var(--font_01);
    direction: rtl;
    text-align: center;
    font-weight: 600;
    white-space: pre-wrap; // added for firefox but may affect on other browsers
    text-wrap: wrap;
    border: 1px solid var(--secondary_2);
  }

  .p-datatable .p-datatable-tbody>tr {
    background-color: var(--even_grid_rows);
    color: var(--secondary_8);

    &:nth-child(even) {
      background-color: var(--odd_grid_rows);
    }
  }

  .p-datatable .p-datatable-tbody>tr>td {
    word-break: break-word;
    overflow: inherit;
  }

  ._editable {
    background-color: var(--light_1);
  }

  .p-inputtext {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: var(--font_26);
    background: var(--white);
    border: 1px solid var(--primary_2);
    color: var(--secondary_8);
    text-align: center;
    font-family: var(--font-family);
    font-weight: 600;
  }

  .p-datatable .p-datatable-thead>tr>th {
    background-color: var(--secondary_3);
    color: var(--secondary_8);
    direction: ltr;
    // min-width: 4rem;
  }

  .__columns {
    width: 6rem;
  }

  .__headers {
    width: 6rem;
  }

  .__icon-columns {
    width: 100% !important;
    min-width: 2.2rem !important;

    @media (min-width: 550px) {
      width: 2.2rem !important;
      min-width: 2.2rem !important;
    }
  }

  ._rotate_header {
    transform: rotate(-90deg);

    .p-datatable .p-datatable-thead>tr>th {
      width: 2.2rem !important;
      min-width: 2.2rem !important;
      max-width: 2.5rem !important;
    }
  }

  .p-datatable-resizable-table>.p-datatable-thead>tr>th {
    overflow: initial;
  }

  ._overflow_header {
    overflow: hidden;
    text-wrap: nowrap;
    direction: rtl;
    display: block;
    font-size: var(--font_ss);

    &:hover {
      overflow: visible;
    }

  }

  span.ui-column-title {
    display: none;
  }

  .has_filters {
    color: var(--primary_3);
    font-weight: 600;
  }

  @media (max-width: 550px) {
    .p-datatable.p-datatable-responsive .p-datatable-tbody>tr>td {
      display: flex !important;
    }

    span.ui-column-title {
      display: inline;
      padding-right: var(--font_05);
      float: right;
      margin-left: auto;
    }

    .p-datatable {
      &.p-datatable-responsive {

        .p-datatable-tfoot>tr>td,
        .p-datatable-thead {
          display: none !important;
        }

        .p-datatable-tbody>tr>td {
          text-align: left;
          display: block;
          width: 100%;
          float: left;
          clear: left;
          border: 0 none;
          padding-left: var(--font_05);

          .p-column-title {
            padding: .4rem;
            min-width: 30%;
            display: inline-block;
            margin: -.4em 1em -.4em -.4rem;
            font-weight: bold;
          }

          &:last-child {
            border-bottom: 1px solid var(--surface-d);
          }
        }
      }
    }
  }

  p-multiselect-clear-icon,
  .p-multiselect-clear-icon,
  p-multiselect.p-multiselect-clearable .p-multiselect-clear-icon {
    // break default value
    display: none; // all lazy bacame problem on not giving exact number on filter so display have became none    
  }

  .p-datatable-responsive .p-datatable-tbody>tr>td .p-column-title {
    display: none;
  }

  .p-multiselect .p-multiselect-label {
    align-items: center;
    display: flex;
    height: 100%;
    padding: var(--font_02);
  }

  .p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
    background: var(--secondary_1);
    color: var(--secondary_8);
  }

  .p-multiselect-panel .p-multiselect-header {
    background: var(--white);
    color: var(--secondary_8);
    padding: 0;
  }

  .p-multiselect-panel .p-multiselect-items .p-multiselect-item {
    font-weight: 600;
    background: var(--secondary_3);
    color: var(--secondary_8);
    padding: var(--font_025);
    direction: rtl;
  }

  .p-multiselect-panel .p-multiselect-items .p-multiselect-item .p-checkbox {
    margin-right: var(--font_025);
    margin-left: var(--font_03);
  }

  .p-multiselect-panel .p-multiselect-header .p-multiselect-close {
    margin-left: .25rem;
    width: 1.2rem;
    height: 1.2rem;
  }

  p-checkbox {
    align-items: center;
    display: inline-flex;
    vertical-align: middle;
    padding-left: var(--font_xs);

    label {
      font-size: var(--font_m);
      font-weight: 600;
    }
  }

  .p-button {
    background: var(--thirdy_1);
    color: var(--white) !important;
    border-radius: $border_15 !important;
    font-family: var(--font-family) !important;
    font-weight: 600;
  }

  .p-selectbutton .p-button.p-highlight {
    background: var(--primary_4);
  }

  .p-selectbutton .p-button:not(.p-disabled):not(.p-highlight):hover {
    background: var(--thirdy_3) !important;
  }

  .p-selectbutton .p-button.p-highlight:hover {
    background-color: var(--thirdy_3);
  }

  p-radiobutton {
    padding-left: var(--font_02);
  }

  .p-buttonset .p-button {
    margin: var(--font_02) !important;
  }

  .p-field-radiobutton {
    display: flex;
    align-items: center;
    margin-left: var(--font_2);

    label {
      font-size: var(--font_s);
      font-weight: 600;
      color: var(--thirdy_3);
    }
  }

  .p-column-filter-overlay-menu .p-column-filter-buttonbar .p-button.p-button-outlined {
    display: none;
  }

  .p-column-filter-buttonbar .p-button {
    width: 100%;
  }

  .p-column-filter-buttonbar {
    justify-content: center;
  }

  .p-column-filter-overlay-menu .p-column-filter-buttonbar {
    padding: 0 .5rem 0.5rem;

    .p-button.p-button-outlined {
      background-color: var(--thirdy_1);
    }
  }

  .p-column-filter-overlay {
    min-width: 11rem;
    background: var(--secondary_2);
  }

  .p-datatable .p-sortable-column:not(.p-highlight):hover .p-sortable-column-icon {
    color: var(--secondary_8);
  }

  .p-datatable .p-sortable-column:not(.p-highlight):hover {
    background: var(--secondary_1);
    color: var(--secondary_8);
  }

  .p-multiselect-panel .p-multiselect-items .p-multiselect-item:not(.p-highlight):not(.p-disabled):hover {
    background: var(--secondary_1);
    color: var(--secondary_8);
  }

  .p-multiselect {
    border-radius: $border_7;
    background: var(--white);
    height: var(--font_26);
    min-width: 7rem;
    max-width: 9rem;
    width: 100%;
    direction: rtl;
    border: none;
  }

  .p-dropdown-panel .p-dropdown-items .p-dropdown-item,
  .p-dropdown .p-dropdown-label.p-placeholder,
  .p-multiselect .p-multiselect-label.p-placeholder,
  .p-multiselect-label,
  .p-multiselect-items {
    font-family: var(--font-family) !important;
    font-size: var(--font_ss);
    font-weight: 600 !important;
    // background: var(--secondary_3);
    border: none;
    color: var(--secondary_8);
  }

  .p-dropdown .p-dropdown-clear-icon {
    right: 0;
    transform: translateX(50%);
    top: 50%;
  }

  .p-dropdown .p-dropdown-clear-icon .p-dropdown.p-dropdown-clearable .p-dropdown-label {
    padding-right: var(--font_025);
    font-family: var(--font-family);
    font-size: var(--font_ss);
    font-weight: 600;
  }

  .p-dropdown .p-dropdown-label {
    font-family: var(--font-family);
    font-size: var(--font_ss);
    font-weight: 600;
    color: var(--primary_5);
    border: 0;
  }

  .p-dropdown-panel .p-dropdown-header {
    background: var(--secondary_3);
    color: var(--secondary_8);
  }

  .p-dropdown .p-dropdown-label.p-placeholder {
    font-family: var(--font-family);
    font-size: var(--font_ss);
    font-weight: 600;
  }

  .p-dropdown.p-dropdown-clearable .p-dropdown-label {
    padding-right: var(--font_025);
    font-family: var(--font-family);
    font-size: var(--font_ss);
    font-weight: 600;
    border: 0;
  }

  .p-dropdown-item {
    font-family: var(--font-family);
    font-weight: 600;
  }

  .p-dropdown-panel .p-dropdown-items {
    background: var(--secondary_1);
  }

  .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
    background: var(--secondary_1);
    color: var(--secondary_8);
  }

  .p-dropdown {
    height: var(--font_26);
    border-radius: 10px;
    background: var(--white);
    min-width: 7rem;
    max-width: 9rem;
    width: 100%;
    direction: rtl;
    border: none;
  }

  .p-dropdown:not(.p-disabled).p-focus {
    border: none;
    box-shadow: none;
  }

  .p-dropdown .p-dropdown-trigger,
  .p-multiselect .p-multiselect-trigger {
    width: var(--font_2);
  }

  .p-dropdown-editable {
    outline: 2.5px dotted var(--orange_500);
    padding: var(--font_03) 0;
  }

  .p-column-filter-row {
    direction: ltr;
  }

  .p-dropdown-panel .p-dropdown-header .p-dropdown-filter {
    padding-right: 0rem;
    margin-right: 0rem;
  }

  .p-column-filter-row p-columnfilterformelement {
    width: 100%;
  }

  .p-column-filter-overlay .p-column-filter-row-items {
    text-align: right;
    font-weight: 600;
  }

  .p-overlay {
    z-index: 1001;
    min-width: 144px;
    transform-origin: center top;
    top: 42px;
    left: auto !important;
    right: 0px !important;
  }

  .p-hidden-space {
    display: none !important;
  }

  .p-datatable .p-datatable-tfoot>tr>td {
    background-color: var(--white);
    color: var(--secondary_8);
    text-align: center;
    padding: var(--font_xs) 0;
  }

  .fa-trash-o {
    color: var(--red_600);
  }

  .header_icons_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 var(--font_05);
    width: 100%;

    .right_side {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      i {
        margin: 0 var(--font_025);
      }

      @media (max-width: 550px) {
        display: flex;
        flex-wrap: wrap;
        position: static;
      }
    }

    .left_side {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1px;

      i {
        margin: 0 2px;
        border-radius: $border_7;
      }
    }
  }

  .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: var(--thirdy_1);
    border-color: var(--thirdy_1);
    color: var(--white);
  }

  .p-paginator-pages {
    display: flex;
    flex-direction: row-reverse;
  }

  .p-paginator {
    display: flex;
    align-items: center;
    direction: rtl;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    border: solid var(--secondary_1);
    border-radius: $border_7;
  }

  .p-datatable-wrapper {
    direction: rtl;
    background-color: var(--secondary_1);
    overflow-x: scroll !important;
  }

  // .p-datatable-resizable .p-datatable-tbody>tr>td,
  // .p-datatable-resizable .p-datatable-tfoot>tr>td,
  // .p-datatable-resizable .p-datatable-thead>tr>th {
  //   overflow: inherit;
  //   white-space: normal;
  // }
  .p-accordion .p-accordion-content {
    background: var(--white);
  }

  .p-paginator {
    background: var(--white);
    color: var(--secondary_8);
  }

  footer,
  .footer {
    text-align: right;
    margin: var(--font_xs) 0;
  }

  p-cellEditor {
    input {
      width: 100%;
      height: var(--font_26);
      padding: var(--font_03) 1px;
      text-align: center;
      font-size: var(--font_s);
      font-weight: 600;
      outline: 2.5px dotted var(--orange_500);
      border-color: var(--primary_2);
      border-radius: 10px;
      color: var(--primary_2);
    }

    .mat-checkbox-editable {
      display: grid;
      justify-content: center;
      margin: auto;
      width: var(--font_3);
      border: 2px dotted var(--orange_500);
      padding: var(--font_05) var(--font_m) var(--font_05) 0;
    }

    .date-editable {
      outline: 2.5px dotted var(--orange_500);
      padding: var(--font_05) 0;
    }

  }

  app-prime-table-editable {
    .p-datatable-wrapper {
      overflow-x: unset !important;
      overflow-y: unset !important;
    }

    .__columns {
      width: auto;
      min-width: 2rem;
    }

    .__headers {
      width: auto;
      min-width: 2rem;
    }
  }

  ._unset_overflow_tables {
    .p-datatable-wrapper {
      overflow-x: unset !important;
      overflow-y: unset;
    }

    .__columns {
      width: auto;
      min-width: 2rem;
    }

    .__headers {
      width: auto;
      min-width: 2rem;
    }

  }
}

[disabled] {
  background: var(--secondary_1);
  opacity: 0;
  visibility: hidden;
}

.tooltip {
  z-index: 1 !important;
}

.double_size {
  grid-column: auto/ span 2;

  @media (max-width:550px) {
    grid-column: auto;
  }
}

.triple_size {
  grid-column: auto/ span 2;

  @media (max-width:550px) {
    grid-column: auto;
  }
}

/* EDITABLE ROWS*/


._edit {
  color: var(--thirdy_1);

  &:hover {
    background-color: rgba(var(--thirdy_1), 0.3);
  }
}

._save {
  color: var(--green_500);

  &:hover {
    background-color: rgba(var(--green_500), 0.3);
  }
}

._cancel {
  color: var(--red_600);

  &:hover {
    background-color: rgba(var(--red_600), 0.3);
  }
}

._edit,
._save,
._cancel {
  padding: var(--font_03);
  border-radius: $border_50;
  border: 0;
  cursor: pointer;
}

.empty_data {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--font_05);
  background: var(--white);
  padding: var(--font_3);
  border-radius: $border_15;
  font-size: var(--font_l);
  font-weight: 600;
  color: var(--secondary_8);
  font-family: var(--font-family);
}

/*ICONS*/
.pi-check {
  color: var(--green_500);
}

.pi-arrow-down {
  color: var(--primary_3);
}

.pi-arrow-up {
  color: var(--red_500);
}

._empty {
  color: var(--primary_4);
}

._mark {
  color: var(--orange_500);
}

.tooltip_long2 {
  min-width: 16rem;
}

.tooltip_long3 {
  min-width: 20rem;
}

.tooltip_long4 {
  min-width: 25rem;
}