@import './add-edit.scss';
@import 'tooltip.scss';

main {
  direction: rtl;
}

._content {
  background: var(--blue_gray_400);
  padding: .2rem;
  margin: .2rem;
  border-radius: $border_15;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, auto));
  grid-auto-flow: dense;
}

.l_1_c,
.l_2,
.l_3 {
  border-radius: $border_15;
  padding: 0.3rem .2rem;
}

.l_1 {
  display: grid;
  gap: .2rem;
  grid-template-columns: repeat(6, 1fr);

  .l_1_c {
    background: var(--blue_200);
    color: var(--gray_600);
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .1rem;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: .5rem;
      border-style: solid;
      border-color: var(--blue_400) transparent transparent transparent;
    }
  }
}

.l_2 {
  .l_2_c {
    background: var(--gray_100);
    margin-bottom: .2rem;
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.l_3_c {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background: var(--white);

  .l_3 {
    font-size: 1.2rem;
    font-weight: 500;
  }

}

.accept {
  display: flex;
}

.btn_2 {
  margin: .25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

// ts config
.toggle {
  display: flex;
  flex-wrap: wrap;
}

.toggle_content {
  grid-template-columns: auto;
}

// 
.mat-horizontal-stepper-header-container {
  font-family: $font_family;
}

// switch buttons
.fa_icons {
  color: var(--pink_500);
  display: grid;
  place-content: center;
  padding: .87rem;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
  border: none;
  float: left;

  &:hover,
  &:active {
    opacity: 1;
  }
}


// edit tooltips
.tooltip .tooltip_text::after {
  top: auto;
  bottom: 100%;
  border-color: transparent transparent #F68038 transparent;
}

.tooltip_text {
  bottom: -260% !important;
  left: 3rem !important;
}
