@import 'variable.scss';
@import 'button.scss';

.mat-form-field {
  text-align: center;
  font-family: $font_family;
  font-size: $font_s;
  font-weight: 600;
  color: $gray_600;
}

.mat-dialog-content {
  display: grid;
  min-height: 13rem;
  min-width: 18rem;
  gap: .2rem;
  overflow: auto;

  @media (min-width: 780px) {
    min-width: 28rem;
  }
}

.mat-dialog-actions {
  display: flex;
  justify-content: space-between;
}

.mat-checkbox {
  direction: rtl;
  margin-bottom: 1rem;
}

.mat-option {
  font-family: $font_family;
  font-weight: 600;
  text-align: right;
  direction: rtl;
}

.btn_1,
.btn_2 {
  width: 50%;
  max-width: 8rem;
  font-size: 1.2rem;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 1px 1px 2px 3px $gray_400;
  }
}

._custom {
  background: $blue_400;
  color: $gray_100;

  &:hover,
  &:focus,
  &:active {
    background-color: $blue_500;
    box-shadow: 0 0 0 3px $blue_500;
  }
}

h2 {
  text-align: right;
  font-family: $font_family;
  font-size: 1.5rem;
  font-weight: 600;
  color: $blue_400;
  border: 2px solid $blue_400;
  border-radius: 15px;
  padding: 1rem;
}

.mat-dialog-container {
  border: 1px solid $blue_400;
}

._blue_dark {
  color: $blue_700;
  border: 2px solid $blue_700;
}

button._blue_dark {
  background-color: $blue_700;
  color: $gray_100;
}

::ng-deep {

  .mat-checkbox-layout .mat-checkbox-label {
    margin: 0 .5rem;
    font-family: $font_family;
    font-size: $font_s;
    font-weight: 600;
    color: $gray_600;
  }

  .mat-select {
    font-family: $font_family;
    font-weight: 600;
    direction: rtl;
  }

  .mat-select-value-text {
    color: $gray_600;
  }

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
