.font_family {
  font-family: BLotus, "Blotus", tahoma, Sans-Serif;
}

.d_rtl {
  direction: rtl !important;
}

.d_ltr {
  direction: ltr !important;
}

a:hover,
a:focus,
a:active {
  outline: none;
}

.coloring_border {
  border: 1.5px dashed var(--orange_600);
  animation: pulse-new-button 500ms;
}

._xlsx,
._csv,
._pdf {
  color: var(--secondary_1) !important;
}

._xlsx {
  background: var(--green_600);
}

._xlsx_download {
  background: var(--green_500);
  color: var(--white);
  font-size: var(--font_m);
}

._csv {
  background: var(--green_600);
}

._pdf {
  background: var(--red_500) !important;
}

._save_columns {
  background-color: var(--thirdy_4);
  color: var(--white) !important;
}

._custom {
  background: var(--primary_4);
  color: var(--secondary_1);
}

/* BACK ARROW ICON */
.p_icons {
  color: var(--thirdy_1);
  font-size: var(--font_m);
  cursor: pointer;
}

footer.footer_with_background {
  background: var(--white);
  padding: var(--font_05);
  border-radius: 7px;
}

._circle_border {
  display: grid !important;
  place-content: center;
  width: var(--font_22);
  height: var(--font_22);
  border-radius: 50%;
  border: 1.5px solid;
  cursor: pointer;
}
._circle_border:hover, ._circle_border:focus, ._circle_border:active {
  box-shadow: 0px 0px 1px 1px;
}

.btn_1 {
  max-width: 19rem;
  width: 100%;
  height: var(--font_26);
  text-align: center;
  background: var(--thirdy_1);
  color: var(--white);
  border-radius: 100vmax;
  font-size: var(--font_m);
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.btn_1:hover, .btn_1:focus, .btn_1:active {
  background: var(--primary_4);
  box-shadow: 0px 0px 5px 0px var(--primary_4);
}

.btn_2 {
  max-width: 19rem;
  width: 8rem;
  height: var(--font_26);
  text-align: center;
  border-radius: 100vmax;
  font-size: var(--font_m);
  font-weight: 600;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 4px 0px var(--secondary_4);
}
.btn_2:hover, .btn_2:focus, .btn_2:active {
  box-shadow: 0px 2px 4px 1px var(--secondary_4);
}

.btn_2_o {
  max-width: 19rem;
  width: 8rem;
  height: var(--font_26);
  text-align: center;
  border-radius: 100vmax;
  font-size: var(--font_m);
  font-weight: 600;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 2px 0px var(--secondary_4);
  background-color: var(--orange_500);
  color: var(--white);
}
.btn_2_o:hover, .btn_2_o:focus, .btn_2_o:active {
  background: var(--orange_600);
}

.input_1 {
  min-width: 19rem;
  height: var(--font_28);
  background: var(--white);
  padding: 0 3px;
  margin: 2px 0;
  text-align: center;
  font-size: var(--font_s);
  color: var(--primary_4);
  border-radius: 10px;
  font-weight: 600;
  border: 1px solid;
  font-family: inherit;
}
@media (max-width: 550px) {
  .input_1 {
    min-width: 15rem;
  }
}

.input_2 {
  background: var(--secondary_3);
  color: var(--secondary_3);
  display: flex;
  align-items: center;
  margin: 2px 0;
  height: var(--font_28);
  border: 1px solid var(--secondary_3_spec);
  border-radius: 7px;
}

._key {
  text-align: left;
  padding-right: 3px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  min-width: var(--font_3);
  text-align: center;
  margin-left: auto;
}

._value {
  margin: 2px;
  width: 100%;
  flex: 1;
  text-align: center;
  background: var(--white);
  border: 0;
  border-radius: inherit;
}

._key,
._value {
  display: grid;
  align-items: center;
  height: var(--font_26);
  min-height: 85%;
  font-size: var(--font_s);
  font-weight: 600;
  color: var(--primary_4);
}

.tooltip {
  position: relative;
  display: inline-block;
  z-index: 10;
}
.tooltip .tooltip_text,
.tooltip .tooltip_text_right,
.tooltip .tooltip_text_bottom {
  position: absolute;
  pointer-events: none;
  direction: rtl;
  visibility: hidden;
  background-color: var(--orange_500);
  color: var(--white);
  border-radius: 6px;
  z-index: 4;
  font-weight: 600;
  font-family: BLotus, "Blotus", tahoma, Sans-Serif;
  font-size: var(--font_s);
  text-align: center;
  line-break: auto;
  padding: 5px 2px;
  transition: all ease-in-out 100ms;
}

.tooltip_text {
  width: 9rem;
  bottom: 80%;
  left: 50%;
  transform: translate(-50%, 10%);
}

.tooltip_text_right {
  width: 9rem;
  left: 100%;
  bottom: 50%;
  transform: translate(-10%, 50%);
}

.tooltip_text_bottom {
  width: 15rem;
  left: 50%;
  transform: translate(-50%, 40%);
  top: 50%;
}
.tooltip_text_bottom::after {
  content: "";
  position: absolute;
  right: 45%;
  top: 50%;
  transform: translateX(-50%);
  top: -10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--orange_500);
}

.tooltip_text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--orange_500) transparent transparent transparent;
}

.tooltip_text_right::after {
  content: "";
  position: absolute;
  top: 40%;
  left: -5px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--orange_500) transparent transparent;
}

.tooltip:hover .tooltip_text {
  visibility: visible;
  transform: translate(-50%, -30%);
}

.tooltip:hover .tooltip_text_right {
  visibility: visible;
  transform: translate(10%, 50%);
}

.tooltip:hover .tooltip_text_bottom {
  visibility: visible;
  transform: translate(-50%, 80%);
}

:host .mat-select-value,
:host ::ng-deep .mat-select-value,
::ng-deep .mat-select-value {
  font-family: BLotus, "Blotus", tahoma, Sans-Serif;
  font-size: var(--font_s);
  color: var(--secondary_7);
  font-weight: 600;
}
:host .mat-select-value-text,
:host ::ng-deep .mat-select-value-text,
::ng-deep .mat-select-value-text {
  font-family: BLotus, "Blotus", tahoma, Sans-Serif;
  font-size: var(--font_s);
  color: var(--secondary_8);
}
:host .mat-select-placeholder,
:host ::ng-deep .mat-select-placeholder,
::ng-deep .mat-select-placeholder {
  color: var(--secondary_8);
  font-size: var(--font_ss);
}
:host .mat-dialog-container,
:host ::ng-deep .mat-dialog-container,
::ng-deep .mat-dialog-container {
  position: relative;
  background: var(--secondary_1);
  color: var(--primary_7);
  direction: rtl;
}
:host .mat-dialog-actions,
:host ::ng-deep .mat-dialog-actions,
::ng-deep .mat-dialog-actions {
  display: flex;
  justify-content: flex-start;
  direction: rtl;
  min-height: 1rem;
  margin-bottom: 0;
}
:host .close_dg,
:host ::ng-deep .close_dg,
::ng-deep .close_dg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  border: none;
  right: var(--font_03);
  top: var(--font_03);
  padding: 13px;
  width: 1.7rem;
  height: 1.7rem;
  line-height: 14px;
  border-radius: 50%;
  background: var(--secondary_1);
  color: var(--secondary_8);
}
:host .close_dg:hover, :host .close_dg:active,
:host ::ng-deep .close_dg:hover,
:host ::ng-deep .close_dg:active,
::ng-deep .close_dg:hover,
::ng-deep .close_dg:active {
  color: var(--primary_2);
  border-color: transparent;
  background: var(--secondary_4);
}
:host .close_dg:focus,
:host ::ng-deep .close_dg:focus,
::ng-deep .close_dg:focus {
  outline: 0 none;
  outline-offset: 0;
  background: var(--secondary_4);
  box-shadow: 0 0 0 0.15rem var(--primary_3);
}
:host .mat-select,
:host ::ng-deep .mat-select,
::ng-deep .mat-select {
  font-family: BLotus, "Blotus", tahoma, Sans-Serif;
  font-weight: 600;
  text-align: center;
}
:host .mat-select-arrow,
:host ::ng-deep .mat-select-arrow,
::ng-deep .mat-select-arrow {
  color: var(--primary_3);
}
:host .mat-select-panel .mat-optgroup-label,
:host .mat-select-panel .mat-option,
:host ::ng-deep .mat-select-panel .mat-optgroup-label,
:host ::ng-deep .mat-select-panel .mat-option,
::ng-deep .mat-select-panel .mat-optgroup-label,
::ng-deep .mat-select-panel .mat-option {
  font-size: var(--font_s);
  line-height: 3em;
  height: 3em;
  text-align: right;
  font-family: inherit;
  font-weight: 600;
}
:host .mat-option-text,
:host ::ng-deep .mat-option-text,
::ng-deep .mat-option-text {
  font-size: var(--font_s);
  font-weight: 600;
  color: var(--primary_6);
}
:host .mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
:host .mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
:host ::ng-deep .mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
:host ::ng-deep .mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
::ng-deep .mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
::ng-deep .mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
  background-color: var(--pink_500);
}
:host .mat-checkbox-layout .mat-checkbox-label,
:host ::ng-deep .mat-checkbox-layout .mat-checkbox-label,
::ng-deep .mat-checkbox-layout .mat-checkbox-label {
  margin: 0 var(--font_05);
  font-family: BLotus, "Blotus", tahoma, Sans-Serif;
  font-size: var(--font_s);
  font-weight: 600;
  color: var(--secondary_8);
  line-height: 2;
  border-radius: 10px;
}
:host .mat-input-element,
:host ::ng-deep .mat-input-element,
::ng-deep .mat-input-element {
  color: var(--primary_5);
}
:host .mat-checkbox-frame,
:host ::ng-deep .mat-checkbox-frame,
::ng-deep .mat-checkbox-frame {
  border-color: var(--secondary_5);
}
:host .mat-checkbox-disabled:not(.mat-checkbox-checked) .mat-checkbox-frame,
:host ::ng-deep .mat-checkbox-disabled:not(.mat-checkbox-checked) .mat-checkbox-frame,
::ng-deep .mat-checkbox-disabled:not(.mat-checkbox-checked) .mat-checkbox-frame {
  border-color: var(--secondary_8);
}
:host .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
:host .mat-checkbox-checked.mat-accent.mat-checkbox-disabled .mat-checkbox-background,
:host .mat-checkbox-checked.mat-accent .mat-checkbox-background,
:host ::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
:host ::ng-deep .mat-checkbox-checked.mat-accent.mat-checkbox-disabled .mat-checkbox-background,
:host ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
::ng-deep .mat-checkbox-checked.mat-accent.mat-checkbox-disabled .mat-checkbox-background,
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: var(--pink_500);
}

.radio_group {
  display: flex;
  justify-content: space-evenly;
}

.check_boxes {
  border-radius: 10px;
  background: var(--white);
  padding: var(--font_05);
  margin-top: 3px;
}

table {
  display: block;
  border: 2px solid var(--thirdy_3);
  overflow: auto;
  width: 100%;
  direction: rtl;
}

td,
th {
  border: 1px solid var(--secondary_2);
}

th.mat-header-cell {
  text-align: right;
  padding: var(--font_02);
  font-weight: 600;
  font-size: var(--font_l);
  color: #002CA8;
}

.header {
  color: var(--thirdy_3);
  border: 1px solid var(--thirdy_3);
  margin: auto;
  border-radius: 10px;
  text-align: center;
  padding: var(--font_02);
  font-size: var(--font_m);
}

td.mat-cell {
  padding: 0.87rem;
  font-size: var(--font_m);
  color: var(--secondary_7);
  font-weight: 600;
}

._actions {
  display: flex;
  align-items: center;
  border: none;
}

._custom {
  color: var(--thirdy_1);
  border-radius: 50%;
  padding: var(--font_xs);
  font-size: var(--font_l);
  cursor: pointer;
}

._key,
._value {
  font-family: BLotus, "Blotus", tahoma, Sans-Serif;
}

.add_new {
  padding: var(--font_xs);
  direction: rtl;
}

.mat-dialog-actions {
  display: flex;
  direction: rtl;
  justify-content: flex-start;
}

.mat-dialog-actions,
.mat-dialog-content,
td,
th {
  font-family: BLotus, "Blotus", tahoma, Sans-Serif;
  font-size: var(--font_s);
}

.fa-trash-o {
  color: var(--red_600);
}

.filter {
  display: block;
  width: 80%;
  margin: auto;
}

.operation {
  display: flex;
  justify-content: flex-end;
  background: var(--white);
  border-radius: 10px 10px 0 0;
  border: 2px solid var(--thirdy_3);
  border-bottom: 0;
}

.operation_btn {
  cursor: pointer;
  margin: var(--font_xs);
  padding: var(--font_xs);
  border-radius: 50%;
  border: 1.5px solid;
  font-size: var(--font_m);
  height: 3rem;
  width: 3rem;
  display: grid;
  place-content: center;
  color: var(--thirdy_1);
}
.operation_btn:hover, .operation_btn:focus, .operation_btn:active {
  box-shadow: 0px 0px 1px 1px;
}

.mat-row:nth-child(even) {
  background-color: var(--white);
}
.mat-row:nth-child(even):hover, .mat-row:nth-child(even):focus, .mat-row:nth-child(even):active {
  background-color: var(--secondary_4);
}

.mat-row:nth-child(odd) {
  background-color: #e9ecef;
}
.mat-row:nth-child(odd):hover, .mat-row:nth-child(odd):focus, .mat-row:nth-child(odd):active {
  background-color: var(--secondary_4);
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding-right: 12px;
  padding-left: 0;
}

::ng-deep mat-option {
  direction: rtl;
  text-align: right;
}
::ng-deep .mat-option-text {
  text-align: right;
  font-family: BLotus, "Blotus", tahoma, Sans-Serif;
  font-size: var(--font_s);
  font-weight: 600;
  overflow: hidden;
  flex-grow: 1;
  color: var(--secondary_6);
}

:host::ng-deep .mat-paginator-outer-container {
  font-size: var(--font_s);
  font-weight: 600;
  font-family: BLotus, "Blotus", tahoma, Sans-Serif;
}
:host::ng-deep .mat-paginator-page-size {
  direction: rtl;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}/*# sourceMappingURL=shared-manage.css.map */