@import 'primeNG';
@import 'input';
@import 'button';
@import '_mat';
@import 'tooltip';


._req_content {
    display: grid;
    align-items: center;
    width: 23rem;
    padding: var(--font_05);
    justify-content: initial;
    direction: rtl;
    margin: auto auto var(--font_m) auto;
    gap: var(--font_03);
    background: var(--white);
    border-radius: 10px;
    box-shadow: 0px 2px 6px 2px var(--secondary_7);
}

form {
    background: var(--white);
    border-radius: $border_10;
    padding: .1rem;
    margin: var(--font_s) 0;
}

._changables {
    background-color: var(--light_1);
}

._search_button {
    max-width: 100%;
}

footer {
    display: flex;
    justify-content: center;
}

.btn_1 {
    margin-top: var(--font_2);
}

.check_boxes {
    direction: ltr;
}

.checkboxes {
    display: flex;
    justify-content: space-evenly;
}

.input_icon ._value:active,
.input_icon ._value:focus {
    outline: 2px solid var(--primary_3);
}

.confirmation-form {
    background: var(--white);
    border-radius: 10px;
    box-shadow: 0px 2px 6px 2px var(--secondary_7);
    pointer-events: none;

    ._desc {
        opacity: 0.7;
    }
}

footer {
    pointer-events: all;
}

._desc {
    margin: var(--font_m);
    display: grid;
    align-items: center;
    padding: var(--font_05);
    grid-template-columns: repeat(auto-fit, minmax(18rem, auto));
    direction: rtl;
    gap: 2rem 0.5rem;

    @media (min-width: 550px) {
        grid-template-columns: 1fr 1fr;
    }
}

.icon_validation {
    position: absolute;

    div {
        display: flex;
        align-items: center;
    }
}

.alert {
    color: var(--red_500);
}

.correct {
    i {
        color: var(--green_500);
        outline: 1px solid var(--green_500);
        font-size: 1.3rem;
        background: var(--green_500);
        color: var(--white);
    }
}

.input_outline {
    outline: 1px solid red;
    border-radius: $border_7;
}

.input_outline_valid {
    outline: transparent;
    border-radius: $border_7;
}

.map-frame {
    margin: var(--font_xs) var(--font_02);
    height: 100%;
    min-height: 30vh;
    width: 100%;
    box-shadow: -1px 2px 5px 5px var(--secondary_4);
    position: relative;
}

#map3 {
    height: 10rem;
    width: 10rem;
    z-index: 1;
}

._description {
    direction: rtl;
    background: var(--white);
    border-radius: $border_5;
    padding: var(--font_2) var(--font_s);
    margin: var(--font_xs) 0;

    h2 {
        color: var(--primary_3);
    }

    li {
        color: var(--primary_5);
    }
}

.top_title {
    padding: var(--font_05);
    color: var(--primary_3);
    text-align: right;
}

.installment-form,
.location-form,
.validation-form,
.offering-group-form,
.other-info-form,
.technical-form,
.personal-form {
    display: grid;
    justify-content: center;
}

.validation-form,
.installment-form {
    ._desc {
        grid-template-columns: none;
    }

    .top_title {
        text-align: center;
    }
}

.installment-form {
    direction: rtl;
}

.location_selected {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    color: var(--green_600);
}

.input_icon ._key {
    min-width: 8rem;
}

.offering-group-form {
    ._desc {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18rem, auto));
        margin: auto;
        margin-bottom: var(--font_m);
    }

    .input_icon ._key {
        min-width: auto;
    }

    .top_title {
        text-align: center;
    }
}

.order_by {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    direction: rtl;
}

h2 {
    white-space: nowrap;
    color: var(--primary_3);
    margin-left: var(--font_05);
    font-size: var(--font_s);
}

// for calculation step

table {
    display: grid;
    direction: rtl;
    justify-content: center;
    background: var(--white);
    border-radius: $border_7;
    border: 2px dotted var(--primary_3);
    padding: var(--font_05);
}

._head {
    background-color: var(--secondary_8);
    color: var(--white);
}

tr {
    text-align: center;
    font-weight: 600;
    font-size: var(--font_s);
}

td {
    min-width: 10rem;
}

._value {
    direction: ltr;
}

.green_response {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    direction: rtl;

    padding: var(--font_xs);
    margin: var(--font_05);
    background: var(--white);
    color: var(--green_500);
    border: 1px solid var(--green_500);
    border-radius: $border_5;

    i {
        margin-left: var(--font_xs);
    }
}