@mixin _borders {
  border-radius: 0;
  border-right: 1px solid var(--secondary_3);
  padding-right: .87rem;
}

._theme_mode {
  margin-left: 0;
  font-size: var(--font_m);
  cursor: pointer;
}


.info {

  ._color_palete {
    display: flex;
    position: relative;
    border-radius: 100vmax;
    padding: .4rem;
    font-size: var(--font_m);
    place-content: center;
    color: var(--primary_5);
    background: var(--primary_1);
  }

  .test {
    display: grid;
    position: absolute;
    gap: var(--font_025);
    top: 2rem;
    left: 0;
    grid-template-columns: repeat(2, 1fr);
    background: var(--primary_1);
    border-radius: $border_15;
  }

  ._info_each_item {
    border-radius: 15px;
    border: 1px solid var(--primary_7);
    padding: var(--font_05) var(--font_xs);
    margin: var(--font_01);

    div {
      display: flex;
      justify-content: flex-end;
      color: var(--secondary_8);
      text-align: right;
      font-size: var(--font_s);
      font-weight: 600;

      &::after {
        content: '\2713';
        color: var(--green_500);
        padding: 0 0 0 var(--font_03);
      }
    }
  }
}
