@mixin _borders {
  border-radius: 0;
  border-right: 1px solid var(--secondary_3);
  padding-right: .87rem;
}

._theme_mode {
  margin-left: 0;
  font-size: $font_m;
  cursor: pointer;
}

._color_palete {
  border-radius: 100vmax;
  padding: .6rem;
  font-size: 1.3rem;
  color: var(--primary_5);
  background-color: var(--primary_1);
}

.info {
  ._info_each_item {
    overflow: auto;
    left: 50%;
    background: var(--white);
    transform: translate(-50%, -50%);
    border-radius: $border_15;
    padding: $font_05 $font_xs;
    box-shadow: 0 0 1px 3px var(--secondary_4);

    div {
      display: flex;
      justify-content: flex-end;
      color: var(--secondary_8);
      text-align: right;
      font-size: $font_s;
      font-weight: 600;

      &::after {
        content: '\2713';
        color: var(--green_500);
        padding: 0 0 0 .3rem;
      }
    }
  }
}
