.tooltip {
  position: relative;
  display: inline-block;
  z-index: 10;

  .tooltip_text,
  .tooltip_text_right,
  .tooltip_text_bottom,
  .tooltip_text_left {
    // pointer-events: none; hover on child should not pups up tooltip
    position: absolute;
    pointer-events: none;
    visibility: hidden;
    background-color: var(--orange_500);
    color: var(--white);
    border-radius: 6px;
    font-weight: 600;
    font-family: var(--font-family);
    font-size: var(--font_s);
    direction: ltr;
    text-align: center;
    line-break: auto;
    padding: 5px 2px;
    z-index: 4;
    transition: all ease-in-out 100ms;
  }
}

.tooltip_text {
  width: 9rem;
  bottom: 80%;
  left: 50%;
  transform: translate(-50%, 10%);
}

.tooltip_text_right {
  width: 10rem;
  left: 100%;
  bottom: 50%;
  transform: translate(-10%, 50%);
}

.tooltip_text_left {
  width: 10rem;
  right: 100%;
  bottom: 50%;
  transform: translate(-10%, 50%);
}

.tooltip_text_bottom {
  width: 15rem;
  left: 50%;
  transform: translate(-50%, 40%);
  top: 50%;

  &::after {
    content: "";
    position: absolute;
    right: 45%;
    top: 50%;
    transform: translateX(-50%);
    top: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--orange_500);
  }
}

.tooltip_text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--orange_500) transparent transparent transparent;
}

.tooltip_text_right::after {
  content: "";
  position: absolute;
  top: 40%;
  left: -5px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--orange_500) transparent transparent;
}

.tooltip_text_left::after {
  content: "";
  position: absolute;
  top: 40%;
  right: -10px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent var(--orange_500);
}

.tooltip:hover .tooltip_text {
  visibility: visible;
  transform: translate(-50%, -30%);
}

.tooltip:hover .tooltip_text_right {
  visibility: visible;
  transform: translate(10%, 50%);
}

.tooltip:hover .tooltip_text_bottom {
  visibility: visible;
  transform: translate(-50%, 80%);
}

.tooltip:hover .tooltip_text_left {
  visibility: visible;
  transform: translate(-10%, 50%);
}