.tooltip {
  position: relative;
  display: inline-block;
  z-index: 10;
}

.tooltip .tooltip_text {
  position: absolute;
  direction: rtl;
  visibility: hidden;
  background-color: var(--orange_500);
  color: var(--white);
  text-align: center;
  border-radius: 6px;
  width: 120px;
  padding: 5px 0;
  z-index: 4;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  font-family: $font_family;
  font-size: var(--font_s);
  line-break: auto;
}

.tooltip .tooltip_text_right {
  transform: translateY(50%);
  position: absolute;
  direction: rtl;
  visibility: hidden;
  background-color: var(--orange_500);
  color: var(--white);
  text-align: center;
  border-radius: 6px;
  width: 120px;
  padding: 5px 0;
  z-index: 4;
  left: 10%;
  bottom: 50%;
  margin-left: var(--font_3);
  font-weight: 600;
  font-family: $font_family;
  font-size: var(--font_s);
  line-break: auto;
}

.tooltip .tooltip_text_bottom {
  position: absolute;
  direction: rtl;
  visibility: hidden;
  background-color: var(--orange_500);
  color: var(--white);
  text-align: center;
  border-radius: 6px;
  width: 15rem;
  padding: 3px;
  z-index: 4;
  left: 50%;
  transform: translateY(50%) translateX(-50%);
  top: 50%;
  font-weight: 600;
  font-family: BLotus, "Blotus", tahoma, Sans-Serif;
  font-size: var(--font_s);
  line-break: auto;

  &::after {
    content: "";
    position: absolute;
    right: 45%;
    top: 50%;
    transform: translateX(-50%);
    top: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--orange_500);
  }
}

.tooltip .tooltip_text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--orange_500) transparent transparent transparent;
}

.tooltip .tooltip_text_right::after {
  content: "";
  position: absolute;
  top: 40%;
  left: -5px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--orange_500) transparent transparent;
}

.tooltip:hover .tooltip_text {
  visibility: visible;
}

.tooltip:hover .tooltip_text_right {
  visibility: visible;
}

.tooltip:hover .tooltip_text_bottom {
  visibility: visible;
}
