$border_5: 5px;
$border_15: 15px;
$border_50: 50%;

$font_05: 0.5rem;
$font_xxs: 0.87rem;
$font_xs: 1rem;
$font_s: 1.2rem;
$font_m: 1.3rem;
$font_l: 1.5rem;
$font_2: 2rem;
$font_3: 3rem;

$font_family: BLotus,
"Blotus",
tahoma,
Sans-Serif;

hr {
  width: 80%;
  border: 0;
  height: .14rem;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), var(--primary_4), rgba(0, 0, 0, 0));
}

.hr_1 {
  width: 70%;
  margin-bottom: 1.5rem;
  height: .4rem;
  border-radius: 30px;
}

.hr_2 {
  opacity: .7;
  width: 70%;
  margin: 2.5rem auto;
  height: .2rem;
  border-radius: 30px;
}

.d_rtl {
  direction: rtl;
}

.d_ltr {
  direction: ltr;
}

// unique shape on hover and focus
a:hover,
a:focus,
a:active {
  outline: none;
}

::ng-deep {
  .mat-select-placeholder {
    color: var(--secondary_8);
    font-size: 1rem;
  }

  .mat-checkbox-checked.mat-accent.mat-checkbox-disabled .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: var(--pink_500);
  }

  .mat-dialog-container {
    background: var(--white);
    color: var(--primary_7);
  }
}

.coloring_border {
  border: 1.5px dashed var(--orange_600);
  animation: pulse-new-button 500ms;
}

// header icon coloring
._xlsx,
._csv,
._pdf {
  color: var(--secondary_1) !important;
}

._xlsx {
  background: var(--green_600);
}

._xlsx_download {
  background: var(--green_500);
  color: var(--white);
  font-size: $font_m;
}

._csv {
  background: var(--green_600);
}

._pdf {
  background: var(--red_500);
}

._save_columns {
  background-color: var(--thirdy_4);
  color: var(--white) !important;
}

// 
/* BACK ARROW ICON */
.p_icons {
  color: var(--thirdy_1);
  font-size: $font_m;
  cursor: pointer;
}

._circle_border {
  display: grid !important;
  place-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 1.5px solid;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0px 0px 1px 1px;
  }
}
