$border_5: 5px;
$border_7: 7px;
$border_10: 10px;
$border_15: 15px;
$border_100vmax: 100vmax;
$border_50: 50%;


.font_family {
  font-family: var(--font-family);
}

.d_rtl {
  direction: rtl !important;
}

.d_ltr {
  direction: ltr !important;
}

// unique shape on hover and focus
a:hover,
a:focus-visible,
a:active {
  outline: none;
}

.coloring_border {
  border: 1.5px dashed var(--orange_600);
  animation: pulse-new-button 500ms;
}

// header icon coloring
._xlsx,
._csv,
._pdf {
  color: var(--secondary_1) !important;
}

._xlsx {
  background: var(--green_600);
}

._xlsx_download {
  background: var(--green_500);
  color: var(--white);
  font-size: var(--font_m);
}

._csv {
  background: var(--green_600);
}

._pdf {
  background: var(--red_500) !important;
}

._save_columns {
  background-color: var(--thirdy_4);
  color: var(--white) !important;
}

._custom {
  background: var(--primary_4);
  color: var(--secondary_1);
}

// 
/* BACK ARROW ICON */
.p_icons {
  color: var(--thirdy_1);
  font-size: var(--font_m);
  cursor: pointer;
}

footer.footer_with_background {
  background: var(--white);
  padding: var(--font_05);
  border-radius: $border_7;
}

._circle_border {
  display: grid !important;
  place-content: center;
  width: var(--font_22);
  height: var(--font_22);
  border-radius: 50%;
  outline: 1.5px solid;
  cursor: pointer;

  &:hover,
  &:focus-visible,
  &:active {
    box-shadow: 0px 0px 1px 1px;
  }
}