<section class="container">

    <h1 class="title">ارسال فایل جدید</h1>
    <form #form="ngForm" (ngSubmit)="uploadFile(form)" class="content">
        <div class="_desc">
            <input class="input_1" type="number" placeholder="تعداد سطر :" name="rows" [(ngModel)]="uploadForm.rows">
        </div>
        <label *ngIf="!choosenFileName" class="btn_2 not_choosen_file" for="files" title="فایلی انتخاب نشده است">
            <span class="pi pi-file-excel"></span>
            فایل <small>Excel</small> انتخاب نمایید
        </label>
        <label *ngIf="choosenFileName" class="label_choose_file" for="files">
            {{choosenFileName}}
        </label>
        <input #screenshotInput name="فایلی انتخاب کنید" class="btn_2 _choose_file hidden" type="file" name="screenshot"
            (change)="onChange($event)" id="files">


        <div class="change_pass">
            <button class="btn_2" type="submit">
                <div class="fa fa-upload"></div>
                ارسال
            </button>
        </div>
    </form>

</section>
<mat-dialog-actions>
    <button class="btn_2" (click)="closeDialog()" type="button">بازگشت</button>
</mat-dialog-actions>