<form #form="ngForm" (ngSubmit)="connectToServer()">
    <section>

        <div class="input_2">
            <div class="_key">ناحیه</div>
            <p-dropdown name="zones" [options]="zoneDictionary"
                [(ngModel)]="trackingManagerService.dbfOutputEqamatBagh.zoneId" placeholder="انتخاب مورد"
                [style]="{'minWidth': '10rem','width':'100%'}" optionValue="id" optionLabel="title" filter="true">
            </p-dropdown>
        </div>

        <button type="submit" class="btn_1">
            دانلود فایل
            <i class="pi pi-download"></i>
        </button>

    </section>
</form>