<form #form="ngForm" (ngSubmit)="connectToServer()">
    <section>

        <div class="input_2">
            <div class="_key">ناحیه</div>
            <div class="_value">
                <p-dropdown name="zones" [options]="zoneDictionary"
                    [(ngModel)]="trackingManagerService.dbfOutputEqamatBagh.zoneId" placeholder="انتخاب مورد"
                      optionValue="id" optionLabel="title" filter="true">
                </p-dropdown>
            </div>
        </div>

        <button type="submit" class="btn_1">
            دانلود فایل
            <i class="pi pi-download"></i>
        </button>

    </section>
</form>