<div class="over_all">
    <section>
        <h1 class="title">ایجاد نسخه جدید</h1>
        <form #form="ngForm" (ngSubmit)="uploadFile(form)" class="_card">
            <div class="_desc">
                <input class="input_1" type="text" placeholder="نام نسخه " name="versionName"
                    [(ngModel)]="uploadForm.versionName">
                <input class="input_1" type="number" placeholder="کد نسخه" name="versionCode"
                    [(ngModel)]="uploadForm.versionCode">
                <input class="input_1" type="text" placeholder="توضیحات" name="description"
                    [(ngModel)]="uploadForm.description">
                <label *ngIf="!choosenFileName" class="btn_2 not_choosen_file" for="files"
                    title="فایلی انتخاب نشده است">
                    <span class="icon_android fa fa-android"></span>
                    فایل <small>apk</small> انتخاب نمایید
                </label>
                <label *ngIf="choosenFileName" class="label_choose_file" for="files">
                    {{choosenFileName}}
                </label>
                <input #screenshotInput name="فایلی انتخاب کنید" class="btn_2 _choose_file hidden" type="file"
                    name="screenshot" (change)="onChange($event)" id="files">

                <!-- porgress bar -->
                <label for="progress"></label>
                <progress *ngIf="progress > 0" id="progress" [value]="progress" min="0"
                    max="100">{{progress}}</progress>

                <div class="change_pass">
                    <button *ngIf="progress == 0" class="btn_1" type="submit">
                        <div class="fa fa-upload"></div>
                        ارسال
                    </button>
                </div>
            </div>

        </form>

    </section>

    <section>

        <h1 class="title">نسخه های گذشته</h1>
        <div class="content">

            <app-prime-table [dataSource]="closeTabService.saveDataForAPKManager" [_rowsNumbers]=5
                [_numberOfExtraColumns]="[1]" [_multiSelectEnable]=false [_outputEnabled]=false [_hasSaveColumns]=false
                [_outputFileName]="'apk'" [_checkUpName]="'apk'" (downloadedAPK)="downloadAPK()"
                (removedRow)="removeRow($event)" (refreshedTable)="classWrapper(true)" class="_unset_overflow_tables">
            </app-prime-table>

        </div>

    </section>
</div>