<div class="over_all">
    <section>

        <h1 class="title">ایجاد نسخه جدید</h1>
        <form #form="ngForm" (ngSubmit)="uploadFile(form)" class="content">

            <div class="_desc">
                <input class="input_1" type="text" placeholder="نام نسخه " name="versionName"
                    [(ngModel)]="uploadForm.versionName">
                <input class="input_1" type="number" placeholder="کد نسخه" name="versionCode"
                    [(ngModel)]="uploadForm.versionCode">
                <input class="input_1" type="text" placeholder="توضیحات" name="description"
                    [(ngModel)]="uploadForm.description">
                <label *ngIf="!choosenFileName" class="btn_2 not_choosen_file" for="files"
                    title="فایلی انتخاب نشده است">
                    <span class="icon_android fa fa-android"></span>
                    فایل <small>apk</small> انتخاب نمایید
                </label>
                <label *ngIf="choosenFileName" class="label_choose_file" for="files">
                    {{choosenFileName}}
                </label>
                <input #screenshotInput name="فایلی انتخاب کنید" class="btn_2 _choose_file hidden" type="file"
                    name="screenshot" (change)="onChange($event)" id="files">

                <div class="change_pass">
                    <button class="btn_2" type="submit">
                        <div class="fa fa-upload"></div>
                        ارسال
                    </button>
                </div>
            </div>

        </form>

    </section>

    <section>

        <h1 class="title">نسخه های گذشته</h1>
        <div class="content">

            <app-prime-table     
            [dataSource]="dataSource"
            [_selectedColumns]="_columns"
            [_rowsNumbers]=5
            [_rowsPerPage]="[5,10,20]"
            [_multiSelectEnable]=false
            [_sortField]="'versionName'"
            [_checkUpName]="'apk'"
            [_outputEnabled]=false             
            (downloadedAPK)="downloadAPK()"
            (refreshedTable)="classWrapper(true)"
         > 
        </app-prime-table>

        </div>

    </section>
</div>