@import '../../../../../assets/variable';
@import '../../../../../assets/button.scss';
@import '../../../../../assets/input.scss';
@import '../../../../../assets/media.scss';
@import '../../../../../assets/primeNG.scss';
@import '../../../../../assets/tooltip.scss';

.over_all {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
  direction: rtl;
  justify-content: center;
  gap: 2rem;
}

@include media_wrapper(550px, over_all, grid-template-columns, repeat(auto-fit, minmax(24rem, auto)));

.content {
  background: $gray_100;
  box-shadow: 1px 1px 8px 4px $gray_400;
  text-align: center;
  padding: $font_2 0;
  justify-content: space-around;
  border-radius: $border_15;
  min-height: 25rem;
}

._desc {
  display: grid;
  justify-content: center;
  margin: auto;
  padding: $font_xs 0;
  width: 90%;
  border-radius: $border_15;

  input {
    text-align: center;
    width: 19rem;
  }
}

.title {
  color: $blue_400;
  text-align: center;
  margin: $font_xs $font_05;
  font-size: 1.6rem;
}

.change_pass {

  button {
    background: $blue_400;
    margin: $font_2 auto;
    color: $white;
    width: 100%;
  }
}

input {
  text-align: center;
  color: $gray_500;
  margin: 0 auto;
  box-shadow: 1px 1px 8px 1px $gray_400;
}

._choose_file {
  width: 100%;
  border: 2px solid $blue_400;
  color: $blue_400;
  text-align: center;
  border-radius: 100vmax;
  margin-bottom: 1rem;
}

.not_choosen_file {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  white-space: nowrap;
  width: 100%;
  padding: .5rem;
  background-color: $white;
  color: $gray_600;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 1px 1px 2px 0px $gray_400;
  border: 1px solid $gray_500;
}

span,
small {
  color: $green_500;
  margin: 0 .4rem;
}

span {
  font-size: 2.5rem;
}

.label_choose_file {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
  padding: .5rem;
  width: 100%;
  max-width: 19rem;
  background-color: $white;
  color: $gray_600;
  text-align: center;
  border-radius: $border_15;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 1px 1px 2px 0px $gray_400;
  border: 1px solid;
}

input[type="file"] {
  // display: none;
  position: absolute;
  left: -99999rem;
}
