<p-table [value]="dataSource" [columns]="_selectedColumns" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
    currentPageReportTemplate="نمایش از{first} تا {last} از {totalRecords} مورد
    " [rowsPerPageOptions]="[10,25,50]" [filterDelay]="0" dir="rtl" styleClass="p-datatable-responsive"
    [globalFilterFields]="['isActive','isLocked','mobile','displayName','username','userCode']" sortMode="multiple">

    <ng-template pTemplate="caption">
        <i></i>
        <!--refresh button position on left-->
        <i (click)="refreshTable()" class="tooltip _circle_border p_icons pi pi-refresh">
            <div class="tooltip_text">بارگیری مجدد جدول</div>
        </i>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" pSortableColumn="{{col.field}}">
                <p-sortIcon field="{{col.field}}"></p-sortIcon>
                {{col.header}}
            </th>
            <th style="width: 4rem"></th>
            <th style="width: 4rem"></th>
            <th style="width: 4rem"></th>
        </tr>
        <tr>
            <th *ngFor="let col of columns">
                <p-columnFilter type="text" field="{{col.field}}"></p-columnFilter>
            </th>
            <th style="width: 4rem"></th>
            <th style="width: 4rem"></th>
            <th style="width: 4rem"></th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-dataSource let-columns="columns" let-i="rowIndex">
        <tr>
            <td *ngFor="let col of columns" class="d_ltr">
                <ng-container
                    *ngIf="dataSource[col.field] === true || dataSource[col.field] === false; else elseTemplate">
                    <mat-checkbox [(ngModel)]="dataSource[col.field]"></mat-checkbox>
                </ng-container>
                <ng-template #elseTemplate>
                    {{dataSource[col.field]}}
                </ng-template>
            </td>
            <td class="edit_button" (click)="routeToEditPage(dataSource.id)">
                <i class="tooltip p_icons pi pi-user-edit">
                    <div class="tooltip_text">مشاهده/ویرایش کاربر</div>
                </i>
            </td>
            <td class="edit_button" (click)="routeToLoggs(dataSource.id)">
                <i class="tooltip p_icons pi pi-sign-in">
                    <div class="tooltip_text">مشاهده ورودها</div>
                </i>
            </td>
            <td class="edit_button">
                <i class="tooltip _map_frame_show p_icons pi pi-ellipsis-h" (click)="showExactConfig(i)">
                    <div class="tooltip_text">تغییر وضعیت</div>
                </i>
                <div class="map-frame">
                    <div class="more_configs">
                        <i class="bbr tooltip p_icons pi pi-lock-open" (click)="ActivateUser(dataSource)">
                            <div class="tooltip_text">فعال</div>
                        </i>
                        <i class="bbr tooltip p_icons pi pi-unlock" (click)="DeActivateUser(dataSource)">
                            <div class="tooltip_text">غیر فعال</div>
                        </i>
                        <i class="bbr tooltip p_icons pi pi-refresh" (click)="resetPasswordUser(dataSource)">
                            <div class="tooltip_text">بازنشانی گذرواژه</div>
                        </i>
                    </div>
                </div>
            </td>
        </tr>

    </ng-template>
    <ng-template pTemplate="emptymessage" *ngIf="!dataSource || dataSource.length === 0">
        <tr>
            <td [attr.colspan]="dataSource.length">
                موردی پیدا نشد
            </td>
        </tr>
    </ng-template>
</p-table>