<h2 mat-dialog-title>ویرایش تنظیمات</h2>

<form [formGroup]="form" dir="rtl" (ngSubmit)="save()">
    <mat-dialog-content>

        <mat-form-field appearance="fill">
            <mat-label>ناحیه</mat-label>
            <mat-select placeholder="انتخاب مورد" [(value)]="selected" name="zoneId">
                <mat-option *ngFor="let truefalse of data.di" [value]="truefalse.title">
                    {{truefalse.title}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>علی‌الحساب</mat-label>
            <input matInput type="number" formControlName="defaultAlalHesab" placeholder="علی‌الحساب">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>علی‌الحساب بیشینه</mat-label>
            <input matInput type="number" formControlName="maxAlalHesab" placeholder="علی‌الحساب بیشینه">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>علی‌الحساب کمینه</mat-label>
            <input matInput type="number" formControlName="minAlalHesab" placeholder="علی‌الحساب کمینه">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>درصد تصویر</mat-label>
            <input matInput type="number" formControlName="defaultImagePercent" placeholder="درصد تصویر">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>بیشینه تصویر</mat-label>
            <input matInput type="number" formControlName="maxImagePercent" placeholder="بیشینه تصویر">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>کمینه تصویر</mat-label>
            <input matInput type="number" formControlName="minImagePercent" placeholder="کمینه تصویر">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>ثابت مسکونی</mat-label>
            <input matInput type="number" formControlName="lowConstBoundMaskooni" placeholder="ثابت مسکونی">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>درصد مسکونی</mat-label>
            <input matInput type="number" formControlName="lowPercentBoundMaskooni" placeholder="درصد مسکونی">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>بیشینه مسکونی</mat-label>
            <input matInput type="number" formControlName="highConstBoundMaskooni" placeholder="بیشینه مسکونی">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>درصد مسکونی</mat-label>
            <input matInput type="number" formControlName="highPercentBoundMaskooni" placeholder="درصد مسکونی">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>ثابت ساخت</mat-label>
            <input matInput type="number" formControlName="lowConstBoundSaxt" placeholder="ثابت ساخت">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>درصد ساخت</mat-label>
            <input matInput type="number" formControlName="lowPercentBoundSaxt" placeholder="درصد ساخت">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>بیشینه محدوده</mat-label>
            <input matInput type="number" formControlName="highConstBoundSaxt" placeholder="بیشینه محدوده">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>درصد محدوده</mat-label>
            <input matInput type="number" formControlName="highPercentBoundSaxt" placeholder="درصد محدوده">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>ظرفیت کمینه</mat-label>
            <input matInput type="number" formControlName="lowConstZarfiatBound" placeholder="ظرفیت کمینه">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>درصد ظرفیت</mat-label>
            <input matInput type="number" formControlName="lowPercentZarfiatBound" placeholder="درصد ظرفیت">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>بیشینه ظرفیت</mat-label>
            <input matInput type="number" formControlName="highConstZarfiatBound" placeholder="بیشینه ظرفیت">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>بیشنه درصد ظرفیت</mat-label>
            <input matInput type="number" formControlName="highPercentZarfiatBound" placeholder="بیشنه درصد ظرفیت">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>مسکونی درصد ..</mat-label>
            <input matInput type="number" formControlName="lowPercentRateBoundNonMaskooni" placeholder="مسکونی درصد ..">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>درصد مسکونی بیشنه</mat-label>
            <input matInput type="number" formControlName="highPercentRateBoundNonMaskooni"
                placeholder="درصد مسکونی بیشنه">
        </mat-form-field>

        <mat-checkbox formControlName="defaultHasPreNumber">شماره قبلی</mat-checkbox>
        <mat-checkbox formControlName="isOnQeraatCode">کد قرائت</mat-checkbox>
        <mat-checkbox formControlName="displayBillId">نمایش قبض</mat-checkbox>
        <mat-checkbox formControlName="displayRadif">نمایش ش.پرونده</mat-checkbox>

    </mat-dialog-content>

    <mat-dialog-actions>
        <button class="btn_2 _custom" type="submit">ذخیره</button>
        <button class="btn_2" (click)="close()" type="button">بازگشت</button>
        <!--[mat-dialog-close]="form"-->
    </mat-dialog-actions>
</form>