<h2 mat-dialog-title>ویرایش تنظیمات</h2>

<form [formGroup]="form" dir="rtl" (ngSubmit)="save()">
    <main class="_contents">
        <div class="input_2">
            <div class="_key">ناحیه</div>
            <div class="_value">
                <mat-select placeholder="انتخاب مورد" [(value)]="selected" name="zoneId">
                    <mat-option *ngFor="let truefalse of data.di" [value]="truefalse.title">
                        {{truefalse.title}}
                    </mat-option>
                </mat-select>
            </div>
        </div>
        <div class="input_2">
            <div class="_key">علی‌الحساب پیشفرض</div>
            <input class="_value" type="number" formControlName="defaultAlalHesab">
        </div>
        <div class="input_2">
            <div class="_key">علی‌الحساب بیشینه %</div>
            <input class="_value" type="number" formControlName="maxAlalHesab">
        </div>
        <div class="input_2">
            <div class="_key">علی‌الحساب کمینه %</div>
            <input class="_value" type="number" formControlName="minAlalHesab">
        </div>
        <div class="input_2">
            <div class="_key">تصویر پیشفرض %</div>
            <input class="_value" type="number" min="0" max="100" formControlName="defaultImagePercent">
        </div>
        <div class="input_2">
            <div class="_key">تصویر بیشینه %</div>
            <input class="_value" type="number" min="0" max="100" formControlName="maxImagePercent">
        </div>
        <div class="input_2">
            <div class="_key">تصویر کمینه %</div>
            <input class="_value" type="number" min="0" max="100" formControlName="minImagePercent">
        </div>
        <div class="input_2">
            <div class="_key">ثابت مسکونی پایین</div>
            <input class="_value" type="number" formControlName="lowConstBoundMaskooni">
        </div>
        <div class="input_2">
            <div class="_key">میانگین مسکونی پایین %</div>
            <input class="_value" type="number" min="0" max="100" formControlName="lowPercentBoundMaskooni">
        </div>
        <div class="input_2">
            <div class="_key">ثابت مسکونی بالا</div>
            <input class="_value" type="number" formControlName="highConstBoundMaskooni">
        </div>
        <div class="input_2">
            <div class="_key">میانگین مسکونی بالا %</div>
            <input class="_value" type="number" min="0" max="100" formControlName="highPercentBoundMaskooni">
        </div>
        <div class="input_2">
            <div class="_key">ثابت ساخت پایین</div>
            <input class="_value" type="number" formControlName="lowConstBoundSaxt">
        </div>
        <div class="input_2">
            <div class="_key">میانگین ساخت پایین %</div>
            <input class="_value" type="number" min="0" max="100" formControlName="lowPercentBoundSaxt">
        </div>
        <div class="input_2">
            <div class="_key">ثابت ساخت بالا</div>
            <input class="_value" type="number" formControlName="highConstBoundSaxt">
        </div>
        <div class="input_2">
            <div class="_key">میانگین ساخت بالا %</div>
            <input class="_value" type="number" min="0" max="100" formControlName="highPercentBoundSaxt">
        </div>
        <div class="input_2">
            <div class="_key">ثابت تجاری پایین</div>
            <input class="_value" type="number" formControlName="lowConstZarfiatBound">
        </div>
        <div class="input_2">
            <div class="_key">میانگین تجاری پایین %</div>
            <input class="_value" type="number" min="0" max="100" formControlName="lowPercentZarfiatBound">
        </div>
        <div class="input_2">
            <div class="_key">ثابت تجاری بالا</div>
            <input class="_value" type="number" formControlName="highConstZarfiatBound">
        </div>
        <div class="input_2">
            <div class="_key">میانگین تجاری بالا %</div>
            <input class="_value" type="number" min="0" max="100" formControlName="highPercentZarfiatBound">
        </div>
        <div class="input_2">
            <div class="_key">میانگین غیرمسکونی پایین %</div>
            <input class="_value" type="number" min="0" max="100" formControlName="lowPercentRateBoundNonMaskooni">
        </div>
        <div class="input_2">
            <div class="_key">میانگین غیرمسکونی بالا %</div>
            <input class="_value" type="number" min="0" max="100" formControlName="highPercentRateBoundNonMaskooni">
        </div>

        <mat-checkbox formControlName="defaultHasPreNumber">رقم قبلی</mat-checkbox>
        <mat-checkbox formControlName="isOnQeraatCode">کد قرائت</mat-checkbox>
        <mat-checkbox formControlName="displayBillId">شناسه قبض</mat-checkbox>
        <mat-checkbox formControlName="displayRadif">ش.پرونده</mat-checkbox>
        <mat-checkbox formControlName="displayPreDate">تاریخ قبلی</mat-checkbox>
        <mat-checkbox formControlName="displayMobile">موبایل</mat-checkbox>
        <mat-checkbox formControlName="hasImage">تصویر</mat-checkbox>

    </main>

    <mat-dialog-actions>
        <button class="close_dg" type="button" (click)="close()">
            <i class="pi pi-times"></i>
        </button>
        <button class="btn_2 _custom" type="submit">ذخیره</button>
        <!--[mat-dialog-close]="form"-->
    </mat-dialog-actions>
</form>