<main class="container">

    <section class="media">
        <div class="_header">پیمایش آحاد</div>
        <div class="_key_value" *ngFor="let item of _col_traverseTime">
            <div class="key">{{item.header}}</div>
            <div class="val">{{traverseTime.ahad[item.field]}}</div>
        </div>
    </section>

    <section class="media">
        <div class="_header">پیمایش سریال کنتور</div>
        <div class="_key_value" *ngFor="let item of _col_traverseTime">
            <div class="key">{{item.header}}</div>
            <div class="val">{{traverseTime.counterSerial[item.field]}}</div>
        </div>
    </section>

    <section class="media">
        <div class="_header">پیمایش خالی از سکنه</div>
        <div class="_key_value" *ngFor="let item of _col_traverseTime">
            <div class="key">{{item.header}}</div>
            <div class="val">{{traverseTime.empty[item.field]}}</div>
        </div>
    </section>

    <section class="media">
        <div class="_header">پیمایش کاربری</div>
        <div class="_key_value" *ngFor="let item of _col_traverseTime">
            <div class="key">{{item.header}}</div>
            <div class="val">{{traverseTime.karbari[item.field]}}</div>
        </div>
    </section>

    <section class="media">
        <div class="_header">پیمایش موبایل</div>
        <div class="_key_value" *ngFor="let item of _col_traverseTime">
            <div class="key">{{item.header}}</div>
            <div class="val">{{traverseTime.mobile[item.field]}}</div>
        </div>
    </section>

</main>