<section class="content">
    <section class="main_title">
        <h3>تعیین نرخ</h3>
        <button class="btn_2_o" (click)="addRate()">افزودن نرخ</button>
    </section>
    <hr>

    <div class="rate_item" *ngFor="let item of rates; index as i">
        <div class="_time">
            <p class="_time_title">نرخ {{i+1}}:</p>
            <div class="t_input_2">
                <div class="t_key">از مقدار</div>
                <input class="t_value" name="fromRate" maxlength="6" [(ngModel)]="item.fromRate">
            </div>
            <div class="t_input_2">
                <div class="t_key">تا مقدار</div>
                <input class="t_value" name="toRate" maxlength="6" [(ngModel)]="item.toRate">
            </div>
            <button class="btn_remove pi pi-times-circle tooltip" (click)="deleteRate(i)">
                <div class="tooltip_text_right">حذف نرخ</div>
            </button>
        </div>
    </div>
    <footer>
        <button class="btn_1" (click)="accepted()" *ngIf="rates.length > 0">
            تایید
        </button>
        <div class="empty_data" *ngIf="!rates || rates.length === 0">
            نرخی تعیین نشده است
            <i class="fa fa-folder-blank"></i>
        </div>
    </footer>
</section>