<h2 mat-dialog-title>افزودن منطقه</h2>
<form [formGroup]="form">
    <mat-dialog-content>

        <mat-form-field appearance="fill">
            <mat-label>عنوان</mat-label>
            <input matInput formControlName="title" placeholder="عنوان">
        </mat-form-field> 

        <mat-form-field appearance="fill">
            <mat-label>کد شهر</mat-label>
            <input matInput formControlName="provinceId" placeholder="کد شهر">
        </mat-form-field> 

        <mat-form-field appearance="fill">
            <mat-label>ترتیب</mat-label>
            <input matInput formControlName="logicalOrder" placeholder="ترتیب">
        </mat-form-field> 

    </mat-dialog-content>

    <mat-dialog-actions>
        <button class="btn_2" (click)="close()">بازگشت</button>
        <button class="btn_2 _custom" [mat-dialog-close]="form" (click)="save()">ذخیره</button>
    </mat-dialog-actions>
</form>