@import 'variable';

.d_flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 17rem;
  height: 12rem;
  background: transparent;
  border-radius: $border_10;

  @media (min-width:550px) {
    width: 20rem;
    height: 15rem;
    background: var(--white);
    box-shadow: 0 1px 10px 0px var(--primary_4);
  }
}

.pending_spinner {
  background: transparent;
  margin: auto;
  position: fixed;
  display: grid;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  transform-origin: center;
}

._cancel {
  margin-top: 2rem;
  border: 1px solid;
  color: var(--primary_3);
  background: inherit;
  border-radius: $border_15;
  cursor: pointer;
}