<main class="main">
    <form #form="ngForm" (ngSubmit)="connectToServer()">
        <section class="static_part">
            <section class="order_by">
                <h2>صدور بر اساس :</h2>
                <div *ngFor="let orderType of importDynamicService.utilsService.getSearchInOrderTo">
                    <div class="p-field-radiobutton">
                        <p-radioButton name="orderByDate" [value]="orderType.isSelected"
                            [(ngModel)]="importDynamicService._isOrderByDate" [inputId]="orderType.key">
                        </p-radioButton>
                        <label [for]="orderType.key">{{orderType.title}}</label>
                    </div>
                </div>
            </section>
            <hr>
            <div class="_container">
                <section class="content_inline">
                    <div class="input_2" [hidden]="!zoneDictionary.length">
                        <div class="_key">ناحیه</div>
                        <div class="_value">
                            <p-dropdown name="zones" [options]="zoneDictionary"
                                [(ngModel)]="closeTabService.importDynamicReq.zoneId" placeholder="انتخاب مورد"
                                optionValue="id" optionLabel="title" filter="true"
                                (click)="verificationACounterReaderId()">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="input_2" *ngIf="userCounterReader.length">
                        <div class="_key">قرائت کننده</div>
                        <div class="_value">
                            <p-dropdown name="counterreader" #counterreader [options]="userCounterReader"
                                [(ngModel)]="closeTabService.importDynamicReq.counterReaderId" optionLabel="title"
                                [filter]="true" filterBy="title" optionValue="id" [showClear]="true"
                                placeholder="انتخاب مورد">
                            </p-dropdown>
                        </div>
                    </div>
                </section>
                <section class="content_inline">
                    <div class="input_2">
                        <div class="_key">از اشتراک</div>
                        <input class="_value" name="fromEshterak"
                            [(ngModel)]="closeTabService.importDynamicReq.fromEshterak">
                    </div>
                    <div class="input_2">
                        <div class="_key">تا اشتراک</div>
                        <input class="_value" name="toEshterak"
                            [(ngModel)]="closeTabService.importDynamicReq.toEshterak">
                    </div>
                </section>
                <section class="content_inline">
                    <div class="input_2"
                        [hidden]="importDynamicService._isOrderByDate || !readingPeriodKindsDictionary.length">
                        <div class="_key">نوع دوره</div>
                        <div class="_value">
                            <mat-select placeholder="انتخاب مورد" [(ngModel)]="kindId" name="kindId">
                                <mat-option *ngFor="let truefalse of readingPeriodKindsDictionary"
                                    [value]="truefalse.id" (click)="verificationReadingPeriod()">
                                    {{truefalse.title}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div class="input_2"
                        [hidden]="importDynamicService._isOrderByDate || !readingPeriodDictionary.length">
                        <div class="_key">دوره قرائت</div>
                        <div class="_value">
                            <mat-select placeholder="انتخاب مورد"
                                [(ngModel)]="closeTabService.importDynamicReq.readingPeriodId" name="readingPeriodId">
                                <mat-option *ngFor="let truefalse of readingPeriodDictionary" [value]="truefalse.id">
                                    {{truefalse.title}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                </section>
                <section class="content_inline">
                    <div class="input_2 " [hidden]="!_showAlalHesabPercent">
                        <div class="_key">درصد علی‌الحساب</div>
                        <input class="_value" min="0" max="100" type="number" name="alalHesabPercent"
                            [(ngModel)]="closeTabService.importDynamicReq.alalHesabPercent">
                    </div>
                    <div class="input_2 " [hidden]="!_showimagePercent">
                        <div class="_key">درصد تصویر</div>
                        <input class="_value" type="number" min="0" max="100" name="imagePercent"
                            [(ngModel)]="closeTabService.importDynamicReq.imagePercent">
                    </div>
                </section>
                <section class="content_inline">
                    <div class="input_2" [hidden]="!importDynamicService._isOrderByDate">
                        <div class="_key">از</div>
                        <div class="_value">
                            <app-date-jalali name="fromDate"
                                (dateJalEvent)="importDynamicService.receiveFromDateJalali(importDynamicService.ENImportDatas.importDynamic, $event)"
                                [dateObject]="closeTabService.importDynamicReq.fromDate">
                            </app-date-jalali>
                        </div>
                    </div>
                    <div class="input_2" [hidden]="!importDynamicService._isOrderByDate">
                        <div class="_key">تا</div>
                        <div class="_value">
                            <app-date-jalali name="toDate"
                                (dateJalEvent)="importDynamicService.receiveToDateJalali(importDynamicService.ENImportDatas.importDynamic, $event)"
                                [dateObject]="closeTabService.importDynamicReq.toDate">
                            </app-date-jalali>
                        </div>
                    </div>
                </section>

                <div class="check_boxes" *ngIf="!importDynamicService.utilsService.getDenyTracking()">
                    <mat-checkbox name="hasPreNumber" [(ngModel)]="closeTabService.importDynamicReq.hasPreNumber">
                        رقم قبلی
                    </mat-checkbox>

                    <mat-checkbox name="displayBillId" [(ngModel)]="closeTabService.importDynamicReq.displayBillId">
                        شناسه قبض
                    </mat-checkbox>

                    <mat-checkbox name="displayRadif" [(ngModel)]="closeTabService.importDynamicReq.displayRadif">
                        ش.پرونده
                    </mat-checkbox>

                    <mat-checkbox name="displayPreDate" [(ngModel)]="closeTabService.importDynamicReq.displayPreDate">
                        تاریخ قبلی
                    </mat-checkbox>

                    <mat-checkbox name="displayMobile" [(ngModel)]="closeTabService.importDynamicReq.displayMobile">
                        موبایل
                    </mat-checkbox>

                    <mat-checkbox name="hasImage" [(ngModel)]="closeTabService.importDynamicReq.hasImage">
                        تصویر
                    </mat-checkbox>
                </div>
                <hr class="hr_1">
                <footer>
                    <mat-checkbox name="showDynamicCount" [(ngModel)]="_showDynamicCount"
                        (ngModelChange)="setShowDynamicCount($event)">نمایش تعداد اشتراک
                    </mat-checkbox>
                    <button *ngIf="_canShowAddButton" type="submit" class="btn_1">صدور لیست</button>
                </footer>
            </div>
        </section>

    </form>
</main>