<div class="over_all">
    <section>
        <h1 class="title">تعداد cpu
            <i class="fas fa-microchip"></i>
        </h1>
        <div class="_value eng_lang">{{closeTabService.saveDataForOSInfo.cpuCoreCount}}</div>
    </section>
    <section>
        <h1 class="title">نسخه
            <i class="fas fa-level-up-alt"></i>
        </h1>
        <div class="_value eng_lang">{{closeTabService.saveDataForOSInfo.version}}</div>
    </section>
    <section>
        <h1 class="title">زمان فعالیت
            <i class="fas fa-clock"></i>
        </h1>
        <div class="_value">
            {{closeTabService.saveDataForOSInfo.elapsedDateTime}}
        </div>
    </section>
    <section>
        <h1 class="title">سرویس پک
            <i class="fas fa-shopping-bag"></i>
        </h1>
        <div class="_value">
            {{closeTabService.saveDataForOSInfo.servicePack}}
        </div>
    </section>
    <section>
        <h1 class="title">نوع سیستم
            <i class="eng_lang">
                64
                <i class="pi pi-pause"></i>
                32
            </i>
        </h1>
        <div class="_value eng_lang d_ltr">{{closeTabService.saveDataForOSInfo.isOs64 ? '64 Bit' : '32 Bit'}}</div>
    </section>
    <section>
        <h1 class="title">زمان
            <i class="pi pi-clock"></i>
            <div class="_value">
                {{closeTabService.saveDataForOSInfo.systemDateTime}}
            </div>
        </h1>
    </section>
</div>