@import 'primeNG';
@import '_mat';
@import 'button';
@import 'input';
@import 'tooltip.scss';

// ts config
.showConfigs {
  opacity: 1;
  visibility: visible;
}

// 
._map_frame_show::after {
  position: absolute;
  border: 1px solid blue;
  width: 10rem;
  height: 4rem;
}

[disabled] {
  border: none;
}

[readOnly] {
  outline: none;
  border: none;
  color: inherit;
}

._haveimage {
  color: var(--pink_500);
}

._anything {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  min-width: 12rem;
  margin-right: 1rem;
  margin-bottom: 1px;
  padding: 0 0.3rem;
  background: var(--primary_3) !important;
  color: var(--white) !important;
  border-radius: $border_5;
  font-size: var(--font_s);

  td {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 10rem;
    align-items: center;
    border: 0 !important;
    cursor: pointer;
    user-select: none;
  }

  i {
    padding: 0.1rem;
    font-weight: 600;
    font-size: var(--font_ss);
  }

  &:focus-visible,
  &:active {
    box-shadow: 0 0 1px 1px var(--primary_2);
  }
}

._grouping {
  display: flex;
  align-items: center;
  direction: rtl;
  gap: .5rem;
  height: 2.2rem;
  background: var(--thirdy_2);
  color: var(--primary_5);
  border-radius: $border_7;

  .icon_reset {
    cursor: pointer;
  }

  ._group_label {
    font-family: var(--font-family);
    padding-right: .25rem;
    font-size: var(--font_s);
    font-weight: 600;
  }
}

._tooltip_special:hover .tooltip_text {
  transform: translate(-10%, -40%);

}

._tooltip_special .tooltip_text::after {
  left: 15%;
}

._hide_rows {
  background-color: lightblue !important;
}

._red_500 {
  color: var(--red_500);
}

._green_600 {
  color: var(--green_600);
}