<div class="map-frame">
    <div id="map2"></div>
</div>
<app-prime-table     
    [dataSource]="dataSource2" 
    [_outputFileName]="'momentLs'"
    [_checkUpName]="'moment-ls'"    
    [_isSortable]= false
    [_numberOfExtraColumns]="[1,2,3]"
    (showedPictures)="getReadingReportTitles($event)"
    (showedWOUIAsCarousel)="doShowCarousel($event)"
    (showedInMapSingle)="openMapDialog($event)"    
 > 
</app-prime-table>
<!-- state saving correctly but for default sortField it may not happenning -->