@import 'variable.scss';

.map-frame {
  margin: var(--font_xs) var(--font_02) 1.7rem;
  height: 100%;
  min-height: 30vh;
  min-height: 30svh;
  box-shadow: -1px 2px 5px 5px var(--secondary_4);
  position: relative;
}

#map2 {
  height: 30vh;
  height: 30svh;
  width: 100%;
  z-index: 3;
}

._key {
  color: var(--primary_5);
}

.input_2 {
  display: flex;
  align-items: center;
  gap: var(--font_s);
  margin-left: auto;
  padding-right: 3px;
  font-weight: 600;
  border-radius: $border_7;
  direction: rtl;
  width: 16rem;
  background: var(--white);
  margin-bottom: 3px;
  border: 1px solid;
}