@import 'variable.scss';
@import 'input';

.map-frame {
  margin: var(--font_xs) var(--font_02) 0.5rem;
  height: 100%;
  min-height: 35vh;
  min-height: 35svh;
  box-shadow: -1px 2px 5px 5px var(--secondary_4);
  position: relative;
}

#map2 {
  height: 35vh;
  height: 35svh;
  width: 100%;
  z-index: 3;
}

._key {
  color: var(--primary_5);
}

.input_icon {
  margin-left: auto;
  direction: rtl;
  width: 17rem;
  display: flex;
}