<main>
    <div class="content">
        <div class="_key">نام</div>
        <div class="_value">بیمارستان شهید</div>
    </div>
    <div class="content">
        <div class="_key">نام</div>
        <div class="_value">بیمارستان شهید</div>
    </div>
    <div class="content">
        <div class="_key">نام</div>
        <div class="_value">بیمارستان شهید</div>
    </div>
    <div class="content">
        <div class="_key">نام</div>
        <div class="_value">بیمارستان شهید</div>
    </div>
    <div class="content">
        <div class="_key">نام</div>
        <div class="_value">بیمارستان شهید</div>
    </div>
    <div class="content">
        <div class="_key">نام</div>
        <div class="_value">بیمارستان شهید</div>
    </div>
    <div class="content">
        <div class="_key">نام</div>
        <div class="_value">بیمارستان شهید</div>
    </div>
    <div class="content">
        <div class="_key">نام</div>
        <div class="_value">بیمارستان شهید</div>
    </div>
    <div class="content">
        <div class="_key">نام</div>
        <div class="_value">بیمارستان شهید</div>
    </div>
    <div class="content">
        <div class="_key">نام</div>
        <div class="_value">بیمارستان شهید</div>
    </div>
    <div class="content">
        <div class="_key">نام</div>
        <div class="_value">بیمارستان شهید</div>
    </div>
    <div class="content">
        <div class="_key">نام</div>
        <div class="_value">بیمارستان شهید</div>
    </div>
    <div class="content">
        <div class="_key">نام</div>
        <div class="_value">بیمارستان شهید</div>
    </div>
    <div class="content">
        <div class="_key">نام</div>
        <div class="_value">بیمارستان شهید</div>
    </div>
</main>