<main>
    <div class="input_2">
        <div class="_key">نام</div>
        <div class="_value">بیمارستان شهید</div>
    </div>
    <div class="input_2">
        <div class="_key">نام</div>
        <div class="_value">بیمارستان شهید</div>
    </div>
    <div class="input_2">
        <div class="_key">نام</div>
        <div class="_value">بیمارستان شهید</div>
    </div>
    <div class="input_2">
        <div class="_key">نام</div>
        <div class="_value">بیمارستان شهید</div>
    </div>
    <div class="input_2">
        <div class="_key">نام</div>
        <div class="_value">بیمارستان شهید</div>
    </div>
    <div class="input_2">
        <div class="_key">نام</div>
        <div class="_value">بیمارستان شهید</div>
    </div>
    <div class="input_2">
        <div class="_key">نام</div>
        <div class="_value">بیمارستان شهید</div>
    </div>
    <div class="input_2">
        <div class="_key">نام</div>
        <div class="_value">بیمارستان شهید</div>
    </div>
    <div class="input_2">
        <div class="_key">نام</div>
        <div class="_value">بیمارستان شهید</div>
    </div>
    <div class="input_2">
        <div class="_key">نام</div>
        <div class="_value">بیمارستان شهید</div>
    </div>
    <div class="input_2">
        <div class="_key">نام</div>
        <div class="_value">بیمارستان شهید</div>
    </div>
    <div class="input_2">
        <div class="_key">نام</div>
        <div class="_value">بیمارستان شهید</div>
    </div>
    <div class="input_2">
        <div class="_key">نام</div>
        <div class="_value">بیمارستان شهید</div>
    </div>
    <div class="input_2">
        <div class="_key">نام</div>
        <div class="_value">بیمارستان شهید</div>
    </div>
</main>