<h2 mat-dialog-title>افزودن کاربر</h2>

<mat-dialog-content>

    <mat-form-field appearance="fill">
        <mat-label>عنوان</mat-label>
        <input matInput placeholder="عنوان">
    </mat-form-field> 
    <mat-form-field appearance="fill">
        <mat-label>مشترکین</mat-label>
        <input matInput placeholder="مشترکین">
    </mat-form-field> 
    <mat-form-field appearance="fill">
        <mat-label>کد</mat-label>
        <input matInput placeholder="کد">
    </mat-form-field> 
    <mat-form-field appearance="fill">
        <mat-label>ترتیب</mat-label>
        <input matInput placeholder="ترتیب">
    </mat-form-field> 
    <mat-form-field appearance="fill">
        <mat-label>ثبت رقم</mat-label>
        <input matInput placeholder="ثبت رقم">
    </mat-form-field> 
    <mat-form-field appearance="fill">
        <mat-label>مانع</mat-label>
        <input matInput placeholder="مانع">
    </mat-form-field> 
    <mat-form-field appearance="fill">
        <mat-label>فعلی کمتر از قبلی</mat-label>
        <input matInput placeholder="فعلی کمتر از قبلی">
    </mat-form-field> 
    <mat-form-field appearance="fill">
        <mat-label>تعویض</mat-label>
        <input matInput placeholder="تعویض">
    </mat-form-field> 
    <mat-form-field appearance="fill">
        <mat-label>اجبار رقم</mat-label>
        <input matInput placeholder="اجبار رقم">
    </mat-form-field> 
    <mat-form-field appearance="fill">
        <mat-label>خراب</mat-label>
        <input matInput placeholder="خراب">
    </mat-form-field> 
    <mat-form-field appearance="fill">
        <mat-label>فاقد</mat-label>
        <input matInput placeholder="فاقد">
    </mat-form-field> 

</mat-dialog-content>

<mat-dialog-actions>
    <button class="btn_2" (click)="close()">بازگشت</button>
    <button class="btn_2 _custom" [mat-dialog-close]="addNew" (click)="save()">ذخیره</button>
</mat-dialog-actions>