<app-prime-table-editable     
    [dataSource]="closeTabService.mobileManagerFeedbackTypeIsComplaint" 
    [_outputFileName]="feedbackComplaintColumns"
    [_isInRowEditing]=true    
    [_numberOfExtraColumns]="[1,2]"
    [_sessionName]="'feedbackcomplaint-session'"
    [_selectedColumnsToRemember]="'selectedFeedbackComplaint'"
    [newRow]="newRow()"
    [newRowLimit]="newRowLimit"
    (refreshedTable)="callAPI()"
    (newedRowChangedStatus)="testChangedValue()"
    (onRowEditedSave)="onRowEditSave($event)"
    (onRowEditedCancelRowEditing)="onRowEditCancel($event)"
    (onRowEditedInit)="onRowEditInit($event)"
    (removedRowEditing)="removeRow($event)"
 > 
</app-prime-table-editable>