<mat-horizontal-stepper #stepper>

    <mat-step [completed]="false" [stepControl]="closeTabService.saveDataForUserDetailsHistory">
        <form>
            <ng-template matStepLabel>مشخصات کاربر</ng-template>
            <app-user-md-user-input [editInfo]="closeTabService.saveDataForUserDetailsHistory" style="direction: rtl;">
            </app-user-md-user-input>
        </form>
    </mat-step>

    <mat-step [completed]="false" [stepControl]="closeTabService.saveDataForUserDetailsHistory.provinceItems">
        <form *ngIf="closeTabService.saveDataForUserDetailsHistory.provinceItems">
            <ng-template matStepLabel>دسترسی به ناحیه</ng-template>
            <app-user-md-select-zone [provinceItemsData]="closeTabService.saveDataForUserDetailsHistory.provinceItems">
            </app-user-md-select-zone>
        </form>
    </mat-step>

    <mat-step [completed]="false" [stepControl]="closeTabService.saveDataForUserDetailsHistory.appItems">
        <ng-template matStepLabel>سطح دسترسی به خدمات</ng-template>
        <app-user-md-select-action [userAddData]="closeTabService.saveDataForUserDetailsHistory.appItems">
        </app-user-md-select-action>
    </mat-step>

</mat-horizontal-stepper>