@import '../add-edit.scss';

.roles {
  background: $blue_gray_400;
  border-radius: $border_5;
  padding: .5rem;
}

.role_items {
  direction: rtl;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11rem, 12rem));
  gap: .5rem;
  padding: 1rem;
  border-radius: $border_15;
  margin-bottom: $font_2;
  background: $gray_100;
}

h2 {
  color: $gray_700;
  text-align: right;
}

.mat-checkbox-layout .mat-checkbox-label {
  color: $blue_700;
}
