<div class="menu">
    <div class="wrapper">
        <div class="app_section">
            <ul>
                <li *ngFor="let app of currentRoute" (click)="appClicked(app)">
                    <i class="icons pi pi-folder"></i>
                    {{app.title}}
                </li>
                <li class="date">
                    <app-date-jalali [_disabled]="true"></app-date-jalali>
                </li>
            </ul>
        </div>
        <div class="main_section">
            <div class="modules">
                <ul *ngFor="let app of currentRoute" [hidden]="!app.isOpen">
                    <li *ngFor="let item of app.items" (click)="moduleClicked(item)" [hidden]="!item.isOpen">
                        <i class="module_icons {{item.cssClass}}"></i>
                        <p class="module_text">{{item.title}}</p>
                    </li>
                </ul>
            </div>
            <div class="modules_controller">
                <div *ngFor="let app of currentRoute">
                    <div *ngFor="let item of app.items, index as i">
                        <div class="controller">
                            <div class="controller_items" *ngFor="let subItem of item.subItems, index as j"
                                [hidden]="!item.isOpen">
                                <i class="controller_icons {{subItem.cssClass}}"></i>
                                <p class="controller_text">{{subItem.title}}</p>
                            </div>
                            <!-- <p *ngIf="j == 0">
                                {{app.title}}/ {{item.title}}/ {{subItem.title}}
                            </p>
                            <button *ngIf="j == 0" (click)="backToModule(item)">back</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>