<div class="menu">
    <div class="wrapper">
        <div class="app_section">
            <ul>
                <li *ngFor="let app of currentRoute" (click)="appClicked(app)">
                    <i class="icons pi pi-folder"></i>
                    {{app.title}}
                </li>
                <li class="date">
                    <app-date-jalali [_disabled]="true"></app-date-jalali>
                </li>
            </ul>
        </div>
        <div class="main_section">
            <div class="modules">
                <ul *ngFor="let app of currentRoute" [hidden]="!app.isOpen">
                    <li *ngFor="let item of app.items" (click)="moduleClicked(item)" [hidden]="!item.isOpen">
                        <i class="module_icons {{item.cssClass}}"></i>
                        <p class="module_text">{{item.title}}</p>
                    </li>
                </ul>
                <div *ngFor="let app of currentRoute">
                    <div *ngFor="let item of app.items">
                        <div class="controller" *ngFor="let subItem of item.subItems" [hidden]="!item.isOpen">                            
                            {{app.title}}/ {{item.title}}/ {{subItem.title}}
                        </div>
                        <button (click)="backToModule(item)">back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>