<div class="menu">
    <div class="wrapper">
        <div class="app_section">
            <ul>
                <li *ngFor="let app of currentRoute" (click)="appClicked(app)" routerLinkActive="active">
                    <i class="icons pi pi-folder"></i>
                    {{app.title}}
                    <div *ngFor="let item of app.items" [hidden]="true">
                        <div *ngFor="let subItem of item.subItems" [routerLink]="subItem.route"
                            routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        </div>
                    </div>
                </li>
            </ul>
            <div class="date">
                <img class="_logo" [src]="utilsService.logoAddress" alt="">
                <app-date-jalali [_disabled]="true"></app-date-jalali>
            </div>
        </div>
        <div class="main_section">
            <div class="modules">
                <ul *ngFor="let app of currentRoute" [hidden]="!app.isOpen">
                    <div class="_breadcrumb" [hidden]="!app.isOpen">
                        <p class="module_text"> {{app.title}}</p>
                    </div>
                    <li *ngFor="let item of app.items" (click)="moduleClicked(item)" [hidden]="!item.isOpen"
                        routerLinkActive="active" [ngClass]="{'hide-outline': item.isInController}">
                        <div class="module_inner" [hidden]="item.isInController">
                            <i class="module_icons {{item.cssClass}}"></i>
                            <p class="module_text">{{item.title}}</p>
                        </div>
                        <div class="_breadcrumb" [hidden]="!item.isInController">
                            <p class="module_text"> {{app.title}}/ {{item.title}}</p>
                        </div>
                        <button class="_back" [hidden]="!item.isInController" (click)="backToModule(app)">
                            <i class="pi pi-arrow-left"></i>
                            <p>بازگشت</p>
                        </button>
                        <div *ngFor="let subItem of item.subItems" [routerLink]="subItem.route"
                            routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [hidden]="true">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modules_controller">
                <div *ngFor="let app of currentRoute">
                    <div *ngFor="let item of app.items" [hidden]="!item.isOpen">
                        <div class="controller">
                            <div class="controller_items" *ngFor="let subItem of item.subItems"
                                [hidden]="!item.isOpen || !subItem.isOpen" [routerLink]="subItem.route"
                                routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                                (click)="routeClicked()">
                                <i class="controller_icons pi pi-bookmark {{subItem.cssClass}}"></i>
                                <p class="controller_text">{{subItem.title}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="close_button tooltip" (click)="routeClicked()">
        <i class="pi pi-times"></i>
        <div class="tooltip_text_right">
            <p>«Esc» کلید</p>            
        </div>
    </button>
</div>