<section>
    <div class="overall-info">
        <div class="input_2">
            <div class="_key">ش.پیگیری</div>
            <input [readOnly]="true" class="_value" name="trackNumber"
                [(ngModel)]="pageSignsService.masterByFragmentLazy_pageSign.trackNumber">
        </div>
        <div class="input_2">
            <div class="_key">ش.لیست</div>
            <input [readOnly]="true" class="_value" name="listNumber"
                [(ngModel)]="pageSignsService.masterByFragmentLazy_pageSign.listNumber">
        </div>
        <div class="input_2">
            <div class="_key">ناحیه</div>
            <input [readOnly]="true" class="_value" name="zone"
                [(ngModel)]="pageSignsService.masterByFragmentLazy_pageSign.zoneTitle">
        </div>
    </div>
</section>

<main style="position: relative; ">
    <p-table #datatableG id="tdm" *ngIf="closeTabService.simpleMasterByFragmentAllLazy.data" [columns]="selectedColumns"
        [value]="closeTabService.simpleMasterByFragmentAllLazy.data" [lazy]="true" (onLazyLoad)="LazyLoading($event)"
        (onLazyLoad)="hasFilters()" dataKey="id" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
        [totalRecords]="totalRecords" currentPageReportTemplate="نمایش از {first} تا{last} از {totalRecords} مورد"
        [rowsPerPageOptions]="closeTabService._rowsPerPage" dir="rtl"
        styleClass="p-datatable-responsive _unset_overflow_tables" stateStorage="session" [stateKey]="_sessionName"
        editMode="row" [reorderableColumns]="profileService.getLocalReOrderable()" [filterDelay]="500" appUnSortTable>

        <ng-template pTemplate="caption">
            <p-multiSelect [maxSelectedLabels]="1" [options]="_selectCols" [(ngModel)]="selectedColumns"
                optionLabel="header"
                (ngModelChange)="listManagerService.columnManager.setColumnsChanges(listManagerService.ENSelectedColumnVariables[_selectedColumnsToRemember] ,$event)"
                selectedItemsLabel="{0} ستون انتخاب شده" placeholder="ستون ها" [filter]="true">
            </p-multiSelect>

            <div class="header_icons_wrap">
                <div class="right_side">
                    <i (click)="getExcel()" class="tooltip _circle_border _xlsx_download pi pi-download">
                        <div class="tooltip_text">Excel دانلود فایل</div>
                    </i>
                    <i (click)="saveColumns()" class="tooltip fa_icons _circle_border p_icons _save_columns fa fa-save">
                        <div class="tooltip_text">ذخیره ستونها</div>
                    </i>
                    <i (click)="resetSavedColumns()"
                        class="tooltip fa_icons _circle_border p_icons _save_columns pi pi-reply">
                        <div class="tooltip_text">بازنشانی ستونهای پیشفرض</div>
                    </i>
                </div>
                <div class="left_side">
                    <i (click)="clearFilters(datatableG)" [ngClass]="{'has_filters': hasFiltersInTable}"
                        class="_circle_border p_icons tooltip pi pi-filter-slash">
                        <div class="tooltip_text_right">حذف فیلترها</div>
                    </i>
                    <i (click)="refreshTable()" class="tooltip _circle_border p_icons pi pi-refresh">
                        <div class="tooltip_text_right">بارگیری مجدد جدول</div>
                    </i>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="__headers" pReorderableColumn *ngFor="let col of columns" pSortableColumn="{{col.field}}">
                    <p-sortIcon field="{{col.field}}"></p-sortIcon>
                    <div class="_rotate tooltip">
                        {{col.header}}
                        <div class="tooltip_text_bottom">{{col.header}}</div>
                    </div>
                </th>
                <th class="__icon-columns" *ngFor="let item of _numberOfExtraColumns"></th>
            </tr>
            <tr>
                <th class="__headers" pReorderableColumn *ngFor="let col of _selectedColumns">

                    <p-columnFilter *ngIf="col?.isBoolean && col?.type !== 'disabled'" type="boolean"
                        field="{{col.field}}"></p-columnFilter>

                    <p-columnFilter *ngIf="!col?.isBoolean && !col.isSelectOption && col?.type !== 'disabled'"
                        [type]="col.type" [matchMode]="col.matchMode" field="{{col.field}}">
                        {{col.type}}
                    </p-columnFilter>

                    <p-columnFilter *ngIf="!col?.isBoolean && col.isSelectOption && col.field == 'counterStateId'"
                        field="counterStateId" matchMode="in" display="menu" [showMatchModes]="false"
                        [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect [maxSelectedLabels]="1"
                                [ngModel]="closeTabService.masterByFragmentLazyReq.multiSelectCounterStateId"
                                [options]="counterStateByZoneDictionary" optionLabel="title" optionValue="id"
                                [filter]="true" showClear="false" placeholder="انتخاب کنید"
                                (onChange)="changedFilterDropdowns($event.value , 'multiSelectCounterStateId')">
                                <ng-template let-option pTemplate="item">
                                    <div class="p-multiselect-representative-option">
                                        <span class="ml-1">{{option.title}}</span>
                                    </div>
                                </ng-template>
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                    <p-columnFilter *ngIf="!col?.isBoolean && col.isSelectOption && col.field == 'preCounterStateCode'"
                        field="preCounterStateCode" matchMode="in" display="menu" [showMatchModes]="false"
                        [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect [maxSelectedLabels]="1"
                                [ngModel]="closeTabService.masterByFragmentLazyReq.multiSelectPreCounterStateCode"
                                [options]="counterStateByCodeDictionary" optionLabel="title" optionValue="id"
                                [filter]="true" showClear="false" placeholder="انتخاب کنید"
                                (onChange)="changedFilterDropdowns($event.value , 'multiSelectPreCounterStateCode' )">
                                <ng-template let-option pTemplate="item">
                                    <div class="p-multiselect-representative-option">
                                        <span class="ml-1">{{option.title}}</span>
                                    </div>
                                </ng-template>
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>

                    <p-columnFilter *ngIf="!col?.isBoolean && col.isSelectOption && col.field == 'karbariCode'"
                        field="karbariCode" matchMode="in" display="menu" [showMatchModes]="false"
                        [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect [maxSelectedLabels]="1"
                                [ngModel]="closeTabService.masterByFragmentLazyReq.multiSelectkarbariCode"
                                [options]="karbariDictionaryCode" optionLabel="title" optionValue="id" [filter]="true"
                                showClear="true" placeholder="انتخاب کنید"
                                (onChange)="changedFilterDropdowns($event.value , 'multiSelectkarbariCode' )">
                                <ng-template let-option pTemplate="item">
                                    <div class="p-multiselect-representative-option">
                                        <span class="ml-1">{{option.title}}</span>
                                    </div>
                                </ng-template>
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                    <p-columnFilter *ngIf="!col?.isBoolean && col.isSelectOption && col.field == 'hazf'" field="hazf"
                        matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false"
                        [showAddButton]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect [maxSelectedLabels]="1"
                                [ngModel]="closeTabService.masterByFragmentLazyReq.multiSelectHazf"
                                [options]="deleteDictionary" optionLabel="title" optionValue="id" [filter]="true"
                                showClear="true" placeholder="انتخاب کنید"
                                (onChange)="changedFilterDropdowns($event.value , 'multiSelectHazf' )">
                                <ng-template let-option pTemplate="item">
                                    <div class="p-multiselect-representative-option">
                                        <span class="ml-1">{{option.title}}</span>
                                    </div>
                                </ng-template>
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th pReorderableColumn class="__icon-columns" *ngFor="let item of _numberOfExtraColumns">
                </th>
            </tr>
        </ng-template>

        <ng-template hidden="!dataSource.length" pTemplate="body" let-dataSource let-editing="editing"
            let-columns="columns" let-ri=rowIndex>
            <tr [ngClass]="{'has_error': dataSource.editedErrorDescription}">
                <td class="__columns" pEditableColumn *ngFor="let col of columns"
                    [ngClass]="{'d_ltr': col.ltr, '_editable': col.icon}">
                    <span class="ui-column-title">{{col.header}}</span>
                    <ng-container *ngIf="col.isSelectOption;else selectOption">
                        <!-- to use double dictionaries add dictionary name to "col.field !== 'name'" -->
                        <!-- For Modify type inside Table body -->
                        <ng-container *ngIf="(col.field == 'modifyType'); else secondDict">
                            <ng-template pTemplate="output">
                                {{dataSource.modifyType}}
                            </ng-template>
                        </ng-container>
                        <ng-template #secondDict>
                            <ng-container>
                                <!-- For counterStateId only and should sync with generalGroupModify in columnManager.ts -->
                                <ng-template pTemplate="output">
                                    {{dataSource[col.field]}}
                                </ng-template>
                            </ng-container>
                        </ng-template>
                    </ng-container>
                    <ng-template #selectOption>
                        <ng-container *ngIf="col.isBoolean; else elseTemplate">
                            <mat-checkbox [disabled]="true" [(ngModel)]="dataSource[col.field]"></mat-checkbox>
                        </ng-container>
                        <ng-template #elseTemplate>
                            <ng-container
                                *ngIf="col.field == 'masrafStateId' || col.field == 'highLowStateId'; else digits">
                                <div *ngIf="col.field == 'masrafStateId'">
                                    <div *ngFor="let item of masrafStateIdDictionary">
                                        <i class="tooltip" *ngIf="dataSource[col.field] === item.value"
                                            [ngClass]="item.className">
                                            {{item.icon}}
                                            <div class=" tooltip_text">{{item.titleUnicode}}
                                            </div>
                                        </i>
                                    </div>
                                </div>
                                <div *ngIf="col.field == 'highLowStateId'">
                                    <div *ngFor="let item of highLowStateDictionary">
                                        <i class="tooltip" *ngIf="dataSource[col.field] === item.value"
                                            [ngClass]="item.className">
                                            {{item.icon}}
                                            <div class=" tooltip_text">{{item.titleUnicode}}
                                            </div>
                                        </i>
                                    </div>
                                </div>
                            </ng-container>

                            <ng-template #digits>
                                <ng-container
                                    *ngIf="col.field === 'orderDigit'|| col.field === 'orderPersian'; else dateForm">
                                    {{dataSource[col.field]}}
                                </ng-container>
                            </ng-template>

                            <ng-template #dateForm>
                                <ng-container *ngIf="col.field == 'offloadDateJalali'; else editableForm">
                                    {{dataSource[col.field]}}
                                </ng-container>
                            </ng-template>

                            <ng-template #editableForm>
                                <ng-container *ngIf="col.enableTooltip; else simpleText">
                                    <div *ngIf="col.icon"
                                        (contextmenu)="col.enableTooltip? copyContext(dataSource[col.field]): true">
                                        <div class="tooltip">
                                            {{dataSource[col.field] && dataSource[col.field].length > 0 ?
                                            dataSource[col.field].toString().split(' ')[0]
                                            : ''}}
                                            <div *ngIf="dataSource[col.field]?.length > 0" class="tooltip_text_right"
                                                [ngClass]="
                                                    {
                                                    'tooltip_long2':dataSource[col.field]?.length >= 20,
                                                    'tooltip_long3':dataSource[col.field]?.length >= 30,
                                                    'tooltip_long4':dataSource[col.field]?.length >= 40
                                                    }">
                                                {{dataSource[col.field]}}
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="!col.icon">
                                        <div class="tooltip"
                                            (contextmenu)="col.enableTooltip? copyContext(dataSource[col.field]): true">
                                            {{dataSource[col.field] && dataSource[col.field].length > 0 ?
                                            dataSource[col.field].toString().split(' ')[0] :
                                            ''}}
                                            <div *ngIf="dataSource[col.field]?.length > 0" class="tooltip_text_right"
                                                [ngClass]="
                                            {'tooltip_long2':dataSource[col.field]?.length >= 20,
                                            'tooltip_long3':dataSource[col.field]?.length >= 30,
                                            'tooltip_long4':dataSource[col.field]?.length >= 40}">
                                                {{dataSource[col.field]}}</div>
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-template #simpleText>
                                    <div (contextmenu)="col.enableTooltip? copyContext(dataSource[col.field]): true">
                                        {{dataSource[col.field]}}
                                    </div>
                                </ng-template>

                            </ng-template>
                        </ng-template>
                    </ng-template>
                </td>
                <td class="__icon-columns" (click)="openMoshtarakinDialog(dataSource)">
                    <span class="ui-column-title">مشاهده سابقه</span>
                    <i class="tooltip p_icons pi pi-users">
                        <div class="tooltip_text">مشاهده سابقه</div>
                    </i>
                </td>
                <td class="__icon-columns" (click)="openBriefKardexDialog(dataSource)">
                    <span class="ui-column-title">خلاصه کاردکس</span>
                    <i class="tooltip p_icons pi pi-folder">
                        <div class="tooltip_text">خلاصه کاردکس</div>
                    </i>
                </td>
                <td class="__icon-columns" (click)="openMapDialog(dataSource)">
                    <span class="ui-column-title">مشاهده روی نقشه</span>
                    <i class="tooltip p_icons pi pi-map-marker">
                        <div class="tooltip_text_right">مشاهده روی نقشه</div>
                    </i>
                </td>
                <td class="__icon-columns">
                    <span class="ui-column-title">نمایش گزارش بازرسی</span>
                    <i (click)="getReadingReportTitles(dataSource.id)" class="tooltip p_icons pi pi-chart-bar">
                        <div class="tooltip_text_right">نمایش گزارش بازرسی</div>
                    </i>
                </td>
                <!-- for making readable and compatible singleton dataType -->
                <td class="__icon-columns" (click)="doShowCarousel(dataSource)">
                    <span class="ui-column-title">{{dataSource.imageCount ? 'بررسی عکس/صوت' : '× بدون عکس/صوت'}}</span>
                    <i [ngClass]="{
                        '_haveimage':dataSource.imageCount, 
                        'far fa-images': dataSource.imageCount,
                        'pi pi-camera': !dataSource.imageCount
                }" class="tooltip p_icons pi pi-camera">
                        <div class="tooltip_text_right">{{dataSource.imageCount ? 'بررسی عکس/صوت' : '× بدون عکس/صوت'}}
                        </div>
                    </i>
                </td>
            </tr>

        </ng-template>

    </p-table>
    <app-carousel-woum *ngIf="showCarousel" [dataSource]="carouselDataSource" (cancelClicked)="carouselCancelClicked()"
        (prevClicked)="carouselPrevItem()" (nextClicked)="carouselNextItem()">
    </app-carousel-woum>

    <section
        *ngIf="!closeTabService.simpleMasterByFragmentAllLazy.data || closeTabService.simpleMasterByFragmentAllLazy.data.length === 0">
        <tr class="empty_data">
            موردی پیدا نشد
            <i class="fa fa-folder-blank"></i>
        </tr>
    </section>
</main>