@import '../../../assets/variable.scss';

::ng-deep {
  .snack_danger {
    background-color: #f63e38;
    font-size: $font_s;
    color: #F2F3F4;
    font-family:$font_family;
  }

  .snack_warn {
    background-color: lightgoldenrodyellow;
    font-size: $font_s;
    color: #F2F3F4;
    font-family:$font_family;
  }

  .snack_success {
    background-color: green;
    font-size: $font_s;
    color: #F2F3F4;
    font-family:$font_family;
  }
}
