@import '../../../assets/variable.scss';

::ng-deep {
  .mat-simple-snackbar {
    font-family: $font_family;
    font-size: $font_s;
    font-weight: 600;
    color: #F2F3F4;
  }

  .snack_danger {
    background-color: #f63e38;
  }

  .snack_warn {
    background-color: lightgoldenrodyellow;
  }

  .snack_success {
    background-color: green;
  }
}
