<section>
    <p-toast [position]="profileService.getLocalNotifyPosition()" key="text" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
            <div class="p-flex p-flex-column">
                <i class="{{message.icon}} _icon"></i>
            </div>
            <div class="_custom_toast">
                <h3>{{message.summary}}</h3>
                <p>{{message.detail}}</p>
                <div *ngIf="message.life" class="_life">{{_notifTimer}}</div>
                <!-- FORNow: dialog interval timer not show when group messaging -->
                <button *ngIf="!message.life && !message.hasReadMore" class="btn_2_o"
                    (click)="openNotifyType(message)">مشاهده</button>
            </div>
        </ng-template>
    </p-toast>
    <p-toast [position]="profileService.getLocalNotifyPosition()" key="imageOrVideo" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
            <div class="p-flex p-flex-column">
                <i class="{{message.icon}} _icon"></i>
            </div>
            <div class="_custom_toast">
                <h3>{{message.summary}}{{message.sender}}</h3>
                <p>{{message.detail}}</p>
                <button class="btn_2_o" (click)="openNotifyType(message)">مشاهده</button>
            </div>
        </ng-template>
    </p-toast>

</section>