<h2 mat-dialog-title>افزودن نقش IP</h2>

<form [formGroup]="form" dir="rtl" (ngSubmit)="save()">
    <main class="_contents">
        <div class="input_2">
            <div class="_key">IP</div>
            <input class="_value" formControlName="ip">
        </div>
        <div class="input_2">
            <div class="_key">endpoint</div>
            <input class="_value" formControlName="endpoint">
        </div>
        <div class="input_2">
            <div class="_key">period</div>
            <input class="_value" formControlName="period">
        </div>
        <div class="input_2">
            <div class="_key">periodTimespan</div>
            <input class="_value" type="number" formControlName="periodTimespan">
        </div>
        <div class="input_2">
            <div class="_key">limit</div>
            <input class="_value" type="number" formControlName="limit">
        </div>
        <div class="input_2">
            <div class="_key">quotaExceededResponse</div>
            <input class="_value" type="number" formControlName="quotaExceededResponse">
        </div>

        <mat-checkbox formControlName="monitorMode">monitorMode</mat-checkbox>
    </main>

    <mat-dialog-actions>
        <button class="close_dg" type="button" (click)="close()">
            <i class="pi pi-times"></i>
        </button>
        <button class="btn_2 _custom" type="submit">ذخیره</button>
    </mat-dialog-actions>
</form>

<!-- {
    //       "ip": "127.0.0.1",
    //       "rules": [
    //         {
    //           "endpoint": "*",
    //           "period": "1s",
    //           "periodTimespan": null,
    //           "limit": 80,
    //           "quotaExceededResponse": null,
    //           "monitorMode": false
    //         },
//       
    //       ] -->