<form #form="ngForm" (ngSubmit)="verification()" *ngIf="route.children.length === 0">
    <section>
        <div class="input_2">
            <div class="_key">ناحیه</div>
            <mat-select placeholder="انتخاب مورد" [(ngModel)]="readingReportReq.zoneId" name="zoneId">
                <mat-option *ngFor="let truefalse of zoneDictionary" [value]="truefalse.id">
                    {{truefalse.title}}
                </mat-option>
            </mat-select>
        </div>
        <div class="input_2">
            <div class="_key">از</div>
            <div class="_value">
                <app-date-jalali name="fromDate" (dateJalEvent)="receiveFromDateJalali($event)">
                </app-date-jalali>
            </div>
        </div>
        <div class="input_2">
            <div class="_key">تا</div>
            <div class="_value">
                <app-date-jalali name="toDate" (dateJalEvent)="receiveToDateJalali($event)">
                </app-date-jalali>
            </div>
        </div>
        <footer>
            <button type="submit" class="btn_1">
                مشاهده لیست
                <i class="pi pi-list"></i>
            </button>
        </footer>
    </section>
</form>
<router-outlet></router-outlet>