<form #form="ngForm" (ngSubmit)="verification()">
        <div class="input_2">
            <div class="_key">ناحیه</div>
            <mat-select placeholder="انتخاب مورد" [(ngModel)]="forbiddenService.forbiddenReq.zoneId" name="zoneId">
                <mat-option *ngFor="let truefalse of zoneDictionary" [value]="truefalse.id">
                    {{truefalse.title}}
                </mat-option>
            </mat-select>
        </div>
        <div class="input_2">
            <div class="_key">از</div>
            <div class="_value">
                <app-date-jalali name="fromDate"
                    (dateJalEvent)="forbiddenService.receiveFromDateJalali(forbiddenService.ENForbidden.forbidden, $event)"
                    [dateObject]="forbiddenService.forbiddenReq.fromDate">
                </app-date-jalali>
            </div>
        </div>
        <div class="input_2">
            <div class="_key">تا</div>
            <div class="_value">
                <app-date-jalali name="toDate"
                    (dateJalEvent)="forbiddenService.receiveToDateJalali(forbiddenService.ENForbidden.forbidden, $event)"
                    [dateObject]="forbiddenService.forbiddenReq.toDate">
                </app-date-jalali>
            </div>
        </div>
        <footer>
            <button type="submit" class="btn_1">
                مشاهده لیست
                <i class="pi pi-list"></i>
            </button>
        </footer>
    
</form>

<app-prime-table *ngIf="dataSource"    
    [_selectCols]="_selectCols" 
    [_selectedColumns]="selectedColumns"
    [dataSource]="dataSource" 
    [_outputFileName]="'forbidden'"
    [_checkUpName]="'forbidden'"
    [_rowsNumbers]=10
    [_rowsPerPage]="[10,25,50]"
    [_numberOfExtraColumns]="[1]"
    [_selectedColumnsToRemember]="'selectedForbidden'"
    (refreshedTable)="refreshTable()"
    (showedPictures)="showPictures($event)"
 > 
</app-prime-table>