@import 'primeNG.scss';
@import 'tooltip.scss';

._edit {
  color: var(--blue_gray_300);

  &:hover {
    background-color: rgba(var(--blue_gray_300), 0.3);
  }
}

._save {
  color: var(--green_500);

  &:hover {
    background-color: rgba(var(--green_500), 0.3);
  }
}

._cancel {
  color: var(--red_600);

  &:hover {
    background-color: rgba(var(--red_600), 0.3);
  }
}

input {
  font-size: $font_xs;
  font-weight: 600;
  width: 100%;
  border: 1px solid var(--orange_500);
  box-shadow: 0 0 3px 0 var(--orange_500);
  border-radius: 10px;
  padding: .3rem;
  color: var(--blue_700);
}

._edit,
._save,
._cancel {
  padding: 0.3rem;
  border-radius: $border_50;
  border: 0;
  cursor: pointer;
}
