@import '../../../../assets/primeNG.scss';
@import '../../../../assets/tooltip.scss';

._edit {
  color: $blue_l;

  &:hover {
    background-color: rgba($blue_l, 0.3);
  }
}

._save {
  color: $green_android;

  &:hover {
    background-color: rgba($green_android, 0.3);
  }
}

._cancel {
  color: $red_d;

  &:hover {
    background-color: rgba($red_d, 0.3);
  }
}

._edit,
._save,
._cancel {
  padding: 0.3rem;
  border-radius: $border_50;
  border: 0;
  cursor: pointer;
}
