<app-prime-table     
    [dataSource]="closeTabService.saveDataForTrackLoaded" 
    [_outputFileName]="'loaded'"
    [_sortField]="'listNumber'"
    [_checkUpName]="'loaded'"
    [_calculableSUM]=true
    [_hasAggregating] = true    
    [_isCustomSort]=true
    [_numberOfExtraColumns]="trackingManagerService.denyTracking() ? []: [1]"
    [_selectedColumnsToRemember]="'selectedTrackLoaded'"
    [_sessionName]="'loaded-session'"
    (refreshedTable)="refreshTable()"
    (backedToImportedConfirmDialog)="backToImportedConfirmDialog($event)"        
 > 
</app-prime-table>