<app-prime-table     
    [dataSource]="closeTabService.saveDataForTrackLoaded" 
    [_outputFileName]="'loaded'"
    [_checkUpName]="'loaded'"
    [_calculableSUM]=true
    [_hasAggregating] = true    
    [_isCustomSort]=true
    (customedSort)="trackingManagerService.customSort($event)"
    [_numberOfExtraColumns]="trackingManagerService.denyTracking() ? [1]: [1,2]"
    [_selectedColumnsToRemember]="'selectedTrackLoaded'"
    [_sessionName]="'loaded-session'"
    (refreshedTable)="refreshTable()"
    (backedToImportedConfirmDialog)="backToImportedConfirmDialog($event)"        
    (routedToFollowUp)="trackingManagerService.routeToFollowUp($event)"
 > 
</app-prime-table>