<app-prime-table     
    [_selectCols]="_selectCols" 
    [_selectedColumns]="selectedColumns"
    [dataSource]="dataSource" 
    [_outputFileName]="'loaded'"
    [_checkUpName]="'loaded'"
    [_sortField]="'insertDateJalali'"
    [_rowsPerPage]="[1, 2, 3, 4]"
    [_numberOfExtraColumns]="[1]"
    [_selectedColumnsToRemember]="'selectedTracks'"
    [_sessionName]="'loaded-session'"
    (refreshedTable)="refreshTable()"
    (backedToImportedConfirmDialog)="backToImportedConfirmDialog($event)"        
 > 
</app-prime-table>
