<main class="main _card" [@openClose]="closeTabService.simpleMasterByFragmentReq.isCollapsed ? 'slideUp' : 'slideDown'">
    <form #form="ngForm" (ngSubmit)="connectToServer()">
        <section class="order_by">
            <h2>جستجو بر اساس :</h2>
            <div *ngFor="let orderType of closeTabService.utilsService.getSearchInOrderTo">
                <div class="p-field-radiobutton">
                    <p-radioButton name="orderByDate" [value]="orderType.isSelected"
                        [(ngModel)]="closeTabService._isOrderByDate" [inputId]="orderType.key">
                    </p-radioButton>
                    <label [for]="orderType.key">{{orderType.title}}</label>
                </div>
            </div>
        </section>
        <hr>
        <section class="content">
            <div class="input_2">
                <div class="_key">ناحیه</div>
                <div class="_value">
                    <p-dropdown name="zones" [options]="zoneDictionary"
                        [(ngModel)]="closeTabService.simpleMasterByFragmentReq.zoneId" placeholder="انتخاب مورد"
                        optionValue="id" optionLabel="title" filter="true">
                    </p-dropdown>
                </div>
            </div>

            <div class="input_2" [hidden]="closeTabService._isOrderByDate">
                <div class="_key">نوع دوره</div>
                <div class="_value">
                    <mat-select placeholder="انتخاب مورد"
                        [(ngModel)]="closeTabService.simpleMasterByFragmentReq._selectedKindId" name="_selectedKindId">
                        <mat-option (click)="getReadingPeriod()" *ngFor="let truefalse of readingPeriodKindDictionary"
                            [value]="truefalse.id">
                            {{truefalse.title}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>

            <div class="input_2" [hidden]="!readingPeriodDictionary.length || closeTabService._isOrderByDate">
                <div class="_key">دوره قرائت</div>
                <div class="_value">
                    <mat-select placeholder="انتخاب مورد"
                        [(ngModel)]="closeTabService.simpleMasterByFragmentReq.readingPeriodId" name="readingPeriodId">
                        <mat-option *ngFor="let truefalse of readingPeriodDictionary" [value]="truefalse.id">
                            {{truefalse.title}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>

            <div class="input_2" [hidden]="closeTabService._isOrderByDate">
                <div class="_key">سال</div>
                <div class="_value">
                    <mat-select placeholder="انتخاب مورد" [(ngModel)]="closeTabService.simpleMasterByFragmentReq.year"
                        name="year">
                        <mat-option *ngFor="let truefalse of closeTabService.years" [value]="truefalse.value">
                            {{truefalse.title}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="input_2" [hidden]="!closeTabService._isOrderByDate">
                <div class="_key">از</div>
                <div class="_value">
                    <app-date-jalali name="fromDate"
                        (dateJalEvent)="closeTabService.receiveFromDateJalali(closeTabService.ENReadingReports.selectedSimpleMasterByFragmentReq, $event)"
                        [dateObject]="closeTabService.simpleMasterByFragmentReq.fromDate">
                    </app-date-jalali>
                </div>
            </div>
            <div class="input_2" [hidden]="!closeTabService._isOrderByDate">
                <div class="_key">تا</div>
                <div class="_value">
                    <app-date-jalali name="toDate"
                        (dateJalEvent)="closeTabService.receiveToDateJalali(closeTabService.ENReadingReports.selectedSimpleMasterByFragmentReq, $event)"
                        [dateObject]="closeTabService.simpleMasterByFragmentReq.toDate">
                    </app-date-jalali>
                </div>
            </div>
        </section>

        <button type="submit" class="tooltip btn_1">
            <i class="pi pi-search"></i>
            جستجو
        </button>
    </form>
</main>

<p-table #dtable *ngIf="closeTabService.simpleMasterByFragment && closeTabService.simpleMasterByFragment.length > 0"
    [columns]="selectedColumns" [value]="closeTabService.simpleMasterByFragment" [rows]="10" paginator="true"
    [showCurrentPageReport]="true" currentPageReportTemplate="نمایش از {first} تا{last} از {totalRecords} مورد"
    [rowsPerPageOptions]="closeTabService._rowsPerPage" dir="rtl" dataKey="groupId"
    styleClass="p-datatable-responsive _unset_overflow_tables" stateStorage="session" stateKey="simplemasterbyfragment"
    [reorderableColumns]="trackingManagerService.profileService.getLocalReOrderable()" appUnSortTable
    rowExpandMode="single">

    <ng-template pTemplate="caption">
        <p-multiSelect [maxSelectedLabels]="1" [options]="_selectCols" [(ngModel)]="selectedColumns"
            name="selectOptions" optionLabel="header" (ngModelChange)="setColumnsChanges('dataSource' ,$event)"
            selectedItemsLabel="{0} ستون انتخاب شده" placeholder="ستون ها" [filter]="true">
        </p-multiSelect>
        <div class="header_icons_wrap">
            <div class="right_side"></div>
            <div class="left_side"></div>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th></th>
            <th class="__headers" pReorderableColumn *ngFor="let col of columns" pSortableColumn="{{col.field}}">
                <p-sortIcon field="{{col.field}}"></p-sortIcon>
                {{col.header}}
            </th>
            <th class="__icon-columns">
            <th class="__icon-columns">
        </tr>
        <tr>
            <th></th>
            <th class="__headers" pReorderableColumn *ngFor="let col of columns">
                <p-columnFilter *ngIf="!col?.isBoolean" matchMode="contains" type="text" field="{{col.field}}">
                </p-columnFilter>
                <p-columnFilter *ngIf="col?.isBoolean" type="boolean" field="{{col.field}}"></p-columnFilter>
            </th>
            <th class="__icon-columns">
            <th class="__icon-columns">
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-dataSource let-columns="columns" let-ri="rowIndex" let-expanded="expanded">
        <tr>
            <td>
                <button type="button" [pRowToggler]="dataSource" class="_chevron"
                    [ngClass]="expanded ? 'pi pi-chevron-up' : 'pi pi-chevron-down'"
                    (click)="expanded ?  false : loadDetailPlease(dataSource, ri)">
                </button>
            </td>
            <td class="__columns" *ngFor="let col of columns">
                <span class="ui-column-title">{{col.header}}</span>
                <ng-container *ngIf="col.isBoolean; else simple">
                    <mat-checkbox [disabled]="true" name="isBoolean" [(ngModel)]="dataSource[col.field]">
                    </mat-checkbox>
                </ng-container>
                <ng-template #simple>
                    {{dataSource[col.field]}}
                </ng-template>
            </td>
            <td class="__icon-columns" (click)="routeToMasterByFragmentGroupLazy(dataSource)">
                <span class="ui-column-title">مشاهده نوبتی</span>
                <i class="tooltip _circle_border p_icons pi pi-folder-open">
                    <div class="tooltip_text_right">مشاهده نوبتی</div>
                </i>
            </td>
            <td class="__icon-columns" (click)="getExcel(dataSource)">
                <span class="ui-column-title">دریافت Excel</span>
                <i class="tooltip _circle_border p_icons pi pi-file-excel _xlsx">
                    <div class="tooltip_text_right">دریافت Excel</div>
                </i>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-ri="rowIndex" let-expanded="expanded">
        <tr>
            <td class="dtable_wrapper" colspan="7">
                <app-prime-table [dataSource]="closeTabService.simpleMasterByFragmentDetails[ri]"
                    [_outputFileName]="'simpleMasterByFragmentDetails'" [_checkUpName]="'simpleMasterByFragmentDetails'"
                    [_numberOfExtraColumns]="[1]" [_sessionName]="'simpleMasterByFragmentDetails-session'"
                    [_selectedColumnsToRemember]="'selectedSimpleMasterByFragmentDetails'" [_outputEnabled]="false"
                    [_isSortable]="false" [_hasSaveColumns]="false" (refreshedTable)="refreshTable()"
                    [_paginator]="false" [_hasRefreshTable]="false" [_captionEnabled]="false"
                    (routedToLoggs)="routeToOffloadLazy($event)">
                </app-prime-table>
            </td>
        </tr>
    </ng-template>

</p-table>

<section *ngIf="!closeTabService.simpleMasterByFragment">
    <tr class="empty_data">
        موردی پیدا نشد
        <i class="fa fa-folder-blank"></i>
    </tr>
</section>