<app-prime-table *ngIf="route.children.length === 0"     
    [_selectCols]="_selectCols" 
    [_selectedColumns]="selectedColumns"
    [dataSource]="dataSource" 
    [_outputFileName]="'offloaded'"
    [_checkUpName]="'offloaded'"
    [_sortField]="'insertDateJalali'"    
    [_numberOfExtraColumns]="[1, 2, 3 , 4]"
    [_calculableSUM]=true
    [_selectedColumnsToRemember]="'selectedTrackOffloaded'"
    [_sessionName]="'offloaded-session'"
    (refreshedTable)="refreshTable()"
    (downloadedOutputSingle)="downloadOutputSingle($event)"        
    (routeedToOffloadModify)="routeToOffloadModify($event)"        
    (routedToOffloadGeneralModify)="routeToOffloadGeneralModify($event)"        
    (backedToReading)="backToReading($event)"        
 > 
</app-prime-table>

<router-outlet></router-outlet>