<!-- <app-prime-table     
    [dataSource]="closeTabService.trackingOffloadedMaster" 
    [_outputFileName]="'offloadedMaster'"
    [_checkUpName]="'Kartables'"    
    [_numberOfExtraColumns]="trackingManagerService.denyTracking() ? [1,2,3]: [1,2,3,4,5]"
    [_sessionName]="'offloadedmaster-session'"
    [_selectedColumnsToRemember]="'selectedTrackOffloadedMaster'"    
    [_calculableSUM]=true            
    (refreshedTable)="refreshTable()"            
 > 
</app-prime-table> -->

<p-table #dtable *ngIf="closeTabService.trackingOffloadedMaster && closeTabService.trackingOffloadedMaster.length > 0"
    [columns]="selectedColumns" [value]="closeTabService.trackingOffloadedMaster" [rows]="10"
    [showCurrentPageReport]="true" currentPageReportTemplate="نمایش از {first} تا{last} از {totalRecords} مورد"
    [rowsPerPageOptions]="closeTabService._rowsPerPage" dir="rtl" dataKey="listNumber"
    styleClass="p-datatable-responsive _unset_overflow_tables" [responsive]="true" stateStorage="session"
    stateKey="offloadedmaster" [reorderableColumns]="trackingManagerService.getLocalReOrderable()" appUnSortTable>

    <ng-template pTemplate="caption">
        <p-multiSelect [maxSelectedLabels]="1" [options]="_selectCols" [(ngModel)]="selectedColumns"
            name="selectOptions" optionLabel="header" (ngModelChange)="setColumnsChanges('dataSource' ,$event)"
            selectedItemsLabel="{0} ستون انتخاب شده" placeholder="ستون ها" [filter]="true">
        </p-multiSelect>
        <div class="header_icons_wrap">
            <div class="right_side">
            </div>
            <div class="left_side">
                <!-- <i (click)="clearFilters(dtable)" [ngClass]="{'has_filters': hasFiltersInTable}"
                        class="_circle_border p_icons tooltip pi pi-filter-slash">
                        <div class="tooltip_text_right">حذف فیلترها</div>
                    </i>
                    <app-collapsable [_isCollapsed]=closeTabService.trackingOffloadedMasterReq._isCollapsed
                        (_clicked)="closeTabService.trackingOffloadedMasterReq._isCollapsed = !closeTabService.trackingOffloadedMasterReq._isCollapsed">
                    </app-collapsable> -->
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>

        <tr>
            <th></th>
            <th class="__headers" pReorderableColumn *ngFor="let col of columns" pSortableColumn="{{col.field}}">
                <p-sortIcon field="{{col.field}}"></p-sortIcon>
                {{col.header}}
            </th>
        </tr>
        <tr>
            <th></th>
            <th class="__headers" pReorderableColumn *ngFor="let col of columns">
                <p-columnFilter *ngIf="!col?.isBoolean" matchMode="contains" type="text" field="{{col.field}}">
                </p-columnFilter>
                <p-columnFilter *ngIf="col?.isBoolean" type="boolean" field="{{col.field}}"></p-columnFilter>
            </th>
        </tr>

    </ng-template>

    <ng-template pTemplate="body" let-dataSource let-columns="columns" let-ri="rowIndex" let-expanded="expanded">
        <tr>
            <td>
                <button type="button" [pRowToggler]="dataSource" class="_chevron"
                    [ngClass]="expanded ? 'pi pi-chevron-up' : 'pi pi-chevron-down'"
                    (click)="expanded ?  false : loadDetailPlease(dataSource, ri)">
                </button>
            </td>
            <td class="__columns" *ngFor="let col of columns">
                <span class="ui-column-title">{{col.header}}</span>
                <ng-container *ngIf="col.isBoolean; else simple">
                    <mat-checkbox [disabled]="true" name="isBoolean" [(ngModel)]="dataSource[col.field]">
                    </mat-checkbox>
                </ng-container>
                <ng-template #simple>
                    {{dataSource[col.field]}}
                </ng-template>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-ri="rowIndex" let-expanded="expanded">
        <tr>
            <td class="dtable_wrapper">
                <app-prime-table 
                    [dataSource]="closeTabService.trackingOffloadedDetails[ri]"               
                    [_outputFileName]="'offloadedDetails'" 
                    [_checkUpName]="'offloadedDetails'" 
                    [_numberOfExtraColumns]="[1]"
                    [_sessionName]="'offloadedDetails-session'"
                    [_selectedColumnsToRemember]="'selectedTrackOffloadedDetails'" 
                    [_outputEnabled]="false"
                    [_isSortable]="false" 
                    [_hasSaveColumns]="false" (refreshedTable)="refreshTable()"
                    [_paginator]="false" 
                    [_hasRefreshTable]="false" 
                    [_captionEnabled]="false"
                    (routeedToOffloadModify)="routeToOffloadModify($event)"
                    (routedToLoggs)="routeToOffloadLazy($event)"
                    >
                </app-prime-table>
            </td>
        </tr>
    </ng-template>

</p-table>

<section *ngIf="!closeTabService.trackingOffloadedMaster">
    <tr class="empty_data">
        موردی پیدا نشد
        <i class="fa fa-folder-blank"></i>
    </tr>
</section>