@import 'primeNG';
@import 'tooltip';
@import 'input.scss';
@import '_mat.scss';

.overall-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 23rem));
  gap: .25rem;
  direction: rtl;

  @media (min-width: 550px) {
    justify-content: center;
  }
}

.radios {
  background: var(--white);
  border-radius: $border_15 $border_15 0 0;
  padding: 0 0.2rem;

  .radio_group {
    justify-content: flex-start;
    display: flex;
    direction: rtl;
    flex-wrap: wrap;

    .mat-radio-button {
      margin-left: $font_05;
    }
  }
}

.under_zero {
  border-radius: $border_15;
  background-color: var(--primary_1);
  padding: 0 .2rem;
}

.has_error {
  position: relative;
  border: 2px solid var(--red_500);
  border-radius: $border_15;
}

.has_success {
  position: relative;
  border: none;
}


.error_info {
  position: absolute;
  display: flex;
  padding: 0 !important;
  left: 0;
  z-index: 100;
  border-radius: $border_15;
}

.info_icon {
  padding: $font_05;
  background-color: var(--red_600);
  color: var(--white);
  border-radius: $border_50;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0px 0px 1px 1px var(--thirdy_1);
  }
}

._save_all {
  width: 4rem;
  border-radius: 5px;
  border: 2px solid;
  background-color: var(--secondary_7);
  color: var(--secondary_5);
}
