@import 'primeNG';
@import 'tooltip';
@import 'input.scss';
@import '_mat.scss';

.overall-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 23rem));
  gap: .25rem;
  direction: rtl;

  @media (min-width: 550px) {
    justify-content: center;
  }
}

.radios {
  background: var(--white);
  border-radius: $border_15 $border_15 0 0;
  padding: 0 0.2rem;

  .radio_group {
    justify-content: flex-start;
    display: flex;
    direction: rtl;
    flex-wrap: wrap;

    .mat-radio-button {
      margin-left: $font_05;
    }
  }
}

.under_zero {
  border-radius: $border_15;
  background-color: var(--primary_1);
  padding: 0 .2rem;
}

.borderize {
  position: relative;
  border: 2px solid var(--red_500);
  border-radius: $border_15;
}

.error_info {
  position: absolute;
  display: flex;
  justify-content: space-around;
  left: 0;
  top: -1rem;
  z-index: 100;
  background: var(--white);
  padding: $font_05 0.2rem;
  text-align: center;
  border-radius: $border_15;
  box-shadow: 0px 2px 3px 1px var(--thirdy_3);

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: -1.5rem;
    height: 5rem;
    width: 12rem;
  }
}

.info_icon {
  padding: $font_05;
  background-color: var(--red_600);
  border-radius: $border_50;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0px 0px 1px 1px var(--thirdy_1);
  }
}
