<app-prime-table-editable     
    [dataSource]="closeTabService.saveDataForDynamicTraverse" 
    [_selectCols]="_selectCols" 
    [_selectedColumns]="selectedColumns"    
    [_isInRowEditing]=true
    [_checkUpName]="'dynamicTraverse'"    
    [_numberOfExtraColumns]="[1,2]"
    [_sessionName]="'dynamictrv-session'"
    [_selectedColumnsToRemember]="'selectedDynamicTraverse'"
    [newRow]="newRow()"
    [newRowLimit]="newRowLimit"
    (refreshedTable)="refreshTable()"
    (newedRowChangedStatus)="testChangedValue()"
    (onRowEditedSave)="onRowEditSave($event)"
    (onRowEditedCancelRowEditing)="onRowEditCancel($event)"
    (onRowEditedInit)="onRowEditInit($event)"
    (removedRowEditing)="removeRow($event)"
 > 
</app-prime-table-editable>
<!-- [_outputFileName]="'imgattr'" on prime table editable accur table not show data -->