<app-prime-table-editable     
    [dataSource]="closeTabService.saveDataForDynamicTraverse"     
    [_outputFileName]="dynamicTraverseColumns"
    [_isInRowEditing]=true
    [_checkUpName]="'dynamicTraverse'"    
    [_numberOfExtraColumns]="[1,2]"
    [_sessionName]="'dynamictrv-session'"
    [_selectedColumnsToRemember]="'selectedDynamicTraverse'"
    [newRow]="newRow()"
    [newRowLimit]="newRowLimit"
    (refreshedTable)="callAPI()"
    (newedRowChangedStatus)="testChangedValue()"
    (onRowEditedSave)="onRowEditSave($event)"
    (onRowEditedCancelRowEditing)="onRowEditCancel($event)"
    (onRowEditedInit)="onRowEditInit($event)"
    (removedRowEditing)="removeRow($event)"
 > 
</app-prime-table-editable>