<p-dropdown [options]="bankItems" [(ngModel)]="selectedBank" optionLabel="header" [filter]="true" filterBy="header"
    [showClear]="true" placeholder="انتخاب کنید">
    <ng-template pTemplate="selectedItem">
        <div class="inline_bank">
            <i [class]="selectedBank.name"></i>
            <div>{{ selectedBank.header }}</div>
        </div>
    </ng-template>
    <ng-template let-bank pTemplate="item">
        <div class="inline_bank">
            <i [class]="bank.name"></i>
            <div>{{ bank.header }}</div>
        </div>
    </ng-template>
</p-dropdown>
<section>
    <h2 class="title">{{bankReq.isEditing? 'ویرایش بانک': 'افزودن بانک'}}</h2>
    <hr>
    <form #form="ngForm" (ngSubmit)="verification()">
        <div class="content">
            <div class="input_icon" *ngFor="let mainDatas of columnManager.getColumnsMenus('bankDialog')">
                <i class="pi pi-bookmark _bookmark"></i>
                <div class="input_3">
                    <div class="_key">{{mainDatas.header}}</div>
                    <input class="_value" name="{{mainDatas.field}}" [(ngModel)]="bankReq[mainDatas.field]">
                </div>
            </div>
        </div>

        <footer>
            <button type="submit" class="btn_1">
                {{bankReq.isEditing? 'ویرایش بانک': 'افزودن بانک'}}
                <i class="pi pi-list"></i>
            </button>
        </footer>

    </form>
</section>