<app-prime-table-editable     
    [_selectCols]="_selectCols" 
    [_selectedColumns]="selectedColumns"
    [dataSource]="dataSource" 
    [_dictionaryName]="'zoneId'"
    [_checkUpName]="'counterState'"
    [dictionary]="zoneDictionary"    
    [_numberOfExtraColumns]="[1, 2]"
    [_outputEnabled]=false
    [_isInRowEditing]=true
    [_hasSaveColumns]=false
    [newRow]="newRow()"
    [newRowLimit]="newRowLimit"
    [_selectedColumnsToRemember]="'selectedCounterState'"
    [_sessionName]="'counterstate-session'"
    (newedRowChangedStatus)="testChangedValue()"
    (refreshedTable)="refreshTable()"     
    (removedRowEditing)="removeRow($event)"        
    (onRowEditedSave)="onRowEditSave($event)"
 > 
</app-prime-table-editable>