<app-prime-table-editable     
    [dataSource]="closeTabService.saveDataForCounterState" 
    [_outputFileName]="counterStateDto"
    [_dictionaryName]="'changableZoneId'"
    [_checkUpName]="'counterState'"
    [dictionary]="zoneDictionary"    
    [_numberOfExtraColumns]="[1, 2]"
    [_isInRowEditing]=true
    [newRow]="newRow()"
    [newRowLimit]="newRowLimit"
    [_sessionName]="'counterstate-session'"
    [_selectedColumnsToRemember]="'selectedCounterState'"
    (newedRowChangedStatus)="testChangedValue()"
    (refreshedTable)="callAPI()"     
    (removedRowEditing)="removeRow($event)"        
    (onRowEditedSave)="onRowEditSave($event)"
 > 
</app-prime-table-editable>