@import '../../../../assets/variable.scss';
@import '../../../../assets/button.scss';

$blue_darker: #000A63;
$blue_dark: #193E77;
$blue_medium: #002A69;
$blue_lovely: #0045CB;

.auth_1 {
  // display: flex;
  // flex-direction: column;
  // grid-template-columns: repeat(auto-fit, minmax(8rem, 10rem));
  // gap: .3rem;
  direction: rtl;

  .auth_1_item {
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid $blue_lovely;
    padding: $font_05;
    margin-bottom: $font_xs;
    max-width: 13rem;
    border-radius: 5px;
    font-size: $font_l;
    font-weight: 600;
    color: $blue_lovely;
    background-color: $white;
    box-shadow: 1px 1px 3px 0px $gray_e3;

    // &:hover,
    // &:focus,
    // &:active {
    //   background-color: $blue_d;
    //   color: $gray_l;
    // }
  }

}

.auth_2 {
  padding: $font_xs;
  margin-bottom: $font_s;
  border-radius: $border_s;
  min-height: 25rem;

  &:nth-child(odd) {
    background-color: $blue_darker;

    .auth_3 {
      background-color: $blue_medium;
    }
  }

  &:nth-child(even) {
    background-color: $blue_medium;

    .auth_3 {
      background-color: $blue_darker;
    }
  }

}

.auth_3 {
  margin: $font_05;
  margin-top: 2rem;
  padding: $font_xxs;
  border-radius: $border_s;
  min-height: 10rem;
}

.auth_4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 11rem));
  gap: .3rem;

  .checkboxes {
    display: flex;
    background: whitesmoke;
    border-radius: 15px;
    padding: .25rem;
  }
}

.text {
  padding: 0 $font_05;
  color: $gray_l;
  font-size: $font_m;
}

.text_btn {
  width: 8rem;
  padding: $font_05;
  margin-bottom: $font_05;
  font-size: $font_m;
  color: $gray_l;
  border: 2px solid $gray_l;
  box-shadow: 1px 1px 3px 0px $gray_d5;
}

.btn_1 {
  color: $gray_l;
}

.hr {
  width: 7rem;
  height: .2rem;
  background-color: $gray_l;
}


// materials 
::ng-deep {
  .mat-checkbox-layout {
    .mat-checkbox-label {
      margin: 0 $font_05;
      font-size: $font_s;
      font-weight: 600;
      color: $blue_d;
      line-height: 2;
      border-radius: $border_s;
      font-family: BLotus, "Blotus", tahoma, Sans-Serif;
    }
  }
}


//  province items

main {
  direction: rtl;
}

._content {
  background: $gray_d;
  padding: .2rem;
  margin: .2rem;
  border-radius: $border_s;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 17rem));
  grid-auto-flow: dense;
}

.l_1_c,
.l_2,
.l_3 {
  border-radius: $border_s;
  padding: 0.3rem .2rem;
}

.l_1 {
  display: grid;
  gap: .2rem;
  grid-template-columns: repeat(6, 1fr);

  .l_1_c {
    background: $blue_ll;
    color: $gray_dr;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .1rem;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: .5rem;
      border-style: solid;
      border-color: $blue_l transparent transparent transparent;
    }
  }
}

.l_2 {
  .l_2_c {
    background: $white;
    color: $gray_dr;
    margin-bottom: .2rem;
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.l_3_c {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background: $gray_l;

  .l_3 {
    font-size: 1.2rem;
    font-weight: 500;
  }

}

::ng-deep {
  .mat-checkbox-layout .mat-checkbox-label {
    margin: 0 .5rem;
  }
}

// role section
.roles {
  background: whitesmoke;
  border-radius: 5px;
  padding: .5rem;
}

.role_items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: $gray_d;
  padding: 1rem;
  margin: .2rem;
  border-radius: $border_s;
  margin-bottom: 2rem;

  h2 {
    color: $gray_dr2;
  }
}

// ts config
.toggle {
  grid-template-columns: repeat(auto-fit, minmax(7rem, 8rem));
  grid-template-rows: auto;
}

.toggle_content {
  grid-template-columns: auto;
}

// 
