<main>
    <section class="l_1">
        <div class="l_1_c" *ngFor="let provinceIt of provinceItemsData">
            <mat-checkbox class="example-margin" [checked]="allComplete" [indeterminate]="someComplete()"
                (change)="setAll($event.checked)">
                {{provinceIt.title}}
            </mat-checkbox>
        </div>
    </section>
    <section class="_content" *ngFor="let provinceIt of provinceItemsData">
        <div class="l_2" *ngFor="let regionIt of provinceIt.regionItems">

            <div class="l_2_c">
                <mat-checkbox (ngModelChange)="updateAllComplete()" (change)="setAllL2($event.checked , regionIt)">
                    <!--[(ngModel)]="regionIt.isChecked"-->
                    {{regionIt.title}}
                </mat-checkbox>
            </div>

            <div class="l_3_c">
                <div class="l_3" *ngFor="let zoneIt of regionIt.zoneItems">
                    <mat-checkbox [(ngModel)]="zoneIt.isSelected" (ngModelChange)="updateAllComplete()">
                        {{zoneIt.title}}
                    </mat-checkbox>
                </div>
            </div>

        </div>
    </section>
</main>

<section class="auth_1" *ngFor="let item of editContactData">
    <div class="auth_1_item">
        {{item.title}}
    </div>

    <section class="auth_2" *ngFor="let moduleIt of item.moduleItems">
        <div class="text">{{moduleIt.title}}</div>
        <div class="hr"></div>

        <section class="auth_3" *ngFor="let controllerIt of moduleIt.controllerItems">
            <div class="text_btn">{{controllerIt.title}}</div>

            <section class="auth_4">
                <div class="checkboxes" *ngFor="let actionIt of controllerIt.actionItems">
                    <mat-checkbox [(ngModel)]="actionIt.isSelected">
                        <!-- (ngModelChange)="updateAllComplete()" -->
                        {{actionIt.title}}
                    </mat-checkbox>
                </div>
            </section>
        </section>
    </section>

</section>
<button class="btn_1" (click)="editContactSource()">ذخیره تغییرات</button>