@import '../assets/variable';

app-clock {
  position: absolute;
  right: 0;
  top: $font_3;
  margin: 0.2rem; 
}

.polygon::after {
  content: '';
  position: fixed;
  background: $blue_d;
  clip-path: polygon(0 0, calc(100% - 20vw) 0%, calc(100% - 70vw) 100%, 0 100%);
  top: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
