@import 'variable';

.polygon {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.polygon::after {
  content: '';
  position: fixed;
  background: url('/assets/imgs/framework/bbd.jpg') #365475;
  clip-path: polygon(0 0, calc(100% - 20vw) 0%, calc(100% - 70vw) 100%, 0 100%);
  top: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.polygon::before {
  content: '';
  position: fixed;
  background: url('/assets/imgs/framework/bb.jpg') var(--gray_100);
  clip-path: polygon(calc(100% - 20vw) 0, 100% 0, 100% 100%, calc(100% - 70vw) 100%);
  top: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

app-clock {
  position: fixed;
  right: 1rem;
  top: $font_2;
  margin: 0.2rem;
  z-index: 23;

  @media (min-width:700px) {
    z-index: 35;
    top: .5rem;
  }
}
