@import "variable.scss";

.dropdown {
  position: relative;
  place-items: center;
  display: grid;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  background: var(--gray_100);
  font-size: $font_m;

  &:hover,
  &:focus {
    box-shadow: 0px 0px 1px 1px var(--blue_gray_300);
  }
}

.dropbtn {
  place-items: center;
  display: grid;
  background: none;
  border: none;
  font-size: $font_l;
  color: var(--blue_700);
  cursor: pointer;

  &:hover::after {
    content: '';
    position: absolute;
    width: 5rem;
    height: 2.3rem;
    top: 1rem;
    left: -1rem;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 2.4rem;
  left: 0;
  background-color: var(--gray_100);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: var(--blue_600);
  padding: .3rem 1rem;
  text-decoration: none;
  display: block;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;

  &:hover {
    background: var(--gray_300);

  }
}

.dropdown:hover .dropdown-content {
  display: block;
}
