<div class="dropdown">
    <button class="dropbtn">
        <i class="pi pi-user"></i>
    </button>
    <div class="dropdown-content">
        <div class="_name">
            {{displayName}}
            <div class="hr_dashed"></div>
        </div>
        <a [routerLink]="[routeToProfile]">
            تنظیمات کاربری
            <i class="pi pi-cog"></i>
        </a>
        <a [routerLink]="[myPreviousLogins]">
            ورود های من
            <i class="pi pi-sign-in"></i>
        </a>
        <a [routerLink]="[routeToLicense]">
            مجوز
            <i class="fas fa-certificate"></i>
        </a>
        <a [routerLink]="[routeToAboutUs]">
            درباره ما
            <img class="about_us_img" [src]="aboutUsImage" alt="">
        </a>
        <!-- <a (click)="linkToChat()">
            گفتگو
            <i class="fa fa-wechat"></i>
        </a> -->
        <a (click)="logout()">
            خروج از سامانه
            <i class="pi pi-sign-out"></i>
        </a>
    </div>
</div>