<div class="dropdown">
    <button class="dropbtn"><i class="fa fa-user"></i></button>
    <div class="dropdown-content">
        <a [routerLink]="[routeToProfile]">
            تنظیمات کاربری
            <i class="pi pi-user"></i>
        </a>
        <a [routerLink]="[routeToLicense]">
            مجوز
            <i class="fas fa-certificate"></i>
        </a>
        <a (click)="linkToChat()">
            گفتگو
            <i class="fab fa-rocketchat"></i>
        </a>
        <a (click)="logout()">
            خروج
            <i class="pi pi-sign-out"></i>
        </a>
    </div>
</div>