@import "variable.scss";

i {
  color: var(--primary_5);
}

._name {
  font-size: 1rem;
  padding: .5rem 0;
  color: var(--primary_5);
  margin: 2px 0;
  border-radius: $border_7;

  &:hover {
    background: var(--secondary_3);
  }

}

.dropdown {
  position: relative;
  place-items: center;
  display: grid;
  width: var(--font_23);
  height: var(--font_23);
  border-radius: 50%;
  font-size: var(--font_s);

  &:hover,
  &:focus-visible {
    --thirdy_opacity: rgba(108, 159, 214, 0.3);
    box-shadow: 0px 0px 1px 1px var(--thirdy_1);
    background-color: var(--thirdy_opacity);
  }

  @media (min-width: 550px) {
    font-size: var(--font_m);
  }
}

.dropbtn {
  place-items: center;
  display: grid;
  background: none;
  border: none;
  font-size: var(--font_l);
  cursor: pointer;

  &:hover::after {
    content: '';
    position: absolute;
    width: var(--font_5);
    height: var(--font_23);
    top: var(--font_xs);
    left: calc(-1 * var(--font_xs));
  }
}

.dropdown-content {
  position: absolute;
  direction: ltr;
  display: none;
  top: 105%;
  left: 0;
  background-color: var(--secondary_1);
  min-width: 13rem;
  padding: 0 0.5rem 0.5rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

._rotate {
  transform: rotate(180deg);
}

.dropdown-content a {
  color: var(--primary_4);
  padding: var(--font_03) var(--font_05);
  text-decoration: none;
  border-radius: $border_7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;

  &:hover {
    background: var(--secondary_3);
  }

  .about_us_img {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}