@import "variable.scss";

.dropdown {
  position: relative;
  place-items: center;
  display: grid;
  width: var(--font_23);
  height: var(--font_23);
  border-radius: 50%;
  background: var(--secondary_3);
  font-size: var(--font_m);

  &:hover,
  &:focus {
    box-shadow: 0px 0px 1px 1px var(--thirdy_1);
  }
}

.dropbtn {
  place-items: center;
  display: grid;
  background: none;
  border: none;
  font-size: var(--font_l);
  color: var(--primary_5);
  cursor: pointer;

  &:hover::after {
    content: '';
    position: absolute;
    width: var(--font_5);
    height: var(--font_23);
    top: var(--font_xs);
    left: calc(-1 * var(--font_xs));
  }

  ._message {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 2rem;
    height: 2rem;
    color: var(--secondary_1);
    border-radius: 50%;
    background-color: var(--orange_500);
    right: -1rem;
    bottom: -.8rem;
  }

  ._badge {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 1.3rem;
    height: 1.3rem;
    color: var(--secondary_1);
    border-radius: 50%;
    background-color: var(--orange_600);
    right: -0.5rem;
    bottom: -0.3rem;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 105%;
  left: 0;
  background-color: var(--secondary_1);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: var(--primary_4);
  padding: var(--font_03) var(--font_05);
  text-decoration: none;
  display: block;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;

  &:hover {
    background: var(--secondary_3);
  }

  .about_us_img {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}