<main class="container">

    <section class="card" *ngFor="let item of dataSource.changeHistory; index as i">
        <div class="title"></div>
        <div class="_number">{{i+1}}</div>

        <div>
            <div class="val">{{item.trackStatusTitle}}</div>
        </div>
        <hr>
        <div class="_key_value">
            <div class="_key">مامور</div>
            <div class="_value">{{item.counterReaderName}}</div>
        </div>
        <div class="_key_value">
            <div class="_key">تاریخ ثبت</div>
            <div class="_value">{{item.insertDateJalali}}</div>
        </div>
    </section>

</main>