<main class="main">
    <form #form="ngForm" (ngSubmit)="connectToServer()">
        <section class="static_part">

            <section class="content">
                <div class="input_2" [hidden]="!zoneDictionary.length">
                    <div class="_key">ناحیه</div>
                    <div class="_value">
                        <p-dropdown name="zones" [options]="zoneDictionary"
                            [(ngModel)]="closeTabService.saveDataForImportDataFileExcelReq.zoneId"
                            placeholder="انتخاب مورد" optionValue="id" optionLabel="title" filter="true"
                            (onChange)="verificationACounterReaderId()">
                        </p-dropdown>
                    </div>
                </div>
                <!-- when zone id and kind id get -->
                <div class="input_2" [hidden]="!readingPeriodKindsDictionary.length">
                    <div class="_key">نوع دوره</div>
                    <div class="_value">
                        <mat-select placeholder="انتخاب مورد" [(ngModel)]="kindId" name="kindId">
                            <mat-option *ngFor="let truefalse of readingPeriodKindsDictionary" [value]="truefalse.id"
                                (click)="verificationReadingPeriod()">
                                {{truefalse.title}}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="input_2" [hidden]="!readingPeriodDictionary.length">
                    <div class="_key">دوره قرائت</div>
                    <div class="_value">
                        <mat-select placeholder="انتخاب مورد"
                            [(ngModel)]="closeTabService.saveDataForImportDataFileExcelReq.readingPeriodId"
                            name="readingPeriodId">
                            <mat-option *ngFor="let truefalse of readingPeriodDictionary" [value]="truefalse.id">
                                {{truefalse.title}}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="input_2" *ngIf="userCounterReader.length">
                    <div class="_key">قرائت کننده</div>
                    <div class="_value">
                        <p-dropdown name="counterreader" #counterreader [options]="userCounterReader"
                            [(ngModel)]="closeTabService.saveDataForImportDataFileExcelReq.counterReaderId"
                            optionLabel="title" [filter]="true" filterBy="title" optionValue="id" [showClear]="true"
                            placeholder="انتخاب مورد">
                        </p-dropdown>
                    </div>
                </div>
                <div class="input_2">
                    <div class="_key">سال</div>
                    <div class="_value">
                        <mat-select placeholder="انتخاب مورد"
                            [(ngModel)]="closeTabService.saveDataForImportDataFileExcelReq.year" name="year">
                            <mat-option *ngFor="let truefalse of closeTabService.years" [value]="truefalse.value">
                                {{truefalse.title}}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="input_2">
                    <div class="_key">ش لیست</div>
                    <input class="_value double_size" name="listNumber"
                        [(ngModel)]="closeTabService.saveDataForImportDataFileExcelReq.listNumber">
                </div>
                <div class="input_2 double_size">
                    <div class="_key">توضیحات</div>
                    <input class="_value" name="desc"
                        [(ngModel)]="closeTabService.saveDataForImportDataFileExcelReq.description">
                </div>
                <div class="input_2" [hidden]="!_showAlalHesabPercent">
                    <div class="_key">درصد علی‌الحساب</div>
                    <input class="_value" min="0" max="100" type="number" name="alalHesabPercent"
                        [(ngModel)]="closeTabService.saveDataForImportDataFileExcelReq.alalHesabPercent">
                </div>
                <div class="input_2" [hidden]="!_showimagePercent">
                    <div class="_key">درصد تصویر</div>
                    <input class="_value" type="number" min="0" max="100" name="imagePercent"
                        [(ngModel)]="closeTabService.saveDataForImportDataFileExcelReq.imagePercent">
                </div>
            </section>

            <div class="check_boxes" *ngIf="!importDynamicService.utilsService.getDenyTracking()">
                <mat-checkbox name="hasPreNumber"
                    [(ngModel)]="closeTabService.saveDataForImportDataFileExcelReq.hasPreNumber">
                    رقم قبلی
                </mat-checkbox>

                <mat-checkbox name="billId"
                    [(ngModel)]="closeTabService.saveDataForImportDataFileExcelReq.displayBillId">
                    شناسه قبض
                </mat-checkbox>

                <mat-checkbox name="displayRadif"
                    [(ngModel)]="closeTabService.saveDataForImportDataFileExcelReq.displayRadif">
                    ش.پرونده
                </mat-checkbox>

                <mat-checkbox name="displayPreDate"
                    [(ngModel)]="closeTabService.saveDataForImportDataFileExcelReq.displayPreDate">
                    تاریخ قبلی
                </mat-checkbox>

                <mat-checkbox name="displayMobile"
                    [(ngModel)]="closeTabService.saveDataForImportDataFileExcelReq.displayMobile">
                    موبایل
                </mat-checkbox>

                <mat-checkbox name="hasImage" [(ngModel)]="closeTabService.saveDataForImportDataFileExcelReq.hasImage">
                    تصویر
                </mat-checkbox>

                <mat-checkbox name="displayDebt"
                    [(ngModel)]="closeTabService.saveDataForImportDataFileExcelReq.displayDebt">
                    بدهی
                </mat-checkbox>

                <mat-checkbox name="displayIcons"
                    [(ngModel)]="closeTabService.saveDataForImportDataFileExcelReq.displayIcons">
                    آیکن
                </mat-checkbox>

                <mat-checkbox name="skipErrors"
                    [(ngModel)]="closeTabService.saveDataForImportDataFileExcelReq.skipErrors">
                    نادیده گرفتن خطا
                </mat-checkbox>

                <i id="sampleExl" (click)="getExcelSample()"
                    class="tooltip _circle_border _xlsx_download pi pi-download">
                    <div class="tooltip_text">دانلود نمونه فایل Excel</div>
                </i>
            </div>

            <section>
                <label *ngIf="!choosenFileName" class="btn_2 not_choosen_file" for="files"
                    title="فایلی انتخاب نشده است">
                    <span class="pi pi-file-excel"></span>
                    فایل <small>Excel</small> انتخاب نمایید
                </label>
                <label *ngIf="choosenFileName" class="label_choose_file" for="files">
                    {{choosenFileName}}
                </label>
                <input #screenshotInput name="فایلی انتخاب کنید" class="btn_2 _choose_file hidden" type="file"
                    name="screenshot" (change)="onChange($event)" id="files">
            </section>

            <footer class="footer_with_background">
                <button *ngIf="_canShowAddButton" type="submit" class="btn_1">صدور لیست</button>
            </footer>

        </section>

    </form>
</main>