@import 'primeNG';
@import 'input';
@import 'button';
@import 'cards';

.static_part {
  display: grid;
  justify-content: center;
}

._container {
  position: relative;
  margin: auto var(--font_3);
}

.center_footer {
  text-align: center;
  margin-top: var(--font_xs);
}
