@import 'primeNG';
@import 'input';
@import 'button';

.input_2 {
  direction: rtl;
}

._value {
  border: none;
}

.static_part {
  display: grid;
  justify-content: center;
}

._container {
  position: relative;
  margin: auto var(--font_3);
}

.content {
  display: grid;
  direction: rtl;
  width: 20rem;
  gap: var(--font_xs);
  background: var(--secondary_1);
  padding: var(--font_s);
}


.center_footer {
  text-align: center;
  margin-top: var(--font_xs);
}
