<main class="main">
    <app-prime-table  
        [dataSource]="closeTabService.saveDataForFragmentNOB" 
        [_outputFileName]="fragmentMasterColumns"
        [_checkUpName]="'branches'"
        [_numberOfExtraColumns]="[1,2,3,4,5]"
        [_outputEnabled]=false
        [isAddableTable]="true"    
        [_sessionName]="'fragmentmaster-session'"
        [_selectedColumnsToRemember]="'selectedRRMaster'"        
        (refreshedTable)="callAPI()"      
        (showedMoreDetails)="removeFragmentMaster($event)"    
        (openedAddDialog)="openDialog()"                    
        (openedEditDialog)="openDialog($event)"
        (showedInMapSingle)="getIsValidateRow($event)"
        (showedPictures)="routeToAutomaticImport($event)"
        (openedMoshtarakinDialog)="fragmentManagerService.routeToFragmentDetails($event)"
    > 
    </app-prime-table>
</main>