<main class="main">
    <form #form="ngForm" (ngSubmit)="connectToServer()">
        <section class="static_part">

            <section class="content">

                <div class="input_icon" [hidden]="!zoneDictionary.length">
                    <i class="pi pi-bookmark _bookmark"></i>
                    <div class="input_3">
                        <div class="_key">ناحیه</div>
                        <div class="_value">
                            <mat-select placeholder="انتخاب مورد"
                                [(ngModel)]="allImportsService.allImports_batch.zoneId" name="zoneId">
                                <mat-option *ngFor="let truefalse of zoneDictionary" [value]="truefalse.id">
                                    {{truefalse.title}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                </div>
                <div class="input_icon">
                    <i class="pi pi-bookmark _bookmark"></i>
                    <div class="input_3">
                        <div class="_key">ش.لیست</div>
                        <input [readOnly]="true" class="_value _smaller_font" name="listNumber"
                            [(ngModel)]="allImportsService.allImports_batch.listNumber">
                    </div>
                </div>
                <div class="input_icon">
                    <i class="pi pi-bookmark _bookmark"></i>
                    <div class="input_3">
                        <div class="_key">درصد علی‌الحساب</div>
                        <input class="_value" min="0" max="100" type="number" name="alalHesabPercent"
                            [(ngModel)]="allImportsService.allImports_batch.alalHesabPercent">
                    </div>
                </div>
                <div class="input_icon">
                    <i class="pi pi-bookmark _bookmark"></i>
                    <div class="input_3">
                        <div class="_key">درصد تصویر</div>
                        <input class="_value" min="0" max="100" type="number" name="imagePercent"
                            [(ngModel)]="allImportsService.allImports_batch.imagePercent">
                    </div>
                </div>
            </section>

            <div class="check_boxes" *ngIf="!importDynamicService.utilsService.getDenyTracking()">
                <mat-checkbox name="hasPreNumber" [(ngModel)]="allImportsService.allImports_batch.hasPreNumber">
                    رقم قبلی
                </mat-checkbox>

                <mat-checkbox name="displayBillId" [(ngModel)]="allImportsService.allImports_batch.displayBillId">
                    شناسه قبض
                </mat-checkbox>

                <mat-checkbox name="displayRadif" [(ngModel)]="allImportsService.allImports_batch.displayRadif">
                    ش.پرونده
                </mat-checkbox>

                <mat-checkbox name="displayPreDate" [(ngModel)]="allImportsService.allImports_batch.displayPreDate">
                    تاریخ قبلی
                </mat-checkbox>

                <mat-checkbox name="displayMobile" [(ngModel)]="allImportsService.allImports_batch.displayMobile">
                    موبایل
                </mat-checkbox>

                <mat-checkbox name="hasImage" [(ngModel)]="allImportsService.allImports_batch.hasImage">
                    تصویر
                </mat-checkbox>

                <mat-checkbox name="displayDebt" [(ngModel)]="allImportsService.allImports_batch.displayDebt">
                    بدهی
                </mat-checkbox>

                <mat-checkbox name="displayIcons" [(ngModel)]="allImportsService.allImports_batch.displayIcons">
                    آیکن
                </mat-checkbox>

            </div>
        </section>

        <h2 *ngIf="_successImportBatchMessage.toString().trim().length !== 0">{{_successImportBatchMessage}}
            <i class="pi pi-check p_icons _circle_border"></i>
        </h2>

        <p-table *ngIf="closeTabService.saveDataForSimafaBatch && closeTabService.saveDataForSimafaBatch.length > 0"
            id="tdm" [columns]="selectedColumns" [value]="closeTabService.saveDataForSimafaBatch" [paginator]="true"
            [rows]="10" [showCurrentPageReport]="true"
            currentPageReportTemplate="نمایش از {first} تا{last} از {totalRecords} مورد"
            [rowsPerPageOptions]="closeTabService._rowsPerPage" dir="rtl"
            styleClass="p-datatable-responsive _unset_overflow_tables" stateStorage="session"
            stateKey="simafa-batchsession" dataKey="id"
            [reorderableColumns]="importDynamicService.profileService.getLocalReOrderable()">

            <ng-template pTemplate="caption">
                <p-multiSelect [maxSelectedLabels]="1" [options]="_selectCols" [(ngModel)]="selectedColumns"
                    name="selectOptions" optionLabel="header"
                    (ngModelChange)="importDynamicService.columnManager.setColumnsChanges(importDynamicService.ENSelectedColumnVariables.selectedSimafaBatch ,$event)"
                    selectedItemsLabel="{0} ستون انتخاب شده" placeholder="ستون ها" [filter]="true">
                </p-multiSelect>
                <div class="header_icons_wrap">
                    <div class="right_side">
                    </div>
                    <div class="left_side">
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th class="__headers" pReorderableColumn *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>

            <ng-template hidden="!dataSource" pTemplate="body" let-dataSource let-columns="columns" let-ri=rowIndex>
                <tr>
                    <td class="__columns" *ngFor="let col of columns">
                        <span class="ui-column-title">{{col.header}}</span>
                        <ng-container *ngIf="col.isBoolean; else dropdown">
                            <mat-checkbox [disabled]="true" name="isBoolean" [(ngModel)]="dataSource[col.field]">
                            </mat-checkbox>
                        </ng-container>
                        <ng-template #dropdown>
                            <ng-container *ngIf="col.isSelectOption; else simple">
                                <div *ngIf="dataSource.counterReaderName">{{dataSource.counterReaderName}}</div>
                                <div *ngIf="!dataSource.counterReaderName">
                                    <p-dropdown name="counterReader" [options]="userCounterReaderDictionary"
                                        (onChange)="clickedDropDowns($event, dataSource, ri)"
                                        [(ngModel)]="allImportsService.allImports_batch.routeAndReaderIds[ri].counterReaderId"
                                        placeholder="انتخاب مورد" optionValue="id" optionLabel="title" [filter]="true"
                                        [showClear]="true">
                                    </p-dropdown>
                                </div>
                            </ng-container>
                            <ng-template #simple>
                                {{dataSource[col.field]}}
                            </ng-template>
                        </ng-template>
                    </td>
                </tr>
            </ng-template>

        </p-table>

        <section *ngIf="!closeTabService.saveDataForSimafaBatch">
            <tr class="empty_data">
                موردی پیدا نشد
                <i class="fa fa-folder-blank"></i>
            </tr>
        </section>
        <footer *ngIf="allImportsService.allImports_batch._canShowImportBatchButton">
            <button type="submit" class="btn_1">صدور لیست</button>
        </footer>
    </form>

</main>