<main class="main">
    <form #form="ngForm" (ngSubmit)="connectToServer()">
        <section class="static_part">

            <section class="content">

                <div class="input_2" [hidden]="!zoneDictionary.length">
                    <div class="_key">ناحیه</div>
                    <mat-select placeholder="انتخاب مورد" [(ngModel)]="allImportsService.allImports_batch.zoneId"
                        name="zoneId">
                        <mat-option *ngFor="let truefalse of zoneDictionary" [value]="truefalse.id">
                            {{truefalse.title}}
                        </mat-option>
                    </mat-select>
                </div>

                <div class="input_2 this">
                    <div class="_key">درصد علی‌الحساب</div>
                    <input class="_value" min="0" max="100" type="number" name="alalHesabPercent"
                        [(ngModel)]="allImportsService.allImports_batch.alalHesabPercent">
                </div>
                <div class="input_2 this">
                    <div class="_key">درصد تصویر</div>
                    <input class="_value" min="0" max="100" type="number" name="imagePercent"
                        [(ngModel)]="allImportsService.allImports_batch.imagePercent">
                </div>

            </section>

            <div class="check_boxes">
                <mat-checkbox name="hasPreNumber" [(ngModel)]="allImportsService.allImports_batch.hasPreNumber">
                    شماره قبلی
                </mat-checkbox>

                <mat-checkbox name="displayBillId" [(ngModel)]="allImportsService.allImports_batch.displayBillId">
                    نمایش شناسه قبض
                </mat-checkbox>

                <mat-checkbox name="displayRadif" [(ngModel)]="allImportsService.allImports_batch.displayRadif">
                    نمایش ش.پرونده
                </mat-checkbox>

            </div>
        </section>

        <h2 *ngIf="_successImportBatchMessage.toString().trim().length !== 0">{{_successImportBatchMessage}}
            <i class="pi pi-check p_icons _circle_border"></i>
        </h2>

        <p-table id="tdm" [columns]="selectedColumns" [value]="closeTabService.saveDataForSimafaBatch"
            [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            currentPageReportTemplate="نمایش از {first} تا{last} از {totalRecords} مورد"
            [rowsPerPageOptions]="[10, 100, 1000, 5000]" dir="rtl" styleClass="p-datatable-responsive"
            [responsive]="true" stateStorage="session" stateKey="simafa-batchsession" dataKey="id"
            [resizableColumns]="importDynamicService.getLocalResizable()"
            [reorderableColumns]="importDynamicService.getLocalReOrderable()">

            <ng-template pTemplate="caption">
                <p-multiSelect [maxSelectedLabels]="2" [options]="_selectCols" [(ngModel)]="selectedColumns"
                    name="selectOptions" optionLabel="header"
                    (ngModelChange)="importDynamicService.setColumnsChanges(importDynamicService.ENSelectedColumnVariables.selectedSimafaBatch ,$event)"
                    selectedItemsLabel="{0} ستون انتخاب شده" [style]="{minWidth: '200px'}" placeholder="ستون ها"
                    [filter]="true" showClear="true">
                </p-multiSelect>
                <div class="header_icons_wrap">
                    <div class="right_side">
                    </div>
                    <div class="left_side">
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th pResizableColumn pReorderableColumn *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>

            <ng-template hidden="!dataSource" pTemplate="body" let-dataSource let-columns="columns" let-ri=rowIndex>
                <tr>
                    <td *ngFor="let col of columns">
                        <span class="ui-column-title">{{col.header}}</span>
                        <ng-container *ngIf="col.isBoolean; else dropdown">
                            <mat-checkbox [disabled]="true" name="isBoolean" [(ngModel)]="dataSource[col.field]">
                            </mat-checkbox>
                        </ng-container>
                        <ng-template #dropdown>
                            <ng-container *ngIf="col.isSelectOption; else simple">
                                <div *ngIf="dataSource.counterReaderName">{{dataSource.counterReaderName}}</div>
                                <div *ngIf="!dataSource.counterReaderName">
                                    <p-dropdown name="counterReaderId" [options]="userCounterReaderDictionary"
                                        [(ngModel)]="allImportsService.allImports_batch.routeAndReaderIds[ri].counterReaderId"
                                        placeholder="انتخاب مورد" [style]="{'minWidth': '10rem','width':'100%'}"
                                        optionValue="id" optionLabel="title" [filter]="true" [showClear]="true">
                                    </p-dropdown>
                                </div>
                            </ng-container>
                            <ng-template #simple>
                                {{dataSource[col.field]}}
                            </ng-template>
                        </ng-template>
                    </td>
                </tr>
            </ng-template>

        </p-table>

        <section *ngIf="!closeTabService.saveDataForSimafaBatch">
            <tr class="empty_data">
                موردی پیدا نشد
            </tr>
        </section>
        <footer *ngIf="_canShowImportBatchButton">
            <button type="submit" class="btn_1">صدور لیست</button>
        </footer>
    </form>

</main>