<ul class="ul" [hidden]="sid_isSmall || smallScreen">
    <li *ngFor="let item of currentRoute; index as i" (click)="toggleSubItems(item)" routerLinkActive="active">
        <a class="btn">
            <div class="ul_items">
                <i class="{{item.cssClass}} icons"></i>
                <div class="on_show">
                    {{item.title}}
                    <i class="pi pi-angle-up"></i>
                </div>
            </div>
        </a>
        <div class="sub_item_1" *ngFor="let subItem of item.subItems" (click)="$event.stopPropagation()"
            [routerLink]="subItem.route" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            [hidden]="!item.isOpen">
            {{subItem.title}}
        </div>
    </li>
</ul>

<ul class="ul_2" *ngIf="sid_isSmall">
    <li class="li_2" *ngFor="let item of currentRoute; index as i" (click)="toggleSubItems(item)"
        routerLinkActive="active_2">
        <div class="btn_2">
            <i class="{{item.cssClass}} icons _small_notshow"></i>

            <div class="_small_show">
                <i class="pi pi-angle-up"></i>
                <div class="title _small_show">{{item.title}}</div>
                <i class="{{item.cssClass}} icons _small_show"></i>
            </div>
            <div class="_test_show">
                <div class="sub_item_1" *ngFor="let subItem of item.subItems" (click)="$event.stopPropagation()"
                    [routerLink]="subItem.route" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                    [hidden]="!item.isOpen">
                    {{subItem.title}}
                </div>
            </div>
            <div class="_show _small_notshow">
                <h3>{{item.title}}</h3>
                <hr>
                <div class="sub_item_2" *ngFor="let subItem of item.subItems" [routerLink]="subItem.route"
                    routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    {{subItem.title}}
                </div>
            </div>
        </div>

    </li>
</ul>