@import '../../../assets/variable.scss';

nav {
  direction: rtl;
}

.ul {
  position: relative;
  right: 0;
  list-style-type: none;
  padding: $font_xs 0;
  margin-left: .2rem;
  margin-top: 0;
  height: 85vh;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all ease-in-out 150ms;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

ul::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.ul li {
  margin-left: .2rem;
  cursor: pointer;
  border-radius: $font_2 0 0 $font_2;
  background: $gray_e3;
  margin-bottom: $font_05;
  padding: $font_05 0.1rem;
  border: 1px solid;
}

.ul li {
  width: 100%;
  direction: rtl;

  .btn {
    font-size: $font_m;
    font-weight: 600;
    color: $blue_dr;

    .on_show {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      white-space: nowrap;
      z-index: 500;
      animation: toggle_side 150ms;
    }
  }

  .pi-angle-up {
    transform: rotate(0);
    transition: transform ease-in-out 150ms;
    color: $blue_d;

  }

  // ts config for on close/open lists
  .tsConfig {
    transform: rotate(180deg);
    color: $dark_ddd;
  }

  // 



  &.active {
    border: 2px solid $dark_ddd;

    .on_show,
    .icons {
      color: $dark_ddd;
    }

  }
}

.sub_item_1,
.sub_item_2 {
  background: #e9ecef;
  border: 1px solid;
  padding: .3rem 0.87rem;
  margin: 0.4rem 0.2rem;
  text-align: right;

  height: auto;
  border-radius: $border_s;
  overflow: visible;

  color: $blue_d;
  font-size: $font_m;
  font-weight: 600;
  outline: none;

  &:hover {
    background: linear-gradient(to left, $dark_ddd, rgba(255, 0, 0, 0));
  }
}

.active {
  background: linear-gradient(to left, rgba(255, 0, 0, 0), $dark_ddd);
}

.active_2 {
  .btn_2 {
    border: 2px solid $dark_ddd;
  }

  .icons {
    color: $dark_ddd;
  }
}

.ul_items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ul::after {
  content: '';
  position: absolute;
  background: #e9ecef;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 50% 50%);
  top: 0;
  bottom: 0;
  border-radius: $border_s;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  z-index: -1;
}

.ul::before {
  content: '';
  position: absolute;
  background: $blue_d;
  clip-path: polygon(0 0, 100% 0, 50% 50%, 100% 100%, 0 100%);
  top: 0;
  bottom: 0;
  border-radius: $border_s;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  z-index: -1;
}


// for small sidebar we added ngIf and separate scss
.ul_2 {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.btn_2 {
  cursor: pointer;
  border-radius: $font_2 0 0 $font_2;
  background: $gray_e3;
  margin-bottom: $font_05;
  padding: $font_05 0 $font_05 $font_05;
  border: 1px solid;
}

.li_2 {
  position: relative;

  h3 {
    color: $blue_d;
  }

  &:hover {
    ._show {
      visibility: visible;
    }
  }
}

.sub_item_2 {
  cursor: pointer;
}


i.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.2rem 0 .3rem;
  font-size: $font_l;
  width: 1.87rem;
  color: $blue_d;
}

._show {
  visibility: hidden;
  display: block;
  z-index: 4;
  position: absolute;
  width: 15rem;
  right: 4rem;
  background: $gray_d5;
  top: $font_05;
  height: 100%;
  padding: $font_05;
  min-height: 10rem;
  height: auto;
  border-radius: $border_s;

  h3 {
    font-size: $font_m;
    font-weight: 600;
    color: $blue_dr;
  }

  & a {
    display: block;
    padding-right: .3rem;
    margin-bottom: .3rem;
    color: $gray_dr;
    font-size: $font_m;
    font-weight: 600;
    border-radius: $border_s;
  }
}


@keyframes toggle_side {
  0% {
    visibility: hidden;
  }

  50% {
    visibility: hidden;
  }

  80% {
    visibility: visible;
  }
}
