@import 'variable.scss';
@import '../_layouts/layout/layout.component.scss';

ul {
  position: relative;
  direction: rtl;
  margin-bottom: var(--font_02);
  margin: 2px 0;
  padding-bottom: 1rem;
  padding: 0;
  list-style-type: none;

  li {
    margin-bottom: 4px;
  }

  ._list_out {}

  ._list_show_details {
    padding: 1px 2px;
    font-weight: 600;
  }

  ._list_header {
    display: flex;
    align-items: center;
    background-color: var(--sidebar_3);
    border-radius: $border_100vmax $border_5 $border_5 $border_100vmax;
    padding: 5px 3px;
    cursor: pointer;

    .icons {
      font-size: var(--font_m2);
      width: 1.87rem;
      color: var(--sidebar_1);
    }

    &:hover,
    &:focus {
      box-shadow: 0 0px 0px 1px var(--sidebar_5);
    }
  }

  ._list_title {
    margin-left: auto;
    margin-right: 2px;
    color: var(--sidebar_1);
    font-size: var(--font_s);
  }

  .__list_items_out {
    background: var(--sidebar_3);
    padding: 2px 0;
    border-radius: 7px;
  }

  .__list_items_in {
    background: var(--sidebar_2);
    border: 1px solid var(--sidebar_1);
    padding: 2px 6px;
    margin: 0.13rem var(--font_02);
    text-align: right;

    border-radius: $border_100vmax;
    color: var(--sidebar_1);
    font-size: var(--font_ss);
    font-weight: 600;
    cursor: pointer;

    &:hover,
    &:focus {
      background: var(--primary_4);
      color: var(--white);
      border-color: var(--primary_4);
    }
  }

  .active_list {
    ._list_header {
      background-color: var(--sidebar_5);
    }

    ._list_title {
      font-size: calc(var(--font_s) + var(--font_01));
    }
  }

  .active {
    background: var(--thirdy_1);
    color: var(--white);
  }

  &::before {
    content: "";
    position: absolute;
    background: var(--sidebar_back1);
    -webkit-clip-path: polygon(0 0, 100% 0, 50% 50%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 50% 50%, 100% 100%, 0 100%);
    top: 0;
    bottom: 0;
    border-radius: $border_7;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    z-index: -1;
  }

  &::after {
    content: '';
    position: absolute;
    background: var(--sidebar_back2);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 50% 50%);
    top: 0;
    bottom: 0;
    border-radius: $border_7;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    z-index: -1;
  }
}

// screens less than 550px ::before and ::after effects(background of sidebar)
// should disapear after toggle bottun clicked
._ul_not_show {

  ._list_header {
    display: flex;
    justify-content: center;
    position: relative;
  }

  ._list_show_details {
    display: block;
  }

  .__list_items_out {
    display: none;
  }

  @media (min-width: 550px) {
    // display block make icons visible when just icons show on more than 550px screens 
    // because less than 550px overrides need

    ._list_title {
      display: none;
    }

    .pi-angle-up {
      display: none;
    }

    &:hover {
      ._list_title {
        display: block;
      }

      .pi-angle-up {
        display: block;
      }

      .__list_items_out {
        display: block;
        background: var(--sidebar_3);
        padding: 2px 0;
        border-radius: 7px;
      }

    }
  }
}

// ts config for toggle angle-icon
._toggle_angule {
  transform: rotate(180deg) !important;
  color: var(--primary_2) !important;
}

.pi-angle-up {
  transform: rotate(0);
  transition: transform ease-in-out 150ms;
  color: var(--sidebar_1);
}

//
