<div class="side_bar">
    <ul>
        <li *ngFor="let item of currentRoute; index as i" [routerLink]="[item.routerUrl]" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }" (click)="toggleSubItems(item)">
            <a class="btn">
                <div class="ul_items">
                    <i class="fa fa-bar-chart"></i>
                    {{item.name}}
                    <i class="fa fa-arrow-circle-down"></i>

                </div>
            </a>
            <div class="sub_item" [hidden]="!item.isOpenItems">
                <a href="#">sub_1</a>
                <a href="#">sub_2</a>
                <a href="#">sub_3 </a>
            </div>
        </li>

    </ul>
</div>