@import '../../../frame-work/manage/shared_dialog';
@import '../../../../assets/button.scss';

.mat-dialog-content {
  color: $gray_700;
  font-size: $font_s;
  text-align: right;
  word-spacing: .3rem;
}

strong {
  color: $blue_600;
}
