@import 'shared_dialog';
@import 'button.scss';

.mat-dialog-content {
  color: $gray_700;
  font-size: $font_s;
  text-align: right;
  word-spacing: .3rem;
}

strong {
  color: $blue_600;
}

._circle_border {
  color: $green_500;
  border: 2px solid $green_500;
  margin-left: $font_xs;
}

h2 {
  display: flex;
  justify-content: center;
}

._key_value {
  columns: 2;
  text-align: center;
  column-rule: 1px dashed $blue_400;
  direction: rtl;
}

.key,
.val {
  font-weight: 600;
}

._text {
  margin-left: $font_xs;
}
