@import '../../../../../assets/variable.scss';

::ng-deep {
  .dp-picker-input {
    font-weight: 600;
    font-size: 1.2rem !important;
    border: none;
    border-radius: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    width: auto !important;
    outline: none;
    text-align: center;
    padding: 1.1rem 0;
    background: transparent;
    color: $blue_700 !important;
    cursor: pointer;
  }

  .dp-calendar-weekday {
    font-size: 1.15rem !important;
  }

  .dp-calendar-day {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .dp-nav-header-btn {
    font-size: 1.1rem;
    font-weight: bold;
  }

  .dp-current-location-btn {
    background: $red_500 !important;
    border: 1px solid $red_500 !important;
  }

  .dp-calendar-nav-container-left,
  .dp-calendar-nav-container-right {
    padding: 0 1rem !important;
  }

  .dp-nav-header-btn {
    height: 27px !important;
  }

  .dp-calendar-month {
    font-size: 1rem !important;
    font-weight: 600;
  }

}
