@import 'variable.scss';

::ng-deep {
  .dp-picker-input {
    font-weight: 600;
    font-size: 1.2rem !important;
    border: none;
    border-radius: 15px;
    height: 30px;
    width: 8rem !important;
    outline: none;
    text-align: center;
    padding: 1.1rem 0;
    background: transparent;
    color: var(--blue_700) !important;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    @media (min-width:550px) {
      width: auto !important;
    }
  }

  #datepicker.ui-widget-content {
    z-index: 100;
  }

  .dp-calendar-weekday {
    font-size: 1.15rem !important;
  }

  .dp-calendar-day {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .dp-nav-header-btn {
    font-size: 1.1rem;
    font-weight: bold;
  }

  .dp-current-location-btn {
    background: var(--red_500) !important;
    border: 1px solid var(--red_500) !important;
  }

  .dp-calendar-nav-container-left,
  .dp-calendar-nav-container-right {
    padding: 0 1rem !important;
  }

  .dp-nav-header-btn {
    height: 27px !important;
  }

  .dp-calendar-month {
    font-size: 1rem !important;
    font-weight: 600;
  }

}
