<h2 mat-dialog-title [ngClass]="{'_delete_style': data?.isDelete }">
    {{data.title}}
    <p>
        {{data.title2}}
    </p>
</h2>
<div class="input_box">
    <input *ngIf="data.isInput" class="input_1" type="text" placeholder="توضیحات را وارد نمایید"
        [(ngModel)]="userInputText">
</div>
<div *ngIf="data?.isSelectableDate" style="min-height: 20rem">
    <app-date-jalali name="date" (dateJalEvent)="receiveFromDateJalali($event)">
    </app-date-jalali>
</div>

<mat-dialog-actions>
    <button class="btn_2" (click)="cancel()">بازگشت</button>
    <button *ngIf="data.isInput" class="btn_2 _custom" [ngClass]="{'_delete_style': data?.isDelete }"
        (click)="confirm()">تایید</button>
    <button *ngIf="!data.isInput" class="btn_2 _custom" [ngClass]="{'_delete_style': data?.isDelete }"
        (click)="confirmWithoutText()">تایید</button>
</mat-dialog-actions>