@import '../../shared_dialog';
@import '../../../../../assets/button.scss';
@import '../../../../../assets/input.scss';

.mat-dialog-content {
  color: $gray_700;
  font-size: $font_s;
  text-align: right;
  word-spacing: .3rem;
}

.mat-dialog-container {
  padding: $font_2;
}

._custom {
  background: $blue_400;
  color: $gray_100;
<<<<<<< Updated upstream
}

._delete_style {
  background-color: $red_500;
  border-color: $red_500;
  color: $white;

  &:hover,
  &:focus,
  &:active {
    background-color: $red_600;
    box-shadow: 0 0 0 3px $red_600;
  }
=======
>>>>>>> Stashed changes
}

h2 {
  font-size: $font_m;
  padding: $font_05;
}

.btn_1,
.btn_2 {
  width: 7rem;
}
