@import 'shared_dialog';
@import 'button.scss';
@import 'input.scss';

.mat-dialog-content {
  color: var(--secondary_7);
  font-size: var(--font_s);
  text-align: right;
  word-spacing: var(--font_03);
}

.mat-dialog-container {
  padding: var(--font_2);
}

._custom {
  background: var(--primary_2);
  color: var(--secondary_1);
}

._delete_style {
  direction: rtl;
  background-color: var(--red_500);
  border-color: var(--red_500);
  color: var(--white);
  text-align: center;
}

h2 {
  font-size: var(--font_m);
  padding: var(--font_05);
  text-align: center;
}

.btn_1,
.btn_2 {
  width: 7rem;
}

.input_1 {
  border-radius: $border_15;
}

.input_box {
  display: flex;
  justify-content: center;
}
