@import 'shared_dialog';
@import 'button.scss';
@import 'input.scss';

.mat-dialog-content {
  color: var(--secondary_7);
  font-size: $font_s;
  text-align: right;
  word-spacing: .3rem;
}

.mat-dialog-container {
  padding: $font_2;
}

._custom {
  background: var(--primary_2);
  color: var(--secondary_1);
}

._delete_style {
  background-color: var(--red_500);
  border-color: var(--red_500);
  color: var(--white);
  text-align: center;

  &:hover,
  &:focus,
  &:active {
    background-color: var(--red_600);
    box-shadow: 0 0 0 3px var(--red_600);
  }
}

h2 {
  font-size: $font_m;
  padding: $font_05;
  text-align: center;
}

.btn_1,
.btn_2 {
  width: 7rem;
}

.input_1 {
  border-radius: $border_15;
}
