@import '../../../assets/variable';
@import '../../../assets/button.scss';
@import '../../../assets/tooltip.scss';

.btn_1 {
  color: $gray_100;
}

// materials 
::ng-deep {
  .mat-checkbox-layout {
    .mat-checkbox-label {
      margin: 0 $font_05;
      font-size: $font_s;
      font-weight: 600;
      color: $blue_500;
      // padding: $font_xxs;
      // color: $blue_600;
      line-height: 2;
      border-radius: $border_15;
      font-family: $font_family;
    }
  }


  .mat-horizontal-stepper-header-container {
    height: 4rem;
    direction: rtl;
    border: 2px solid $blue_700;
    border-radius: 6rem;
    padding: $font_05;
    margin-bottom: 1rem;
  }

  .mat-step-text-label {
    font-size: 1.2rem;
    padding-right: $font_05;
    font-weight: 600;
  }

  .mat-horizontal-stepper-header .mat-step-icon {
    font-size: $font_s;
    font-weight: 600;
  }

  .mat-horizontal-content-container {
    min-height: 15rem;
    padding: $font_xxs 0 !important;
  }
}

.mat-stepper-horizontal {
  font-family: $font_family;
  padding: $font_05;
}

// 
.accept {
  display: flex;
}

.btn_2 {
  margin: .25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blue_gray_400;
  color: $blue_700;
}

._special {
  background-color: $blue_400;
  color: $gray_100;
}


/* actions */


.auth_1 {
  direction: rtl;
}

.auth_1_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, auto));
  gap: .25rem;
  direction: rtl;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: $white;
  box-shadow: 0px 0px 2px 2px $blue_gray_400;

  .auth_1_item {
    display: grid;
    place-content: center;
    padding: $font_05;
    border-radius: $border_5;
    font-size: $font_l;
    font-weight: 600;
    background: $blue_gray_400;
    color: $blue_700;
    box-shadow: 1px 1px 3px 0px $blue_gray_400;
    cursor: pointer;
  }
}

// active auth1 tab
.active_tab {
  background-color: $blue_600 !important;
  color: $gray_100 !important;
}

// 

.auth_2 {
  padding: 0 $font_xxs;
  margin-bottom: $font_2;
  border-radius: $border_15;
}

.auth_3 {
  margin: $font_05 4rem $font_05 $font_xxs;
  padding: $font_05;
  border-radius: $border_15;
  box-shadow: 0px 2px 3px 1.5px $gray_400;
}

.auth_4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, auto));
  gap: .3rem;
  background: $gray_100;
  border: 1px solid $blue_600;
  border-radius: $border_5;
  margin: $font_xxs;

  .checkboxes {
    display: flex;
    border-radius: 15px;
    padding: .25rem;
  }
}

.text {
  padding: 0 $font_05;
  color: $blue_600;
  font-size: $font_l;
  font-weight: 600;
}

.text_btn {
  max-width: 11rem;
  width: auto;
  text-align: center;
  padding: $font_05;
  border-radius: $border_15;
  margin-bottom: $font_05;
  font-size: $font_m;
  font-weight: 600;
  color: $blue_600;
  background: $gray_300;
}

.accept {
  display: flex;
  box-shadow: 0 -3px 2px -1px $blue_gray_400;
}

._double_size {
  grid-column: auto/span 2;
}

.separator {
  display: flex;
  align-items: center;
  text-align: right;
}

.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid $blue_600;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

.tooltip .tooltip_text {
  left: 50%;
  transform: translateX(-50%);
  width: 16rem;
}
