<h2 mat-dialog-title>افزودن ناحیه</h2>

<form [formGroup]="form" (ngSubmit)="save()">
    <main class="_contents">

        <div class="input_2">
            <div class="_key">کد</div>
            <input class="_value" type="number" formControlName="id">
        </div>

        <div class="input_2">
            <div class="_key">عنوان</div>
            <input class="_value" formControlName="title">
        </div>
        <div class="input_2">
            <div class="_key">منطقه</div>
            <div class="_value">
                <mat-select placeholder="انتخاب مورد" formControlName="regionId">
                    <mat-option *ngFor="let truefalse of data.di" [value]="truefalse.id">
                        {{truefalse.title}}
                    </mat-option>
                </mat-select>
            </div>
        </div>

        <div class="input_2">
            <div class="_key">ترتیب</div>
            <input class="_value" type="number" formControlName="logicalOrder">
        </div>

        <mat-checkbox formControlName="isMetro">شهری</mat-checkbox>

    </main>

    <mat-dialog-actions>
        <button class="close_dg" type="button" (click)="close()">
            <i class="pi pi-times"></i>
        </button>
        <button class="btn_2 _custom" type="submit">ذخیره</button>
    </mat-dialog-actions>
</form>