<app-prime-table-editable     
    [dataSource]="closeTabService.saveDataForAppLevel4" 
    [_checkUpName]="'auth4'"
    [_outputFileName]="'auth4'"
    [_dictionaryName]="'authLevel3Id'"
    [dictionary]="authLevel3Dictionary"
    [_outputEnabled]= false
    [_numberOfExtraColumns]="[1, 2]"
    [_selectedColumnsToRemember]="'selectedAuth4'"
    [_sessionName]="'auth4-session'"
    (refreshedTable)="refreshTable()"
    (openedAddDialog)="openAddDialog()"
    (dropDownChanges)="closeTabService.saveDataForAppLevel4['authLevel3Id']"
    (removedRow)="removeRow($event)"
    (onRowEditedCancel)="onRowEditCancel()"
    (onRowEditedInit)="onRowEditInit($event)"
    (onRowEditedSave)="onRowEditSave($event)"
 > 
</app-prime-table-editable>