@import 'primeNG.scss';
@import 'button.scss';


section {
  direction: rtl;
  font-family: $font_family;
  border-radius: 7px;
  background: var(--secondary_1);
  padding: .5rem;
  margin-bottom: .2rem;
}

.over_all {
  direction: rtl;
  font-family: $font_family;
  width: 90%;
  margin: auto;

  .content {
    background: var(--secondary_3);
    border-radius: $border_15;
    margin: auto;
    padding: var(--font_xs);
  }

  input {
    border: 0;
    direction: rtl;
    text-align: right;
    border-right: 2px solid var(--primary_1);
    border-radius: 7px;
    height: 3rem;
    width: 100%;
    font-weight: 600;
    font-size: var(--font_s);
  }

  ._value2 {
    height: 5rem;
  }

  .text {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .send {
    margin: var(--font_2) 0 var(--font_05);

    .btn_1 {
      width: 10.5rem;
    }
  }

  ._key {
    text-align: right;
  }

  .c_separator {
    .btn_2 {
      color: var(--secondary_1);
    }
  }

  .c_separator {
    direction: rtl;

    .btn_2 {
      width: var(--font_5);
      font-family: inherit;
    }
  }

  .hr_2 {
    margin: 0;
  }

  h2 {
    text-align: center;
    color: var(--primary_5);
  }

  h3 {
    text-align: right;
    color: var(--primary_5);
  }

}

.p-dialog .p-dialog-header {
  background: var(--secondary_1) !important;
  padding: var(--font_025) !important;
}

:host ::ng-deep {

  .p-selectbutton .p-button.p-highlight {
    box-shadow: 0 3px var(--secondary_1), 0 3px 2px 2px var(--thirdy_4);
  }

  ._colors_button {
    .p-buttonset .p-button:first-of-type {
      background: rgb(5, 88, 124) !important;
    }

    :nth-child(2) {
      background: rgb(71, 123, 71) !important;
    }

    :nth-child(3) {
      background: rgb(188, 136, 39) !important;
    }

    :nth-child(4) {
      background: rgb(192, 26, 26) !important;
    }
  }

}
