<h2 mat-dialog-title>افزودن محدوده</h2>

<form [formGroup]="form" (ngSubmit)="save()">
    <main class="_contents">

        <div class="input_2">
            <div class="_key">عنوان</div>
            <input class="_value" formControlName="title">
        </div>

        <div class="input_2">
            <div class="_key">ناحیه</div>
            <div class="_value">
                <mat-select placeholder="انتخاب مورد" formControlName="zoneId">
                    <mat-option *ngFor="let truefalse of data.di" [value]="truefalse.id">
                        {{truefalse.title}}
                    </mat-option>
                </mat-select>
            </div>
        </div>
        <div class="input_2">
            <div class="_key">کد دولتی</div>
            <input class="_value" formControlName="govermentalCode">
        </div>
        <div class="input_2">
            <div class="_key">از اشتراک</div>
            <input class="_value" formControlName="fromEshterak">
        </div>
        <div class="input_2">
            <div class="_key">تا اشتراک</div>
            <input class="_value" formControlName="toEshterak">
        </div>
        <div class="input_2">
            <div class="_key">از ش.پرونده</div>
            <input class="_value" type="number" formControlName="fromRadif">
        </div>
        <div class="input_2">
            <div class="_key">تا ش.پرونده</div>
            <input class="_value" type="number" formControlName="toRadif">
        </div>
        <div class="input_2">
            <div class="_key">هاست</div>
            <input class="_value" formControlName="host">
        </div>
        <div class="input_2">
            <div class="_key">کاربری</div>
            <input class="_value" formControlName="dbUserName">
        </div>
        <div class="input_2">
            <div class="_key">گذرواژه</div>
            <input class="_value" formControlName="dbPassword">
        </div>
        <div class="input_2">
            <div class="_key">کاتالوگ</div>
            <input class="_value" formControlName="dbInitialCatalog">
        </div>

    </main>

    <mat-dialog-actions>
        <button class="close_dg" type="button" (click)="close()">
            <i class="pi pi-times"></i>
        </button>
        <button class="btn_2 _custom" type="submit">ذخیره</button>
    </mat-dialog-actions>
</form>