<table>

    <thead>
        <tr>
            <th colspan=1>ساعت</th>
            <th colspan=3>{{dataSource.daily.title}}</th>
            <th colspan=3>{{dataSource.weekly.title}}</th>
            <th colspan=3>{{dataSource.monthly.title}}</th>
            <th colspan=3>{{dataSource.yearly.title}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td class="_normal">عادی</td>
            <td class="_closed">بسته</td>
            <td class="_percent">%</td>
            <td class="_normal">عادی</td>
            <td class="_closed">بسته</td>
            <td class="_percent">%</td>
            <td class="_normal">عادی</td>
            <td class="_closed">بسته</td>
            <td class="_percent">%</td>
            <td class="_normal">عادی</td>
            <td class="_closed">بسته</td>
            <td class="_percent">%</td>
        </tr>
        <tr>
            <td class="_hours">8 - 10</td>
            <td>{{dataSource.daily._8_10}}</td>
            <td>{{dataSource.daily._8_10Closed}}</td>
            <td>{{dataSource.daily._8_10Rate}}</td>
            <td>{{dataSource.weekly._8_10}}</td>
            <td>{{dataSource.weekly._8_10Closed}}</td>
            <td>{{dataSource.weekly._8_10Rate}}</td>
            <td>{{dataSource.monthly._8_10}}</td>
            <td>{{dataSource.monthly._8_10Closed}}</td>
            <td>{{dataSource.monthly._8_10Rate}}</td>
            <td>{{dataSource.yearly._8_10}}</td>
            <td>{{dataSource.yearly._8_10Closed}}</td>
            <td>{{dataSource.yearly._8_10Rate}}</td>
        </tr>


        <tr>
            <td class="_hours">10 - 12</td>
            <td>{{dataSource.daily._10_12}}</td>
            <td>{{dataSource.daily._10_12Closed}}</td>
            <td>{{dataSource.daily._10_12Rate}}</td>
            <td>{{dataSource.weekly._10_12}}</td>
            <td>{{dataSource.weekly._10_12Closed}}</td>
            <td>{{dataSource.weekly._10_12Rate}}</td>
            <td>{{dataSource.monthly._10_12}}</td>
            <td>{{dataSource.monthly._10_12Closed}}</td>
            <td>{{dataSource.monthly._10_12Rate}}</td>
            <td>{{dataSource.yearly._10_12}}</td>
            <td>{{dataSource.yearly._10_12Closed}}</td>
            <td>{{dataSource.yearly._10_12Rate}}</td>
        </tr>


        <tr>
            <td class="_hours">12 - 14</td>
            <td>{{dataSource.daily._12_14}}</td>
            <td>{{dataSource.daily._12_14Closed}}</td>
            <td>{{dataSource.daily._12_14Rate}}</td>
            <td>{{dataSource.weekly._12_14}}</td>
            <td>{{dataSource.weekly._12_14Closed}}</td>
            <td>{{dataSource.weekly._12_14Rate}}</td>
            <td>{{dataSource.monthly._12_14}}</td>
            <td>{{dataSource.monthly._12_14Closed}}</td>
            <td>{{dataSource.monthly._12_14Rate}}</td>
            <td>{{dataSource.yearly._12_14}}</td>
            <td>{{dataSource.yearly._12_14Closed}}</td>
            <td>{{dataSource.yearly._12_14Rate}}</td>
        </tr>


        <tr>
            <td class="_hours">14 - 16</td>
            <td>{{dataSource.daily._14_16}}</td>
            <td>{{dataSource.daily._14_16Closed}}</td>
            <td>{{dataSource.daily._14_16Rate}}</td>
            <td>{{dataSource.weekly._14_16}}</td>
            <td>{{dataSource.weekly._14_16Closed}}</td>
            <td>{{dataSource.weekly._14_16Rate}}</td>
            <td>{{dataSource.monthly._14_16}}</td>
            <td>{{dataSource.monthly._14_16Closed}}</td>
            <td>{{dataSource.monthly._14_16Rate}}</td>
            <td>{{dataSource.yearly._14_16}}</td>
            <td>{{dataSource.yearly._14_16Closed}}</td>
            <td>{{dataSource.yearly._14_16Rate}}</td>
        </tr>

    </tbody>

</table>