@import '../../dashboard/dashboard.component.scss';

._normal {
  background: rgba(117, 188, 84, 0.25);
}

._closed {
  background: rgba(246, 62, 56, 0.4);
}

._percent {
  background: rgba(246, 152, 56, 0.25);
}
