@import 'add-edit.scss';


.roles {
  background: var(--thirdy_2);
  border-radius: $border_5;
  padding: .5rem;
}

.role_items {
  direction: rtl;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11rem, 12rem));
  gap: .5rem;
  padding: 1rem;
  border-radius: $border_15;
  margin-bottom: $font_2;
  background: var(--secondary_1);
}

h2 {
  color: var(--primary_5);
  text-align: right;
}

.mat-checkbox-layout .mat-checkbox-label {
  color: var(--primary_5);
}
