@import 'add-edit.scss';

.order_by {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11rem, 14rem));
  direction: rtl;
  margin: var(--font_05);
  margin-bottom: 2rem;
  font-weight: 600;
  gap: var(--font_02);
  align-items: center;
  justify-content: center;
}

.p-field-radiobutton {
  background: var(--thirdy_2);
  border-radius: 5px;
  padding: var(--font_02);
  margin-left: 0;
}
