<section class="order_by">
    <div *ngFor="let orderType of roleItems">
        <div class="p-field-radiobutton">
            <p-radioButton name="orderByDate" [value]="orderType.id" [(ngModel)]="selectedRole" [inputId]="orderType.id"
                (ngModelChange)="changeRadio(orderType)">
            </p-radioButton>
            <label [for]="orderType.id">{{orderType.title}}</label>
        </div>
    </div>
</section>

<div class="accept">
    <button class="btn_2" matStepperNext>
        <i class="fa fa-long-arrow-left"></i>
        صفحه بعد
    </button>
    <button class="btn_2" matStepperPrevious>صفحه قبل</button>
</div>