@import 'add-edit.scss';

.order_by {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9rem, 11rem));
  direction: rtl;
  margin: var(--font_05);
  font-weight: 600;
  gap: var(--font_05);
  align-items: center;
  justify-content: center;
}
