@import 'variable';
@import 'input';

.main_content {
    display: flex;
    direction: rtl;
    margin-bottom: var(--font_05);
}

.hr_2 {
    width: 100%;
    background-color: var(--secondary_8);
    margin: 2px auto;
}

.side_title {
    color: var(--primary_2);
}

._toselect {
    border-left: 1px solid var(--secondary_8);
    border-radius: $border_7;
    padding: var(--font_s);
    max-width: 21rem;
    min-width: 19rem;
    background: var(--white);
    box-shadow: 0px 2px 11px -5px var(--thirdy_3);
}

._more_options {
    border-radius: $border_7;
    padding: var(--font_02);
    width: 100%;
    background: var(--white);
    box-shadow: 0px 2px 11px -5px var(--thirdy_3);

    @media (max-width: 780px) {
        margin-top: var(--font_xs);
    }

    @media (max-width: 550px) {
        margin-top: 2rem;
    }

}