<main class="main_content">

    <section class="_toselect">
        <h3 class="side_title">شماره پرونده</h3>
        <input class="input_simple" type="number" name="red">
        <div class="hr_2"></div>
        <h3 class="side_title">رقم کنتور</h3>
        <input class="input_simple" type="number" name="red">
        <div class="hr_2"></div>
        <h3 class="side_title">منطقه</h3>
        <input class="input_simple" type="number" name="red">
        <div class="hr_2"></div>
        <h3 class="side_title">وضعیت کنتور</h3>
        <input class="input_simple" type="number" name="red">
        <div class="hr_2"></div>
    </section>

    <section class="_more_options">
    </section>

</main>