.radio_button {
  font-size: var(--font_s);
  font-weight: 700;
  font-family: inherit;
  color: var(--secondary_6);
  margin: 0 2rem;
}

.order_by {
  display: flex;
  flex-wrap: wrap;
}
