<section class="order_by" *ngIf="closeTabService.profileService.showStateVals.isSingleZone">
    <h2>جستجو بر اساس :</h2>
    <div *ngFor="let orderType of closeTabService.utilsService.getSearchInOrderTo">
        <div class="p-field-radiobutton">
            <p-radioButton name="orderByDate" [value]="orderType.isSelected"
                [(ngModel)]="closeTabService._isOrderByDate" [inputId]="orderType.key">
            </p-radioButton>
            <label [for]="orderType.key">{{orderType.title}}</label>
        </div>
    </div>
    <hr>
</section>