<p-table [columns]="selectedColumns" [value]="dataSource" [paginator]="true" [rows]="20" [showCurrentPageReport]="true"
    currentPageReportTemplate="نمایش از {first} تا{last} از {totalRecords} مورد" [rowsPerPageOptions]="[20,50,100, 500]"
    dir="rtl" styleClass="p-datatable-responsive" [responsive]="true">

    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" pSortableColumn="{{col.field}}">
                <p-sortIcon field="{{col.field}}"></p-sortIcon>
                {{col.header}}
            </th>
        </tr>
        <tr>
            <th *ngFor="let col of columns">
                <p-columnFilter matchMode="contains" type="text" field="{{col.field}}"></p-columnFilter>
            </th>
        </tr>
    </ng-template>

    <ng-template hidden="!dataSource.length" pTemplate="body" let-dataSource let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                <span class="ui-column-title">{{col.header}}</span>
                {{dataSource[col.field]}}
            </td>

        </tr>
    </ng-template>

</p-table>

<section *ngIf="!dataSource || dataSource.length === 0">
    <tr class="empty_data">
        موردی پیدا نشد
    </tr>
</section>