<main class="main">
    <section>
        <form #form="ngForm" (ngSubmit)="verification()">
            <section class="_card"
                [@openClose]="securityService.utilsService.collapser._isCollapsedUploadAttempts ? 'slideUp' : 'slideDown'">
                <section class="content">
                    <div class="input_2">
                        <div class="_key">از</div>
                        <div class="_value">
                            <app-date-jalali name="fromDate"
                                (dateJalEvent)="closeTabService.receiveFromDateJalali(closeTabService.ENReadingReports.uploadAttemptsReq, $event)"
                                [dateObject]="closeTabService.uploadAttemptsReq.fromDate">
                            </app-date-jalali>
                        </div>
                    </div>
                    <div class="input_2">
                        <div class="_key">تا</div>
                        <div class="_value">
                            <app-date-jalali name="toDate"
                                (dateJalEvent)="closeTabService.receiveToDateJalali(closeTabService.ENReadingReports.uploadAttemptsReq, $event)"
                                [dateObject]="closeTabService.uploadAttemptsReq.toDate">
                            </app-date-jalali>

                        </div>
                    </div>
                    <button type="submit" class="btn_1">
                        مشاهده
                        <i class="pi pi-list"></i>
                    </button>

                </section>
            </section>
        </form>
    </section>

    <app-prime-table 
        [dataSource]="closeTabService.uploadAttempts" 
        [_outputFileName]="'uploadAttemptsReq'"
        [_checkUpName]="'uploadAttemptsReq'"
        [_sessionName]="'uploadAttempts-session'"
        [_selectedColumnsToRemember]="'selectedRequestLogUploadAttempts'"         
        [_hasCollapsible]=true 
        [_isCollaped]="closeTabService.utilsService.collapser._isCollapsedUploadAttempts"
        (collapsed)="closeTabService.utilsService.collapser._isCollapsedUploadAttempts = !closeTabService.utilsService.collapser._isCollapsedUploadAttempts"
        (refreshedTable)="verification()"
        >
    </app-prime-table>
</main>