<section>
    <h2 class="title">{{tariffTypeReq.isEditing? 'ویرایش گروه تعرفه': 'افزودن گروه تعرفه'}}</h2>
    <hr>
    <form #form="ngForm" (ngSubmit)="verification()">
        <div class="content">

            <div *ngFor="let mainDatas of columnManager.getColumnsMenus('tariffTypeDialog')"
                [ngClass]="{'double_size':mainDatas.icon}">
                <ng-container *ngIf="mainDatas.isBoolean; else simpleText">
                    <div class="input_icon">
                        <i class="pi pi-bookmark _bookmark"></i>
                        <div class="input_3">
                            <div class="_key">{{mainDatas.header}}</div>
                            <mat-checkbox name="isCluster" [(ngModel)]="tariffTypeReq[mainDatas.field]">
                                {{mainDatas.isSelected}}
                            </mat-checkbox>
                        </div>
                    </div>
                </ng-container>

                <ng-template #simpleText>
                    <div class="input_icon">
                        <i class="pi pi-bookmark _bookmark"></i>
                        <div class="input_3">
                            <div class="_key">{{mainDatas.header}}</div>
                            <input [ngClass]="{'double_size':mainDatas.icon}" class="_value" name="{{mainDatas.field}}"
                                [(ngModel)]="tariffTypeReq[mainDatas.field]">
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>

        <footer>
            <button type="submit" class="btn_1">
                {{tariffTypeReq.isEditing? 'ویرایش گروه تعرفه': 'افزودن گروه تعرفه'}}
                <i class="pi pi-list"></i>
            </button>
        </footer>

    </form>
</section>