<table>

    <thead>
        <tr>
            <td></td>
            <td class="_adiCount">عادی</td>
            <td class="_faqedCount">فاقد</td>
            <td class="_tavizCount">تعویض</td>
            <td class="_xarabCount">خراب</td>
            <td class="_maneCount">مانع</td>
            <td class="_saierCount">سایر</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <!-- <td>{{dataSourceTable[0].caption}}</td> -->
            <td>امروز</td>
            <td class="_adiCount">{{dataSourceTable[3].adiCount}}</td>
            <td class="_faqedCount">{{dataSourceTable[3].faqedCount}}</td>
            <td class="_tavizCount">{{dataSourceTable[3].tavizCount}}</td>
            <td class="_xarabCount">{{dataSourceTable[3].xarabCount}}</td>
            <td class="_maneCount">{{dataSourceTable[3].maneCount}}</td>
            <td class="_saierCount">{{dataSourceTable[3].saierCount}}</td>
        </tr>
        <tr>
            <!-- <td>{{dataSourceTable[1].caption}}</td> -->
            <td>هفته جاری</td>
            <td class="_adiCount">{{dataSourceTable[2].adiCount}}</td>
            <td class="_faqedCount">{{dataSourceTable[2].faqedCount}}</td>
            <td class="_tavizCount">{{dataSourceTable[2].tavizCount}}</td>
            <td class="_xarabCount">{{dataSourceTable[2].xarabCount}}</td>
            <td class="_maneCount">{{dataSourceTable[2].maneCount}}</td>
            <td class="_saierCount">{{dataSourceTable[2].saierCount}}</td>
        </tr>
        <tr>
            <!-- <td>{{dataSourceTable[2].caption}}</td> -->
            <td>ماه جاری</td>
            <td class="_adiCount">{{dataSourceTable[1].adiCount}}</td>
            <td class="_faqedCount">{{dataSourceTable[1].faqedCount}}</td>
            <td class="_tavizCount">{{dataSourceTable[1].tavizCount}}</td>
            <td class="_xarabCount">{{dataSourceTable[1].xarabCount}}</td>
            <td class="_maneCount">{{dataSourceTable[1].maneCount}}</td>
            <td class="_saierCount">{{dataSourceTable[1].saierCount}}</td>
        </tr>
        <tr>
            <!-- <td>{{dataSourceTable[3].caption}}</td> -->
            <td>سال جاری</td>
            <td class="_adiCount">{{dataSourceTable[0].adiCount}}</td>
            <td class="_faqedCount">{{dataSourceTable[0].faqedCount}}</td>
            <td class="_tavizCount">{{dataSourceTable[0].tavizCount}}</td>
            <td class="_xarabCount">{{dataSourceTable[0].xarabCount}}</td>
            <td class="_maneCount">{{dataSourceTable[0].maneCount}}</td>
            <td class="_saierCount">{{dataSourceTable[0].saierCount}}</td>
        </tr>
    </tbody>

</table>