<table>

    <thead>
        <tr>
            <td></td>
            <td class="_adiCount">امروز</td>
            <td class="_tavizCount">هفته جاری</td>
            <td class="_maneCount">ماه جاری</td>
            <td class="_saierCount">سال جاری</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <!-- <td>{{dataSourceTable[0].caption}}</td> -->
            <td>عادی</td>
            <td class="_adiCount">{{dataSourceTable[3].adiCount}}</td>
            <td class="_tavizCount">{{dataSourceTable[2].adiCount}}</td>
            <td class="_maneCount">{{dataSourceTable[1].adiCount}}</td>
            <td class="_saierCount">{{dataSourceTable[0].adiCount}}</td>
        </tr>
        <tr>
            <!-- <td>{{dataSourceTable[1].caption}}</td> -->
            <td>فاقد</td>
            <td class="_adiCount">{{dataSourceTable[3].faqedCount}}</td>
            <td class="_tavizCount">{{dataSourceTable[2].faqedCount}}</td>
            <td class="_maneCount">{{dataSourceTable[1].faqedCount}}</td>
            <td class="_saierCount">{{dataSourceTable[0].faqedCount}}</td>
        </tr>
        <tr>
            <!-- <td>{{dataSourceTable[2].caption}}</td> -->
            <td>تعویض</td>
            <td class="_adiCount">{{dataSourceTable[3].tavizCount}}</td>
            <td class="_tavizCount">{{dataSourceTable[2].tavizCount}}</td>
            <td class="_maneCount">{{dataSourceTable[1].tavizCount}}</td>
            <td class="_saierCount">{{dataSourceTable[0].tavizCount}}</td>
        </tr>
        <tr>
            <!-- <td>{{dataSourceTable[3].caption}}</td> -->
            <td>خراب</td>
            <td class="_adiCount">{{dataSourceTable[3].xarabCount}}</td>
            <td class="_tavizCount">{{dataSourceTable[2].xarabCount}}</td>
            <td class="_maneCount">{{dataSourceTable[1].xarabCount}}</td>
            <td class="_saierCount">{{dataSourceTable[0].xarabCount}}</td>

        </tr>
        <tr>
            <!-- <td>{{dataSourceTable[3].caption}}</td> -->
            <td>مانع</td>
            <td class="_adiCount">{{dataSourceTable[3].maneCount}}</td>
            <td class="_tavizCount">{{dataSourceTable[2].maneCount}}</td>
            <td class="_maneCount">{{dataSourceTable[1].maneCount}}</td>
            <td class="_saierCount">{{dataSourceTable[0].maneCount}}</td>
        </tr>
        <tr>
            <!-- <td>{{dataSourceTable[3].caption}}</td> -->
            <td>سایر</td>
            <td class="_adiCount">{{dataSourceTable[3].saierCount}}</td>
            <td class="_tavizCount">{{dataSourceTable[2].saierCount}}</td>
            <td class="_maneCount">{{dataSourceTable[1].saierCount}}</td>
            <td class="_saierCount">{{dataSourceTable[0].saierCount}}</td>
        </tr>
    </tbody>

</table>