@import 'variable';

canvas {
    width: 100% !important;
    height: 100% !important;
    max-height: 30rem;
}

.charts {
    border-radius: $border_15;
    background: var(--secondary_1);
    margin: auto;
    height: 15vh;
    min-height: 8rem;
    padding: var(--font_xs);
}