<mat-horizontal-stepper #stepper>

    <mat-step [stepControl]="userDetails" errorMessage="Name is required.">
        <form [formGroup]="userDetails">
            <ng-template matStepLabel>مشخصات کاربر</ng-template>
            <app-user-inputs style="direction: rtl;"></app-user-inputs>
        </form>
    </mat-step>

    <mat-step [stepControl]="provinceItemsData">
        <form *ngIf="provinceItemsData" [formGroup]="provinceItemsData">
            <ng-template matStepLabel>دسترسی به مناطق</ng-template>
            <app-select-zone [provinceItemsData]="provinceItemsData"></app-select-zone>
        </form>
    </mat-step>

    <mat-step [stepControl]="contactAppItems">
        <ng-template *ngIf="contactAppItems" matStepLabel>سطح دسترسی به خدمات</ng-template>
        <app-select-action [addContactData]="contactAppItems"></app-select-action>
    </mat-step>

    <mat-step [stepControl]="roleItemsData">
        <form *ngIf="roleItemsData" formGroup="roleItemsData">
            <ng-template matStepLabel>گروه دسترسی</ng-template>
            <app-select-roles [roleItems]="roleItemsData"></app-select-roles>
        </form>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>ذخیره</ng-template>
        <section class="accept">
            <button class="btn_2 _special" (click)="addAContact()">ذخیره تغییرات</button>
            <button class="btn_2" matStepperPrevious>صفحه قبل</button>
        </section>

    </mat-step>

</mat-horizontal-stepper>