<mat-horizontal-stepper #stepper>

    <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>مشخصات کاربر</ng-template>
            <app-user-inputs></app-user-inputs>
            <div>
                <button mat-button matStepperNext>صفحه بعد</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>دسترسی به مناطق</ng-template>
            <app-select-zone></app-select-zone>
            <div>
                <button mat-button matStepperPrevious>صفحه قبل</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup">
            <ng-template matStepLabel>سطح دسترسی به خدمات</ng-template>
            <section class="auth_1_container">
                <div [ngClass]="{'active_tab': item.title === switchCaseName}" class="auth_1_item"
                    *ngFor="let item of addContactData" (click)="changeSwitchCase(item.title)">
                    {{item.title}}
                </div>
            </section>
            <section class="auth_1" *ngFor="let item of addContactData" [ngSwitch]="item.title">
                <div *ngSwitchCase="switchCaseName">
                    <section class=" auth_2" *ngFor="let moduleIt of item.moduleItems">
                        <div class="text">{{moduleIt.title}}</div>
                        <div class="hr"></div>

                        <section class="auth_3" *ngFor="let controllerIt of moduleIt.controllerItems">
                            <div class="text_btn">{{controllerIt.title}}</div>

                            <section class="auth_4">
                                <div class="checkboxes" *ngFor="let actionIt of controllerIt.actionItems">
                                    <mat-checkbox [(ngModel)]="actionIt.isSelected">
                                        <!-- (ngModelChange)="updateAllComplete()" -->
                                        {{actionIt.title}}
                                    </mat-checkbox>
                                </div>
                            </section>
                        </section>
                    </section>
                </div>
            </section>

            <div>
                <button mat-button matStepperPrevious>صفحه قبل</button>
                <button mat-button matStepperNext (click)="addActionItems()">صفحه بعد</button>
            </div>
        
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>گروه دسترسی</ng-template>
        <section class="role_items">
            <h2>گروه دسترسی</h2>
            <div class="roles" *ngFor="let roleItems of roleItemsData">
                <mat-checkbox>
                    {{roleItems.title}}
                </mat-checkbox>
            </div>
        </section>
        <div>
            <button mat-button matStepperPrevious>صفحه قبل</button>
            <button mat-button matStepperNext>صفحه بعد</button>
        </div>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>ذخیره</ng-template>
        <section class="accept">
            <button class="btn_1" (click)="addAContact()">ذخیره تغییرات</button>
            <button mat-button matStepperPrevious>صفحه قبل</button>
        </section>

    </mat-step>

</mat-horizontal-stepper>