@import 'shared_dialog.scss';

._contents {
  display: grid;
  direction: rtl;
  font-family: var(--font-family);
  grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
  gap: var(--font_025);
}

h2 {
  text-align: center;
  font-family: var(--font-family);
}

.map-frame {
  margin: var(--font_xs) var(--font_02);
  height: 100%;
  min-height: 31rem;
  box-shadow: -1px 2px 5px 5px var(--secondary_4);
  position: relative;
}

#map {
  height: 31rem;
  width: 100%;
  z-index: 1;
}
