<app-prime-table-editable     
    [dataSource]="closeTabService.branchState" 
    [_outputFileName]="branchStateColumns"
    [_checkUpName]="'branchState'"
    [_numberOfExtraColumns]="[1, 2]"
    [_isInRowEditing]=true
    [newRow]="newRow()"
    [newRowLimit]="newRowLimit"
    [_sessionName]="'branchState-session'"
    [_selectedColumnsToRemember]="'selectedBranchState'"
    (newedRowChangedStatus)="testChangedValue()"
    (refreshedTable)="callAPI()"     
    (removedRowEditing)="removeRow($event)"        
    (onRowEditedSave)="onRowEditSave($event)"
 > 
</app-prime-table-editable>