<main style="position: relative; ">
    <app-prime-table [hidden]="showCarousel" 
    [_selectCols]="_selectCols" 
    [_selectedColumns]="selectedColumns"
    [dataSource]="dataSource" 
    [_outputFileName]="'allReads'"
    [_checkUpName]="'allComponent'"
    [_selectedColumnsToRemember]="'selectedListManagerAll'"
    [_numberOfExtraColumns]="[1 , 2]"    
    [_backToPreviousEnabled]=true
    [_allComponentIsModify]="isModify"
    [_backToPreviousText]="'بازگشت به صفحه قبلی'"
    (refreshedTable)="refreshTable()"
    (backedToPrevious)="toPrePage()"
    (routedToOffload)="routeToOffload($event)"
    (showedPictures)="getReadingReportTitles($event)"
    > 
    </app-prime-table>
    
    <app-carousel *ngIf="showCarousel" 
    [dataSource]="carouselDataSource"
    (cancelClicked)="carouselCancelClicked()"
    (prevClicked)="carouselPrevItem()"
    (nextClicked)="carouselNextItem()"
    >
    <app-offload></app-offload>
    </app-carousel>
</main>