<p-table [columns]="_selectedColumns" [value]="dataSource" [paginator]="true" [rows]="20" [showCurrentPageReport]="true"
    currentPageReportTemplate="نمایش از {first} تا{last} از {totalRecord} مورد" [rowsPerPageOptions]="[10,25,50]"
    [filterDelay]="0" dir="rtl">
    [globalFilterFields]="['trackNumber','listNumber','insertDateJalali','zoneId','zoneTitle','isBazdid','year','isRoosta','fromEshterak','toEshterak','fromDate','toDate','itemQuantity','alalHesabPercent','imagePercent','hasPreNumber','displayBillId','displayRadif']"

    <ng-template pTemplate="caption">
        <p-multiSelect [options]="_selectCols" [(ngModel)]="_selectedColumns" optionLabel="header"
            selectedItemsLabel="{0}ستون انتخاب شده" [style]="{minWidth: '200px'}" placeholder="ستون ها">
        </p-multiSelect>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" pSortableColumn="{{col.field}}">
                <p-sortIcon field="{{col.field}}"></p-sortIcon>
                {{col.header}}
            </th>
            <th style="width: 4rem"></th>
        </tr>
        <tr>
            <th *ngFor="let col of columns">
                <p-columnFilter *ngIf="col.field !== 'zoneId'" type="text" field="{{col.field}}"></p-columnFilter>

                <p-columnFilter *ngIf="col.field === 'zoneId'" field="{{col.field}}" matchMode="in" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-multiSelect [ngModel]="value" [options]="zoneDictionary" placeholder="Any"
                            (onChange)="filter($event.value)" optionLabel="title">
                            <ng-template let-option pTemplate="item">
                                <div class="p-multiselect-representative-option">
                                    <span class="p-ml-1">{{option.title}}</span>
                                </div>
                            </ng-template>
                        </p-multiSelect>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th style="width: 4rem"></th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-dataSource let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                <ng-container
                    *ngIf="dataSource[col.field] === true || dataSource[col.field] === false; else elseTemplate">
                    <mat-checkbox [(ngModel)]="dataSource[col.field]"></mat-checkbox>
                </ng-container>
                <ng-template #elseTemplate>
                    {{dataSource[col.field]}}
                </ng-template>
            </td>
            <td><i class="p_icons pi pi-download"></i></td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
        <tr>
            <td [attr.colspan]="columns.length">
                موردی پیدا نشد
            </td>
        </tr>
    </ng-template>
</p-table>