<main style="position: relative; ">
    <app-prime-table [hidden]="showCarousel" 
    [_selectCols]="_selectCols" 
    [_selectedColumns]="selectedColumns"
    [dataSource]="dataSource" 
    [_outputFileName]="'all-lists'"
    [_checkUpName]="'allComponent'"
    [_selectedColumnsToRemember]="'selectedListManagerAll'"
    [_numberOfExtraColumns]="[1 , 2]"    
    [_backToPreviousEnabled]=true
    [_allComponentIsModify]="isModify"
    [_backToPreviousText]="'بازگشت به صفحه قبلی'"
    [_isCustomSort]=true
    (customedSort)="customSort($event)"
    (refreshedTable)="refreshTable()"
    (backedToPrevious)="toPrePage()"
    (routedToOffload)="routeToOffload($event)"
    (showedWOUIAsCarousel)="routeToWoui($event)"
    (showedPictures)="getReadingReportTitles($event)"    
    > 
    </app-prime-table>
    
    <app-carousel *ngIf="showCarousel" 
    [dataSource]="carouselDataSource"
    (cancelClicked)="carouselCancelClicked()"
    (prevClicked)="carouselPrevItem()"
    (nextClicked)="carouselNextItem()"
    >
    <app-offload></app-offload>
    </app-carousel>

    <app-carousel-woum *ngIf="showWouImages" 
    [dataSource]="woumInfosDataSource"
    (cancelClicked)="carouselCancelClicked()"
    (prevClicked)="carouselWOUMPrevItem()"
    (nextClicked)="carouselWOUMNextItem()"
    >
    <app-woum></app-woum>
    </app-carousel-woum>
</main>