@import 'primeNG.scss';
@import 'button.scss';
@import 'input.scss';

p-tabview {
  direction: rtl;
}

.over_all {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 25rem));
  direction: rtl;
  justify-content: center;
  gap: var(--font_s);
}

._profile_img {
  margin-bottom: var(--font_2);
}

.fa-user {
  font-size: 4rem;
  color: var(--secondary_4);
  background: var(--white);
  border-radius: $border_50;
  height: 7rem;
  width: 7rem;
  padding: var(--font_2);
  margin: auto;

  display: grid;
  place-content: center;
}

._key,
._value {
  font-family: var(--font-family);
}

._key {
  min-width: 8.5rem;
  text-align: right;
}

._value {
  max-width: inherit;
  border: 0;
  overflow-y: hidden;
  overflow-x: auto;
}

.content {
  background: var(--white);
  box-shadow: 0px 2px 6px 2px var(--secondary_7);
  text-align: center;
  padding: var(--font_xxs);
  justify-content: space-around;
  border-radius: $border_15;
  min-height: var(--font_5);
}

:host ::ng-deep ._notify_position {
  .p-buttonset .p-button {
    position: relative;

    &:nth-child(n) ::after {
      content: '';
      position: absolute;
      background-color: var(--white);
      width: 0.3rem;
      height: 0.3rem;
      border-radius: 50%;
    }

    &:nth-child(1) ::after {
      top: .3rem;
      right: .3rem;
    }

    &:nth-child(2) ::after {
      top: 0.3rem;
      left: .3rem;
    }

    &:nth-child(3) ::after {
      bottom: 0.3rem;
      right: .3rem;
    }

    &:nth-child(4) ::after {
      bottom: 0.3rem;
      left: .3rem;
    }

    &:nth-child(5) ::after {
      top: 0.3rem;
      left: 50%;
    }

    &:nth-child(6) ::after {
      bottom: 0.3rem;
      left: 50%;
    }

    &:nth-child(7) ::after {
      display: none;
    }


  }
}

._desc {
  display: grid;
  margin: auto;
  padding: var(--font_xs) 0;
  width: 100%;
  border-radius: $border_15;
}

.title {
  font-family: var(--font-family);
  color: var(--primary_3);
  text-align: center;
  font-size: var(--font_l2);
}

.input_2 {
  min-width: 100%;
  color: var(--secondary_5);
  margin-bottom: var(--font_05);
  box-shadow: 1px 1px 8px 1px var(--secondary_4);
}

.btn_1 {
  width: 19rem;
}

.small_button {
  width: 7rem;
}

._icon {
  padding-left: .5rem;
}