<p-tabView styleClass="tabview-custom">
    <p-tabPanel>
        <ng-template pTemplate="header" selected="true">
            <i class="_icon pi pi-cog"></i>
            <span>کاربری</span>
        </ng-template>
        <div class="over_all">
            <section>
                <div class="content">
                    <h1 class="title">مشخصات کاربری</h1>
                    <div class="_desc">
                        <div *ngFor="let item of _selectCols" class="input_2">
                            <div class="_key">{{item.header}}</div>
                            <div class="_value">{{closeTabService.saveDataForProfile[item.field]}}</div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </p-tabPanel>

    <p-tabPanel>
        <ng-template pTemplate="header">
            <i class="_icon pi pi-key"></i>
            <span>امنیت</span>
        </ng-template>
        <div class="over_all">
            <section>
                <div class="content">
                    <h1 class="title">تغییر گذرواژه</h1>
                    <app-change-password [_isFromProfile]="true"></app-change-password>
                </div>
            </section>
            <section>
                <div class="content">
                    <h1 class="title">ورود دو مرحله‌ای</h1>
                    <p-selectButton [options]="stateOptionsTwoSteps"
                        [(ngModel)]="profileService.showStateVals.twoStepsAuth" optionLabel="label" optionValue="value"
                        (onChange)="setTwoStepsStatus(profileService.showStateVals.twoStepsAuth)">
                    </p-selectButton>
                </div>
            </section>
        </div>
    </p-tabPanel>

    <p-tabPanel>
        <ng-template pTemplate="header">
            <i class="_icon pi pi-images"></i>
            <span>تصاویر/ مدیا</span>
        </ng-template>
        <div class="over_all">
            <section>
                <div class="content">
                    <h1 class="title">نمایش تصاویر</h1>
                    <p-selectButton [options]="stateOptions" [(ngModel)]="profileService.showStateVals.groupImgs"
                        optionLabel="label" optionValue="value"
                        (onChange)="setValueOfShowCarouselMedia(profileService.showStateVals.groupImgs)">
                    </p-selectButton>
                </div>
            </section>
            <section>
                <div class="content">
                    <h1 class="title">اندازه تصاویر</h1>
                    <p-selectButton [options]="stateOptionsImageOption"
                        [(ngModel)]="profileService.showStateVals.imgOptions" optionLabel="label" optionValue="value"
                        (onChange)="setValuesOfImg(profileService.showStateVals.imgOptions)">
                    </p-selectButton>
                </div>
            </section>
        </div>
    </p-tabPanel>

    <p-tabPanel>
        <ng-template pTemplate="header">
            <i class="_icon pi pi-table"></i>
            <span>جدول</span>
        </ng-template>
        <div class="over_all">
            <section>
                <div class="content">
                    <h1 class="title">امکان جابجایی ستونها در جدول</h1>
                    <p-selectButton [options]="stateOptionsReordersableTable"
                        [(ngModel)]="profileService.showStateVals.reOrderableTable" optionLabel="label"
                        optionValue="value"
                        (onChange)="setReOrderableTable(profileService.showStateVals.reOrderableTable)">
                    </p-selectButton>
                </div>
            </section>
            <section>
                <div class="content">
                    <h1 class="title">Scroll در جدول‌ها</h1>
                    <p-selectButton [options]="stateOptionsVirtualScroll"
                        [(ngModel)]="profileService.showStateVals.virtualScrollStatus" optionLabel="label"
                        optionValue="value"
                        (onChange)="setVirtualScrollStatus(profileService.showStateVals.virtualScrollStatus)">
                    </p-selectButton>
                </div>
            </section>
            <section>
                <div class="content">
                    <h1 class="title">اندازه ستونها قابل تغییر باشد</h1>
                    <p-selectButton [options]="stateOptionsHasColumnsResizable"
                        [(ngModel)]="profileService.showStateVals.hasColumnsResizable" optionLabel="label"
                        optionValue="value"
                        (onChange)="setHasColumnsResizable(profileService.showStateVals.hasColumnsResizable)">
                    </p-selectButton>
                </div>
            </section>
            <section>
                <div class="content">
                    <h1 class="title">با تغییر عرض ستونها، عرض جدول تغییر کند</h1>
                    <p-selectButton [options]="stateOptionsWidthExpandMode"
                        [(ngModel)]="profileService.showStateVals.widthExpandMode" optionLabel="label"
                        optionValue="value"
                        (onChange)="setWidthExpandMode(profileService.showStateVals.widthExpandMode)">
                    </p-selectButton>
                </div>
            </section>
            <section>
                <div class="content">
                    <h1 class="title">گروه‌بندی پیش‌فرض در کارتابل</h1>
                    <p-selectButton [options]="stateOptionsAggregateTracks" [(ngModel)]="profileService._agg.flag"
                        optionLabel="label" optionValue="value"
                        (onChange)="setDefaultAggregateTracks(profileService._agg.flag)">
                    </p-selectButton>
                </div>
            </section>
            <section>
                <div class="content">
                    <h1 class="title">جستجوی کلی در جدول‌ها</h1>
                    <p-selectButton [options]="stateOptionsGeneralSearch"
                        [(ngModel)]="profileService._agg.hasGeneralSearch" optionLabel="label" optionValue="value"
                        (onChange)="setTableGeneralSearch(profileService._agg.hasGeneralSearch)">
                    </p-selectButton>
                </div>
            </section>
        </div>
    </p-tabPanel>

    <p-tabPanel>
        <ng-template pTemplate="header">
            <i class="_icon pi pi-file-export"></i>
            <span>خروجی اطلاعات</span>
        </ng-template>
        <div class="over_all">
            <section>
                <div class="content">
                    <h1 class="title">براساس اطلاعات فیلتر شده</h1>
                    <p-selectButton [options]="stateOptionsOutputConfig"
                        [(ngModel)]="profileService.showStateVals.outputConfig.shouldFilteredValue" optionLabel="label"
                        optionValue="value"
                        (onChange)="setOutputConfigShouldFilterValue(profileService.showStateVals.outputConfig)">
                    </p-selectButton>
                </div>
            </section>
            <section>
                <div class="content">
                    <h1 class="title">براساس آخرین تغییرات ستونها</h1>
                    <p-selectButton [options]="stateOptionsOutputConfig"
                        [(ngModel)]="profileService.showStateVals.outputConfig.canShowCurrentTable" optionLabel="label"
                        optionValue="value"
                        (onChange)="setOutputConfigCanShowCurrentTable(profileService.showStateVals.outputConfig)">
                    </p-selectButton>
                </div>
            </section>
            <section>
                <div class="content">
                    <h1 class="title">عناوین ستون ها همواره نمایش داده شود</h1>
                    <p-selectButton [options]="stateOptionsOutputConfigShouldFirstFreeze"
                        [(ngModel)]="profileService.showStateVals.outputConfig.shouldFreezeHeader" optionLabel="label"
                        optionValue="value"
                        (onChange)="setOutputConfigShouldFreezeHeader(profileService.showStateVals.outputConfig)">
                    </p-selectButton>
                </div>
            </section>
            <section>
                <div class="content">
                    <h1 class="title">حداقل عرض ستونها</h1>
                    <p-selectButton [options]="stateOuputConfigDefaultColWidth"
                        [(ngModel)]="profileService.showStateVals.outputConfig.defaultColWidth" optionLabel="label"
                        optionValue="value"
                        (onChange)="setOutputConfigDefaultColWidth(profileService.showStateVals.outputConfig)">
                    </p-selectButton>
                </div>
            </section>
            <section>
                <div class="content">
                    <h1 class="title">فونت خروجی</h1>
                    <p-selectButton [options]="stateOutputConfigFontFamilyOptions"
                        [(ngModel)]="profileService.showStateVals.outputConfig.defaultFontFamily" optionLabel="label"
                        optionValue="value"
                        (onChange)="setOutputConfigDefaultFontFamily(profileService.showStateVals.outputConfig)">
                    </p-selectButton>
                </div>
            </section>
        </div>
    </p-tabPanel>
    <p-tabPanel>
        <ng-template pTemplate="header">
            <i class="_icon pi pi-sitemap"></i>
            <span>برنامه</span>
        </ng-template>
        <div class="over_all">
            <section>
                <div class="content">
                    <h1 class="title">جستجو براساس</h1>
                    <p-selectButton [options]="stateOptionsSearchType"
                        [(ngModel)]="profileService.showStateVals.searchBasedOnDate" optionLabel="label"
                        optionValue="value" (onChange)="setBasedOnDate(profileService.showStateVals.searchBasedOnDate)">
                    </p-selectButton>
                </div>
            </section>
            <section>
                <div class="content">
                    <h1 class="title">اندازه فونت</h1>
                    <p-selectButton [options]="stateFontStyleOptions"
                        [(ngModel)]="profileService.showStateVals.defaultFontStyle" optionLabel="label"
                        optionValue="value" (onChange)="setFontStyle(profileService.showStateVals.defaultFontStyle)">
                    </p-selectButton>
                </div>
            </section>
            <section>
                <div class="content">
                    <h1 class="title">نوع فونت</h1>
                    <p-selectButton [options]="stateFontFamilyOptions"
                        [(ngModel)]="profileService.showStateVals.defaultFontFamily" optionLabel="label"
                        optionValue="value" (onChange)="setFontFamily(profileService.showStateVals.defaultFontFamily)">
                    </p-selectButton>
                </div>
            </section>
            <section>
                <div class="content">
                    <h1 class="title">امکان لغو درخواست</h1>
                    <p-selectButton [options]="stateOptionsSpinner"
                        [(ngModel)]="profileService.showStateVals.hasCanclableSpinner" optionLabel="label"
                        optionValue="value"
                        (onChange)="setCanclableSpinner(profileService.showStateVals.hasCanclableSpinner)">
                    </p-selectButton>
                </div>
            </section>
            <section class="dialog-position">
                <div class="content">
                    <h1 class="title">مکان اعلان پیام ها</h1>
                    <div class="_notify_position">
                        <button *ngFor="let item of notifyPositionOptions" class="btn_1 small_button"
                            [ngClass]="{'selected-button': item.value == profileService.showStateVals.notifyPosition}"
                            (click)="setNotifyPosition(item.value)">
                            {{item.label}}
                            <div class="_container">
                                <div class="_icon">
                                    <div class="__notificationMediaTypeId pi pi-info"></div>
                                </div>
                                <div class="_content">
                                    <p class="__sender">
                                        'عنوانی وارد نمایید!'
                                    </p>
                                    <p class="__insertDateTimeJalali __caption">
                                        'متنی وارد نمایید!'
                                    </p>
                                    <p class="__timer">
                                        1000
                                    </p>
                                    <i class="__close pi pi-times"></i>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </section>
            <section>
                <div class="content">
                    <h1 class="title">بازگشت به تنظیمات پیش‌فرض</h1>
                    <button class="btn_1 _pdf reset_all" (click)="profileService.resetAllSavedLocals()">
                        اعمال
                    </button>
                </div>
            </section>
        </div>
    </p-tabPanel>
    <p-tabPanel>
        <ng-template pTemplate="header">
            <i class="_icon pi pi-info-circle"></i>
            <span>نسخه</span>
        </ng-template>
        <div class="over_all">
            <section>
                <div class="content">
                    <h1 class="title">نسخه</h1>
                    <div class="app-version">{{closeTabService.saveDataForProfile.appVersion}}</div>
                </div>
            </section>
        </div>
    </p-tabPanel>

</p-tabView>