<app-prime-table     
    [_selectCols]="_selectCols" 
    [_selectedColumns]="selectedColumns"
    [dataSource]="dataSource"
    [_outputEnabled]=false
    [_checkUpName]="'readingConfig'"
    [_numberOfExtraColumns]="[1, 2]"
    [_selectedColumnsToRemember]="'selectedReadingConfigDefault'"    
    (refreshedTable)="refreshTable()"    
    (openedAddDialog)="openAddDialog()"    
    (refreshedTable)="refreshTable()"
    (removedRow)="removeRow($event)"
    (openedEditDialog)="openEditDialog($event)"
 > 
</app-prime-table>