<app-prime-table     
    [dataSource]="closeTabService.saveDataForReadingConfig"
    [_hasSaveColumns]=true
    [_checkUpName]="'readingConfig'"
    [isAddableTable]="true"
    [_outputFileName]="'readingConfigDefault'"
    [_numberOfExtraColumns]="[1, 2]"
    [_sessionName]="'readingconfig-session'"
    [_selectedColumnsToRemember]="'selectedReadingConfigDefault'"    
    (openedAddDialog)="openAddDialog()"    
    (refreshedTable)="callAPI()"
    (removedRow)="removeRow($event)"
    (openedEditDialog)="openEditDialog($event)"
 > 
</app-prime-table>