<body>
    <div>
        <h3 class="title">تگ</h3>
        <div *ngFor="let item of tags">
            <div class="btn_3" (click)="addToList(item)">{{item.title}}</div>
        </div>
    </div>
    <div class="hr_2"></div>
    <div>
        <h3 class="title">تگ</h3>
        <div class="_list">
            <div *ngFor="let item of list">
                <div class="list-item">{{item.title}}</div>
            </div>
        </div>
    </div>
</body>
<footer>
    <button class="btn_1" (click)="close()">
        افزودن تگ
        <i class="fa fa-add"></i>
    </button>
</footer>