@import 'variable';
@import 'button.scss';
@import 'input.scss';
@import '_mat';
@import './plus-minus';


.content {
    display: grid;
    justify-content: center;
    direction: rtl;
    padding: var(--font_2) var(--font_02);
    background: var(--secondary_1);
    border-radius: 10px;
    box-shadow: 0px 2px 6px 2px var(--secondary_7);
}

input {
    color: var(--secondary_5);
    margin: 0 auto;
    box-shadow: 1px 1px 8px 1px var(--secondary_4);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: var(--font_025);
}

.number_vals {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font_s);
    font-weight: 600;
    color: var(--secondary_6);
}

.btns {
    margin: var(--font_xs);
    display: flex;
    justify-content: center;
}

.btn_1 {
    color: var(--secondary_1);
    margin: var(--font_05);
    margin-top: var(--font_2) auto;
}

textarea {
    display: flex;
    justify-content: center;
    text-align: left;
    direction: ltr;
    border: none;
    outline: none;
    padding: var(--font_05);
    height: 6rem;
    width: 100%;
    min-width: 19rem;
    max-width: 34rem;
    border-radius: $border_15;
    background: var(--secondary_3);
    color: var(--primary_7);
    font-size: var(--font_s);
    font-weight: 600;

    @media (max-width:549px) {
        max-width: 21rem;
    }
}