<section class="content">
    <ul>
        <li>
            <h3>فرمت فایل های ورودی (extension)</h3>
            <textarea name="text" id="text" cols="30" rows="10" [(ngModel)]="closeTabService.IOPolicy.inputExtensions">
            </textarea>
        <li>
            <h3>نوع داده (content) </h3>
            <textarea name="text" id="text" cols="30" rows="10" [(ngModel)]="closeTabService.IOPolicy.contentType">
            </textarea>
        </li>
        <li class="number_vals">
            <h3> حداکثر حجم فایل قابل ارسال(بارگذاری)</h3>
            <div class="plus_minus">
                <div class="plus" (click)="plusOrMinusInputMaxSizeKb(closeTabService.IOPolicy.inputMaxSizeKb + 1)">
                    <i class="fa fa-plus"></i>
                </div>
                <input class="_value" type="number" [(ngModel)]="closeTabService.IOPolicy.inputMaxSizeKb">
                <div class="minus" (click)="plusOrMinusInputMaxSizeKb(closeTabService.IOPolicy.inputMaxSizeKb - 1)">
                    <i class="fa fa-minus"></i>
                </div>
            </div>
        </li>
        <li class="number_vals">
            <h3> حداکثر تعداد فایل قابل ارسال(بارگذاری) هر کاربر</h3>
            <div class="plus_minus">
                <div class="plus"
                    (click)="plusOrMinusInputMaxCountPerUser(closeTabService.IOPolicy.inputMaxCountPerUser + 1)">
                    <i class="fa fa-plus"></i>
                </div>
                <input class="_value" type="number" [(ngModel)]="closeTabService.IOPolicy.inputMaxCountPerUser">
                <div class="minus"
                    (click)="plusOrMinusInputMaxCountPerUser(closeTabService.IOPolicy.inputMaxCountPerUser - 1)">
                    <i class="fa fa-minus"></i>
                </div>
            </div>
        </li>
        <li class="number_vals">
            <h3>حداکثر تعداد کل فایل های قابل ارسال (بارگذاری) در روز</h3>
            <div class="plus_minus">
                <div class="plus"
                    (click)="plusOrMinusInputMaxCountPerDay(closeTabService.IOPolicy.inputMaxCountPerDay + 1)">
                    <i class="fa fa-plus"></i>
                </div>
                <input class="_value" type="number" [(ngModel)]="closeTabService.IOPolicy.inputMaxCountPerDay">
                <div class="minus"
                    (click)="plusOrMinusInputMaxCountPerDay(closeTabService.IOPolicy.inputMaxCountPerDay - 1)">
                    <i class="fa fa-minus"></i>
                </div>
            </div>
        </li>
        <li class="number_vals">
            <h3> حداکثر تعداد فایل قابل دریافت(بارگیری) هر کاربر</h3>
            <div class="plus_minus">
                <div class="plus"
                    (click)="plusOrMinusOutputMaxCountPerUser(closeTabService.IOPolicy.outputMaxCountPerUser + 1)">
                    <i class="fa fa-plus"></i>
                </div>
                <input class="_value" type="number" [(ngModel)]="closeTabService.IOPolicy.outputMaxCountPerUser">
                <div class="minus"
                    (click)="plusOrMinusOutputMaxCountPerUser(closeTabService.IOPolicy.outputMaxCountPerUser - 1)">
                    <i class="fa fa-minus"></i>
                </div>
            </div>
        </li>
        <li class="number_vals">
            <h3>حداکثر تعداد کل فایل های قابل دریافت(بارگیری) در روز</h3>
            <div class="plus_minus">
                <div class="plus"
                    (click)="plusOrMinusOutputMaxCountPerDay(closeTabService.IOPolicy.outputMaxCountPerDay + 1)">
                    <i class="fa fa-plus"></i>
                </div>
                <input class="_value" type="number" [(ngModel)]="closeTabService.IOPolicy.outputMaxCountPerDay">
                <div class="minus"
                    (click)="plusOrMinusOutputMaxCountPerDay(closeTabService.IOPolicy.outputMaxCountPerDay - 1)">
                    <i class="fa fa-minus"></i>
                </div>
            </div>
        </li>
    </ul>

    <button (click)="verification()" class="btn_1">
        ذخیره تغییرات
    </button>

</section>