<app-prime-table-editable
[dataSource]="closeTabService.saveDataForBadgetFormula"
[_outputFileName]="'Budget'"
[_numberOfExtraColumns]="[1, 2]"
[_sessionName]="'Budget-session'"
[_selectedColumnsToRemember]="'selectedBudgetFormulas'"
[_checkUpName]="'Budget'"
[_dictionaryName]="'zoneId'"
[_secondDictionaryName]="'karbariMoshtarakinCode'"
[dictionary]="zoneDictionary"
[secondDictionary]="karbariCodeDictionary"
(refreshedTable)="refreshTable()"
(getedExcelSample)="getExcelSample()"
(openedAddDialog)="openAddDialog()"
(openedAddExcelDialog)="openAddExcelDialog()"
(onRowEditedInit)="onRowEditInit($event)"
(onRowEditedSave)="onRowEditSave($event)"
(onRowEditedCancel)="onRowEditCancel()"
(removedRow)="firstConfirmDialog($event)"
></app-prime-table-editable>