@import '../../../assets/variable.scss';
@import '../../../assets/mixins.scss';

main {
  width: auto;
  min-height: 75vh;
  border-radius: $border_s;
  background: url('/assets/imgs/framework/bb.jpg') no-repeat $gray_l;
  background-size: cover;
  border-top: .2rem solid $orange;
  box-shadow: 2px 2px 5px 0px $gray_d;
  margin: 0 $font_05;
  padding: $font_05;
  transition: all ease-in-out 150ms;
}

.header {
  display: flex;
  justify-content: space-between;
  border-radius: $border_s;
  padding: .2rem $font_xs;
  margin-bottom: $font_05;
  background: $white;
  border-bottom: .2rem solid $blue_dr;

  .title {
    color: $blue_d;
  }
}

._logo_content {
  width: 4.5rem;
  height: 3.2rem;
}

.btn_1 {
  background-color: $gray_l;
  margin-left: $font_xs;
  width: 4rem;
  height: $font_2;
  border-radius: 15px;
  border: none;
  cursor: pointer;

  .fa-question {
    color: $orange;
    font-size: 1.2rem;
  }
}
