<app-prime-table-editable     
    [dataSource]="closeTabService.saveDataForRegion" 
    [_checkUpName]="'addItem'"
    [_outputFileName]="'region'"
    [_dictionaryName]="'dynamicId'"
    [_dictionaryOriginName]="'provinceId'"
    [dictionary]="provinceDictionary"
    [_sessionName]="'region-session'"
    [_outputEnabled]= false    
    [_hasSaveColumns]= false
    [_numberOfExtraColumns]="[1, 2]"
    (refreshedTable)="callAPI()"
    (openedAddDialog)="openAddDialog()"
    (dropDownChanges)="closeTabService.saveDataForRegion['provinceId']"
    (removedRow)="removeRow($event)"
    (onRowEditedCancel)="onRowEditCancel()"
    (onRowEditedInit)="onRowEditInit($event)"
    (onRowEditedSave)="onRowEditSave($event)"
 > 
</app-prime-table-editable>