@import 'variable.scss';
@import 'button.scss';
@import 'input.scss';
@import 'primeNG.scss';
@import 'mixins.scss';

section {
  display: grid;
  direction: rtl;
  margin: auto;
  width: 20rem;
  padding: var(--font_s);
  background: var(--secondary_1);
  border-radius: $border_15;
  box-shadow: 1px 1px 8px 4px var(--secondary_4);
}

.btn_1 {
  width: 100%;
  margin-top: var(--font_l);
}

._key,
._value {
  font-size: var(--font_m);
  font-weight: 800;
}

._value {
  display: flex;
  align-items: center;
  justify-content: center;
  direction: ltr;
  border: none;
  color: var(--primary_5);
  text-align: center;
}

._key {
  white-space: nowrap;
}
