<section>

    <h1 class="title">ارسال تصویر</h1>


    <form #form="ngForm" (ngSubmit)="uploadFile(form)" class="content">
        <div class="_desc">

            <input class="input_1" type="text" placeholder="پانوشت" name="caption"
                [(ngModel)]="messageService.toastImageWithCaptionReq.caption">

            <label *ngIf="!choosenFileName" class="btn_2 not_choosen_file" for="files" title="تصویری انتخاب نشده است">
                <span class="icon_android fa fa-image"></span>
                <small>تصویری</small> انتخاب نمایید
            </label>
            <label *ngIf="choosenFileName" class="label_choose_file" for="files">
                {{choosenFileName}}
            </label>
            <input #screenshotInput name="تصویری انتخاب نمایید" class="btn_2 _choose_file hidden" type="file"
                name="screenshot" (change)="onChange($event)" id="files">

            <!-- porgress bar -->
            <label for="progress"></label>
            <progress *ngIf="progress > 0" id="progress" [value]="progress" min="0" max="100">{{progress}}</progress>

            <div class="change_pass">
                <button *ngIf="progress == 0" class="btn_2" type="submit">
                    <div class="fa fa-upload"></div>
                    ارسال
                </button>
            </div>
        </div>

    </form>

</section>