<form>
    <div class="_desc">
        <div *ngFor="let col of _selectCols" [ngClass]="{'double_size':col.icon}">
            <div class="input_icon" *ngIf="!col.readonly && !col.isGIS">
                <i class="pi pi-bookmark _bookmark" [ngClass]="{special_input: col.borderize}"></i>
                <div class="input_3">
                    <div class="_key">{{col.header}}</div>
                    <input [readonly]="col.readonly" [tabindex]="col.tabIndex" [type]="col.isNumber ? 'number' : 'text'"
                        class="_value" name="{{col.field}}" [(ngModel)]="closeTabService.clientAddReq[col.field]">
                </div>
            </div>
            <div class="input_icon" *ngIf="!col.readonly && col.isGIS" (click)="showInMap()">
                <i class="pi pi-map-marker _bookmark" [ngClass]="{special_input: col.borderize}"></i>
                <div class="input_3">
                    <div class="_key">{{col.header}}</div>
                    <div class="_value">
                        <div *ngIf="closeTabService.clientAddReq[col.field]">
                            <i class="pi pi-check-square"></i>
                            مکان مشخص شده
                        </div>
                        <div *ngIf="!closeTabService.clientAddReq[col.field]">
                            انتخاب روی نقشه
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>