@import '../../../../../../../assets/variable';

.container {
  display: grid;
  direction: rtl;
  grid-template-columns: repeat(auto-fit, minmax(15rem, auto));
  gap: $font_xs;
  margin-top: $font_xs;
  background: $gray_100;
  padding: $font_xs 0.25rem;
  border-radius: $border_5;
}

.card {
  background: $white;
  text-align: center;
  border-radius: $border_15;
  box-shadow: 0 0 3px 2px $gray_200;
  padding: $font_l;
  position: relative;
}

._number {
  position: absolute;
  left: $font_xs;
  top: -$font_xs;
  background: $blue_400;
  color: $white;
  padding: $font_05;
  border-radius: $border_5;
  font-size: $font_l;
  font-weight: 600;
}

.title {
  font-size: $font_m;
  color: $blue_700;
  font-weight: 800;
}

._key_value {
  columns: 2;
  margin-bottom: $font_05;
}

.key {
  font-size: $font_s;
  font-weight: 600;
  color: $blue_700;
}

.val {
  font-size: $font_m;
  font-weight: 600;
  color: $blue_900;
}
