<main class="container">

    <section class="card" *ngFor="let item of dataSource.changeHistory; index as i">
        <div class="title"></div>
        <div class="_number">{{i+1}}</div>

        <div class="_key_value">
            <!-- <div class="key">وضعیت</div> -->
            <div style="text-align: left;" class="val">{{item.trackStatusTitle}}</div>
        </div>
        <hr>
        <div class="_key_value">
            <div class="key">مامور</div>
            <div class="val">{{item.counterReaderName}}</div>
        </div>
        <div class="_key_value">
            <div class="key">تاریخ ثبت</div>
            <div class="val">{{item.insertDateJalali}}</div>
        </div>
    </section>

</main>