<main class="container">

    <app-line-read-daily class="chart_0 charts relative_pos"></app-line-read-daily>

</main>

<main class="grid_double">
    <app-count-in-states></app-count-in-states>
    <app-user-overall></app-user-overall>
</main>

<main class="container">
    <app-rr-time></app-rr-time>
    <app-read-time></app-read-time>
    <app-media></app-media>
    <app-forbidden></app-forbidden>

</main>

<section class="content">
    <section class="collapse">
        <h3>آنالیز عملکرد</h3>
        <app-collapsable [_isCollapsed]=_isCollapsedAnalyzePrfm [_tooltipText]="'آنالیز عملکرد'"
            (_clicked)=" _isCollapsedAnalyzePrfm=!_isCollapsedAnalyzePrfm">
        </app-collapsable>
    </section>
    <main *ngIf="_isCollapsedAnalyzePrfm" class="container charts relative_pos">
        <div class="chart_analyze_radar">
            <app-analyze (barAnalyzeEvent)=receiveAnalyzeData($event)></app-analyze>
        </div>
        <div class="chart_analyze_bar">
            <app-bar-anlz-prfm [barAnalyze]="_analyzer_interface"></app-bar-anlz-prfm>
        </div>
    </main>
</section>

<app-dash-karkard></app-dash-karkard>
<app-trv-time></app-trv-time>
<app-dispersal-rate></app-dispersal-rate>