<app-prime-table     
    [_selectCols]="_selectCols" 
    [_selectedColumns]="selectedColumns"
    [dataSource]="dataSource" 
    [_outputFileName]="'finished'"
    [_checkUpName]="'finished'"
    [_sortField]="'insertDateJalali'"
    [_numberOfExtraColumns]="[1,2]"
    [_selectedColumnsToRemember]="'selectedTracks'"
    [_sessionName]="'finished-session'"
    (refreshedTable)="refreshTable()"
    (downloadedOutputSingle)="reDownloadOutputSingle($event)"
    (backedToImportedConfirmDialog)="backToImportedConfirmDialog($event)"
 > 
</app-prime-table>
