<app-prime-table     
    [dataSource]="closeTabService.saveDataForTrackFinished" 
    [_outputFileName]="'finished'"
    [_checkUpName]="'finished'"
    [_sortField]="'listNumber'"
    [_numberOfExtraColumns]="trackingManagerService.denyTracking() ? [1]: [1,2]"
    [_calculableSUM]=true
    [_hasAggregating] = true
    [_isCustomSort]=true
    [_selectedColumnsToRemember]="'selectedTrackFinished'"
    [_sessionName]="'finished-session'"
    (customedSort)="trackingManagerService.customSort($event)"
    (refreshedTable)="refreshTable()"
    (downloadedOutputSingle)="reDownloadOutputSingle($event)"
    (backedToImportedConfirmDialog)="backToImportedConfirmDialog($event)"
 > 
</app-prime-table>
