<app-prime-table     
    [dataSource]="closeTabService.saveDataForTrackFinished" 
    [_outputFileName]="'finished'"
    [_checkUpName]="'Kartables'"
    [_numberOfExtraColumns]="trackingManagerService.denyTracking() ? [1,2]: [1,2,3]"
    [_calculableSUM]=true
    [_hasAggregating] = true
    [_paginator]="false"      
    [_selectedColumnsToRemember]="'selectedTrackFinished'"
    [_sessionName]="'finished-session'"    
    (refreshedTable)="refreshTable()"
    (downloadedOutputSingle)="reDownloadOutputSingle($event)"
    (backedToImportedConfirmDialog)="backToImportedConfirmDialog($event)"
    (routedToFollowUp)="trackingManagerService.routeToFollowUp($event)"
 > 
</app-prime-table>
