<!-- *******
 *******
*******
*******
dictionary origin name should be insert and have to configure on implement

-->
<app-prime-table-editable     
    [dataSource]="closeTabService.saveDataForProvince" 
    [_checkUpName]="'addItem'"
    [_outputFileName]="'province'"
    [_dictionaryName]="'dynamicId'"
    [_dictionaryOriginName]="'countryId'"
    [_sessionName]="'province-session'"
    [dictionary]="countryDictionary"
    [_multiSelectEnable]=false
    [_outputEnabled]= false    
    [_hasSaveColumns]= false
    [_numberOfExtraColumns]="[1, 2]"
    (refreshedTable)="callAPI()"
    (openedAddDialog)="openAddDialog()"
    (removedRow)="removeRow($event)"
    (onRowEditedCancel)="onRowEditCancel()"
    (onRowEditedInit)="onRowEditInit($event)"
    (onRowEditedSave)="onRowEditSave($event)"
 > 
</app-prime-table-editable>