<app-prime-table-editable     
    [dataSource]="closeTabService.saveDataForZone" 
    [_checkUpName]="'addItem'"
    [_outputFileName]="shouldActive ? 'zone': 'UnPermissionZone'"
    [_dictionaryName]="'dynamicId'"
    [_sessionName]="'zone-session'"
    [_outputEnabled]= false    
    [_numberOfExtraColumns]="[1, 2]"
    [dictionary]="regionDictionary"
    (refreshedTable)="callAPI()"
    (openedAddDialog)="openAddDialog()"
    (dropDownChanges)="closeTabService.saveDataForZone['regionId']"
    (removedRow)="removeRow($event)"
    (onRowEditedCancel)="onRowEditCancel()"
    (onRowEditedInit)="onRowEditInit($event)"
    (onRowEditedSave)="onRowEditSave($event)"
 > 
</app-prime-table-editable>