<app-prime-table-editable     
    [_selectCols]="_selectCols" 
    [_selectedColumns]="selectedColumns"
    [dataSource]="dataSource" 
    [_checkUpName]="'zone'"
    [_dictionaryName]="'regionId'"
    [_multiSelectEnable]=false
    [_outputEnabled]= false
    [_rowsNumbers]=10
    [_rowsPerPage]="[10,20,50]"
    [_numberOfExtraColumns]="[1, 2]"
    [dictionary]="regionDictionary"
    (refreshedTable)="refreshTable()"
    (openedAddDialog)="openAddDialog()"
    (dropDownChanges)="dataSource['regionId']"
    (removedRow)="removeRow($event)"
    (onRowEditedCancel)="onRowEditCancel($event)"
    (onRowEditedInit)="onRowEditInit($event)"
    (onRowEditedSave)="onRowEditSave($event)"
 > 
</app-prime-table-editable>