<mat-horizontal-stepper #stepper>

    <mat-step [completed]="false" [stepControl]="closeTabService.userCompare">
        <form>
            <ng-template matStepLabel>مشخصات کلاینت</ng-template>
            <app-rl-us-select-input [dataSource]="closeTabService.userCompare" style="direction: rtl;">
            </app-rl-us-select-input>
        </form>
    </mat-step>

    <mat-step [completed]="false" [stepControl]="closeTabService.userCompare">
        <form>
            <ng-template matStepLabel>دسترسی به ناحیه</ng-template>
            <app-rl-us-select-zone [dataSource]="closeTabService.userCompare">
            </app-rl-us-select-zone>
        </form>
    </mat-step>

    <mat-step [completed]="false" [stepControl]="closeTabService.userCompare">
        <ng-template matStepLabel>سطح دسترسی به خدمات</ng-template>
        <app-rl-us-select-action [userAddData]="closeTabService.userCompare">
        </app-rl-us-select-action>
    </mat-step>

</mat-horizontal-stepper>