<app-prime-table-editable
[dataSource]="closeTabService.saveDataForTabsare2Formula"
[_checkUpName]="'addItem'"
[_outputFileName]="'tabsare2'"
[_numberOfExtraColumns]="[1, 2]"
[_sessionName]="'tabsare2-session'"
[_selectedColumnsToRemember]="'selectedTabsare2Formulas'"
[_dictionaryName]="'zoneId'"
[dictionary]="zoneDictionary"
(refreshedTable)="refreshTable()"
(openedAddDialog)="openAddDialog()"
(onRowEditedInit)="onRowEditInit($event)"
(onRowEditedSave)="onRowEditSave($event)"
(onRowEditedCancel)="onRowEditCancel()"
(removedRow)="firstConfirmDialog($event)"
></app-prime-table-editable>