<app-prime-table-editable
[dataSource]="dataSource"
[_selectCols]="_selectCols"
[_selectedColumns]="_selectedColumns"
[_outputFileName]="'tabsare2'"
[_numberOfExtraColumns]="[1, 2]"
[_sessionName]="'tabsare2-session'"
[_selectedColumnsToRemember]="'selectedTabsare2Formulas'"
[_checkUpName]="'tabsare2'"
[_dictionaryName]="'zoneId'"
[dictionary]="zoneDictionary"
(openedAddDialog)="openAddDialog()"
(onRowEditInit)="onRowEditInit($event)"
(onRowEditSave)="onRowEditSave($event)"
(onRowEditCancel)="onRowEditCancel($event)"
(removedRow)="firstConfirmDialog($event)"
></app-prime-table-editable>