@import '../../../assets/variable';
@import '../../../assets/button.scss';
@import '../../../assets/input.scss';
@import '../../../assets/mixins.scss';

section {
  background: $gray_d5;
  border-radius: $border_s;
  margin: auto;
  padding: $font_2;
  width: fit-content;
}

.input_1 {
  color: $blue_l;
}

.btn_1 {
  color: $gray_l;
}
