<app-prime-table     
    [dataSource]="dataSource" 
    [_outputFileName]="'lastStates'"
    [_checkUpName]="'lastStates'"
    [_sortField]="'listNumber'"
    [_calculableSUM]=true  
    [_hasAggregating] = true
    [_isCustomSort]=true
    [_selectedColumnsToRemember]="'selectedlastStates'"
    [_numberOfExtraColumns]="[1]"
    [_sessionName]="'last-states-session'"
    (showedInMap)="showInMap($event)"   
    (refreshedTable)="refreshTable()"
    (routedToLMAll)="trackingManagerService.routeToLMAll($event)"
 > 
</app-prime-table>
