<app-prime-table     
    [_selectCols]="_selectCols" 
    [_selectedColumns]="selectedColumns"
    [dataSource]="dataSource" 
    [_outputFileName]="'lastStates'"
    [_checkUpName]="'lastStates'"
    [_sortField]="'insertDateJalali'"
    [_sortOrder]=-1
    [_sortMode]="'single'"
    [_rowsPerPage]="[10,25,50]"
    [_rowsNumbers]=10
    [_selectedColumnsToRemember]="'selectedlastStates'"
    [_numberOfExtraColumns]="[1]"
    [_sessionName]="'last-states-session'"
    (showedInMap)="showInMap($event)"   
    (refreshedTable)="refreshTable()"
    (routedToLMAll)="trackingManagerService.routeToLMAll($event)"
 > 
</app-prime-table>
