<div class="left_side">
    <i (click)="listManagerService.routeToReading()" class="tooltip _circle_border p_icons pi pi-arrow-left">
        <div class="tooltip_text_right">بازگشت به درحال قرائت</div>
    </i>
</div>
<section>

    <form #form="ngForm" class="content">
        <h1 class="title">اطلاعات کلی</h1>
        <div class="_desc">
            <div class="input_icon" *ngFor="let mainDatas of _selectMainDatas"
                [ngClass]="{'double_size':mainDatas.icon}">
                <i class="pi pi-bookmark _bookmark"></i>
                <div class="input_3">
                    <div class="_key">{{mainDatas.header}}</div>
                    <input [readOnly]="mainDatas.readonly" class="_value" name="{{mainDatas.field}}"
                        [(ngModel)]="closeTabService.saveDataForLMPD[mainDatas.field]">
                </div>
            </div>
        </div>
        <div class="check_boxes">
            <mat-checkbox [disabled]="true" name="hasPreNumber"
                [(ngModel)]="closeTabService.saveDataForLMPD.hasPreNumber">رقم قبلی
            </mat-checkbox>

            <mat-checkbox [disabled]="true" name="displayBillId"
                [(ngModel)]="closeTabService.saveDataForLMPD.displayBillId">شناسه قبض
            </mat-checkbox>

            <mat-checkbox [disabled]="true" name="displayRadif"
                [(ngModel)]="closeTabService.saveDataForLMPD.displayRadif">ش.پرونده
            </mat-checkbox>

            <mat-checkbox [disabled]="true" name="displayPreDate"
                [(ngModel)]="closeTabService.saveDataForLMPD.displayPreDate">
                تاریخ قبلی
            </mat-checkbox>

            <mat-checkbox [disabled]="true" name="displayMobile"
                [(ngModel)]="closeTabService.saveDataForLMPD.displayMobile">
                موبایل
            </mat-checkbox>

            <mat-checkbox [disabled]="true" name="hasImage" [(ngModel)]="closeTabService.saveDataForLMPD.hasImage">
                تصویر
            </mat-checkbox>

            <mat-checkbox [disabled]="true" name="displayDebt"
                [(ngModel)]="closeTabService.saveDataForLMPD.displayDebt">
                بدهی
            </mat-checkbox>

            <mat-checkbox [disabled]="true" name="displayIcons"
                [(ngModel)]="closeTabService.saveDataForLMPD.displayIcons">
                آیکن
            </mat-checkbox>

            <mat-checkbox [disabled]="true" name="isBazdid"
                [(ngModel)]="closeTabService.saveDataForLMPD.isBazdid">بازدید
            </mat-checkbox>

            <mat-checkbox [disabled]="true" name="isRoosta" [(ngModel)]="closeTabService.saveDataForLMPD.isRoosta">روستا
            </mat-checkbox>
        </div>
    </form>

</section>

<section class="content">
    <h1 class="title">اطلاعات روزانه قرائت</h1>
    <main *ngFor="let history of closeTabService.saveDataForLMPD.offLoadPerDayHistory" class="card_wrapper">
        <div class="card__content" *ngFor="let item of _selectCols" [ngClass]="{'double_size':item.icon}">
            <div class="input_icon">
                <i class="pi pi-bookmark _bookmark"></i>
                <div class="input_3">
                    <div class="_key">{{item.header}}</div>
                    <input [readOnly]="item.readonly" class="_value" name="{{item.field}}"
                        [(ngModel)]="history[item.field]">
                </div>
            </div>
        </div>

        <div class="disable_grid_temp">
            <button class="btn_1 d_rtl" (click)="routeToLMPDXY(history.day)">
                مشاهده روی نقشه
                <i class="p_icons pi pi-map-marker"></i>
            </button>
        </div>
    </main>
</section>