@import 'variable.scss';
@import 'input.scss';
@import 'button.scss';
@import 'primeNG';
@import 'tooltip.scss';


.content {
  background: $gray_400;
  box-shadow: 1px 2px 3px 1px $blue_400;
  text-align: center;
  justify-content: space-around;
  border-radius: $border_15;
}

._desc {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 17rem));
  direction: rtl;
  justify-content: center;
  gap: $font_05;
  padding: $font_xs $font_05;
  border-radius: $border_15;
}

._value {
  border: 0;
  width: 100%;
}

.title {
  color: $blue_400;
  text-align: center;
  margin: $font_xs $font_05;
  font-size: 1.6rem;
}

input {
  color: $gray_500;
  margin: 0 auto;
  box-shadow: 1px 1px 8px 1px $gray_400;
}

/* card content */
.position_section {
  direction: rtl;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, auto));
  gap: $font_05;
}

.card_wrapper {
  display: grid;
  direction: rtl;
  grid-template-columns: repeat(auto-fit, minmax(46%, 47%));
  gap: $font_05;
  background: $gray_400;
  place-content: center;
  padding: $font_xs 0;
  border-radius: $border_15;

  box-shadow: 1px 2px 3px 1px $blue_400;
}

.card__content {
  white-space: nowrap;
  direction: inherit;
}

.disable_grid_temp {
  text-align: center;
  margin: auto 0;

  &.card_wrapper {
    display: inline !important;
    grid-template-columns: none !important;
  }

  .btn_1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: $font_xs;
    background: $orange_500;
    color: $white;
    width: 100%;
    max-width: 100%;

    i {
      color: $white;
    }
  }
}

.input_2 {
  margin: 0;
}

.double_size {
  grid-column: auto/ span 2;
}

.header_icons_wrap {
  position: relative;

  .left_side {
    position: absolute;
    top: 50%;
  }
}
