<div class="left_side">
    <i (click)="listManagerService.routeToReading()" class="tooltip _circle_border p_icons pi pi-arrow-left">
        <div class="tooltip_text_right">بازگشت به درحال قرائت</div>
    </i>
</div>
<section>

    <form #form="ngForm" class="content">
        <h1 class="title">اطلاعات کلی</h1>
        <div class="overall_info_top">
            <div class="_desc">
                <div class="input_icon" *ngFor="let mainDatas of _selectMainDatas"
                    [ngClass]="{'double_size':mainDatas.icon}">
                    <i class="pi pi-bookmark _bookmark"></i>
                    <div class="input_3">
                        <div class="_key">{{mainDatas.header}}</div>
                        <input [readOnly]="mainDatas.readonly" class="_value" name="{{mainDatas.field}}"
                            [(ngModel)]="closeTabService.saveDataForLMPD[mainDatas.field]">
                    </div>
                </div>
                <div class="input_icon">
                    <i class="pi pi-bookmark _bookmark"></i>
                    <div class="_key">رقم قبلی</div>
                    <mat-checkbox [disabled]="true" name="hasPreNumber"
                        [(ngModel)]="closeTabService.saveDataForLMPD.hasPreNumber">
                    </mat-checkbox>
                </div>
                <div class="input_icon">
                    <i class="pi pi-bookmark _bookmark"></i>
                    <div class="_key">شناسه قبض</div>
                    <mat-checkbox [disabled]="true" name="displayBillId"
                        [(ngModel)]="closeTabService.saveDataForLMPD.displayBillId">
                    </mat-checkbox>
                </div>
                <div class="input_icon">
                    <i class="pi pi-bookmark _bookmark"></i>
                    <div class="_key">ش.پرونده</div>
                    <mat-checkbox [disabled]="true" name="displayRadif"
                        [(ngModel)]="closeTabService.saveDataForLMPD.displayRadif">
                    </mat-checkbox>
                </div>
                <div class="input_icon">
                    <i class="pi pi-bookmark _bookmark"></i>
                    <div class="_key">تاریخ قبلی</div>
                    <mat-checkbox [disabled]="true" name="displayPreDate"
                        [(ngModel)]="closeTabService.saveDataForLMPD.displayPreDate">
                    </mat-checkbox>
                </div>
                <div class="input_icon">
                    <i class="pi pi-bookmark _bookmark"></i>
                    <div class="_key">موبایل</div>
                    <mat-checkbox [disabled]="true" name="displayMobile"
                        [(ngModel)]="closeTabService.saveDataForLMPD.displayMobile">
                    </mat-checkbox>
                </div>
                <div class="input_icon">
                    <i class="pi pi-bookmark _bookmark"></i>
                    <div class="_key">تصویر</div>
                    <mat-checkbox [disabled]="true" name="hasImage"
                        [(ngModel)]="closeTabService.saveDataForLMPD.hasImage">
                    </mat-checkbox>
                </div>
                <div class="input_icon">
                    <i class="pi pi-bookmark _bookmark"></i>
                    <div class="_key">بدهی</div>
                    <mat-checkbox [disabled]="true" name="displayDebt"
                        [(ngModel)]="closeTabService.saveDataForLMPD.displayDebt">
                    </mat-checkbox>
                </div>
                <div class="input_icon">
                    <i class="pi pi-bookmark _bookmark"></i>
                    <div class="_key">آیکن</div>
                    <mat-checkbox [disabled]="true" name="displayIcons"
                        [(ngModel)]="closeTabService.saveDataForLMPD.displayIcons">
                    </mat-checkbox>
                </div>
                <div class="input_icon">
                    <i class="pi pi-bookmark _bookmark"></i>
                    <div class="_key">بازدید</div>
                    <mat-checkbox [disabled]="true" name="isBazdid"
                        [(ngModel)]="closeTabService.saveDataForLMPD.isBazdid">
                    </mat-checkbox>
                </div>
                <div class="input_icon">
                    <i class="pi pi-bookmark _bookmark"></i>
                    <div class="_key">روستا</div>
                    <mat-checkbox [disabled]="true" name="isRoosta"
                        [(ngModel)]="closeTabService.saveDataForLMPD.isRoosta">
                    </mat-checkbox>
                </div>
            </div>
            <section class="_charts" *ngIf="chartTemp.length > 0">
                <app-per-day-pie [dataSource]="chartTemp"></app-per-day-pie>
                <div>
                    <div class="input_icon" *ngFor="let mainDatas of _selectPerDayCountInfo"
                        [ngClass]="{'double_size':mainDatas.icon}">
                        <i class="pi pi-bookmark _bookmark"></i>
                        <div class="input_3">
                            <div class="_key">{{mainDatas.header}}</div>
                            <input [readOnly]="mainDatas.readonly" class="_value" name="{{mainDatas.field}}"
                                [(ngModel)]="closeTabService.saveDataForLMPD[mainDatas.field]">
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </form>

</section>

<section class="content">
    <h1 class="title">اطلاعات روزانه قرائت</h1>
    <main *ngFor="let history of closeTabService.saveDataForLMPD.offLoadPerDayHistory" class="card_wrapper">
        <div class="card__content" *ngFor="let item of _selectCols" [ngClass]="{'double_size':item.icon}">
            <div class="input_icon">
                <i class="pi pi-bookmark _bookmark"></i>
                <div class="input_3">
                    <div class="_key">{{item.header}}</div>
                    <input [readOnly]="item.readonly" class="_value" name="{{item.field}}"
                        [(ngModel)]="history[item.field]">
                </div>
            </div>
        </div>

        <div class="disable_grid_temp">
            <button class="btn_1 d_rtl" (click)="routeToLMPDXY(history.day)">
                مشاهده روی نقشه
                <i class="p_icons pi pi-map-marker"></i>
            </button>
        </div>
    </main>
</section>