.btn_1 {
  max-width: 19rem;
  width: 100%;
  height: 3rem;
  text-align: center;
  background: $blue_l;
  border-radius: 2rem;
  font-size: 1.3rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
