.input_1 {
  min-width: 19rem;
  height: 3rem;
  background: $white;
  padding: 0 1rem;
  margin-bottom: .5rem;
  text-align: right;
  font-size: 1.2rem;
  border-radius: 2rem;
  font-weight: 600;
  border: 1px solid;
  font-family: inherit;
}
