.d_flex_center_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

._flex_dr_ric {
  display: flex;
  flex-direction: row;
  align-items: center;
}
._flex_drr_ric {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.d_flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d_grid_center {
  display: grid;
  place-items: center;
}

// mixin for d_grid_center
@mixin d_grid_center {
  display: grid;
  place-items: center;
}

@mixin d_flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
