@import '../assets/variable.scss';

:host ::ng-deep {

  .p-datatable table {
    font-family: BLotus, "Blotus", tahoma, Sans-Serif;
    font-size: $font_s;
  }

  tr:nth-child(even) {
    background: #e9ecef;
  }

  .p-datatable .p-datatable-thead>tr>th,
  .p-datatable .p-datatable-tbody>tr>td {
    text-align: center;
    font-size: $font_m;
    font-weight: 600;
  }

  .p_icons {
    color: $dark_ddd;
    font-size: $font_s;
    cursor: pointer;
  }

  th {
    p-sorticon {
      opacity: 0;
      transition: opacity ease-in-out 80ms;
    }

    &:hover,
    &:active,
    &:focus {
      p-sorticon {
        opacity: 1;
      }
    }
  }

}
