@import '../assets/variable.scss';

:host ::ng-deep {

  .p-datatable table {
    font-family: BLotus, "Blotus", tahoma, Sans-Serif;
    font-size: $font_s;
  }

  tr:nth-child(even) {
    background: #e9ecef;
  }

  .p-datatable .p-datatable-thead>tr>th,
  .p-datatable .p-datatable-tbody>tr>td {
    text-align: center;
    font-size: $font_m;
    font-weight: 600;
    padding: $font_xs .2rem;
    border: 1px solid $gray_200;
  }

  [disabled] {
    background: $gray_100;
  }

  .p-column-filter-row {
    direction: ltr;
  }

  .p-column-filter-row p-columnfilterformelement {
    width: 100%;
  }

  .p-hidden-space {
    display: none !important;
  }

  th {
    p-sorticon {
      opacity: 0;
      transition: opacity ease-in-out 80ms;
    }

    &:hover,
    &:active,
    &:focus {
      p-sorticon {
        opacity: 1;
      }
    }
  }

  .fa-trash-o {
    color: $red_600;
  }

  .p-datatable .p-datatable-header {
    display: flex;
    justify-content: space-between;
  }

  .header_icons_wrap {
    display: flex;
    justify-content: space-between;
    margin: 0 $font_05;
    width: 100%;

    .left_side {
      display: flex;

      i {
        margin: 0 .25rem;
      }
    }
  }

  .p-paginator-pages {
    display: flex;
    flex-direction: row-reverse;
  }

  .p-paginator {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
  }

  footer,
  .footer {
    text-align: center;
  }
}

.empty_data {
  display: flex;
  justify-content: center;
  background: $white;
  padding: $font_3;
  border-radius: $border_15;
  font-size: $font_l;
  font-weight: 600;
  color: $gray_700;
}
