@import '../assets/variable.scss';

:host ::ng-deep {

  .p-datatable table {
    font-family: BLotus, "Blotus", tahoma, Sans-Serif;
    font-size: $font_s;
  }

  tr:nth-child(even) {
    background: #e9ecef;
  }

  .p-datatable .p-datatable-thead>tr>th,
  .p-datatable .p-datatable-tbody>tr>td {
    text-align: center;
    font-size: $font_m;
    font-weight: 600;
    padding: $font_xs .2rem;
    border: 1px solid $gray_e3;
  }

  .p_icons {
    color: $dark_ddd;
    font-size: $font_m;
    cursor: pointer;
  }

  .p-column-filter-row {
    direction: ltr;
  }

  .p-column-filter-row p-columnfilterformelement {
    width: 100%;
  }

  th {
    p-sorticon {
      opacity: 0;
      transition: opacity ease-in-out 80ms;
    }

    &:hover,
    &:active,
    &:focus {
      p-sorticon {
        opacity: 1;
      }
    }
  }

  .fa-trash-o {
    color: $red_d;
  }

  .p-datatable .p-datatable-header {
    display: flex;
    justify-content: space-between;
  }

  ._circle_border {
    display: grid !important;
    place-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 2px solid;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      box-shadow: 0px 0px 1px 1px;
    }
  }

}
