.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip_text {
  position: absolute;
  direction: rtl;
  visibility: hidden;
  background-color: #F68038;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  width: 120px;
  padding: 5px 0;
  z-index: 4;
  bottom: 150%;
  left: 150%;
  margin-left: -60px;
  font-weight: 600;
  font-family: $font_family;
  font-size: 1.2rem;
}

.tooltip .tooltip_text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #F68038 transparent transparent transparent;
}

.tooltip:hover .tooltip_text {
  visibility: visible;
}
