$white: #fff;
$blue_l:#116FFF;
$blue_d: #002CA8;
$blue_dr: #111166;
$gray_l: #F2F3F4;
$gray_d5: #D5D5D5;
$gray_d: #CBCBCB;
$gray_dr: #707070;
$medium_slate_blue: #7d83ff;

$border_s: 15px;
$border_50: 50%;

$font_xxs: 0.87rem;
$font_xs: 1rem;
$font_s: 1.2rem;
$font_m: 1.3rem;
$font_l: 1.5rem;
$font_2: 2rem;
$font_3: 3rem;


.hr_1 {
  width: 70%;
  margin-bottom: 1.5rem;
  height: .4rem;
  border-radius: 30px;
  // background: $c_light_gray;
}

.hr_2 {
  opacity: .7;
  width: 70%;
  margin: 2.5rem auto;
  height: .2rem;
  border-radius: 30px;
  // background: $c_light_gray;
}

// unique shape on hover and focus
a:hover,
a:focus,
a:active {
  outline: none;
}
