$white: #fff;
$blue_ll: rgb(220, 232, 255);
$dark_ddd: rgb(54, 134, 201);
$blue_c: rgb(89, 129, 177);
$blue_d2:rgb(14, 76, 146);
$blue_l:#116FFF;
$blue_lovely: #0045CB;
$blue_d: #365475;
$dark_blue: #1f4762;
$blue_dr: #15273c;
$half_gray: rgb(176, 189, 209);
$gray_l: rgb(242, 243, 244);
$gray_e3: rgb(230, 230, 230);
$gray_d5: rgb(213, 213, 213);
$gray_d: rgb(203, 203, 203);
$gray_96: rgb(150, 150, 150);
$gray_dr: rgb(112, 112, 112);
$gray_dr2: rgb(92, 92, 92);
$medium_slate_blue: #7d83ff;
$orange: #F68038;
$orange_d: #F57F17;
$green_android: #75BC54;
$green: #4B8C38;
$red: rgb(246, 62, 56);
$red_d: rgb(183, 28, 28);
$pink: #ff4081;

$border_s: 15px;
$border_50: 50%;

$font_05: 0.5rem;
$font_xxs: 0.87rem;
$font_xs: 1rem;
$font_s: 1.2rem;
$font_m: 1.3rem;
$font_l: 1.5rem;
$font_2: 2rem;
$font_3: 3rem;

$font_family: BLotus,
"Blotus",
tahoma,
Sans-Serif;

hr {
  width: 80%;
  border: 0;
  height: .14rem;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), $blue_d2, rgba(0, 0, 0, 0));
}

.hr_1 {
  width: 70%;
  margin-bottom: 1.5rem;
  height: .4rem;
  border-radius: 30px;
}

.hr_2 {
  opacity: .7;
  width: 70%;
  margin: 2.5rem auto;
  height: .2rem;
  border-radius: 30px;
}

.d_rtl {
  direction: rtl;
}

.d_ltr {
  direction: ltr;
}

// unique shape on hover and focus
a:hover,
a:focus,
a:active {
  outline: none;
}

::ng-deep {
  .mat-select-placeholder {
    color: $gray_d;
    font-size: 1rem;
  }
}


// header icon coloring
._xlsx,
._csv,
._pdf {
  color: $gray_l !important;
}

._xlsx {
  background: $green;
}

._csv {
  background: $green;
}

._pdf {
  background: $red;
}

// 
