@import '../../../../assets/variable.scss';
@import '../../../../assets/mixins.scss';
@import './hamburger';

.header {
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #fff;
  height: 3.5rem;
}

ul {
  margin-right: auto;
  display: flex;
}

li {
  display: flex;
  width: 9rem;
  margin: 0 .5rem;
  border-radius: 15px;
  color: $gray_dr2;
  text-align: center;
  list-style-type: none;
  cursor: pointer;

  font-size: $font_m;
  font-weight: 600;
}

p {
  background: $gray_d;
  font-weight: 600;
  width: 100%;
  border-radius: 15px;
}

.menu_toggle {
  margin-right: 15%;
  padding: .5rem;
  cursor: pointer;
}
