<div class="header">
    <li class="_theme_mode">
        <i (click)="_showColorPalete = !_showColorPalete" class="tooltip _circle_border p_icons fas fa-moon">
        </i>
        <i *ngFor="let item of testColors" (click)="changeColor(item.color)" class="fas fa-sun"
            [ngClass]="{'background-color':item.colorName}"
            [@openClose]="_showColorPalete ? 'openSubItems' : 'closeSubItems'">
        </i>
    </li>
    <ul>
        <li class="_borders">
            <app-date-jalali></app-date-jalali>
        </li>
        <li>
            <app-dropdown (isLogout)=logout()></app-dropdown>
        </li>
        <li class="_name">
            {{displayName}}
        </li>
        <li class="menu_toggle" (click)="setSidebar()">
            <span></span>
            <span></span>
            <span></span>
        </li>
        <li>
            <app-small-spinner></app-small-spinner>
        </li>
    </ul>

</div>