@import 'variable.scss';
@import 'mixins.scss';
@import 'hamburger';
@import 'theme';
@import 'tooltip';
@import 'button';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: var(--font_33);
  padding: var(--font_01);
  box-shadow: 0 1px 5px 0px var(--primary_5);
  z-index: 100;
}

ul {
  display: flex;
  align-items: center;
  gap: 2px;
  margin: 0;
  padding: 0;

  @media (min-width:550px) {
    gap: 1.5rem;
    margin: 4px 0;
  }

}

li {
  display: flex;
  align-items: center;
  margin: 0 1px;
  color: var(--secondary_7);
  text-align: center;
  list-style-type: none;
  user-select: none;
  cursor: pointer;
  border: none;

  font-size: var(--font_s);
  font-weight: 600;

  @media (min-width: 550px) {
    font-size: var(--font_m);
    margin: 0 var(--font_025);
  }
}

.notif {
  position: relative;
  color: var(--primary_5);
}

._badge_wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 1.3rem;
  top: 1.6rem;

  @media (min-width: 550px) {
    top: 1rem;
  }
}

._user {
  position: relative;
}

._badge_usercode {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0rem;
  bottom: -0.5rem;
  font-size: .8rem;
  color: var(--primary_5);
}

._notif_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--font_23);
  height: var(--font_23);
  border-radius: 50%;

  &:hover,
  &:focus-visible,
  &:active {
    --thirdy_opacity: rgba(108, 159, 214, 0.3);
    box-shadow: 0px 0px 1px 1px var(--thirdy_1);
    background-color: var(--thirdy_opacity);
  }
}

._badge {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.87rem;
  max-height: 1.87rem;
  min-width: 1.5rem;
  padding: 0 0.3rem;
  font-weight: 600;
  border-radius: 100vmax;
  color: var(--secondary_1);
  font-family: var(--font-family);
  background-color: var(--red_600);

  @media (min-width: 550px) {
    font-size: 0.87rem;
  }
}

.menu_toggle {
  border-radius: $border_50;
  padding: .5rem;

  i {
    font-size: 1.2rem;
    color: var(--primary_5);
  }

  &:hover,
  &:focus-visible,
  &:active {
    --thirdy_opacity: rgba(108, 159, 214, 0.3);
    box-shadow: 0px 0px 1px 1px var(--thirdy_1);
    background-color: var(--thirdy_opacity);
  }
}

::ng-deep {

  ._borders {
    @include _borders();

    .dp-popup {
      transform: translateX(0);
    }
  }
}

._status {
  .tooltip .tooltip_text_bottom {
    width: 10rem;
    font-size: var(--font_ss);
  }

  i {
    font-size: var(--font_s);
    vertical-align: middle;

    @media (min-width: 550px) {
      font-size: var(--font_l);
    }
  }

  .pi-spinner {
    color: var(--fix_gray_light);
  }

  .pi-check-circle {
    color: var(--green_600);
  }

  .pi-times-circle {
    color: var(--red_600);
  }

  .Disconnecting {
    color: var(--orange_600);
  }

  .Reconnecting {
    color: var(--orange_500);
  }
}

.btn_2_o {
  height: inherit;
  width: var(--font_55);
  font-size: var(--font_ss);
}

._fullscreen {
  display: flex;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;

  i {
    font-size: 1.2rem;
    color: var(--primary_5);
  }
}

.menu-bar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  min-width: 100vw;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-height: 100svh;
  z-index: 10;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
}

.menu-close {
  top: 110vh;
  height: 0;
  min-height: 0;
}