<div class="header">
    <li class="_theme_mode">
        <i *ngIf="this.themeService.isDarkTheme()" (click)="toggleTheme()" class="fas fa-sun"></i>
        <i *ngIf="!this.themeService.isDarkTheme()" (click)="toggleTheme()" class="fas fa-moon"></i>
    </li>
    <ul>
        <li class="_borders">
            <app-date-jalali></app-date-jalali>
        </li>
        <li>
            <app-dropdown (isLogout)=logout()></app-dropdown>
        </li>
        <li class="_name">
            {{displayName}}
        </li>
        <li class="menu_toggle" (click)="setSidebar()">
            <span></span>
            <span></span>
            <span></span>
        </li>
        <li>
            <app-small-spinner></app-small-spinner>
        </li>
    </ul>

</div>