<div class="header">
    <li class="_theme_mode">
        <section class="info">
            <i (click)="_showColorPalete = !_showColorPalete" class="pi pi-palette _color_palete">
                <div *ngFor="let item of themeService.getColors()" (click)="changeColor(item.color)"
                    class="_info_each_item" [ngStyle]="{'background-color':item.colorName}"
                    [@openClose]="_showColorPalete ? 'openSubItems' : 'closeSubItems'">
                </div>
            </i>
        </section>
    </li>
    <ul>
        <li class="_borders">
            <app-date-jalali></app-date-jalali>
        </li>
        <li>
            <app-dropdown (isLogout)="logout()"></app-dropdown>
        </li>
        <li class="_status" [ngSwitch]="signalRService.getConnectionStatus()">
            <div class="tooltip">
                <i class="pi pi-times-circle" *ngSwitchCase="'Disconnected'">
                    <div class="tooltip_text_bottom">{{ENHubMessages.Disconnected}}</div>
                </i>
            </div>
            <div class="tooltip">
                <i class="pi pi-spin pi-spinner" *ngSwitchCase="'Connecting'"></i>
                <div class="tooltip_text_bottom">{{ENHubMessages.Connecting}}</div>
            </div>
            <div class="tooltip">
                <i class="Disconnecting pi pi-spin pi-spinner" *ngSwitchCase="'Disconnecting'"></i>
                <div class="tooltip_text_bottom">{{ENHubMessages.Disconnecting}}</div>
            </div>
            <div class="tooltip">
                <i class="Reconnecting pi pi-spin pi-spinner" *ngSwitchCase="'Reconnecting'"></i>
                <div class="tooltip_text_bottom">{{ENHubMessages.Reconnecting}}</div>
            </div>
            <div class="tooltip">
                <i class="pi pi-check-circle" *ngSwitchCase="'Connected'"></i>
                <div class="tooltip_text_bottom">{{ENHubMessages.Connected}}</div>
            </div>
        </li>
        <li class="_name">
            {{displayName}}
        </li>
        <li class="menu_toggle" (click)="setSidebar()">
            <span></span>
            <span></span>
            <span></span>
        </li>
        <li>
            <app-small-spinner></app-small-spinner>
        </li>
    </ul>

</div>