<main class="main">
    <section>
        <form #form="ngForm" (ngSubmit)="verification()">
            <section class="_card"
                [@openClose]="securityService.utilsService.collapser._isCollapsedIpFilterGetInvalidTime ? 'slideUp' : 'slideDown'">
                <section class="content">
                    <div class="input_2">
                        <div class="_key">از</div>
                        <div class="_value">
                            <app-date-jalali name="fromDate"
                                (dateJalEvent)="closeTabService.receiveFromDateJalali(closeTabService.ENReadingReports.ipFilterGetInvalidTime, $event)"
                                [dateObject]="closeTabService.ipFilterGetInvalidTimeReq.fromDate">
                            </app-date-jalali>
                        </div>
                    </div>
                    <div class="input_2">
                        <div class="_key">تا</div>
                        <div class="_value">
                            <app-date-jalali name="toDate"
                                (dateJalEvent)="closeTabService.receiveToDateJalali(closeTabService.ENReadingReports.ipFilterGetInvalidTime, $event)"
                                [dateObject]="closeTabService.ipFilterGetInvalidTimeReq.toDate">
                            </app-date-jalali>

                        </div>
                    </div>
                    <button type="submit" class="btn_1">
                        مشاهده
                        <i class="pi pi-list"></i>
                    </button>

                </section>
            </section>
        </form>
    </section>

    <app-prime-table 
    [dataSource]="closeTabService.ipFilterGetInvalidTime"
    [_outputFileName]="'ipFilterGetInvalidTime'"
    [_checkUpName]="'ipFilterGetInvalidTime'"    
    [_sessionName]="'ipFilterGetInvalidTime-session'"
    [_selectedColumnsToRemember]="'selectedRequestLogIpFilterGetInvalidTime'"
    [_hasCollapsible]=true        
    [_isCollaped]="closeTabService.utilsService.collapser._isCollapsedIpFilterGetInvalidTime"
    (collapsed)="closeTabService.utilsService.collapser._isCollapsedIpFilterGetInvalidTime = !closeTabService.utilsService.collapser._isCollapsedIpFilterGetInvalidTime"
    (refreshedTable)="verification()"    
    >
    </app-prime-table>
</main>