<main class="over_all">
    <div *ngFor="let item of closeTabService.saveDataForMsDriveInfo, index as i">
        <div class="_card">
            <h1 class="title">{{item.driveName}} {{item.volumeLabel}}</h1>
            <div class="_key_value">
                <div class="_key">درصد فضای آزاد</div>
                <div class="_value"> {{item.freePercent}}</div>
            </div>
            <div class="_key_value">
                <div class="_key">درصد استفاده شده</div>
                <div class="_value">{{item.usedPercent}}</div>
            </div>
            <div class="_key_value">
                <div class="_key">فضای کل(GB)</div>
                <div class="_value">{{item.totalSpaceGb}}</div>
            </div>
            <div class="_key_value">
                <div class="_key">فضای استفاده شده(GB)</div>
                <div class="_value">{{item.usedSpaceGb}}</div>
            </div>
            <div class="_key_value">
                <div class="_key">فضای آزاد (GB)</div>
                <div class="_value">{{item.freeSpaceGb}}</div>
            </div>
            <div class="_key_value">
                <div class="_key">فضای در دسترس(GB)</div>
                <div class="_value">{{item.avaialableSpaceGb}}</div>
            </div>
            <div class="_key_value">
                <div class="_key">فضای رزرو(MB)</div>
                <div class="_value">{{item.reservedSpaceMb}}</div>
            </div>

            <section class="_charts" *ngIf="closeTabService.saveDataForMsDriveInfo">
                <app-drive-info-pie [dataSource]="temp[i]"></app-drive-info-pie>
            </section>
        </div>

    </div>
</main>