<app-prime-table-editable     
    [_selectCols]="_selectCols" 
    [_selectedColumns]="selectedColumns"
    [dataSource]="dataSource" 
    [_dictionaryName]="'zoneId'"
    [dictionary]="zoneDictionary"
    [_rowsNumbers]=10    
    [_rowsPerPage]="[10,25,50]"
    [_numberOfExtraColumns]="[1, 2]"
    [_isInRowEditing]=true
    [newRow]="newRow()"
    [newRowLimit]="newRowLimit"
    (refreshedTable)="refreshTable()"
    (addedNewRow)="newRow()"
    (newedRowChangedStatus)="testChangedValue()"
    (onRowEditedSave)="onRowEditSave($event)"
    (onRowEditCancelRowEditing)="onRowEditCancel($event)"
    (onRowEditedInit)="onRowEditInit($event)"
    (removedRowEditing)="removeRow($event)"
 > 
</app-prime-table-editable>