<app-prime-table-editable     
    [_selectCols]="_selectCols" 
    [_selectedColumns]="selectedColumns"
    [dataSource]="dataSource" 
    [_outputEnabled]=false 
    [_numberOfExtraColumns]="[1, 2]"
    [_outputFileName]="'textOutput'"
    [_checkUpName]="'textOutput'"
    
    [dictionary]="zoneDictionary"
    [_dictionaryName]="'zoneId'"
    [_selectedColumnsToRemember]="'selectedTextOutput'"
    (refreshedTable)="refreshTable()"    
    (newedRowChangedStatus)="testChangedValue()"
    (removedRow)="removeRow($event)"    
    (onRowEditedInit)="onRowEditInit($event)"
    (onRowEditCancelRowEditing)="onRowEditCancel($event)"
    (removedRowEditing)="removeRow($event)"
    (onRowEditedSave)="onRowEditSave($event)"
 > 
</app-prime-table-editable>

    
        <!-- [_isInRowEditing]=true -->