.ma {
  display: flex;
}

app-frame-work {
  flex-grow: 1;
}

app-header {
  position: sticky;
  top: 0;
  display: block;
  z-index: 30;
}

._sidebar_container {
  position: fixed;
  top: 2.8rem;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 20;
  min-width: 85%;
  transition: min-width cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;

  @media (min-width: 375px) {
    min-width: 75%;
  }

  @media (min-width: 550px) {
    position: sticky;
    top: 0;
    min-width: 29%;
  }

  @media (min-width: 700px) {
    min-width: 24%;
  }

  @media (min-width: 850px) {
    min-width: 22%;
  }

  @media (min-width: 1000px) {
    min-width: 18%;
  }

  @media (min-width: 1200px) {
    min-width: 14%;
  }
}

app-side-bar {
  position: fixed;
  height: 100%;
  top: 6rem;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;

  @media (min-width: 550px) {
    min-width: 29%;
    width: 29%;
  }

  @media (min-width: 700px) {
    min-width: 24%;
    width: 24%;
  }

  @media (min-width: 850px) {
    min-width: 22%;
    width: 22%;
  }

  @media (min-width: 1000px) {
    min-width: 18%;
    width: 18%;
  }

  @media (min-width: 1200px) {
    min-width: 14%;
    width: 14%;
  }
}

._sidebar_small_screen_toggle {
  // for mobile view, small sidebar should not showing
  visibility: hidden;
  opacity: 0;
  width: 0;

  @media (min-width: 550px) {
    visibility: visible;
    opacity: 1;
    min-width: 4rem;
    width: 4rem;
  }

  @media (min-width: 700px) {
    min-width: 5rem;
    width: 5rem;
  }

  app-side-bar {
    @media (min-width: 550px) {
      min-width: 4rem;
      width: 4rem;
    }

    @media (min-width: 700px) {
      min-width: 5rem;
      width: 5rem;
    }
  }

  &:hover {
    overflow: visible;

    app-side-bar {
      right: 0;
      box-shadow:
        0px 11px 10px 0px rgba(0, 0, 0, .14),
        0px 18px 18px 0px rgba(0, 0, 0, .12),
        0px 5px 5px -1px rgba(0, 0, 0, .2);

      animation: absolute_animation 250ms both;

    }
  }
}

@keyframes absolute_animation {

  from {
    width: 5rem;
    min-width: 5rem;
  }

  to {
    width: 13rem;
    min-width: 13rem;
  }
}

app-tab-wrapper {
  object-fit: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 99%;
  border-radius: 0 0 15px 15px;

  @media (min-width: 700px) {
    width: 79%;
  }

  @media (min-width: 1000px) {
    width: 90%;
  }
}
