.ma {
  display: flex;
  width: 99%;

  &router-outlet {
    width: 95%;
  }
}

app-tab-wrapper {
  background: url(/assets/imgs/tabWrapper/5.jpg) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 3rem;
  margin-bottom: 0.5rem;
  width: 67%;
  min-height: 4rem;
  border-radius: 0 0 15px 15px;

  @media (min-width: 700px) {
    width: 73%;
  }

  @media (min-width: 1000px) {
    width: 84%;
  }
}

app-side-bar {
  width: 43%;
  min-height: 75vh;
  transition: all ease-in-out 150ms;
  z-index: 2;

  @media (min-width: 700px) {
    width: 25%;
  }

  @media (min-width: 1000px) {
    width: 17%;
  }
}

app-frame-work {
  width: 86%;
}

//ts config
.page_conf {
  width: 5%;
}

.framework_conf {
  width: 95%;
}

.tabWrapper_conf {
  width: 90%;
}
