.ma {
  display: flex;

  &router-outlet {
    width: 95%;
  }
}

app-frame-work {
  flex-grow: 1;
}

app-header {
  position: sticky;
  top: 0;
  display: block;
  z-index: 30;
}

._sidebar_container {
  position: absolute;
  top: 6rem;
  bottom: 0;
  right: 0;
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 20;
  min-width: 85%;
  transition: all ease-in-out 250ms;

  @media (min-width: 375px) {
    min-width: 75%;
  }

  @media (min-width: 550px) {
    position: sticky;
    top: 0;
    min-width: 29%;
  }

  @media (min-width: 700px) {
    min-width: 24%;
  }

  @media (min-width: 850px) {
    min-width: 22%;
  }

  @media (min-width: 1000px) {
    min-width: 18%;
  }

  @media (min-width: 1200px) {
    min-width: 14%;
  }
}

._sidebar_width_6 {
  display: none;

  @media (min-width: 550px) {
    display: block;
    min-width: 4rem;
    width: 4rem;
  }

  @media (min-width: 700px) {
    min-width: 5rem;
    width: 5rem;
  }

  &:hover {
    overflow: visible;

    app-side-bar {
      position: absolute;
      right: 0;
      
      @media (min-width: 550px) {
        min-width: 13rem;
        width: 13rem;
      }
    }
  }
}

app-tab-wrapper {
  object-fit: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 67%;
  border-radius: 0 0 15px 15px;

  @media (min-width: 700px) {
    width: 79%;
  }

  @media (min-width: 1000px) {
    width: 90%;
  }
}
