<div class="_container">
    <h3 class="title">{{dataSource.displayName}} «{{dataSource.username}}»</h3>
    <div class="_key_value" (click)="ActivateUser()">
        <i class="fas fa-user-check"></i>
        فعال سازی
    </div>
    <div class="_key_value" (click)="DeActivateUser()">
        <i class="fas fa-user-times"></i>
        غیر فعال سازی
    </div>
    <div class="_key_value" (click)="resetPasswordUser()">
        <i class="pi pi-refresh"></i>
        بازنشانی گذرواژه (ریست پسورد)
    </div>
    <div class="_key_value" (click)="unLockUser()">
        <i class="pi pi-lock-open"></i>
        Unlock
    </div>
    <div class="_key_value _red_500" (click)="removeUser()">
        <i class="pi pi-user-minus"></i>
        حذف کاربر
    </div>
</div>