<div class="_container">
    <h3 class="title">{{dataSource.displayName}} «{{dataSource.username}}»</h3>
    <div class="_key_value" (click)="ActivateUser()">
        <i class="pi pi-lock-open"></i>
        فعال
    </div>
    <div class="_key_value" (click)="DeActivateUser()">
        <i class="pi pi-unlock"></i>
        غیر فعال
    </div>
    <div class="_key_value" (click)="resetPasswordUser()">
        <i class="pi pi-refresh"></i>
        بازنشانی گذرواژه
    </div>
    <div class="_key_value" (click)="unLockUser()">
        <i class="pi pi-check"></i>
        Unlock
    </div>
    <div class="_key_value _red_500" (click)="removeUser()">
        <i class="pi pi-user-minus"></i>
        حذف کاربر
    </div>
</div>