@import '../../../assets/variable';
@import '../../../assets/input.scss';
@import '../../../assets/button.scss';


.main {
  direction: rtl;
  background: $gray_100;
  box-shadow: 1px 1px 8px 4px $gray_400;
  padding: $font_s;
  border-radius: $border_15;
  min-height: 35rem;
}

section.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 17rem));
  gap: $font_05;
  align-items: center;
}

.static_part {
  border: .15rem solid $blue_700;
  box-shadow: 1px 1px 5px 1px $blue_700;
  border-radius: $border_15;
  padding: $font_xxs;
}

._key,
._value {
  font-size: $font_m;
  font-weight: 800;
}

._value {
  display: flex;
  align-items: center;
  justify-content: center;
  direction: ltr;
  border: none;
  color: $blue_700;
  text-align: center;
  width: 100%;
}

.btn_1 {
  color: $white;
  background-color: $orange_500;
}

h2 {
  color: $gray_600;
}

footer {
  margin-top: $font_2;
  text-align: center;
}

::ng-deep {
  .mat-select-arrow {
    color: $gray_100;
  }

  .mat-select {
    text-align: center;
  }

  .mat-select-value {
    font-family: $font_family;
    font-size: $font_s;
    color: $gray_100;
    font-weight: 600;
  }

  .mat-select-panel .mat-option {
    font-size: 1.2rem;
    line-height: 3em;
    height: 3em;
    text-align: right;
    font-family: inherit;
    font-weight: 600;
  }

  .mat-option-text {
    font-size: $font_s;
    font-weight: 600;
    color: $blue_800;
  }

  .mat-checkbox-layout .mat-checkbox-label {
    margin: 0 $font_05;
    font-family: $font_family;
    font-size: $font_s;
    font-weight: 600;
    color: $blue_gray_700;
  }
}

.order_by {
  display: flex;
  margin: $font_xs;
}

hr {
  margin: 0 4rem;
  background-color: $blue_700;
  height: .2rem;
  margin-bottom: $font_xxs;
}

.radio_group {
  display: flex;
  justify-content: space-evenly;
}

.radio_button {
  font-size: $font_s;
  font-weight: 700;
  font-family: inherit;
  color: $gray_600;
  margin: 0 2rem;
}

::ng-deep {
  .mat-radio-label-content {
    padding-right: $font_05 !important;
    color: $blue_gray_300;
  }
}

[hidden] {
  display: none;
}
