<mat-horizontal-stepper #stepper>

    <mat-step [completed]="false" [stepControl]="closeTabService.saveDataForEditOnRole.roleItems">
        <form *ngIf="closeTabService.saveDataForEditOnRole.roleItems" formGroup="userRoles">
            <ng-template matStepLabel>گروه دسترسی</ng-template>
            <app-user-role [roleItems]="closeTabService.saveDataForEditOnRole.roleItems"></app-user-role>
        </form>
    </mat-step>

    <mat-step [completed]="false" [stepControl]="closeTabService.saveDataForEditOnRole.appItems">
        <ng-template *ngIf="closeTabService.saveDataForEditOnRole.appItems" matStepLabel>سطح دسترسی به
            خدمات</ng-template>
        <app-user-action [userAddData]="closeTabService.saveDataForEditOnRole.appItems"></app-user-action>
    </mat-step>

    <mat-step [completed]="false">
        <ng-template matStepLabel>ذخیره</ng-template>
        <section class="accept">
            <button class="btn_2 _special" (click)="connectToServer()">ذخیره تغییرات</button>
            <button class="btn_2" matStepperPrevious>صفحه قبل</button>
        </section>

    </mat-step>

</mat-horizontal-stepper>