@import 'variable';
@import 'button';

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 15rem));
  text-align: center;
  direction: rtl;
  gap: var(--font_xxs);
}

.items {
  position: relative;
  border-radius: $border_15;
  padding: var(--font_s);
  cursor: pointer;

  &:hover,
  &:focus-visible,
  &:active {
    outline: 2px solid var(--primary_3);
  }

}

.icons {
  font-size: var(--font_3);
  white-space: nowrap;
  color: var(--secondary_1);
}

h2 {
  margin-top: var(--font_s);
  font-weight: 600;
  color: var(--primary_1);
}

img {
  width: 4rem;
  height: 4rem;
}