<main class="main">
    <section>
        <form #form="ngForm" (ngSubmit)="verification()">
            <section class="content">
                <div class="input_2">
                    <div class="_key">از</div>
                    <div class="_value">
                        <app-date-jalali name="fromDate" (dateJalEvent)="receiveFromDateJalali($event)"
                            [dateObject]="closeTabService.saveDataForRequestLog.input.jalaliDay">
                        </app-date-jalali>
                    </div>
                </div>
                <div class="input_2">
                    <div class="_key">از زمان</div>
                    <div class="_value">
                        <app-time-jalali name="fromTime"
                            [timeObject]="closeTabService.saveDataForRequestLog.input.fromTime"
                            (dateJalEvent)="receiveFromTimeJalali($event)">
                        </app-time-jalali>
                    </div>
                </div>
                <div class="input_2">
                    <div class="_key">تا زمان</div>
                    <div class="_value">
                        <app-time-jalali name="toTime" [timeObject]="closeTabService.saveDataForRequestLog.input.toTime"
                            (dateJalEvent)="receiveToTimeJalali($event)">
                        </app-time-jalali>
                    </div>
                </div>

                <button type="submit" class="btn_2_o">
                    <i class="pi pi-list"></i>
                    مشاهده لیست
                </button>

            </section>
        </form>
    </section>

    <section>
        <app-prime-table [dataSource]="dataSource" [_outputFileName]="'requestLog'" [_checkUpName]="'requestlog'"
            [_selectedColumnsToRemember]="'requestLog'" (refreshedTable)="refreshTable()">
        </app-prime-table>
    </section>

</main>