@import 'variable';
@import 'input';
@import 'button';

.main {
  direction: rtl;
  background: var(--secondary_1);
  box-shadow: 1px 1px 8px 4px var(--secondary_4);
  padding: var(--font_05);
}

section.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, auto));
  gap: var(--font_05);
  align-items: center;
}

.t_input_2 {
  background: var(--secondary_3);
  color: var(--secondary_3);
  display: flex;
  align-items: center;
  margin: var(--font_025) 0;
  height: var(--font_26);
  min-height: 85%;
  justify-content: center;
  border: 1px solid var(--secondary_3_spec);
  border-radius: 7px;

  .t_value {
    width: var(--font_3);
    border: 1px solid blue;
    height: inherit;
    border-radius: 7px;
    text-align: center;
    font-size: var(--font_m);
    font-weight: 600;
    color: var(--primary_5);
  }

  .t_key {
    color: var(--primary_4);
    font-size: var(--font_s);
    font-weight: 600;
    margin-left: var(--font_01);
  }

  ._colon {
    font-size: var(--font_23);
    padding: var(--font_025);
    margin: var(--font_025);
    color: blue;
  }

}
