/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import '~material-design-icons/iconfont/material-icons.css';

@font-face {
  font-family: BLotus;
  src: url(/assets/fonts/BLotus.woff) format("woff2"), url(/assets/fonts/BLotus) format("truetype");
}

body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  position: relative;
  font-family: BLotus, "Blotus", tahoma, Sans-Serif;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 250ms;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  // outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 600;
}

:root {
  --white: rgb(57, 53, 50);
  --fix_gray_light: rgb(248, 249, 250);
  --fix_blue: rgb(17, 111, 255);
  --thirdy_1: rgb(1, 24, 38);
  --thirdy_2: rgb(26, 33, 51);
  --thirdy_3: rgb(21, 43, 66);
  --thirdy_4: rgb(168, 178, 189);
  --primary_1: rgb(217, 126, 150);
  --primary_2: rgb(131 ,88 ,62);
  --primary_3: rgb(99, 83, 115);
  --primary_4: rgb(73, 104, 134);
  --primary_5: rgb(21, 43, 66);
  --primary_6: rgb(26, 33, 51);
  --primary_7: rgb(1, 24, 38);
  --secondary_1: rgb(217, 126, 150);
  --secondary_2: rgb(163, 101, 132);
  --secondary_3: rgb(99, 83, 115);
  --secondary_4: rgb(79, 62, 95);
  --secondary_5: orange;
  --secondary_6: rgb(125, 131, 255);
  --secondary_7: rgb(54, 43, 130);
  --secondary_8: rgb(177, 167, 190);
  --orange_500: rgb(246, 128, 56);
  --orange_600: rgb(245, 91, 25);
  --green_500: rgb(117, 188, 84);
  --green_600: rgb(75, 140, 56);
  --red_500: rgb(246, 62, 56);
  --red_600: rgb(183, 28, 28);
  --pink_500: rgb(255, 64, 129);
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

button,
input,
li {
  outline: none;
  font-family: BLotus, "Blotus", tahoma, Sans-Serif;
}

.p-dialog,
.p-dialog-header,
.p-dialog-title {
  font-family: BLotus, "Blotus", tahoma, Sans-Serif;
}

// ts config
.cell_conf {
  color: rgb(92, 92, 92);
  font-size: 1.2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.leaflet-popup-content {
  font-family: BLotus, "Blotus", tahoma, Sans-Serif;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

:host ::ng-deep {

  .mat-checkbox-checked.mat-accent.mat-checkbox-disabled .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: rgb(255, 64, 129);
  }
}

:host ::ng-deep {
  .p-datatable-responsive .p-datatable-tbody>tr>td .p-column-title {
    display: none;
  }

  .p-dropdown .p-dropdown-label {
    font-family: BLotus, "Blotus", tahoma, Sans-Serif;
    font-size: 1rem;
    font-weight: 600;
  }

  .p-dropdown {
    height: 2.8rem;
    border-radius: 10px;
    background: var(--white);
  }

  .p-dropdown-panel .p-dropdown-header {
    background: var(--secondary_3);
    color: var(--secondary_8);
  }

  .p-dropdown-panel .p-dropdown-items .p-dropdown-item,
  .p-dropdown .p-dropdown-label.p-placeholder,
  .p-multiselect .p-multiselect-label.p-placeholder,
  .p-multiselect-label,
  .p-multiselect-items {
    font-family: BLotus, "Blotus", tahoma, Sans-Serif !important;
    font-size: 1.2rem;
    font-weight: 600 !important;
    background: var(--secondary_3);
    color: var(--secondary_8);
  }

  .p-dropdown .p-dropdown-label.p-placeholder {
    font-family: BLotus, "Blotus", tahoma, Sans-Serif;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .p-dropdown.p-dropdown-clearable .p-dropdown-label {
    padding-right: 0.25rem;
    font-family: BLotus, "Blotus", tahoma, Sans-Serif;
    font-size: 1rem;
    font-weight: 600;
  }

  .p-dropdown-item {
    font-family: BLotus, "Blotus", tahoma, Sans-Serif;
    font-weight: 600;
  }

  .p-dropdown-panel .p-dropdown-items {
    background: var(--secondary_1);
  }

  .p-dropdown .p-dropdown-clear-icon {
    right: 0.357rem;
  }

  .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
    background: var(--secondary_1);
    color: var(--secondary_8);
  }

}
