<app-woum 
    [id]="auxDataSource.id" 
    [zoneId]="auxDataSource.zoneId" 
    [preDate]="auxDataSource.preDate"    
    [displayName]="auxDataSource.displayName"
    [description]="auxDataSource.description" 
    [preNumber]="auxDataSource.preNumber"
    [counterStateCode]="auxDataSource.counterStateCode" 
    [counterNumber]="auxDataSource.counterNumber"    
    [counterStateId]="auxDataSource.counterStateId" 
    [fulName]="auxDataSource.fulName" 
    [firstName]="auxDataSource.firstName"    
    [fileRepositoryId]="auxDataSource.fileRepositoryId"
    [eshterak]="auxDataSource.eshterak" 
    [sureName]="auxDataSource.sureName" 
    [radif]="auxDataSource.radif"    
    [_type]="auxDataSource._type"
    [_feedbackTypeTitle]="auxDataSource.feedbackTypeTitle"
    [_insertDayJalali]="auxDataSource.insertDayJalali"
    [_reportTitle]="auxDataSource.reportTitle"
    [_mobile]="auxDataSource.mobilemobile"
    [_solution]="auxDataSource.solutionsolution"
    >
</app-woum>