<app-prime-table-editable     
    [dataSource]="closeTabService.saveDataForFragmentNOBDetails"     
    [_outputFileName]="fragmentDetailsColumns"
    [_selectedColumnsToRemember]="'selectedFragmentDetails'"    
    [_sessionName]="'fragmentdetails-session'"
    [_numberOfExtraColumns]="[1, 2]"
    [newRowLimit]="newRowLimit"
    (refreshedTable)="callAPI()"
    [_isInRowEditing]=true
    (newedRowChangedStatus)="testChangedValue()"
    (onRowEditedSave)="onRowEditSave($event)"
    (onRowEditedCancelRowEditing)="onRowEditCancel($event)"
    (onRowEditedInit)="onRowEditInit($event)"
    (removedRowEditing)="removeRow($event)"
 > 
</app-prime-table-editable>
<!-- 
    [newRow]="newRow()"      
-->
    