<main class="main">
    <form #form="ngForm" (ngSubmit)="connectToServer()">
        <section class="_card">

            <section class="content">

                <div class="input_2" *ngIf="userCounterReaderDictionary.length">
                    <div class="_key">مامور</div>
                    <div class="_value">
                        <p-dropdown name="counterreader" #counterreader [options]="userCounterReaderDictionary"
                            name="counter-reader" [(ngModel)]="simafaSingleReq.counterReaderId" optionLabel="title"
                            [filter]="true" filterBy="title" optionValue="id" [showClear]="true"
                            placeholder="انتخاب مورد">
                        </p-dropdown>
                    </div>
                </div>
                <div class="input_2">
                    <div class="_key">درصد علی‌الحساب</div>
                    <input class="_value" min="0" max="100" type="number" name="alalHesabPercent"
                        [(ngModel)]="simafaSingleReq.alalHesabPercent">
                </div>
                <div class="input_2">
                    <div class="_key">درصد تصویر</div>
                    <input class="_value" min="0" max="100" type="number" name="imagePercent"
                        [(ngModel)]="simafaSingleReq.imagePercent">
                </div>

            </section>

            <div class="check_boxes" *ngIf="!importDynamicService.utilsService.getDenyTracking()">
                <mat-checkbox name="hasPreNumber" [(ngModel)]="simafaSingleReq.hasPreNumber">
                    شماره قبلی
                </mat-checkbox>

                <mat-checkbox name="displayBillId" [(ngModel)]="simafaSingleReq.displayBillId">
                    شناسه قبض
                </mat-checkbox>

                <mat-checkbox name="displayRadif" [(ngModel)]="simafaSingleReq.displayRadif">
                    ش.پرونده
                </mat-checkbox>
            </div>
            <footer>
                <button *ngIf="_canShowAddButton" type="submit" class="btn_1">صدور لیست</button>
            </footer>
        </section>
    </form>
</main>