<app-prime-table-editable     
    [_selectCols]="_selectCols" 
    [_selectedColumns]="selectedColumns"
    [dataSource]="dataSource" 
    [_outputEnabled]=false 
    [_hasSaveColumns]=false   
    [_numberOfExtraColumns]="[1, 2]"
    [_outputFileName]="'karbari'"
    [_checkUpName]="'karbari'"
    [dictionary]="provinceDictionary"
    [_dictionaryName]="'provinceId'"
    [_selectedColumnsToRemember]="'selectedKarbari'"
    (refreshedTable)="refreshTable()"
    (openedAddDialog)="openAddDialog()"
    (removedRow)="removeRow($event)"    
    (onRowEditedInit)="onRowEditInit($event)"
    (onRowEditedSave)="onRowEditSave($event)"
 > 
</app-prime-table-editable>