<app-prime-table-editable     
    [dataSource]="closeTabService.saveDataForKarbari" 
    [_outputFileName]="'karbari'"
    [_outputEnabled]=false 
    [_hasSaveColumns]=false   
    [_numberOfExtraColumns]="[1, 2]"
    [_checkUpName]="'addItem'"
    [dictionary]="provinceDictionary"
    [_dictionaryName]="'provinceId'"
    [_sessionName]="'karbari-session'"
    [_selectedColumnsToRemember]="'selectedKarbari'"
    (refreshedTable)="callAPI()"
    (openedAddDialog)="openAddDialog()"
    (removedRow)="removeRow($event)"    
    (onRowEditedInit)="onRowEditInit($event)"
    (onRowEditedSave)="onRowEditSave($event)"
 > 
</app-prime-table-editable>