<main>
    <h1>جزئیات پیام</h1>
    <div class="content">
        <div class="text">
            <h3>متن</h3>
            <textarea name="text" id="text" cols="30" rows="10"></textarea>
        </div>
        <div class="time">
            <h3>زمان</h3>
            <div class="t_separator">
                <button class="btn_2">5</button>
                <button class="btn_2">10</button>
                <button class="btn_2">15</button>
                <button class="btn_2">20</button>
            </div>
        </div>
        <div class="color">
            <h3>رنگ</h3>
            <div class="c_separator">
                <button>آبی</button>
                <button>سبز</button>
                <button>نارنجی</button>
                <button>قرمز</button>
            </div>
        </div>
        <div class="send">
            <button class="btn_2">ارسال و مشاهده</button>
        </div>
    </div>
</main>