<main class="d_flex_center_column">
    <h1>جزئیات پیام</h1>
    <div class="content">
        <div class="text">
            <h2>متن</h2>
            <textarea name="text" id="text" cols="30" rows="10"></textarea>
        </div>
        <div class="time">
            <h2>زمان</h2>
            <div class="t_separator">
                <button class="btn_2">5</button>
                <button class="btn_2">10</button>
                <button class="btn_2">15</button>
                <button class="btn_2">20</button>
            </div>
        </div>
        <div class="color">
            <h2>رنگ</h2>
            <div class="c_separator">
                <button class="btn_2">آبی</button>
                <button class="btn_2">سبز</button>
                <button class="btn_2">نارنجی</button>
                <button class="btn_2">قرمز</button>
            </div>
        </div>
        <div class="send">
            <button class="btn_2">ارسال و مشاهده</button>
        </div>
    </div>
</main>