@import '../../../assets/variable';
@import '../../../assets/button.scss';
@import '../../../assets/mixins.scss';

.over_all {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 27rem));
  direction: rtl;
  justify-content: center;
  gap: 4rem;
}

.content {
  background: $gray_d5;
  border-radius: $border_s;
  margin: auto;
  padding: 1rem;
}

.text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

textarea {
  background: $white;
  font-size: $font_m;
  color: $gray_96;
  font-weight: 600;
  text-align: right;
  direction: rtl;
  border: none;
  outline: none;
  padding: $font_xxs;
  height: 8rem;
  border-radius: $border_s;
  font-family: inherit;
}

.t_separator {
  .btn_2 {
    color: $blue_d;
  }
}

.c_separator {
  .btn_2 {
    color: $gray_l;
  }

}

.t_separator,
.c_separator {
  direction: rtl;

  .btn_2 {
    width: 5rem;
    font-family: inherit;
  }
}

.send {
  text-align: center;
  margin: $font_2 0 $font_05;

  .btn_2 {
    color: $blue_l;
    width: 11rem;
  }
}

.text,
.time,
.color {
  margin-bottom: $font_xs;
}

// ///// local storage content
.static_height {
  height: 70vh;
  overflow: auto;

  #btn {
    width: auto;
    color: $gray_96;
  }
}

.main_content {
  position: relative;
  background: $gray_d5;
  border-radius: $border_s;
  padding: $font_xs $font_xs 0;
  margin-bottom: $font_05;
}

._text {
  text-align: right;
  font-size: $font_s;
  font-weight: 600;
  color: $gray_dr;
}

._details {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  .__time {
    font-weight: 600;
    font-size: $font_s;
    padding: .2rem 1.5rem;
    text-align: center;
    color: $gray_d;

    margin: .3rem;
    background-color: $white;
    border-radius: 5px;
  }

  .__copy {
    font-weight: 600;
    font-size: $font_s;
    padding: .2rem 1.5rem;
    text-align: center;

    margin: .3rem;
    background-color: $white;
    border-radius: 5px;
  }
}

.remove_a_item {
  position: absolute;
  left: 0;
  top: 0;
  color: $gray_96;
  opacity: .5;
  padding: $font_05;
  margin: .15rem;
  border: 1px solid $gray_96;
  border-radius: $font_2;
  width: 1.5rem;
  height: 1.5rem;

  &:hover {
    background-color: rgba(213, 213, 213, .7);
    opacity: 1;
    color: $red;
  }
}

h1 {
  text-align: center;
  color: $blue_d;
  margin-bottom: $font_l;
}

h2 {
  color: $blue_d;
}

._delete_pres {
  text-align: center;
  margin-top: $font_2;
}

// //////////

.mat-button-toggle-group-appearance-standard {
  border: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 5rem));
  gap: .3rem;
}

.mat-button-toggle-checked {
  color: $gray-dr2 !important;
  border-bottom: .3rem solid $gray-dr2;
  box-shadow: 2px 2px 2px 2px $gray_d5;
}

::ng-deep {
  .mat-checkbox-layout .mat-checkbox-label {
    margin: 0 .5rem;
    font-family: BLotus, "Blotus", tahoma;
    font-size: $font_s;
  }
}

::ng-deep {
  .mat-checkbox-layout .mat-checkbox-label {
    margin: 0 .5rem;
    font-family: BLotus, "Blotus", tahoma;
    font-size: $font_s;
  }
}