@import '../../../assets/variable';
@import '../../../assets/button.scss';
@import '../../../assets/mixins.scss';

main {
  margin: auto;
}

h1,
h2 {
  text-align: right;
  color: $blue_d;
}

.content {
  background: $gray_d5;
  border-radius: $border_s;
  width: 50%;
  margin: auto;
  padding: 1rem;
}

.text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

textarea {
  background: $white;
  font-size: $font_m;
  color: $gray_96;
  font-weight: 600;
  text-align: right;
  direction: rtl;
  border: none;
  outline: none;
  padding: $font_xxs;
  height: 8rem;
  border-radius: $border_s;
  font-family: inherit;
}

.t_separator {
  display: grid;
  grid-template-rows: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 5rem));
  gap: .3rem;
  direction: rtl;

  .btn_2 {
    width: 5rem;
  }
}

.c_separator {
  display: grid;
  grid-template-rows: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 5rem));
  gap: .3rem;
  direction: rtl;

  .btn_2 {
    width: 5rem;
    color: $gray_l;
  }

  :nth-child(1) {
    background: $blue-l;

    &:active , :focus {
      box-shadow: 2px 2px 2px 2px $gray_d5;
      outline: 2px dotted $blue_d;
    }
  }

  :nth-child(2) {
    background: green;
  }

  :nth-child(3) {
    background: $orange;
  }

  :nth-child(4) {
    background: $red;
  }
}

.send {
  text-align: center;
  margin: $font_2 0 $font_05;

  .btn_2 {
    color: $blue_l;
    width: 11rem;
  }
}

.text,
.time,
.color {
  margin-bottom: 1rem;
}

// for ts visited button
.visited {
  box-shadow: 2px 2px 2px 2px $gray_d5;
  outline: 2px dotted $blue_d;
}
