<h2 mat-dialog-title>افزودن تبصره 2</h2>

<form [formGroup]="form" (ngSubmit)="save()">
    <main class="_contents">

        <div class="input_2">
            <div class="_key">ناحیه</div>
            <mat-select placeholder="انتخاب مورد" formControlName="zoneId">
                <mat-option *ngFor="let truefalse of data.di" [value]="truefalse.id">
                    {{truefalse.title}}
                </mat-option>
            </mat-select>
        </div>

        <div class="input_2">
            <div class="_key">فرمول</div>
            <input class="_value" formControlName="formula">
        </div>

    </main>

    <mat-dialog-actions>
        <button class="btn_2" (click)="close()" type="button">بازگشت</button>
        <button class="btn_2 _custom" type="submit">ذخیره</button>
    </mat-dialog-actions>
</form>