<app-prime-table-editable
[dataSource]="dataSource"
[_selectCols]="_selectCols"
[_selectedColumns]="_selectedColumns"
[_outputFileName]="'tabsare3'"
[_numberOfExtraColumns]="[1, 2]"
[_sessionName]="'tabsare3-session'"
[_selectedColumnsToRemember]="'selectedTabsare3Formulas'"
[_checkUpName]="'tabsare3'"
[_dictionaryName]="'zoneId'"
[_secondDictionaryName]="'karbariMoshtarakinCode'"
[dictionary]="zoneDictionary"
[secondDictionary]="karbariCodeDictionary"
(getedExcelSample)="getExcelSample()"
(openedAddDialog)="openAddDialog()"
(openedAddExcelDialog)="openAddExcelDialog()"
(onRowEditInit)="onRowEditInit($event)"
(onRowEditSave)="onRowEditSave($event)"
(onRowEditCancel)="onRowEditCancel($event)"
(removedRow)="firstConfirmDialog($event)"
></app-prime-table-editable>