<app-prime-table-editable
[dataSource]="dataSource"
[_selectCols]="_selectCols"
[_selectedColumns]="_selectedColumns"
[_outputFileName]="'tabsare3'"
[_numberOfExtraColumns]="[1, 2]"
[_sessionName]="'tabsare3-session'"
[_selectedColumnsToRemember]="'selectedTabsare3Formulas'"
[_checkUpName]="'tabsare3'"
[_dictionaryName]="'zoneId'"
[_secondDictionaryName]="'karbariMoshtarakinCode'"
[dictionary]="zoneDictionary"
[secondDictionary]="karbariCodeDictionary"
(refreshedTable)="refreshTable()"
(getedExcelSample)="getExcelSample()"
(openedAddDialog)="openAddDialog()"
(openedAddExcelDialog)="openAddExcelDialog()"
(onRowEditedInit)="onRowEditInit($event)"
(onRowEditedSave)="onRowEditSave($event)"
(onRowEditedCancel)="onRowEditCancel()"
(removedRow)="firstConfirmDialog($event)"
></app-prime-table-editable>