<main class="main">
    <form #form="ngForm" (ngSubmit)="connectToServer()">
        <section class="order_by">
            <mat-radio-group class="radio_group" aria-labelledby="radio_group" [(ngModel)]="_isOrderByDate"
                name="_isOrderByDate">
                <mat-radio-button class="radio_button" *ngFor="let orderType of searchInOrderTo"
                    [value]="orderType.isSelected">
                    {{orderType.title}}
                </mat-radio-button>
            </mat-radio-group>
        </section>
        <hr>
        <section class="content">
            <div class="input_2">
                <div class="_key">از اشتراک :</div>
                <input class="_value" name="importDynamic.fromEshterak" [(ngModel)]="importDynamic.fromEshterak">
            </div>

            <div class="input_2">
                <div class="_key">تا اشتراک :</div>
                <input class="_value" name="importDynamic.toEshterak" [(ngModel)]="importDynamic.toEshterak">
            </div>
            <div class="input_2" [hidden]="!_isOrderByDate">
                <div class="_key">از تاریخ :</div>
                <div class="_value">
                    <app-date-jalali name="importDynamic.fromDate" (dateJalEvent)="receiveFromDateJalali($event)">
                    </app-date-jalali>
                </div>
            </div>
            <div class="input_2" [hidden]="!_isOrderByDate">
                <div class="_key">تا تاریخ :</div>
                <div class="_value">
                    <app-date-jalali name="importDynamic.toDate" (dateJalEvent)="receiveToDateJalali($event)">
                    </app-date-jalali>
                </div>
            </div>
            <div class="input_2">
                <div class="_key">درصد علی الحساب :</div>
                <input class="_value" type="number" name="importDynamic.alalHesabPercent"
                    [(ngModel)]="importDynamic.alalHesabPercent">
            </div>
            <div class="input_2">
                <div class="_key">درصد تصویر :</div>
                <input class="_value" type="number" name="importDynamic.imagePercent"
                    [(ngModel)]="importDynamic.imagePercent">
            </div>
            <div class="input_2" [hidden]="_isOrderByDate">
                <div class="_key">ناحیه :</div>
                <mat-select [(ngModel)]="importDynamic.zoneId" name="importDynamic.zoneId">
                    <mat-option *ngFor="let truefalse of zoneDictionary" [value]="truefalse.id"
                        (click)="verificationACounterReaderId()">
                        {{truefalse.title}}
                    </mat-option>
                </mat-select>
            </div>
            <div *ngIf="userCounterReader">
                {{userCounterReader}}
            </div>

            <mat-checkbox name="importDynamic.hasPreNumber" [(ngModel)]="importDynamic.hasPreNumber">شماره قبلی
            </mat-checkbox>
            <mat-checkbox name="importDynamic.displayBillId" [(ngModel)]="importDynamic.displayBillId">نمایش شناسه
                قبض
            </mat-checkbox>
            <mat-checkbox name="importDynamic.displayRadif" [(ngModel)]="importDynamic.displayRadif">نمایش ردیف
            </mat-checkbox>

        </section>

        <footer>
            <button type="submit" class="btn_1">تایید</button>
        </footer>
    </form>
</main>