@import '../../../assets/variable';
@import '../../../assets/input.scss';
@import '../../../assets/button.scss';

.main {
  direction: rtl;
  background: $gray_l;
  box-shadow: 1px 1px 8px 4px $gray_d;
  padding: $font_s;
  border-radius: $border_s;
  min-height: 25rem;
}

section.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 20rem));
  gap: $font_05;
  align-items: center;
}

.check_boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 14rem));
  gap: $font_05;
  margin: $font_05;
}

._key,
._value {
  font-size: $font_m;
  font-weight: 800;
}

._key {
  white-space: nowrap;
}

._value {
  display: flex;
  align-items: center;
  justify-content: center;
  direction: ltr;
  border: none;
  color: $blue_d;
  text-align: center;
}

.btn_1 {
  color: $white;
}

footer {
  margin-top: $font_2;
  text-align: center;
}

::ng-deep {
  .mat-select-arrow {
    color: $gray_l;
  }

  .mat-select {
    text-align: center;
  }

  .mat-select-value {
    font-family: $font_family;
    font-size: $font_s;
  }

  .mat-select-panel .mat-option {
    font-size: 1.2rem;
    line-height: 3em;
    height: 3em;
    text-align: right;
    font-family: inherit;
    font-weight: 600;
  }

  .mat-checkbox-layout .mat-checkbox-label {
    margin: 0 $font_05;
    font-family: $font_family;
    font-size: $font_s;
    font-weight: 600;
    color: $gray_dr;
  }
}

.order_by {
  margin: $font_s;
}

.radio_group {
  display: flex;
  justify-content: space-evenly;
}

.radio_button {
  font-size: $font_s;
  font-weight: 700;
  font-family: inherit;
  color: $gray_dr;
}

::ng-deep {
  .mat-radio-label-content {
    padding-right: $font_05 !important;
  }
}

[hidden] {
  display: none;
}

.this {
  border: 1px solid $blue_l;
  animation: pulse-new-button 500ms;
}

@keyframes pulse-new-button {
  0% {
    box-shadow: none;
  }

  50% {
    box-shadow: 0px 0px 3px 0px $blue_l;
  }

  100% {
    box-shadow: 0px 0px 5px 1px $blue_l;
  }
}
