<main class="main">
    <form #form="ngForm" (ngSubmit)="connectToServer()">
        <section class="order_by">
            <mat-radio-group class="radio_group" aria-labelledby="radio_group" [(ngModel)]="_isOrderByDate"
                name="_isOrderByDate">
                <mat-radio-button class="radio_button" *ngFor="let orderType of searchInOrderTo"
                    [value]="orderType.isSelected">
                    {{orderType.title}}
                </mat-radio-button>
            </mat-radio-group>
        </section>
        <hr>

        <section class="content">

            <div class="input_2">
                <div class="_key">ناحیه :</div>
                <mat-select [(ngModel)]="importDynamic.zoneId" name="zoneId">
                    <mat-option *ngFor="let truefalse of zoneDictionary" [value]="truefalse.id"
                        (click)="verificationACounterReaderId()">
                        {{truefalse.title}}
                    </mat-option>
                </mat-select>
            </div>
            <div class="input_2">
                <div class="_key">از اشتراک :</div>
                <input class="_value" name="fromEshterak" [(ngModel)]="importDynamic.fromEshterak">
            </div>
            <div class="input_2">
                <div class="_key">تا اشتراک :</div>
                <input class="_value" name="toEshterak" [(ngModel)]="importDynamic.toEshterak">
            </div>
            <div class="input_2" [hidden]="!_isOrderByDate">
                <div class="_key">از تاریخ :</div>
                <div class="_value">
                    <app-date-jalali name="fromDate" (dateJalEvent)="receiveFromDateJalali($event)">
                    </app-date-jalali>
                </div>
            </div>
            <div class="input_2" [hidden]="!_isOrderByDate">
                <div class="_key">تا تاریخ :</div>
                <div class="_value">
                    <app-date-jalali name="toDate" (dateJalEvent)="receiveToDateJalali($event)">
                    </app-date-jalali>
                </div>
            </div>
            <div class="input_2" [hidden]="!_showAlalHesabPercent">
                <div class="_key">درصد علی الحساب :</div>
                <input class="_value" type="number" name="alalHesabPercent"
                    [(ngModel)]="importDynamic.alalHesabPercent">
            </div>
            <div class="input_2" [hidden]="!_showimagePercent">
                <div class="_key">درصد تصویر :</div>
                <input class="_value" type="number" name="imagePercent" [(ngModel)]="importDynamic.imagePercent">
            </div>

            <!-- when zone id and kind id get -->
            <div class="input_2" [hidden]="_isOrderByDate || !readingPeriodKindsDictionary">
                <div class="_key">نوع دوره قرائت :</div>
                <mat-select [(ngModel)]="kindId" name="kindId">
                    <mat-option *ngFor="let truefalse of readingPeriodKindsDictionary" [value]="truefalse.id"
                        (click)="verificationReadingPeriod()">
                        {{truefalse.title}}
                    </mat-option>
                </mat-select>
            </div>
            <div class="input_2" [hidden]="!readingPeriodDictionary.length">
                <div class="_key">مدت قرائت :</div>
                <mat-select [(ngModel)]="importDynamic.readingPeriodId" name="readingPeriodId">
                    <mat-option *ngFor="let truefalse of readingPeriodDictionary" [value]="truefalse.id">
                        {{truefalse.title}}
                    </mat-option>
                </mat-select>
            </div>
            <div class="input_2" *ngIf="userCounterReader">
                <div class="_key">قرائت خوان :</div>
                <mat-select [(ngModel)]="importDynamic.counterReaderId" name="counterReaderId">
                    <mat-option *ngFor="let truefalse of userCounterReader" [value]="truefalse.id">
                        {{truefalse.title}}
                    </mat-option>
                </mat-select>
            </div>

            <mat-checkbox name="hasPreNumber" [(ngModel)]="importDynamic.hasPreNumber">شماره قبلی
            </mat-checkbox>
            <mat-checkbox name="displayBillId" [(ngModel)]="importDynamic.displayBillId">نمایش شناسه
                قبض
            </mat-checkbox>
            <mat-checkbox name="displayRadif" [(ngModel)]="importDynamic.displayRadif">نمایش ردیف
            </mat-checkbox>

        </section>

        <footer>
            <button type="submit" class="btn_1">ویرایش</button>
            <!-- *ngIf="canShowEditButton" -->
        </footer>
    </form>
</main>