@import '../../../assets/variable';
@import '../../../assets/input.scss';
@import '../../../assets/button.scss';

main.main {
  direction: rtl;
  background: $gray_l;
  box-shadow: 1px 1px 8px 4px $gray_d;
  padding: $font_s;
  border-radius: $border_s;
  min-height: 25rem;
}

section.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 20rem));
  gap: $font_05;
  align-items: center;
}

._key,
._value {
  font-size: $font_m;
  font-weight: 800;
  height: $font_3;
}

._key {
  white-space: nowrap;
}

._value {
  border: none;
  color: $blue_d;
}

.btn_1 {
  color: $white;
}

footer {
  margin-top: $font_2;
  text-align: center;
}

::ng-deep {
  .mat-select-value {
    font-family: $font_family;
    font-size: $font_s;
  }

  .mat-select-panel .mat-option {
    font-size: 1.2rem;
    line-height: 3em;
    height: 3em;
    text-align: right;
    font-family: inherit;
    font-weight: 600;
  }

  .mat-checkbox-layout .mat-checkbox-label {
    margin: 0 $font_05;
    font-family: $font_family;
    font-size: $font_s;
    font-weight: 600;
    color: $gray_dr;
  }
}
