@import '../../../../../assets/variable.scss';
@import '../../../../../assets/button.scss';

$blue_lovely: #0045CB;
$half_gray: #b0bdd1;

.auth_1 {
  direction: rtl;
}

.auth_1_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, auto));
  gap: .25rem;
  direction: rtl;

  .auth_1_item {
    display: grid;
    place-content: center;
    padding: $font_05;
    margin: $font_s 0;
    border-radius: 5px;
    font-size: $font_l;
    font-weight: 600;
    background: $half_gray;
    color: $blue_d;
    box-shadow: 1px 1px 3px 0px $half_gray;
    cursor: pointer;
  }
}

// active auth1 tab
.active_tab {
  background-color: $blue_d2 !important;
  color: $gray_l !important;
}

// 

.auth_2 {
  padding: $font_xs;
  margin-bottom: $font_s;
  border-radius: $border_s;
  min-height: 18rem;

  &:nth-child(odd) {
    background-color: $gray_l;

    .auth_3 {
      background-color: $half_gray;
      box-shadow: 0px 2px 3px 1.5px $gray_96;
    }
  }

  &:nth-child(even) {
    background-color: $half_gray;

    .auth_3 {
      background-color: $gray_l;
      box-shadow: 0px 2px 3px 1.5px $blue_d2;
    }
  }

}

.auth_3 {
  margin: $font_xxs;
  padding: $font_05;
  border-radius: $border_s;
  min-height: 10rem;
}

.auth_4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11rem, auto));
  gap: .3rem;

  .checkboxes {
    display: flex;
    background: whitesmoke;
    border-radius: 15px;
    padding: .25rem;
  }
}

.text {
  padding: 0 $font_05;
  color: $blue_d2;
  font-size: $font_l;
  font-weight: 600;
}

.text_btn {
  text-align: center;
  max-width: 11rem;
  border-radius: $border_s;
  width: auto;
  margin-bottom: $font_05;
  font-size: $font_m;
  font-weight: 600;
  color: $blue_d2;
  background: $half_gray;
}

.accept {
  display: flex;
}

.btn_2 {
  margin: .25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

// materials 
::ng-deep {
  .mat-checkbox-layout {
    .mat-checkbox-label {
      margin: 0 $font_05;
      font-size: $font_s;
      font-weight: 600;
      color: $blue_lovely;
      line-height: 2;
      border-radius: $border_s;
      font-family: $font_family;
    }

  }
}
