@import '../../../../../assets/variable.scss';
@import '../../../../../assets/button.scss';

$blue_darker: #000A63;
$blue_dark: #193E77;
$blue_medium: #002A69;
$blue_lovely: #0045CB;

.auth_1 {
  direction: rtl;
}

.auth_1_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 13rem));
  gap: .25rem;
  direction: rtl;

  .auth_1_item {
    display: grid;
    place-content: center;
    border: 1px solid $blue_lovely;
    padding: $font_05;
    margin: $font_s 0;
    border-radius: 5px;
    font-size: $font_l;
    font-weight: 600;
    color: $blue_lovely;
    background-color: $white;
    box-shadow: 1px 1px 3px 0px $gray_e3;
    cursor: pointer;
  }
}

// active auth1 tab
.active_tab {
  background-color: $blue_d !important;
  color: $gray_l !important;
}

// 

.auth_2 {
  padding: $font_xs;
  margin-bottom: $font_s;
  border-radius: $border_s;
  min-height: 25rem;

  &:nth-child(odd) {
    background-color: $blue_darker;

    .auth_3 {
      background-color: $blue_medium;
    }
  }

  &:nth-child(even) {
    background-color: $blue_medium;

    .auth_3 {
      background-color: $blue_darker;
    }
  }

}

.auth_3 {
  margin: $font_05;
  margin-top: 2rem;
  padding: $font_xxs;
  border-radius: $border_s;
  min-height: 10rem;
}

.auth_4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 11rem));
  gap: .3rem;

  .checkboxes {
    display: flex;
    background: whitesmoke;
    border-radius: 15px;
    padding: .25rem;
  }
}

.text {
  padding: 0 $font_05;
  color: $gray_l;
  font-size: $font_m;
}

.text_btn {
  width: 8rem;
  padding: $font_05;
  margin-bottom: $font_05;
  font-size: $font_m;
  color: $gray_l;
  border: 2px solid $gray_l;
  box-shadow: 1px 1px 3px 0px $gray_d5;
}

.hr {
  width: 7rem;
  height: .2rem;
  background-color: $gray_l;
}

.accept {
  display: flex;
}

.btn_2 {
  margin: .25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

// materials 
::ng-deep {
  .mat-checkbox-layout {
    .mat-checkbox-label {
      margin: 0 $font_05;
      font-size: $font_s;
      font-weight: 600;
      color: $blue_d;
      line-height: 2;
      border-radius: $border_s;
      font-family: BLotus, "Blotus", tahoma, Sans-Serif;
    }
  }
}
