<h2 mat-dialog-title>
    <i [ngClass]="data.isConfirm ? 'pi pi-check' : 'pi pi-question'" class="p_icons _circle_border"></i>

    <div class="_text">
        {{data.title}}
    </div>
</h2>

<mat-dialog-content>
    <div class="_key_value">
        <div class="_key">تعداد</div>
        <div class="_value"><strong>{{data.data.count}}</strong></div>
    </div>
    <div class="_key_value" *ngIf="!data.isConfirm">
        <div class="_key">شماره پیگیری</div>
        <div class="_value"><strong>{{data.data.trackNumber}}</strong></div>
    </div>
    <div class="_key_value">
        <div class="_key">خطا</div>
        <div class="_value"><strong>{{data.data.errorCount}}</strong></div>
    </div>
    <div class="_key_value" *ngIf="!data.isConfirm">
        <div class="_key">مامور</div>
        <div class="_value"><strong>{{data.data.counterReaderName}}</strong></div>
    </div>
    <div class="_key_value" *ngIf="!data.isConfirm">
        <div class="_key">تعداد هشدار</div>
        <div class="_value"><strong>{{data.data.warningCount}}</strong></div>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="close_dg" type="button" (click)="cancel()">
        <i class="pi pi-times"></i>
    </button>
    <button *ngIf="data.isConfirm" class="btn_2 _custom" (click)="confirm()">تایید</button>
</mat-dialog-actions>