<h2 mat-dialog-title>
    <div class="_text">
        لیست صادر شد
    </div>
    <i class="p_icons _circle_border pi pi-check"></i>
</h2>

<mat-dialog-content>
    <div class="_key_value">
        <div class="_key">تعداد</div>
        <div class="_value"><strong>{{data.count}}</strong></div>
    </div>
    <div class="_key_value">
        <div class="_key">شماره پیگیری</div>
        <div class="_value"><strong>{{data.trackNumber}}</strong></div>
    </div>
    <div class="_key_value">
        <div class="_key">خطا</div>
        <div class="_value"><strong>{{data.errorCount}}</strong></div>
    </div>
    <div class="_key_value">
        <div class="_key">مامور</div>
        <div class="_value"><strong>{{data.counterReaderName}}</strong></div>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="btn_2" (click)="confirm()">بازگشت</button>
</mat-dialog-actions>