@import 'variable';

canvas {
    width: 100% !important;
    height: 100% !important;
    max-height: 30rem;
}

.charts {
    border-radius: $border_15;
    background: inherit;
    margin: auto;
    height: 15vh;
    height: 15svh;
    min-height: 10rem;
    padding: var(--font_xs);
}