<section>
    <form #form="ngForm" (ngSubmit)="callAPI()">
        <div class="_desc">

            <div *ngFor="let mainDatas of _selectedDatas" [ngClass]=" {'double_size':mainDatas.icon}">
                <ng-container *ngIf="mainDatas.isSelectOption; else checkboxes">
                    <!-- only for single select option -->
                    <div *ngIf="mainDatas.field == 'provinceId'">
                        <div class="input_icon">
                            <i class="pi pi-bookmark _bookmark tooltip" [ngClass]="{
                                'input_bookmark': itemdrop.invalid && (itemdrop.dirty || itemdrop.touched) || submitted,
                                'input_bookmark_valid':itemdrop.valid,
                                'correct':itemdrop.valid && (itemdrop.dirty || itemdrop.touched)
                               }">
                                <div *ngIf="itemdrop.errors && itemdrop.touched || submitted"
                                    class="tooltip_text_bottom alert">
                                    <div *ngIf="itemdrop.errors?.required">
                                        <p>
                                            {{mainDatas.header}} را وارد نمایید
                                            <i class="pi pi-times"></i>
                                        </p>
                                    </div>
                                </div>
                            </i>
                            <div class="input_3">
                                <div class="_key">استان</div>
                                <div class="_value">
                                    <p-dropdown #itemdrop="ngModel" name="province" [options]="provinceDictionary"
                                        [(ngModel)]="closeTabService.flowRuleRegisteredEdit.provinceId"
                                        placeholder="انتخاب مورد" optionValue="id" optionLabel="title" filter="true"
                                        [required]="mainDatas.isRequired? true : false"
                                        (click)="getRegionsByProvinceId()">
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="mainDatas.field == 'regionId'">
                        <div class="input_icon">
                            <i class="pi pi-bookmark _bookmark tooltip" [ngClass]="{
                                'input_bookmark': itemdrop.invalid && (itemdrop.dirty || itemdrop.touched) || submitted,
                                'input_bookmark_valid':itemdrop.valid,
                                'correct':itemdrop.valid && (itemdrop.dirty || itemdrop.touched)
                               }">
                                <div *ngIf="itemdrop.errors && itemdrop.touched || submitted"
                                    class="tooltip_text_bottom alert">
                                    <div *ngIf="itemdrop.errors?.required">
                                        <p>
                                            {{mainDatas.header}} را وارد نمایید
                                            <i class="pi pi-times"></i>
                                        </p>
                                    </div>
                                </div>
                            </i>
                            <div class="input_3">
                                <div class="_key">منطقه</div>
                                <div class="_value">
                                    <p-dropdown #itemdrop="ngModel" name="region"
                                        [options]="regionsByProvinceIdDictionary"
                                        [(ngModel)]="closeTabService.flowRuleRegisteredEdit.regionId"
                                        placeholder="انتخاب مورد" optionValue="id" optionLabel="title" filter="true"
                                        [required]="mainDatas.isRequired? true : false" (click)="getZonesByRegionId()">
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="mainDatas.field == 'zoneId'">
                        <div class="input_icon">
                            <i class="pi pi-bookmark _bookmark tooltip" [ngClass]="{
                                'input_bookmark': itemdrop.invalid && (itemdrop.dirty || itemdrop.touched) || submitted,
                                'input_bookmark_valid':itemdrop.valid,
                                'correct':itemdrop.valid && (itemdrop.dirty || itemdrop.touched)
                               }">
                                <div *ngIf="itemdrop.errors && itemdrop.touched || submitted"
                                    class="tooltip_text_bottom alert">
                                    <div *ngIf="itemdrop.errors?.required">
                                        <p>
                                            {{mainDatas.header}} را وارد نمایید
                                            <i class="pi pi-times"></i>
                                        </p>
                                    </div>
                                </div>
                            </i>
                            <div class="input_3">
                                <div class="_key">ناحیه</div>
                                <div class="_value">
                                    <p-dropdown #itemdrop="ngModel" name="zones" [options]="zonesByRegionIdDictionary"
                                        [(ngModel)]="closeTabService.flowRuleRegisteredEdit.zoneId"
                                        placeholder="انتخاب مورد" optionValue="id" optionLabel="title" filter="true"
                                        [required]="mainDatas.isRequired? true : false" (click)="getVillagesByZoneId()">
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input_icon" *ngIf="mainDatas.field == 'villageId'">
                        <i class="pi pi-bookmark _bookmark tooltip" [ngClass]="{
                            'input_bookmark': itemdrop.invalid && (itemdrop.dirty || itemdrop.touched) || submitted,
                            'input_bookmark_valid':itemdrop.valid,
                            'correct':itemdrop.valid && (itemdrop.dirty || itemdrop.touched)
                           }">
                            <div *ngIf="itemdrop.errors && itemdrop.touched || submitted"
                                class="tooltip_text_bottom alert">
                                <div *ngIf="itemdrop.errors?.required">
                                    <p>
                                        {{mainDatas.header}} را وارد نمایید
                                        <i class="pi pi-times"></i>
                                    </p>
                                </div>
                            </div>
                        </i>
                        <div class="input_3">
                            <div class="_key">روستا</div>
                            <div class="_value">
                                <p-dropdown #itemdrop="ngModel" name="village" [options]="villagesByZoneIdDictionary"
                                    [(ngModel)]="closeTabService.flowRuleRegisteredEdit.villageId"
                                    placeholder="انتخاب مورد" optionValue="id" optionLabel="title" filter="true"
                                    [required]="mainDatas.isRequired? true : false">
                                </p-dropdown>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="mainDatas.field == 'usageId'">
                        <div class="input_icon">
                            <i class="pi pi-bookmark _bookmark tooltip" [ngClass]="{
                                'input_bookmark': itemdrop.invalid && (itemdrop.dirty || itemdrop.touched) || submitted,
                                'input_bookmark_valid':itemdrop.valid,
                                'correct':itemdrop.valid && (itemdrop.dirty || itemdrop.touched)
                               }">
                                <div *ngIf="itemdrop.errors && itemdrop.touched || submitted"
                                    class="tooltip_text_bottom alert">
                                    <div *ngIf="itemdrop.errors?.required">
                                        <p>{{mainDatas.header}} را وارد نمایید
                                            <i class="pi pi-times"></i>
                                        </p>
                                    </div>
                                </div>
                            </i>
                            <div class="input_3">
                                <div class="_key">{{mainDatas.header}}</div>
                                <div class="_value">
                                    <p-dropdown #itemdrop="ngModel" name="{{mainDatas.field}}"
                                        [options]="usageDictionary"
                                        [(ngModel)]="closeTabService.flowRuleRegisteredEdit.usageId"
                                        placeholder="انتخاب مورد" optionValue="id" optionLabel="title" filter="true">
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="mainDatas.field == 'branchDiameterId'">
                        <div class="input_icon">
                            <i class="pi pi-bookmark _bookmark tooltip" [ngClass]="{
                                'input_bookmark': itemdrop.invalid && (itemdrop.dirty || itemdrop.touched) || submitted,
                                'input_bookmark_valid':itemdrop.valid,
                                'correct':itemdrop.valid && (itemdrop.dirty || itemdrop.touched)
                               }">
                                <div *ngIf="itemdrop.errors && itemdrop.touched || submitted"
                                    class="tooltip_text_bottom alert">
                                    <div *ngIf="itemdrop.errors?.required">
                                        <p>{{mainDatas.header}} را وارد نمایید
                                            <i class="pi pi-times"></i>
                                        </p>
                                    </div>
                                </div>
                            </i>
                            <div class="input_3">
                                <div class="_key">{{mainDatas.header}}</div>
                                <div class="_value">
                                    <p-dropdown #itemdrop="ngModel" name="{{mainDatas.field}}"
                                        [options]="branchDiameterDictionary"
                                        [(ngModel)]="closeTabService.flowRuleRegisteredEdit.branchDiameterId"
                                        placeholder="انتخاب مورد" optionValue="id" optionLabel="title" filter="true">
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="mainDatas.field == 'branchStateId'">
                        <div class="input_icon">
                            <i class="pi pi-bookmark _bookmark tooltip" [ngClass]="{
                                'input_bookmark': itemdrop.invalid && (itemdrop.dirty || itemdrop.touched) || submitted,
                                'input_bookmark_valid':itemdrop.valid,
                                'correct':itemdrop.valid && (itemdrop.dirty || itemdrop.touched)
                               }">
                                <div *ngIf="itemdrop.errors && itemdrop.touched || submitted"
                                    class="tooltip_text_bottom alert">
                                    <div *ngIf="itemdrop.errors?.required">
                                        <p>{{mainDatas.header}} را وارد نمایید
                                            <i class="pi pi-times"></i>
                                        </p>
                                    </div>
                                </div>
                            </i>
                            <div class="input_3">
                                <div class="_key">{{mainDatas.header}}</div>
                                <div class="_value">
                                    <p-dropdown #itemdrop="ngModel" name="{{mainDatas.field}}"
                                        [options]="branchStateDictionary"
                                        [(ngModel)]="closeTabService.flowRuleRegisteredEdit.branchStateId"
                                        placeholder="انتخاب مورد" optionValue="id" optionLabel="title" filter="true">
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="mainDatas.field == 'waterSourceId'">
                        <div class="input_icon">
                            <i class="pi pi-bookmark _bookmark tooltip" [ngClass]="{
                                'input_bookmark': itemdrop.invalid && (itemdrop.dirty || itemdrop.touched) || submitted,
                                'input_bookmark_valid':itemdrop.valid,
                                'correct':itemdrop.valid && (itemdrop.dirty || itemdrop.touched)
                               }">
                                <div *ngIf="itemdrop.errors && itemdrop.touched || submitted"
                                    class="tooltip_text_bottom alert">
                                    <div *ngIf="itemdrop.errors?.required">
                                        <p>{{mainDatas.header}} را وارد نمایید
                                            <i class="pi pi-times"></i>
                                        </p>
                                    </div>
                                </div>
                            </i>
                            <div class="input_3">
                                <div class="_key">{{mainDatas.header}}</div>
                                <div class="_value">
                                    <p-dropdown #itemdrop="ngModel" name="{{mainDatas.field}}"
                                        [options]="waterSourceDictionary"
                                        [(ngModel)]="closeTabService.flowRuleRegisteredEdit.waterSourceId"
                                        placeholder="انتخاب مورد" optionValue="id" optionLabel="title" filter="true">
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="mainDatas.field == 'siphonId'">
                        <div class="input_icon">
                            <i class="pi pi-bookmark _bookmark tooltip" [ngClass]="{
                                'input_bookmark': itemdrop.invalid && (itemdrop.dirty || itemdrop.touched) || submitted,
                                'input_bookmark_valid':itemdrop.valid,
                                'correct':itemdrop.valid && (itemdrop.dirty || itemdrop.touched)
                               }">
                                <div *ngIf="itemdrop.errors && itemdrop.touched || submitted"
                                    class="tooltip_text_bottom alert">
                                    <div *ngIf="itemdrop.errors?.required">
                                        <p>{{mainDatas.header}} را وارد نمایید
                                            <i class="pi pi-times"></i>
                                        </p>
                                    </div>
                                </div>
                            </i>
                            <div class="input_3">
                                <div class="_key">{{mainDatas.header}}</div>
                                <div class="_value">
                                    <p-dropdown #itemdrop="ngModel" name="{{mainDatas.field}}"
                                        [options]="siphonDictionary"
                                        [(ngModel)]="closeTabService.flowRuleRegisteredEdit.siphonId"
                                        placeholder="انتخاب مورد" optionValue="id" optionLabel="title" filter="true">
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="mainDatas.field == 'offeringGroupIds'">
                        <div class="input_icon">
                            <i class="pi pi-bookmark _bookmark tooltip" [ngClass]="{
                                'input_bookmark': itemdrop.invalid && (itemdrop.dirty || itemdrop.touched) || submitted,
                                'input_bookmark_valid':itemdrop.valid,
                                'correct':itemdrop.valid && (itemdrop.dirty || itemdrop.touched)
                               }">
                                <div *ngIf="itemdrop.errors && itemdrop.touched || submitted"
                                    class="tooltip_text_bottom alert">
                                    <div *ngIf="itemdrop.errors?.required">
                                        <p>{{mainDatas.header}} را وارد نمایید
                                            <i class="pi pi-times"></i>
                                        </p>
                                    </div>
                                </div>
                            </i>
                            <div class="input_3">
                                <div class="_key">{{mainDatas.header}}</div>
                                <div class="_value">
                                    <p-multiSelect #itemdrop="ngModel" [maxSelectedLabels]="1"
                                        [options]="offeringGroupDictionary" name="{{mainDatas.field}}"
                                        [(ngModel)]="closeTabService.flowRuleRegisteredEdit.offeringGroupIds"
                                        [(ngModel)]="closeTabService.flowRuleRegister.offeringGroupIds"
                                        optionLabel="title" optionValue="id" selectedItemsLabel="{0} مورد انتخاب شده"
                                        [style]="{minWidth: '100%'}" placeholder="انتخاب مورد">
                                    </p-multiSelect>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="mainDatas.field == 'guildId'">
                        <div class="input_icon">
                            <i class="pi pi-bookmark _bookmark tooltip" [ngClass]="{
                                'input_bookmark': itemdrop.invalid && (itemdrop.dirty || itemdrop.touched) || submitted,
                                'input_bookmark_valid':itemdrop.valid,
                                'correct':itemdrop.valid && (itemdrop.dirty || itemdrop.touched)
                               }">
                                <div *ngIf="itemdrop.errors && itemdrop.touched || submitted"
                                    class="tooltip_text_bottom alert">
                                    <div *ngIf="itemdrop.errors?.required">
                                        <p>{{mainDatas.header}} را وارد نمایید
                                            <i class="pi pi-times"></i>
                                        </p>
                                    </div>
                                </div>
                            </i>
                            <div class="input_3">
                                <div class="_key">{{mainDatas.header}}</div>
                                <div class="_value">
                                    <p-dropdown #itemdrop="ngModel" name="{{mainDatas.field}}"
                                        [options]="guildDictionary"
                                        [(ngModel)]="closeTabService.flowRuleRegisteredEdit.guildId"
                                        placeholder="انتخاب مورد" optionValue="id" optionLabel="title" filter="true">
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="mainDatas.field == 'customerTypeId'">
                        <div class="input_icon">
                            <i class="pi pi-bookmark _bookmark tooltip" [ngClass]="{
                                'input_bookmark': itemdrop.invalid && (itemdrop.dirty || itemdrop.touched) || submitted,
                                'input_bookmark_valid':itemdrop.valid,
                                'correct':itemdrop.valid && (itemdrop.dirty || itemdrop.touched)
                                }">
                                <div *ngIf="itemdrop.errors && itemdrop.touched || submitted"
                                    class="tooltip_text_bottom alert">
                                    <div *ngIf="itemdrop.errors?.required">
                                        <p>
                                            {{mainDatas.header}} را وارد نمایید
                                            <i class="pi pi-times"></i>
                                        </p>
                                    </div>
                                </div>
                            </i>
                            <div class="input_3">
                                <div class="_key">نوع مشترک</div>
                                <div class="_value">
                                    <p-dropdown #itemdrop="ngModel" name="customerTypeId"
                                        [options]="customerTypeDictionary"
                                        [(ngModel)]="closeTabService.flowRuleRegisteredEdit.customerTypeId"
                                        placeholder="انتخاب مورد" optionValue="id" optionLabel="title" filter="true"
                                        [required]="mainDatas.isRequired? true : false">
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="mainDatas.field == 'ownershipTypeId'">
                        <div class="input_icon">
                            <i class="pi pi-bookmark _bookmark tooltip" [ngClass]="{
                                'input_bookmark': itemdrop.invalid && (itemdrop.dirty || itemdrop.touched) || submitted,
                                'input_bookmark_valid':itemdrop.valid,
                                'correct':itemdrop.valid && (itemdrop.dirty || itemdrop.touched)
                               }">
                                <div *ngIf="itemdrop.errors && itemdrop.touched || submitted"
                                    class="tooltip_text_bottom alert">
                                    <div *ngIf="itemdrop.errors?.required">
                                        <p>{{mainDatas.header}} را وارد نمایید
                                            <i class="pi pi-times"></i>
                                        </p>
                                    </div>
                                </div>
                            </i>
                            <div class="input_3">
                                <div class="_key">{{mainDatas.header}}</div>
                                <div class="_value">
                                    <p-dropdown #itemdrop="ngModel" name="{{mainDatas.field}}"
                                        [options]="ownershipTypeDictionary"
                                        [(ngModel)]="closeTabService.flowRuleRegisteredEdit.ownershipTypeId"
                                        placeholder="انتخاب مورد" optionValue="id" optionLabel="title" filter="true">
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input_icon" *ngIf="mainDatas.field == 'sewageInstallationJalaliDay'">
                        <i class="pi pi-bookmark _bookmark"></i>
                        <div class="input_3">
                            <div class="_key">{{mainDatas.header}}</div>
                            <div class="_value">
                                <app-date-jalali name="sewageInstallationJalaliDay"
                                    (dateJalEvent)="closeTabService.receiveToDateInstallation(closeTabService.ENReadingReports.requestDraftLazyEdit, $event)"
                                    [dateObject]="closeTabService.flowRuleRegisteredEdit.sewageInstallationJalaliDay">
                                </app-date-jalali>
                            </div>
                        </div>
                    </div>
                    <div class="input_icon" *ngIf="mainDatas.field == 'watarInstallationJalaliDay'">
                        <i class="pi pi-bookmark _bookmark"></i>
                        <div class="input_3">
                            <div class="_key">{{mainDatas.header}}</div>
                            <div class="_value">
                                <app-date-jalali name="watarInstallationJalaliDay"
                                    (dateJalEvent)="closeTabService.receiveFromDateInstallation(closeTabService.ENReadingReports.requestDraftLazyEdit, $event)"
                                    [dateObject]="closeTabService.flowRuleRegisteredEdit.watarInstallationJalaliDay">
                                </app-date-jalali>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="mainDatas.field == 'tag'">
                        <div class="input_icon">
                            <i class="pi pi-bookmark _bookmark"></i>
                            <div class="input_3">
                                <div class="_key">{{mainDatas.header}}</div>
                                <button class="btn_2" id="tag" type="button" (click)="addTag()">
                                    افزودن تگ
                                    <i class="pi pi-tag"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-template #checkboxes>
                    <ng-container *ngIf="mainDatas.isBoolean; else simpleText">
                        <div class="input_icon">
                            <i class="pi pi-bookmark _bookmark"></i>
                            <div class="input_3">
                                <div class="_key">{{mainDatas.header}}</div>
                                <mat-checkbox name="{{mainDatas.field}}"
                                    [(ngModel)]="closeTabService.flowRuleRegisteredEdit[mainDatas.field]">
                                    {{mainDatas.isSelected}}
                                </mat-checkbox>
                            </div>
                        </div>
                    </ng-container>
                </ng-template>
                <ng-template #simpleText>
                    <div *ngIf="!mainDatas.readonly && !mainDatas.isGIS">
                        <div class="input_icon">
                            <i class="pi pi-bookmark _bookmark tooltip" [ngClass]="{
                                special_input: mainDatas.borderize,
                                'input_bookmark': item.invalid && (item.dirty || item.touched) || submitted,
                                'input_bookmark_valid':item.valid,
                                'correct':item.valid && (item.dirty || item.touched)
                               }">
                                <div *ngIf="item.errors && item.touched || submitted" class="tooltip_text_bottom alert">
                                    <div *ngIf="item.errors?.required">
                                        <p>
                                            {{mainDatas.header}} را وارد نمایید
                                            <i class="pi pi-times"></i>
                                        </p>
                                    </div>
                                </div>
                                <div *ngIf="item.errors?.minlength" class="tooltip_text_bottom">
                                    <p>
                                        حداقل تعداد نویسه {{mainDatas.minLength}} عدد می‌باشد
                                        <i class="pi pi-times"></i>
                                    </p>
                                </div>
                                <div *ngIf="item.errors?.maxlength" class="tooltip_text_bottom alert">
                                    <p>
                                        حداکثر تعداد نویسه {{mainDatas.maxLength}} عدد می‌باشد
                                        <i class="pi pi-times"></i>
                                    </p>
                                </div>
                            </i>
                            <div class="input_3">
                                <div class="_key">{{mainDatas.header}}</div>
                                <input #item="ngModel" [type]="mainDatas.isNumber ? 'number' : 'text'"
                                    [id]="mainDatas.field" [name]="mainDatas.field" class="form-control"
                                    [required]="mainDatas.isRequired? true : false" minlength="{{mainDatas.minLength}}"
                                    [(ngModel)]="closeTabService.flowRuleRegisteredEdit[mainDatas.field]"
                                    [readonly]="mainDatas.readonly" maxlength="{{mainDatas.maxLength}}" class="_value">
                            </div>
                        </div>
                    </div>
                    <div class="input_icon" *ngIf="!mainDatas.readonly && mainDatas.isGIS" (click)="showInMap()">
                        <i class="pi pi-map-marker _bookmark" [ngClass]="{special_input: mainDatas.borderize}"></i>
                        <div class="input_3">
                            <div class="_key">{{mainDatas.header}}</div>
                            <div class="_value">
                                <div class="location_selected"
                                    *ngIf="closeTabService.flowRuleRegisteredEdit[mainDatas.field]">
                                    <i class="pi pi-check-square"></i>
                                    مکان مشخص شده
                                </div>
                                <div *ngIf="!closeTabService.flowRuleRegisteredEdit[mainDatas.field]">
                                    انتخاب روی نقشه
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="map_wrapper" (click)="showInMap()">
            <div class="map-frame">
                <div id="map4"></div>
            </div>
        </div>

        <footer>
            <button type="submit" class="btn_1">
                مرحله بعد
                <i class="pi pi-list"></i>
            </button>
        </footer>

    </form>
</section>