<app-prime-table-editable     
    [dataSource]="closeTabService.saveDataForReadingPeriodManager" 
    [_outputFileName]="'readingPeriod'"    
    [_hasSaveColumns]=false
    [_checkUpName]="'periodKind'"    
    [_numberOfExtraColumns]="[1, 2]"
    [_sessionName]="'readingPeriod-session'"
    [_selectedColumnsToRemember]="'selectedReadingPeriod'"
    [dictionary]="zoneDictionary"
    [secondDictionary]="readingPeriodKindDictionary"
    [_dictionaryName]="'zoneId'"
    [_secondDictionaryName]="'readingPeriodKindId'"
    (refreshedTable)="callAPI()"
    (openedAddDialog)="openAddDialog()"
    (removedRow)="removeRow($event)"    
    (onRowEditedInit)="onRowEditInit($event)"
    (onRowEditedSave)="onRowEditSave($event)"
 > 
</app-prime-table-editable>