<app-prime-table-editable     
    [_selectCols]="_selectCols" 
    [_selectedColumns]="selectedColumns"
    [dataSource]="dataSource" 
    [_outputEnabled]=false
    [_checkUpName]="'periodKind'"
    [_rowsNumbers]= 10
    [_rowsPerPage]="[10,20,50]"
    [_numberOfExtraColumns]="[1, 2]"
    [_selectedColumnsToRemember]="'selectedReadingPeriod'"
    [dictionary]="zoneDictionary"
    [secondDictionary]="readingPeriodKindDictionary"
    [_dictionaryName]="'zoneId'"
    [_secondDictionaryName]="'readingPeriodKindId'"
    (refreshedTable)="refreshTable()"
    (openedAddDialog)="openAddDialog()"
    (removedRow)="removeRow($event)"    
    (onRowEditedInit)="onRowEditInit($event)"
    (onRowEditedSave)="onRowEditSave($event)"
 > 
</app-prime-table-editable>