<section *ngIf="dataSource && route.children.length === 0">
    <form #form="ngForm">
        <section class="contain">

            <div class="input_2" *ngFor="let item of _showDesc">
                <div class="_key">{{item.header}}</div>
                <ng-container
                    *ngIf="dataSource[item.field] === true || dataSource[item.field] === false; else elseTemplate">
                    <mat-checkbox [disabled]="true" name="item.field" [(ngModel)]="dataSource[item.field]">
                        {{item.header}}</mat-checkbox>
                </ng-container>
                <ng-template #elseTemplate>
                    <input [readOnly]="item.readonly" class="_value" name="{{item.field}}"
                        [(ngModel)]="dataSource[item.field]">
                </ng-template>
            </div>

            <div class="check_boxes">
                <mat-checkbox [disabled]="true" name="isBazdid" [(ngModel)]="dataSource.isBazdid">بازدید
                </mat-checkbox>

                <mat-checkbox [disabled]="true" name="isRoosta" [(ngModel)]="dataSource.isRoosta">روستا
                </mat-checkbox>
            </div>

        </section>

    </form>
</section>

<section class="order_by">
    <h2>نمایش :</h2>
    <mat-radio-group class="radio_group" aria-labelledby="radio_group" [(ngModel)]="canShowGraph" name="_isOrderByDate">
        <mat-radio-button class="radio_button" *ngFor="let orderType of showInOrderTo" [value]="orderType.isSelected">
            {{orderType.title}}
        </mat-radio-button>
    </mat-radio-group>
</section>


<app-prime-table *ngIf="!canShowGraph"
[dataSource]="changeHsty"
[_numberOfExtraColumns]="[1]"
[_sortField]="'insertDateJalali'"
[_outputEnabled]=false
[_checkUpName]="'desc'"
[_multiSelectEnable]=false
></app-prime-table>

<!-- could implement by lazy load route -->
<app-time-line *ngIf="canShowGraph" [dataSource]="dataSource"></app-time-line>