@import 'primeNG';
@import 'input.scss';
@import 'tooltip.scss';


.contain {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 14rem));
  align-items: center;
  justify-content: center;
  direction: rtl;
  text-align: center;
  gap: .5rem;
  margin: $font_xxs 0;
  background: var(--gray_100);
  box-shadow: 1px 1px 8px 4px var(--gray_400);
  padding: $font_05;
  border-radius: $border_15;
}

input {
  color: var(--gray_500);
  margin: 0 auto;
  box-shadow: 1px 1px 8px 1px var(--gray_400);
  text-align: center;
}

._value {
  border: 0;
  width: 100%;
}

.order_by {
  display: flex;
  flex-direction: column;
  align-items: center;
  direction: rtl;
}

.title {
  color: var(--blue_400);
  text-align: center;
  margin: $font_xs $font_05;
  font-size: 1.6rem;
}

::ng-deep {
  .mat-checkbox-layout .mat-checkbox-label {
    margin: 0 $font_05;
    font-family: $font_family;
    font-size: $font_s;
    font-weight: 600;
    color: var(--gray_600);
  }

  .mat-radio-label-content {
    color: var(--gray_600);
    font-size: $font_s;
    font-weight: 600;
    margin: 0 $font_xs;
    font-family: $font_family;
  }
}
