<h2 mat-dialog-title class="_blue_dark">ویرایش کاربری</h2>
<form [formGroup]="form">
    <mat-dialog-content>

        <mat-form-field appearance="fill">
            <mat-label>کد</mat-label>
            <input matInput formControlName="moshtarakinId" placeholder="کد">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>عنوان</mat-label>
            <input matInput formControlName="title" placeholder="عنوان">
        </mat-form-field>
   
        <mat-form-field appearance="fill">
            <mat-label>استان</mat-label>
            <mat-select [(value)]="selected">
                <mat-option *ngFor="let truefalse of data.di" [value]="truefalse.title">
                    {{truefalse.title}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-checkbox formControlName="isMaskooni">مسکونی</mat-checkbox>
        <mat-checkbox formControlName="isSaxt">ساخت</mat-checkbox>
        <mat-checkbox formControlName="hasReadingVibrate">لرزش</mat-checkbox>

    </mat-dialog-content>

    <mat-dialog-actions>
        <button class="btn_2" (click)="close()">بازگشت</button>
        <button class="btn_2 _blue_dark" [mat-dialog-close]="form">ذخیره</button>
    </mat-dialog-actions>
</form>