@import 'primeNG.scss';
@import 'input.scss';
@import 'button.scss';
@import '_mat.scss';

.main {
  direction: rtl;
  background: var(--secondary_1);
  box-shadow: 1px 1px 8px 4px var(--secondary_4);
  padding: var(--font_05);
  border-radius: $border_15;
  border: 1px solid var(--primary_2);
}

section.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9rem, auto));
  gap: var(--font_05);
  align-items: center;
}

.tooltip {
  cursor: pointer;
}

.input_1 {
  border-radius: 10px;
}

h3 {
  color: var(--primary_3);
  font-size: var(--font_m2);
  padding: var(--font_05);
}

footer {
  margin-top: var(--font_05);
  text-align: center;
}

[hidden] {
  display: none;
}

form {
  font-family: $font_family;
  margin: 0;
}

.main_content {
  display: grid;
  direction: rtl;
  background: var(--secondary_1);
  box-shadow: 1px 1px 8px 4px var(--secondary_2);
  text-align: center;
  padding: var(--font_05) 0 var(--font_02);
  border-radius: $border_15;
  gap: var(--font_02);
}

._toselect {
  grid-column: 1/5;
  background: var(--white);
  border: $border_5;

  .__content {
    gap: var(--font_05);
    grid-template-columns: repeat(auto-fit, minmax(13rem, auto));
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .check_boxes {
    padding: var(--font_01);
  }
}

._more_options {
  grid-column: 5/10;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 12rem));
  justify-content: center;
  background-color: var(--white);
  border-radius: 5px;

  @media (max-width: 780px) {
    margin-top: var(--font_xs);
    grid-column: 1/6;
  }

  @media (max-width: 550px) {
    margin-top: 2rem;
  }

}

h2 {
  color: var(--primary_3);
}

app-date-jalali {
  width: 100%;
  height: var(--font_28);
  background: var(--white);
  border-radius: 9px;
  border: 1px solid var(--secondary_2);
}

span label {
  margin-left: var(--font_05);
  color: var(--secondary_8);
}

.ui-float-label {
  display: grid;
  font-size: var(--font_m);
  font-weight: 600;
  padding: var(--font_03) var(--font_01);
  border-radius: $border_7;
  background: var(--secondary_2);
}

.title {
  color: var(--primary_3);
  text-align: center;
}

article {
  padding: var(--font_05);
  border-radius: $border_15;
  background-color: var(--secondary_2);
  margin: var(--font_01);
}

.btn_2_o {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: var(--font_05);
  font-family: $font_family;
  width: 10rem;
}

hr {
  margin-bottom: var(--font_xs);
}

.p-dropdown {
  width: 100%;
  border-radius: 5px;
  height: var(--font_335);
}

[hidden] {
  display: none;
}

// materials 
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  direction: rtl;
  gap: var(--font_xs);
}

// dialog conf
:host ::ng-deep {
  .p-dialog .p-dialog-header {
    background-color: var(--thirdy_1_spec);
    direction: rtl;
  }
}
