<form #form="ngForm" [hidden]="searchService._searchProCollapse" (ngSubmit)="connectToServer()">
    <main class="main_content">
        <section class="_toselect">
            <section class="order_by">
                <h2>جستجو بر اساس :</h2>
                <div *ngFor="let orderType of searchService.utilsService.getSearchInOrderTo">
                    <div class="p-field-radiobutton">
                        <p-radioButton name="orderByDate" [value]="orderType.isSelected"
                            [(ngModel)]="searchService._isOrderByDate" [inputId]="orderType.key">
                        </p-radioButton>
                        <label [for]="orderType.key">{{orderType.title}}</label>
                    </div>
                </div>
            </section>

            <hr>

            <section class="__content">
                <div class="input_2">
                    <div class="_key">ناحیه</div>
                    <div class="_value">
                        <p-dropdown name="zones" #zoneId [options]="zoneDictionary"
                            [(ngModel)]="closeTabService.saveDataForSearchProReq.zoneId" optionLabel="title"
                            [filter]="true" filterBy="title" optionValue="id" [showClear]="true"
                            placeholder="انتخاب مورد" (onClick)="getNesseseriesByZone()"
                            (onChange)="emptyPreviousValuesFromSelectOptions()">
                        </p-dropdown>
                    </div>
                </div>
                <div class="input_2" [hidden]="searchService._isOrderByDate">
                    <div class="_key">سال</div>
                    <div class="_value">
                        <p-dropdown #year [options]="_years" name="year"
                            [(ngModel)]="closeTabService.saveDataForSearchProReq.year" optionLabel="title"
                            [filter]="true" filterBy="value" optionValue="value" [showClear]="true"
                            placeholder="انتخاب مورد">
                        </p-dropdown>
                    </div>
                </div>
                <div class="input_2" [hidden]="searchService._isOrderByDate">
                    <div class="_key">نوع دوره</div>
                    <div class="_value">
                        <p-dropdown name="kindId" #kindId [options]="readingPeriodKindDictionary" name="_selectedKindId"
                            [(ngModel)]="closeTabService.saveDataForSearchProReq._selectedKindId" optionLabel="title"
                            [filter]="true" filterBy="title" optionValue="id" [showClear]="true"
                            placeholder="انتخاب مورد" (onClick)="getReadingPeriod()">
                        </p-dropdown>
                    </div>
                </div>
                <div class="input_2" [hidden]="searchService._isOrderByDate">
                    <div class="_key">دوره قرائت</div>
                    <div class="_value">

                        <p-dropdown name="period" #period [options]="readingPeriodDictionary" name="readingPeriodId"
                            [(ngModel)]="closeTabService.saveDataForSearchProReq.readingPeriodId" optionLabel="title"
                            [filter]="true" filterBy="title" optionValue="id" [showClear]="true"
                            placeholder="انتخاب مورد">
                        </p-dropdown>
                    </div>
                </div>
                <div class="input_2" [hidden]="!searchService._isOrderByDate">
                    <div class="_key">از</div>
                    <div class="_value">
                        <app-date-jalali name="fromDate" (dateJalEvent)="receiveFromDateJalali($event)"
                            [dateObject]="closeTabService.saveDataForSearchProReq.fromDate">
                        </app-date-jalali>
                    </div>
                </div>
                <div class="input_2" [hidden]="!searchService._isOrderByDate">
                    <div class="_key">تا</div>
                    <div class="_value">

                        <app-date-jalali name="toDate" (dateJalEvent)="receiveToDateJalali($event)"
                            [dateObject]="closeTabService.saveDataForSearchProReq.toDate">
                        </app-date-jalali>
                    </div>
                </div>
                <div class="check_boxes">
                    <mat-checkbox *ngIf="!listManagerService.denyTracking()" name="showAll"
                        [(ngModel)]="closeTabService.saveDataForSearchProReq.showAll">نمایش همه
                    </mat-checkbox>
                </div>
            </section>
            <footer>
                <button type="submit" id="grid_view" class="btn_1">
                    <i class="pi pi-search"></i>
                    جستجو
                </button>
                <button type="submit" id="excel_download" class="btn_1">
                    <i class="pi pi-file-excel"></i>
                    دانلود Excel
                </button>
            </footer>
        </section>

        <section class="_more_options">
            <div class="__container">
                <div class="input_2" *ngIf="masrafState">
                    <div class="_key">وضعیت مصرف</div>
                    <div class="_value">
                        <p-multiSelect [maxSelectedLabels]="1" [options]="masrafState" name="masraf"
                            [(ngModel)]="closeTabService.saveDataForSearchProReq.masrafStates" optionLabel="header"
                            optionValue="value" selectedItemsLabel="{0} مورد انتخاب شده" placeholder="انتخاب مورد"
                            [filter]="true" showClear="true">
                        </p-multiSelect>
                    </div>
                </div>
                <div class="input_2" *ngIf="counterReportDictionary.length">
                    <div class="_key">گزارش کنتور</div>
                    <div class="_value">
                        <p-multiSelect [maxSelectedLabels]="1" [options]="counterReportDictionary" name="counterReport"
                            [(ngModel)]="closeTabService.saveDataForSearchProReq.reportIds" optionLabel="title"
                            optionValue="id" selectedItemsLabel="{0} مورد انتخاب شده" placeholder="انتخاب مورد"
                            [filter]="true" showClear="true">
                        </p-multiSelect>
                    </div>
                </div>
                <div class="input_2" *ngIf="counterStateByZoneIdDictionary.length">
                    <div class="_key">وضعیت کنتور</div>
                    <div class="_value">
                        <p-multiSelect [maxSelectedLabels]="1" [options]="counterStateByZoneIdDictionary"
                            name="counterState" [(ngModel)]="closeTabService.saveDataForSearchProReq.counterStateIds"
                            optionLabel="title" optionValue="id" selectedItemsLabel="{0} مورد انتخاب شده"
                            placeholder="انتخاب مورد" [filter]="true" showClear="true">
                        </p-multiSelect>
                    </div>
                </div>
                <div class="input_2" *ngIf="karbariDictionary.length">
                    <div class="_key">کاربری</div>
                    <div class="_value">
                        <p-multiSelect [maxSelectedLabels]="1" [options]="karbariDictionary" name="karbari"
                            [(ngModel)]="closeTabService.saveDataForSearchProReq.karbariCodes" optionLabel="title"
                            optionValue="id" selectedItemsLabel="{0} مورد انتخاب شده" placeholder="انتخاب مورد"
                            [filter]="true" showClear="true">
                        </p-multiSelect>
                    </div>
                </div>
                <div class="input_2" *ngIf="fragmentMasterIds.length">
                    <div class="_key">نوبتی ها</div>
                    <div class="_value">
                        <p-multiSelect [maxSelectedLabels]="1" [options]="fragmentMasterIds" name="fragmentId"
                            [(ngModel)]="closeTabService.saveDataForSearchProReq.fragmentMasterIds"
                            optionLabel="routeTitle" optionValue="id" selectedItemsLabel="{0} مورد انتخاب شده"
                            placeholder="انتخاب مورد" [filter]="true" showClear="true">
                        </p-multiSelect>
                    </div>
                </div>
            </div>
        </section>

    </main>
</form>

<app-prime-table [dataSource]="closeTabService.saveDataForSearchPro" [_outputFileName]="'searchPro'"
    [_checkUpName]="'allComponent'" [_numberOfExtraColumns]="[1,2,3]" [_sessionName]="'search_acme'"
    [_selectedColumnsToRemember]="'selectedListManagerPro'" (refreshedTable)="connectToServer()"
    (showedPictures)="getReadingReportTitles($event)" (showedInMapSingle)="openMapDialog($event)" [_hasCollapsible]=true
    [_isCollaped]="searchService._searchProCollapse"
    (collapsed)="searchService._searchProCollapse = !searchService._searchProCollapse">
</app-prime-table>