<app-collapsable [_isReversed]="true" [_isCollapsed]=searchService._searchProCollapse
    (_clicked)=" searchService._searchProCollapse = !searchService._searchProCollapse">
</app-collapsable>

<form #form="ngForm" *ngIf="searchService._searchProCollapse" (ngSubmit)="connectToServer()">
    <main class="main_content">
        <section class="_toselect">

            <section class="order_by">
                <h2>جستجو بر اساس</h2>
                <mat-radio-group class="radio_group" aria-labelledby="radio_group"
                    [(ngModel)]="searchService._isOrderByDate" name="_isOrderByDate">
                    <mat-radio-button class="radio_button" *ngFor="let orderType of searchService.searchInOrderTo"
                        [value]="orderType.isSelected">
                        {{orderType.title}}
                    </mat-radio-button>
                </mat-radio-group>
            </section>
            <hr>

            <section class="__content">
                <span class="ui-float-label">
                    <label for="float-input">ناحیه</label>
                    <p-dropdown [style]="{minWidth: '10rem', width: '100%'}" name="zones" #zoneId
                        [options]="zoneDictionary" [(ngModel)]="_selectedZone" optionLabel="title" [filter]="true"
                        filterBy="title" optionValue="id" [showClear]="true" placeholder="انتخاب مورد"
                        (onChange)="getNesseseriesByZone()">
                    </p-dropdown>
                </span>

                <span class="ui-float-label" [hidden]="searchService._isOrderByDate">
                    <label for="float-input">سال</label>
                    <p-dropdown [style]="{minWidth: '10rem', width: '100%'}" #year [options]="_years" name="year"
                        [(ngModel)]="closeTabService.saveDataForSearchProReq.year" optionLabel="title" [filter]="true"
                        filterBy="value" optionValue="value" [showClear]="true" placeholder="انتخاب مورد">
                    </p-dropdown>
                </span>

                <span class="ui-float-label" [hidden]="searchService._isOrderByDate">
                    <label for="float-input">نوع دوره</label>
                    <p-dropdown [style]="{minWidth: '100%'}" name="kindId" #kindId
                        [options]="readingPeriodKindDictionary" name="_selectedKindId"
                        [(ngModel)]="closeTabService.saveDataForSearchProReq._selectedKindId" optionLabel="title"
                        [filter]="true" filterBy="title" optionValue="id" [showClear]="true" placeholder="انتخاب مورد"
                        (onChange)="getReadingPeriod()">
                    </p-dropdown>
                </span>

                <span class="ui-float-label" [hidden]="!readingPeriodDictionary.length || searchService._isOrderByDate">
                    <label for="float-input">دوره قرائت</label>
                    <p-dropdown [style]="{minWidth: '100%'}" name="period" #period [options]="readingPeriodDictionary"
                        name="readingPeriodId" [(ngModel)]="closeTabService.saveDataForSearchProReq.readingPeriodId"
                        optionLabel="title" [filter]="true" filterBy="title" optionValue="id" [showClear]="true"
                        placeholder="انتخاب مورد">
                    </p-dropdown>
                </span>

                <span class="ui-float-label" [hidden]="!searchService._isOrderByDate">
                    <label for="float-input">از</label>
                    <app-date-jalali name="fromDate" (dateJalEvent)="receiveFromDateJalali($event)"
                        [dateObject]="closeTabService.saveDataForSearchProReq.fromDate">
                    </app-date-jalali>
                </span>
                <span class="ui-float-label" [hidden]="!searchService._isOrderByDate">
                    <label for="float-input">تا</label>
                    <app-date-jalali name="toDate" (dateJalEvent)="receiveToDateJalali($event)"
                        [dateObject]="closeTabService.saveDataForSearchProReq.toDate">
                    </app-date-jalali>
                </span>

            </section>
        </section>

        <section class="_more_options">

            <article *ngIf="masrafState.length">
                <h3 class="title">وضعیت مصرف</h3>
                <p-multiSelect [maxSelectedLabels]="2" [options]="masrafState" name="masraf"
                    [(ngModel)]="closeTabService.saveDataForSearchProReq.masrafStates" optionLabel="header"
                    optionValue="value" selectedItemsLabel="{0} مورد انتخاب شده" [style]="{minWidth: '100%'}"
                    placeholder="انتخاب مورد">
                </p-multiSelect>
            </article>
            <article *ngIf="counterReportDictionary.length">
                <h3 class="title">گزارش کنتور</h3>
                <p-multiSelect [maxSelectedLabels]="2" [options]="counterReportDictionary" name="counterReport"
                    [(ngModel)]="closeTabService.saveDataForSearchProReq.reportIds" optionLabel="title" optionValue="id"
                    selectedItemsLabel="{0} مورد انتخاب شده" [style]="{minWidth: '100%'}" placeholder="انتخاب مورد">
                </p-multiSelect>
            </article>
            <article *ngIf="counterStateByZoneIdDictionary.length">
                <h3 class="title">وضعیت کنتور</h3>
                <p-multiSelect [maxSelectedLabels]="2" [options]="counterStateByZoneIdDictionary" name="counterState"
                    [(ngModel)]="closeTabService.saveDataForSearchProReq.counterStateIds" optionLabel="title"
                    optionValue="id" selectedItemsLabel="{0} مورد انتخاب شده" [style]="{minWidth: '100%'}"
                    placeholder="انتخاب مورد">
                </p-multiSelect>
            </article>
            <article *ngIf="karbariDictionary.length">
                <h3 class="title">کاربری</h3>
                <p-multiSelect [maxSelectedLabels]="2" [options]="karbariDictionary" name="karbari"
                    [(ngModel)]="closeTabService.saveDataForSearchProReq.karbariCodes" optionLabel="title"
                    optionValue="id" selectedItemsLabel="{0} مورد انتخاب شده" [style]="{minWidth: '100%'}"
                    placeholder="انتخاب مورد">
                </p-multiSelect>
            </article>
            <article *ngIf="fragmentMasterIds.length">
                <h3 class="title">نوبتی ها</h3>
                <p-multiSelect [maxSelectedLabels]="2" [options]="fragmentMasterIds" name="fragmentId"
                    [(ngModel)]="closeTabService.saveDataForSearchProReq.fragmentMasterIds" optionLabel="routeTitle"
                    optionValue="id" selectedItemsLabel="{0} مورد انتخاب شده" [style]="{minWidth: '100%'}"
                    placeholder="انتخاب مورد">
                </p-multiSelect>
            </article>

        </section>

    </main>
    <footer>
        <button type="submit" id="grid_view" class="btn_2_o">
            <i class="pi pi-search"></i>
            جستجو
        </button>
        <button type="submit" id="excel_download" class="btn_2_o">
            <i class="pi pi-file-excel"></i>
            Excel دانلود
        </button>
    </footer>

</form>

<app-prime-table [dataSource]="dataSource" [_outputFileName]="'searchPro'" [_checkUpName]="'allComponent'"
    [_numberOfExtraColumns]="[1,2,3]" [_sessionName]="'search_acme'"
    [_selectedColumnsToRemember]="'selectedListManagerPro'" (refreshedTable)="refreshTable()"
    (showedPictures)="getReadingReportTitles($event)" (showedInMapSingle)="openMapDialog($event)">
</app-prime-table>