@import '../../../assets/variable.scss';
@import '../../../assets/mixins.scss';

.analog-clock {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  background: url(/assets/imgs/clock/2.jpg);
  background-size: cover;
  border-radius: 50%;
  z-index: 1;
  top: .1rem;

  @media (min-width: 780px) {
    width: 4.5rem;
    height: 4.5rem;
  }
}

.hand {
  @include d_grid_center();
  border-radius: 3px 3px 0 0;
  position: absolute;
  top: 50%;
  transform-origin: 50% 100%;
}

.hour {
  width: .35rem;
<<<<<<< Updated upstream
  height: $font_xxs;
=======
  height: $font_xs;
>>>>>>> Stashed changes
  background: $blue_700;

  @media (min-width: 500px) {
    height: $font_xxs;
  }

  @media (min-width: 780px) {
    height: $font_xs;
  }
}

.minute {
  width: .3rem;
<<<<<<< Updated upstream
  height: 1.3rem;
=======
  height: 1.5rem;
>>>>>>> Stashed changes
  background: $blue_700;

  @media (min-width: 500px) {
    height: $font_m;
  }

  @media (min-width: 780px) {
    height: $font_l;
  }
}

.center-circle {
  z-index: 1;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
<<<<<<< Updated upstream
  width: $font_05;
  height: $font_05;
=======
  width: $font_xxs;
  height: $font_xxs;
>>>>>>> Stashed changes
  background-color: $blue_700;
  border-radius: 50%;
  vertical-align: middle;

  @media (min-width: 780px) {
    width: $font_05;
    height: $font_05;
  }
}
