@import 'variable.scss';
@import 'mixins.scss';

.analog-clock {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  background: url('/assets/imgs/clock/2.jpg');
  background-size: cover;
  border-radius: 50%;
  top: .1rem;

  @media (min-width: 780px) {
    width: 4.5rem;
    height: 4.5rem;
  }
}

.hand {
  @include d_grid_center();
  border-radius: 3px 3px 0 0;
  position: absolute;
  top: 50%;
  transform-origin: 50% 100%;
}

.hour {
  width: .35rem;
  height: $font_xxs;
  background: $blue_700;

  @media (min-width: 500px) {
    height: $font_xxs;
  }

  @media (min-width: 780px) {
    height: $font_xs;
  }
}

.minute {
  width: .3rem;
  height: 1.3rem;
  background: $blue_700;

  @media (min-width: 500px) {
    height: $font_m;
  }

  @media (min-width: 780px) {
    height: $font_l;
  }
}

.center-circle {
  z-index: 1;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: $font_05;
  height: $font_05;
  background-color: $blue_700;
  border-radius: 50%;
  vertical-align: middle;

  @media (min-width: 780px) {
    width: $font_05;
    height: $font_05;
  }
}
