<app-prime-table     
    [dataSource]="closeTabService.ipFilterRes" 
    [_selectCols]="_selectCols" 
    [_selectedColumns]="selectedColumns"    
    [_checkUpName]="'ipFilter'" 
    [_outputFileName]="'ipFilter'"    
    [_numberOfExtraColumns]="[1,2]"
    [_sessionName]="'ipfilter-session'"
    [_selectedColumnsToRemember]="'selectedIpFilter'"
    (refreshedTable)="refreshTable()"    
    (showedPictures)="openAddDialog($event)"
    (showedMoreDetails)="removeRow($event)"
 > 
</app-prime-table>