<app-prime-table-editable     
    [dataSource]="closeTabService.mobileManagerFeedbackTypeIsNotComplaint" 
    [_selectCols]="_selectCols" 
    [_selectedColumns]="selectedColumns"    
    [_isInRowEditing]=true    
    [_numberOfExtraColumns]="[1,2]"
    [_sessionName]="'feedbackNotcomplaint-session'"
    [_selectedColumnsToRemember]="'selectedFeedbackNotComplaint'"
    [newRow]="newRow()"
    [newRowLimit]="newRowLimit"
    (refreshedTable)="refreshTable()"
    (newedRowChangedStatus)="testChangedValue()"
    (onRowEditedSave)="onRowEditSave($event)"
    (onRowEditedCancelRowEditing)="onRowEditCancel($event)"
    (onRowEditedInit)="onRowEditInit($event)"
    (removedRowEditing)="removeRow($event)"
 > 
</app-prime-table-editable>