@import 'variable.scss';

.plus_minus {
  display: flex;
  align-items: center;
}

.plus {
  justify-content: flex-end;
}

.val {
  justify-content: center;
  padding: $font_05 $font_xs;
  background: $white;
  border: 2px solid $blue_600;
  color: $blue_700;
  border-radius: $border_5;
  font-size: $font_s;
  font-weight: 600;
}

.minus {
  justify-content: flex-start;
}

.plus,
.minus {
  display: grid;
  padding: $font_05;
  margin: .3rem;
  border: 1px solid $gray_300;
  background: $white;
  color: $gray_500;
  border-radius: $border_5;
  font-size: $font_s;
  cursor: pointer;
}
