@import '../../../assets/variable';
@import '../../../assets/button.scss';
@import '../../../assets/input.scss';
@import './plus-minus';

.over_all {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 34rem));
  direction: rtl;
  justify-content: center;
  gap: 3rem;
}

.content {
  background: $gray_d5;
  box-shadow: 1px 1px 2px 1px $gray_d;
  text-align: center;
  padding: $font_2 0;
  justify-content: space-around;
  border-radius: $border_s;
  min-height: 38rem;
}

._desc {
  display: grid;
  margin: auto;
  width: 90%;
  border-radius: $border_s;
}

.title {
  color: $gray_96;
  text-align: center;
  margin: $font_xs $font_05;
  font-size: 1.6rem;
}

input {
  color: $gray_96;
  margin: 0 auto;
  box-shadow: 1px 1px 8px 1px $gray_d;
}

// radio buttons
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.over_all_result {
  color: $blue_l;
  font-size: $font_s;
  font-weight: 600;
  margin-top: $font_2;
}

////////

::ng-deep {

  .mat-radio-label-content {
    color: $gray_dr;
    font-size: $font_s;
    font-weight: 600;
    margin-right: 1rem;
    font-family: BLotus, "Blotus", tahoma, Sans-Serif;
  }

  .example-radio-button {
    margin: 4px;
    background: $gray_l;
    padding: $font_xxs;
    border-radius: $border_s;
  }

  .mat-checkbox-layout {
    margin-bottom: $font_05;

    .mat-checkbox-label {
      margin: 0 $font_05;
      font-size: $font_s;
      font-weight: 600;
      color: $gray_dr;
      line-height: 2;
      border-radius: $border_s;
      font-family: BLotus, "Blotus", tahoma, Sans-Serif;
    }
  }

}

ul {
  list-style-type: none;
  margin-top: 4px;
}

.number_vals {
  display: flex;
  align-items: center;
  font-size: $font_s;
  font-weight: 600;
  color: $gray_dr;
}

._checkbox {
  text-align: right;
}

.btns {
  margin: $font_xs;
  display: flex;
  justify-content: center;
}

.btn_1 {
  color: $gray_l;
  margin: $font_05;
}
